<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>API Explorer</title>
		<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Dev/img/favicon-api.png') }}" sizes="64x64" />

		{# See Assets/lib/swagger-ui-2.2.8/dist/index.html #}
		<link href="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/css/typography.css') }}" media="screen" rel="stylesheet" type="text/css" />
		<link href="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/css/reset.css') }}" media="screen" rel="stylesheet" type="text/css" />
		<link href="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/css/screen.css') }}" media="screen" rel="stylesheet" type="text/css" />
		<link href="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/css/reset.css') }}" media="print" rel="stylesheet" type="text/css" />
		<link href="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/css/print.css') }}" media="print" rel="stylesheet" type="text/css" />
		<link href="{{ resourceURL('Rbs/Ua/css/' ~ vendorName ~ '_' ~ moduleName ~ '_' ~ applicationCode ~ '.css') }}" rel="stylesheet" />
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/object-assign-pollyfill.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/jquery-1.8.0.min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/jquery.slideto.min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/jquery.wiggle.min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/jquery.ba-bbq.min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/handlebars-4.0.5.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/lodash.min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/backbone-min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/swagger-ui.min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/highlight.9.1.0.pack.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/highlight.9.1.0.pack_extended.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/jsoneditor.min.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/marked.js') }}" type="text/javascript"></script>
		<script src="{{ resourceURL('Rbs/Dev/lib/swagger-ui-2.2.8/dist/lib/swagger-oauth.js') }}" type="text/javascript"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/js/' ~ vendorName ~ '_' ~ moduleName ~ '_' ~ applicationCode ~ '.js') }}"></script>
	</head>

	<body class="swagger-section">
		<div id="header">
			<div class="swagger-ui-wrap">
				<a id="logo" href="{{ applicationsMenuURL }}">
					<img src="{{ resourceURL('Rbs/Ua/img/logos/white-logo_500.png') }}" alt="Familinet" />
				</a>
				<a class="main-title" href="{{ baseURL }}">API Explorer</a>
				<span class="api-selector-container">
					<form id="api_selector">
						<div class="input" style="display: none">
							<input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text" />
						</div>
						<div class="input">
							<select id="APISelector">
								<option value="">Select API...</option>
								<option value="/devuaRest.php/apiExplorer/seoManager/">Seo Manager API</option>
							</select>
						</div>
						<div class="input"><input placeholder="user id" id="input_apiKey" name="apiKey" type="text" /></div>
						<div class="input"><a id="explore" href="#" data-sw-translate="">Explore</a></div>
					</form>
				</span>
			</div>
		</div>

		<div class="content">
			<div id="message-bar" class="swagger-ui-wrap" data-sw-translate="">&nbsp;</div>
			<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
		</div>

		<footer>
			Powered by <a href="http://swagger.io">Swagger</a>
		</footer>
	</body>
</html>