.swagger-section #api_selector select {
	font-size: 0.9em;
	margin: 0;
	padding: 3px;
}

.swagger-section #header .swagger-ui-wrap > * {
	display: table-cell;
	vertical-align: middle;
}

.swagger-section #header {
	padding: 4px 14px;
	height: initial;
}

.swagger-section #header #logo {
	background: none;
	padding: 0;
	width: 80px;
}

.swagger-section #header #logo img {
	max-height: 40px;
}

.swagger-section #header .main-title {
	width: 30%;
	padding-left: 15px;
	color: white;
}

.swagger-section #header .api-selector-container {
	width: 70%;
	text-align: right;
}

.swagger-section #api_selector .input:last-child {
	margin: 0;
}

.content {
	padding: 0 14px;
}

footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	font-family: "Droid Sans", sans-serif;
	text-align: right;
	margin-top: 50px;
	padding: 14px;
	font-size: 12px;
}