<div data-app-document-detail-header="document"></div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt data-ng-if="document.publisher">{{ i18n('m.project.library.webapp.publication_publisher', ['ucf']) }}</dt>
					<dd data-ng-if="document.publisher">
						<a href="" data-ng-href="(= :: document.publisher|appURL =)">(= :: document.publisher.label =)</a>
					</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div data-project-library-links="document.links"></div>
	</div>
</div>

<div class="panel panel-default" data-ng-if="document.description.t">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.publisher_description', ['ucf']) }}</div>
	<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
</div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publisher_publications', ['ucf']) }}"
	data-columns="works,year,endYear,volumesDetail,status" data-compact="true" data-model-name="Project_Library_Publication"
	data-block-level="secondary" data-static-filters="publicationStaticFilters"
	data-content-template-url="Project_Library/views/publication/publication-list-content.twig"
	data-full-list-url="document | appURL:'publications'"
	data-sort-desc="false" data-sort-property="work.label" data-filter-properties="works.label,name"
	data-exposed-data="data.publicationList">
</div>

<div data-app-document-meta=""></div>