<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>{{ i18n('m.project.library.webapp.collection', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td><a href="" data-ng-href="(= :: document|appURL =)">(= :: document.label =)</a></td>
		</tr>
	</tbody>
</table>