<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-text="" data-property="label"
			data-label="{{ i18nAttr('m.project.library.webapp.collection_name', ['ucf']) }}">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.library.webapp.work_group_description', ['ucf']) }}">
		</div>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_CollectionLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>