<div data-ng-if="data.mode">
	<div data-ng-switch="data.mode">
		<div data-ng-switch-when="Html">
			<div data-px-richtext-wysiwyg-editor="" data-content="data.content" data-variables="variables" data-profile="(= profile =)"
				data-clear-function="(data.availableModes.length > 1) ? data.clearFromWYSIWYG : null"></div>
		</div>
		<div data-ng-switch-default="">
			<p>{{ i18n('m.rbs.ua.richtext.unknown_richtext_mode', ['ucf']) }}</p>
			<p class="no-bottom-margin">
				{% set clearButton = '<button type="button" class="btn btn-danger btn-xs" data-ng-click="data.clear()"><i class="icon-eraser"></i> ' ~ i18n('m.rbs.ua.richtext.clear_content') ~ '</button>' %}
				{{ i18n('m.rbs.ua.richtext.to_choose_an_other_mode', ['ucf'], { clearButton: clearButton }) | raw }}
			</p>
		</div>
	</div>
</div>
<div data-ng-if="!data.mode">
	<h4 class="no-top-margin">
		{{ i18n('m.rbs.ua.richtext.choose_mode', ['ucf']) }}
	</h4>
	<div class="btn-toolbar">
		<button data-ng-repeat="mode in data.availableModes" class="btn btn-default" type="button" data-ng-click="chooseType(mode.name)">
			(= mode.label =)
		</button>
	</div>
</div>