@import "Rbs/Base/Assets/less/all-styles";

#header-top {
	padding: 10px 0;
	.row > div {
		> div {
			.inline-block;
		}
		&:first-child {
			> div {
				margin-right: 20px;
			}
		}
		&:last-child {
			text-align: right;
			> div {
				margin-left: 20px;
			}
		}
	}
}

.editable-zone [data-type="block"] {
	margin-bottom: @line-height-computed;
}
