rbs-document-list .width-column {
	margin-right: 10px;
	line-height: 12px;
}

rbs-document-list .height-column {
	position: relative;
	left: -21px;
	top: 1px;
	line-height: 12px;
}

rbs-document-list .height-column::before {
	content: "×";
	background: white;
	border: 1px solid #ddd;
	border-radius: 30px;
	padding: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 7px;
	text-align: center;
	margin-right: 10px;
}