<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>{{ i18n('m.project.accounting.webapp.shop_name', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td><span data-project-accounting-shop-link="document"></span></td>
		</tr>
	</tbody>
</table>