<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-text="" data-property="label"
			data-label="{{ i18nAttr('m.project.accounting.webapp.shop_name', ['ucf']) }}">
		</div>
		<div data-app-field="" data-property="siteUrl" data-label="{{ i18nAttr('m.project.accounting.webapp.shop_site_url', ['ucf']) }}">
			<input type="url" class="form-control" data-ng-model="document.siteUrl" />
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_description', ['ucf']) }}">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>