<div data-app-document-detail-header="document" data-readonly="false"></div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt>{{ i18n('m.project.accounting.webapp.shop_name', ['ucf']) }}</dt>
					<dd>(= document.label =)</dd>
					<dt data-ng-if-start="document.siteUrl">{{ i18n('m.project.accounting.webapp.shop_site_url', ['ucf']) }}</dt>
					<dd data-ng-if-end="">
						<a href="" data-ng-href="(= document.siteUrl =)" target="_blank">
							{{ i18n('m.project.familinet.webapp.action_view', ['ucf']) }} <span class="glyphicon glyphicon-new-window"></span>
						</a>
					</dd>
					<dt data-ng-if-start="document.adminthumbnail">{{ i18n('m.project.accounting.webapp.shop_icon', ['ucf']) }}</dt>
					<dd data-ng-if-end="">
						<img data-ng-src="(= document.adminthumbnail =)" alt="" width="16" height="16" />
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">{{ i18n('m.project.accounting.webapp.shop_description', ['ucf']) }}</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>
	</div>
</div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.user_invoices', ['ucf']) }}"
	data-block-level="secondary" data-full-list-url="document | appURL:'invoices'" data-compact="true"
	data-model-name="Project_Accounting_Invoice" data-content-template-url="Project_Accounting/views/invoice/invoice-list-content.twig"
	data-columns="payer,shop,paidAmount,date,cancelled,hidden" data-static-filters="invoiceStaticFilters"
	data-sort-desc="true" data-sort-property="date">
</div>

<div data-app-document-meta=""></div>