<div data-app-document-editor="" data-model="Project_Accounting_Shop">
	<div class="page-header">
		<h1>{{ i18n('m.project.familinet.webapp.edition', ['ucf']) }} <small>(= document.label =)</small></h1>
	</div>

	<form class="form-horizontal" data-ng-submit="submit()" data-app-document-edit="">
		<div data-ng-include="'Project_Accounting/views/shop/shop-properties.twig'"></div>

		<div data-app-document-editor-footer="" data-disable-new-from="true"></div>
	</form>
</div>