<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.shop_list', ['ucf']) }}" data-allow-creation="true"
	data-model-name="Project_Accounting_Shop" data-content-template-url="Project_Accounting/views/shop/shop-list-content.twig"
	data-columns="icon" data-sort-desc="false" data-sort-property="label">
</div>