{% block rbsMediaFileUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsMediaFileUse %}

{% if parameters.blockTitle %}
	{% block rbsMediaFileTitle %}
		<h1>{{ parameters.blockTitle }}</h1>
	{% endblock rbsMediaFileTitle %}
{% endif %}

{% block rbsMediaFileList %}
	{% for row in files|batch(parameters.itemsPerRow) %}
		<div class="row">
		{% for file in row %}
			{% if parameters.itemsPerRow == 1 %}
				<div class="col-sm-12">
			{% elseif parameters.itemsPerRow == 2 %}
				<div class="col-sm-6">
			{% elseif parameters.itemsPerRow == 3 %}
				<div class="col-sm-4">
			{% elseif parameters.itemsPerRow == 4 %}
				<div class="col-sm-6 col-md-3">
			{% endif %}
			{% block rbsMediaFileListItem %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ file.common.title }}</h3>
					</div>
					<div class="panel-body">
						{% if file.common.description %}
							<div class="richtext">
								{{ file.common.description | raw }}
							</div>
						{% endif %}
						<dl class="no-bottom-margin no-top-margin">
							<dt>{{ i18n('m.rbs.media.front.type', ['ucf']) }}</dt>
							<dd>
								{% if file.common.formattedExtension %}
									<abbr title="{{ file.common.formattedExtension.common.title }}">
										{{- file.common.extension | upper -}}
									</abbr>
								{% else %}
									{{ file.common.extension | upper }}
								{% endif %}
							</dd>
							<dt>{{ i18n('m.rbs.media.front.size', ['ucf']) }}</dt>
							<dd>{{ file.common.formattedSize | raw }}</dd>
						</dl>
					</div>
					<div class="panel-footer">
						{{ block('rbsGenericIconDownload') }}
						<a href="{{ actionURL('Rbs_Media', 'Download', {'documentId': file.common.id}) }}">
							{{- i18n('m.rbs.media.front.download', ['ucf']) -}}
						</a>
					</div>
				</div>
			{% endblock rbsMediaFileListItem %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock rbsMediaFileList %}