<div class="thumbnail">
	<div{% if parameters.alignment != 'fill' %} class="text-{{ parameters.alignment }}"{% endif %}>
		<img src="{{ src }}" alt="{{ alt }}" title="{{ title }}" style="{% if parameters.alignment != 'fill' %}max-{% endif %}width: 100%;" />
	</div>
	{% if parameters.thumbnailTitle or parameters.thumbnailText %}
		<div class="caption">
			{% if parameters.thumbnailTitle %}<h3>{{ parameters.thumbnailTitle }}</h3>{% endif %}
			{% if parameters.thumbnailText %}
				<div>{{ parameters.thumbnailText }}</div>{% endif %}
		</div>
	{% endif %}
</div>