<fieldset data-app-document-editor-section="" data-project-library-reading-properties="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_ReadingStatus" data-required="true"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_status', ['ucf']) }}">
		</div>
		<div data-app-field-document="" data-property="work" data-accepted-model="Project_Library_Work" data-required="true"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_work', ['ucf']) }}">
		</div>
		<div data-app-field-document="" data-property="publication" data-accepted-model="Project_Library_Publication"
			data-static-filters="publicationsStaticFilters" data-mode="options"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_publication', ['ucf']) }}" data-ng-disabled="!document.work">
		</div>
		<div data-app-field-document-array="" data-property="volumes" data-accepted-model="Project_Library_PublicationVolume"
			data-static-filters="volumesStaticFilters" data-mode="options"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_volumes', ['ucf']) }}" data-ng-disabled="!document.publication">
		</div>
		<div data-app-field-text="" data-property="volumesDetail"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_volumes_detail', ['ucf']) }}">
		</div>
		<div data-app-field="" data-property="beginDate"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_begin_date', ['ucf']) }}">
			<div data-app-date-selector="" data-ng-model="document.beginDate" data-show-yesterday-button="true" data-show-now-button="true">
				<button type="button" class="btn btn-default" data-ng-click="copyToEndDate()"
					title="{{ i18nAttr('m.project.library.webapp.reading_copy_to_end_date', ['ucf']) }}">
					<span class="glyphicon glyphicon-arrow-down"></span>
				</button>
			</div>
		</div>
		<div data-app-field-date="" data-property="endDate" data-show-yesterday-button="true" data-show-now-button="true"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_end_date', ['ucf']) }}">
		</div>
		<div data-app-field-star-rating="" data-property="rating" data-scale="10"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_rating', ['ucf']) }}">
		</div>
		<div data-app-field-rich-text="" data-property="comment"
			data-label="{{ i18nAttr('m.project.library.webapp.reading_comment', ['ucf']) }}">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>