<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.reading_list', ['ucf']) }}" data-allow-creation="true"
	data-columns="work,volumesDetail,rating,beginDate,endDate,status,reader" data-new-url-parameters="newSubDocumentUrlParameters"
	data-model-name="Project_Library_Reading" data-content-template-url="Project_Library/views/reading/reading-list-content.twig"
	data-sort-desc="true" data-sort-property="beginDate" data-filter-properties="work.label">
</div>