<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-boolean="" data-property="hidden"
			data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_hidden', ['ucf']) }}">
		</div>
		<div data-app-field-date="" data-property="date" data-required="true" data-show-yesterday-button="true" data-show-now-button="true"
			data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_date', ['ucf']) }}">
		</div>
		<div data-app-field-document="" data-property="payer" data-required="true" data-accepted-model="Rbs_User_User"
			data-mode="options" data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_payer', ['ucf']) }}">
		</div>
		<div data-app-field-document-array="" data-property="participants" data-required="true" data-accepted-model="Rbs_User_User"
			data-mode="options" data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_participants', ['ucf']) }}">
		</div>
		<div data-app-field-document="" data-property="shop" data-accepted-model="Project_Accounting_Shop"
			data-mode="options" data-allow-creation="true" data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_shop', ['ucf']) }}">
		</div>
		<div data-app-field="" data-property="paidAmount" data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_paid_amount', ['ucf']) }}">
			<div class="input-group" style="width: 125px">
				<input type="text" class="form-control" data-ng-model="document.paidAmount" data-app-float="" />
				<span class="input-group-addon">€</span>
			</div>
			<p class="help-block">{{ i18n('m.project.accounting.webapp.invoice_paid_amount_help', ['ucf']) }}</p>
		</div>
		<div data-ng-show="document.shop" data-app-field-text="" data-property="orderRef"
			data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_order_ref', ['ucf']) }}">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_description', ['ucf']) }}">
		</div>
	</fieldset>
	<fieldset>
		<legend>{{ i18n('m.project.accounting.webapp.invoice_lines', ['ucf']) }}</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Accounting_InvoiceLine" data-property="lines">
			<thead>
				<tr>
					<th>{{ i18n('m.project.accounting.webapp.invoice_line_label', ['ucf']) }}</th>
					<th style="width: 125px">{{ i18n('m.project.accounting.webapp.invoice_unit_price', ['ucf']) }}</th>
					<th style="width: 85px">{{ i18n('m.project.accounting.webapp.invoice_quantity', ['ucf']) }}</th>
					<th style="width: 125px">{{ i18n('m.project.accounting.webapp.invoice_amount', ['ucf']) }}</th>
					<th style="width: 125px" data-ng-repeat="participant in document.participants">
						(= participant.pseudonym || participant.label =)
					</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.familinet.webapp.action_new', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="line in document.lines" data-ng-form="" data-name="formLine">
					<td>
						<input type="text" class="form-control" data-ng-model="line.label" required="required" />
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="line.unitPrice" data-app-float="" />
							<span class="input-group-addon">€</span>
						</div>
					</td>
					<td>
						<input type="number" class="form-control" data-ng-model="line.quantity" min="1" required="required"
							data-ng-pattern="/^[1-9][0-9]*$/" />
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="line.amount" data-app-float="" />
							<span class="input-group-addon">€</span>
						</div>
					</td>
					<td data-ng-repeat="participant in document.participants">
						<input type="text" class="form-control" data-ng-pattern="/^[1-9][0-9]*([.,][0-9]+)?(\s*\/\s*[1-9][0-9]*)?$/"
							data-ng-model="line.distribution[participant.id+'']" />
					</td>
					<td class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.lines.length >= 5">
				<tr>
					<td colspan="(= 5 + document.participants.length =)">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.familinet.webapp.action_new', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<fieldset>
		<legend>{{ i18n('m.project.accounting.webapp.invoice_modifiers', ['ucf']) }}</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Accounting_InvoiceModifier" data-property="modifiers">
			<thead>
				<tr>
					<th>{{ i18n('m.project.accounting.webapp.invoice_modifier_label', ['ucf']) }}</th>
					<th style="width: 125px">{{ i18n('m.project.accounting.webapp.invoice_amount', ['ucf']) }}</th>
					<th style="width: 210px">{{ i18n('m.project.accounting.webapp.invoice_modifier_prorata', ['ucf']) }}</th>
					<th style="width: 125px" data-ng-repeat="participant in document.participants">
						(= participant.pseudonym || participant.label =)
					</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.familinet.webapp.action_new', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="modifier in document.modifiers" data-ng-form="" data-name="formModifier">
					<td>
						<input type="text" class="form-control" data-ng-model="modifier.label" required="true" />
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="modifier.amount" data-app-float="" min="0.01"
								required="required" />
							<span class="input-group-addon">€</span>
						</div>
					</td>
					<td>
						<span data-app-switch="" data-ng-model="modifier.prorata"></span>
					</td>
					<td data-ng-repeat="participant in document.participants">
						<div data-ng-show="modifier.prorata" class="form-control-static"><span class="glyphicon glyphicon-asterisk"></span></div>
						<div data-ng-show="!modifier.prorata">
							<input type="text" class="form-control" data-ng-pattern="/^[1-9][0-9]*([.,][0-9]+)?(\s*\/\s*[1-9][0-9]*)?$/"
								data-ng-model="modifier.distribution[participant.id+'']" />
						</div>
					</td>
					<td class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.modifiers.length >= 5">
				<tr>
					<td colspan="(= 3 + document.participants.length =)">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.familinet.webapp.action_new', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>