<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th data-app-sortable-column="label">{{ i18n('m.project.accounting.webapp.invoice_number', ['ucf']) }}</th>
			<th>{{ i18n('m.project.accounting.webapp.invoice_payer', ['ucf']) }}</th>
			<th data-app-sortable-column="shop.label">{{ i18n('m.project.accounting.webapp.invoice_shop', ['ucf']) }}</th>
			<th data-app-sortable-column="paidAmount">{{ i18n('m.project.accounting.webapp.invoice_amount', ['ucf']) }}</th>
			<th data-app-sortable-column="date">{{ i18n('m.project.accounting.webapp.invoice_date', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td><span data-project-accounting-invoice-link="document"></span></td>
			<td><span data-project-accounting-user-link="document.payer"></span></td>
			<td><span data-project-accounting-shop-link="document.shop"></span></td>
			<td>(= document.paidAmount | appPrice =)</td>
			<td>(= document.date | appDate =)</td>
		</tr>
	</tbody>
</table>