<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.invoice_list', ['ucf']) }}" data-allow-creation="true"
	data-model-name="Project_Accounting_Invoice" data-content-template-url="Project_Accounting/views/invoice/invoice-list-content.twig"
	data-columns="payer,participants,shop,paidAmount,date,cancelled,hidden"
	data-static-filters="staticFilters" data-sort-desc="true" data-sort-property="date">
</div>