<div data-app-document-detail-header="document" data-readonly="(= document.cancelled ? 'true' : 'false' =)" data-allow-create-from="true"></div>

<div data-ng-if="document.hidden" class="alert alert-warning">
	{{ i18n('m.project.accounting.webapp.invoice_warning_hidden', ['ucf']) }}
</div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt>{{ i18n('m.project.accounting.webapp.invoice_date', ['ucf']) }}</dt>
					<dd>(= document.date | appDate =)</dd>
					<dt>{{ i18n('m.project.accounting.webapp.invoice_payer', ['ucf']) }}</dt>
					<dd><span data-project-accounting-user-link="document.payer"></span></dd>
					<dt>{{ i18n('m.project.accounting.webapp.invoice_shop', ['ucf']) }}</dt>
					<dd><span data-project-accounting-shop-link="document.shop"></span></dd>
					<dt data-ng-if-start="document.orderRef">{{ i18n('m.project.accounting.webapp.invoice_order_ref', ['ucf']) }}</dt>
					<dd data-ng-if-end>(= document.orderRef =)</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">{{ i18n('m.project.accounting.webapp.invoice_description', ['ucf']) }}</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4" data-ng-if="document.cancelled">
		<div class="panel panel-danger">
			<div class="panel-heading">{{ i18n('m.project.accounting.webapp.invoice_cancelled', ['ucf']) }}</div>
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt>{{ i18n('m.project.accounting.webapp.invoice_cancel_date', ['ucf']) }}</dt>
					<dd>(= document.cancelDate | appDateTime =)</dd>
					<dt>{{ i18n('m.project.accounting.webapp.invoice_canceller', ['ucf']) }}</dt>
					<dd><span data-project-accounting-user-link="document.canceller"></span></dd>
					<dt>{{ i18n('m.project.accounting.webapp.invoice_cancel_comment', ['ucf']) }}</dt>
					<dd data-app-rich-text="" data-path="document.cancelComment"></dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="text-center" style="width: 35px;">#</th>
				<th>{{ i18n('m.project.accounting.webapp.invoice_line_label', ['ucf']) }}</th>
				<th style="width: 125px;" class="text-center">{{ i18n('m.project.accounting.webapp.invoice_quantity', ['ucf']) }}</th>
				<th style="width: 125px;" class="text-center">{{ i18n('m.project.accounting.webapp.invoice_amount', ['ucf']) }}</th>
				<th style="width: 125px;" class="text-center" data-ng-repeat="participant in document.participants">
					(= participant.pseudonym || participant.label =)
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="line in document.lines">
				<td class="text-center">(= $index + 1 =)</td>
				<td>(= line.label =)</td>
				<td class="text-right">(= line.quantity =) <small class="text-muted">x (= line.unitPrice | appPrice =)</small></td>
				<td class="text-right">(= line.amount | appPrice =)</td>
				<td data-ng-repeat="participant in document.participants" class="text-right">
					<span data-ng-if="line.distribution[participant.id+'']">
						(= line.distribution[participant.id+''] | appNumber =)
						<small class="text-muted">x (= line.unitPrice | appPrice =)</small>
					</span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-right">
					{{ i18n('m.project.accounting.webapp.invoice_lines_amount', ['ucf', 'lab']) }}
					(= document.linesAmount | appPrice =)
				</td>
				<td data-ng-repeat="participant in document.participants" class="text-right">
					(= document.linesDistribution[participant.id+''] | appPrice =)
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="panel panel-default" data-ng-if="document.modifiers.length">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="text-center" style="width: 35px;">#</th>
				<th>{{ i18n('m.project.accounting.webapp.invoice_modifier_label', ['ucf']) }}</th>
				<th style="width: 125px;" class="text-center">{{ i18n('m.project.accounting.webapp.invoice_amount', ['ucf']) }}</th>
				<th style="width: 125px;" class="text-center" data-ng-repeat="participant in document.participants">
					(= participant.pseudonym || participant.label =)
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="modifier in document.modifiers">
				<td class="text-center">(= $index + 1 =)</td>
				<td>(= modifier.label =)</td>
				<td class="text-right">(= modifier.amount | appPrice =)</td>
				<td data-ng-repeat="participant in document.participants" class="text-right">
					<span data-ng-if="modifier.distribution[participant.id+'']">
						(= modifier.distribution[participant.id+''] | appNumber =)
						<small class="text-muted">x (= modifier.amount | appPrice =)</small>
					</span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="text-right">
					{{ i18n('m.project.accounting.webapp.invoice_modifiers_amount', ['ucf', 'lab']) }}
					(= document.modifiersAmount | appPrice =)
				</td>
				<td data-ng-repeat="participant in document.participants" class="text-right">
					(= document.modifiersDistribution[participant.id+''] | appPrice =)
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="row">
	<div class="col-sm-8 col-md-8">

	</div>
	<div class="col-sm-4 col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				{{ i18n('m.project.accounting.webapp.invoice_paid_amount', ['ucf', 'lab']) }} (= document.paidAmount | appPrice =)
			</div>
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr data-ng-repeat="movement in data.movements">
						<td><span data-project-accounting-user-link="movement.user"></span></td>
						<td class="text-right">(= movement.amount | appPrice =)</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="panel panel-default" data-px-panel-toggle="collapsed" data-ng-if="!document.cancelled">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-trash"></span>
		{{ i18n('m.project.familinet.webapp.action_cancel', ['ucf', 'etc']) }}
	</div>
	<div class="panel-body">
		<form class="form-horizontal" data-ng-submit="cancel()" name="cancelForm">
			<div data-app-field="" data-label="{{ i18nAttr('m.project.accounting.webapp.invoice_cancel_comment', ['ucf']) }}" data-required="true">
				<textarea class="form-control" data-ng-model="data.cancelComment" required="required"></textarea>
			</div>
			<div class="form-group no-bottom-margin">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="button" class="btn btn-danger" data-ng-click="confirmCancel($event)" data-ng-disabled="cancelForm.$invalid">
						<span class="glyphicon glyphicon-trash"></span>
						{{ i18n('m.project.familinet.webapp.action_cancel', ['ucf']) }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div data-app-document-meta=""></div>