{% block rbsGeoManageAddressUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
	{% use 'Rbs_Simpleform/form-templates.twig' %}
{% endblock rbsGeoManageAddressUse %}

<div data-ng-controller="rbsGeoManageAddressesController">
	{% if parameters.showTitle %}
		<h1>{{ i18n('m.rbs.geo.front.manage_addresses_title', ['ucf']) }}</h1>
	{% endif %}

	<div class="vertical-if-animation" data-ng-if="data.addresses.length > 0 && !data.editedAddress && !data.newAddress"
		data-ng-cloak="">
		<div class="vertical-if-animation-content">
			{% block rbsGeoManageAddressDetail %}
				<h2>{{ i18n('m.rbs.geo.front.address_list_title', ['ucf']) }}</h2>
				<div class="row">
					<div data-ng-repeat-start="address in data.addresses" class="col-md-6 col-lg-4">
						<h3>(= address.common.name =)</h3>
						<address>
							<strong>(= address.lines[0] =)</strong>
							<div data-ng-repeat="line in address.lines track by $index" data-ng-if="!$first">(= line =)</div>
						</address>
						{% block rbsGeoManageAddressDetailDefaultAddresses %}
							<p>
								<span data-ng-show="address.default.default">
									{{ block('rbsGenericIconFavorite') }}
									{{ i18n('m.rbs.geo.front.by_default', ['ucf']) }}
								</span>
								<button data-ng-hide="address.default.default" class="btn btn-sm btn-default"
										data-ng-click="setDefaultAddress(address, 'default')">
									<span class="text-muted">{{ block('rbsGenericIconNotFavorite') }}</span>
									{{ i18n('m.rbs.geo.front.button_set_default', ['ucf']) }}
								</button>
							</p>
						{% endblock rbsGeoManageAddressDetailDefaultAddresses %}
						<p data-ng-if="address.common.id">
							<button type="button" class="btn btn-sm btn-default" data-ng-click="openEditAddressForm(address)">
								{{ i18n('m.rbs.geo.front.button_edit', ['ucf']) }}
							</button>
							<button type="button" class="btn btn-sm btn-danger btn-icon" data-ng-click="deleteAddress(address)"
								title="{{ i18nAttr('m.rbs.geo.front.button_delete', ['ucf']) }}">
								{{ block('rbsGenericIconDelete') }}
							</button>
						</p>
					</div>
					<div data-ng-if="($index % 3) == 2" class="clearfix visible-lg-block"></div>
					<div data-ng-repeat-end="" data-ng-if="($index % 2) == 1" class="clearfix visible-md-block"></div>
				</div>
				<p>
					<button type="button" class="btn btn-primary" data-ng-click="openNewAddressForm()">
						{{ i18n('m.rbs.geo.front.button_new_address', ['ucf']) }}
					</button>
				</p>
			{% endblock rbsGeoManageAddressDetail %}
		</div>
	</div>
	<div class="vertical-if-animation" data-ng-if="data.addresses.length == 0 && !data.editedAddress && !data.newAddress"
		data-ng-cloak="">
		<div class="vertical-if-animation-content">
			{% block rbsGeoManageAddressNoAddress %}
				<h2>{{ i18n('m.rbs.geo.front.address_list_title', ['ucf']) }}</h2>
				<p>{{ i18n('m.rbs.geo.front.no_address_yet', ['ucf']) }}</p>
				<p>
					<button type="button" class="btn btn-primary" data-ng-click="openNewAddressForm()">
						{{ i18n('m.rbs.geo.front.button_new_address', ['ucf']) }}
					</button>
				</p>
			{% endblock rbsGeoManageAddressNoAddress %}
		</div>
	</div>
	<div class="vertical-if-animation" data-ng-if="data.editedAddress" data-ng-cloak="">
		<div class="vertical-if-animation-content">
			{% block rbsGeoManageAddressEdit %}
				<h2>{{ i18n('m.rbs.geo.front.add_edit_address_title', ['ucf']) }}</h2>
				<div data-rbs-geo-address-editor="" data-address="data.editedAddress" data-manage-name="required"
					data-accept-zones="" data-valid="data.isEditedAddressValid" data-addresses="data.addresses">
				</div>
				<div class="row">
					<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
						{% block rbsGeoManageAddressEditFooter %}
							{% block rbsGeoManageAddressEditFooterHelp %}
								<p>
									{{ block('rbsSimpleformRequiredSymbolsExplain') }}
								</p>
							{% endblock rbsGeoManageAddressEditFooterHelp %}
							{% block rbsGeoManageAddressEditFooterButtons %}
								<button type="button" class="btn btn-primary" data-ng-disabled="!data.isEditedAddressValid"
									data-ng-click="updateAddress()">
									{{ i18n('m.rbs.geo.front.button_save', ['ucf']) }}
								</button>
								<button type="button" class="btn btn-sm btn-default" data-ng-click="cancelEdition()">
									{{ i18n('m.rbs.geo.front.button_cancel', ['ucf']) }}
								</button>
							{% endblock rbsGeoManageAddressEditFooterButtons %}
						{% endblock rbsGeoManageAddressEditFooter %}
					</div>
				</div>
			{% endblock rbsGeoManageAddressEdit %}
		</div>
	</div>
	<div class="vertical-if-animation" data-ng-if="data.newAddress" data-ng-cloak="">
		<div class="vertical-if-animation-content">
			{% block rbsGeoManageAddressNew %}
				<h2>{{ i18n('m.rbs.geo.front.add_new_address_title', ['ucf']) }}</h2>
				<div data-rbs-geo-address-editor="" data-address="data.newAddress" data-addresses="data.addresses"
					data-manage-name="required" data-accept-zones="" data-valid="data.isNewAddressValid">
				</div>
				<div class="row">
					<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
						{% block rbsGeoManageAddressNewFooter %}
							{% block rbsGeoManageAddressNewFooterHelp %}
								<p>
									{{ block('rbsSimpleformRequiredSymbolsExplain') }}
								</p>
							{% endblock rbsGeoManageAddressNewFooterHelp %}
							{% block rbsGeoManageAddressNewFooterButtons %}
								<button type="button" class="btn btn-primary" data-ng-disabled="!data.isNewAddressValid"
										data-ng-click="addNewAddress()">
									{{ i18n('m.rbs.geo.front.button_save', ['ucf']) }}
								</button>
								<button type="button" class="btn btn-sm btn-default" data-ng-click="clearAddress()">
									{{ i18n('m.rbs.geo.front.button_clear', ['ucf']) }}
								</button>
								<button type="button" class="btn btn-sm btn-default" data-ng-click="cancelCreation()">
									{{ i18n('m.rbs.geo.front.button_cancel', ['ucf']) }}
								</button>
							{% endblock rbsGeoManageAddressNewFooterButtons %}
						{% endblock rbsGeoManageAddressNewFooter %}
					</div>
				</div>
			{% endblock rbsGeoManageAddressNew %}
		</div>
	</div>
</div>