<div data-rbs-project-library-contributor-link-editor="">
	<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Library_ContributorLink', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-text property="url"
		label="{{ i18nAttr(propertyKey('Project_Library_ContributorLink', 'url'), ['ucf']) }}">
	</rbs-field-text>
</div>