<div data-rbs-project-accounting-invoice-modifier-editor="">
	<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceModifier', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-float property="amount" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceModifier', 'amount'), ['ucf']) }}">
	</rbs-field-float>

	<!--<rbs-field-long-text property="distribution" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceModifier', 'distribution'), ['ucf']) }}">
	</rbs-field-long-text>-->
</div>