<div data-rbs-project-accounting-invoice-line-editor="">
	<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceLine', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-float property="unitPrice" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceLine', 'unitPrice'), ['ucf']) }}">
	</rbs-field-float>

	<rbs-field-integer property="quantity" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceLine', 'quantity'), ['ucf']) }}">
	</rbs-field-integer>

	<rbs-field-float property="amount" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceLine', 'amount'), ['ucf']) }}">
	</rbs-field-float>

	<!--<rbs-field-long-text property="distribution" required="true"
		label="{{ i18nAttr(propertyKey('Project_Accounting_InvoiceLine', 'distribution'), ['ucf']) }}">
	</rbs-field-long-text>-->
</div>