<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_group_list', ['ucf']) }}" data-allow-creation="true"
	data-model-name="Project_Library_WorkGroup" data-content-template-url="Project_Library/views/work-group/work-group-list-content.twig"
	data-filter-properties="indexedAliases">
</div>