<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>{{ i18n('m.project.library.webapp.work_group_name', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td><div data-project-library-work-group-link="document"></div></td>
		</tr>
	</tbody>
</table>