<div data-app-document-detail-header="document"></div>

<div data-ng-if="document.aliasesData">
	<div data-project-library-work-aliases="document.aliasesData"></div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt data-ng-if="document.groupType">{{ i18n('m.project.library.webapp.work_group_type', ['ucf']) }}</dt>
					<dd data-ng-if="document.groupType">(= :: document.groupType =)</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">{{ i18n('m.project.library.webapp.work_group_description', ['ucf']) }}</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div data-project-library-links="document.links"></div>
	</div>
</div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_group_contents', ['ucf']) }}"
	data-model-name="Project_Library_Work" data-block-level="secondary" data-static-filters="workStaticFilters"
	data-content-template-url="Project_Library/views/work/work-list-content.twig" data-filter-properties="indexedAliases"
	data-exposed-data="data.workList">
</div>

<div class="panel panel-default" data-px-panel-toggle="collapsed">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-plus"></span>
		{{ i18n('m.project.library.webapp.action_add_works', ['ucf']) }}
	</div>
	<div class="panel-body">
		<form class="form-horizontal" data-ng-submit="works.add()" name="addWorksForm">
			<div data-app-field-document-array="" data-property="works.list" data-accepted-model="Project_Library_Work" data-required="true"
				data-label="{{ i18nAttr('m.project.library.webapp.works_to_add', ['ucf']) }}">
			</div>
			<div class="form-group no-bottom-margin">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="submit" class="btn btn-primary" data-ng-disabled="addWorksForm.$invalid || !works.list.length">
						<span class="glyphicon glyphicon-ok"></span>
						{{ i18n('m.project.familinet.webapp.action_add', ['ucf']) }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default" data-px-panel-toggle="collapsed">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-trash"></span>
		{{ i18n('m.project.familinet.webapp.action_delete', ['ucf', 'etc']) }}
	</div>
	<div class="panel-body">
		<form class="form-horizontal" data-ng-submit="delete()" name="deleteForm">
			<div data-ng-if="data.workList.totalItems">
				<div data-app-field-document="" data-property="data.target.workGroup" data-accepted-model="Project_Library_WorkGroup"
					data-required="true" data-label="{{ i18nAttr('m.project.library.webapp.merge_target', ['ucf']) }}">
				</div>
			</div>
			<div class="form-group no-bottom-margin">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="button" class="btn btn-danger" data-ng-click="confirmDelete($event)" data-ng-disabled="deleteForm.$invalid">
						<span class="glyphicon glyphicon-trash"></span>
						{{ i18n('m.project.familinet.webapp.action_delete', ['ucf']) }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div data-app-document-meta=""></div>