<!DOCTYPE html>
<html>
	<head>
		<base href="{{ baseUrl }}" />
		<title>Familinet</title>
		<link href="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/css/bootstrap.min.css') }}" rel="stylesheet" />
		<meta charset="UTF-8" />
		<style type="text/css">
			body {
				height: 100%;
				background: url({{ resourceURL('Rbs/Ua/img/menu-background.jpg') }}) no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}
			body > div > div {
				margin: auto;
				border-radius: 10px;
				background: rgba(255, 255, 255, 0.59);
				padding: 1em;
				max-width: 90%;
			}

			.btn-primary {
				color: #fff;
				background-color: #3cadca;
				border-color: #339eba;
			}

			.btn-primary:focus, .btn-primary.focus {
				color: #fff;
				background-color: #2d8da6;
				border-color: #174956;
			}

			.btn-primary:hover {
				color: #fff;
				background-color: #2d8da6;
				border-color: #25758a;
			}

			.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
				color: #fff;
				background-color: #2d8da6;
				border-color: #25758a;
			}

			.btn-primary:active:hover, .btn-primary.active:hover, .open > .btn-primary.dropdown-toggle:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .btn-primary.dropdown-toggle:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle.focus {
				color: #fff;
				background-color: #25758a;
				border-color: #174956;
			}

			.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
				background-image: none;
			}

			@media (min-width: 768px) {
				body > div > div {
					width: 700px;
				}
			}

			@media (max-height: 740px) {
				html {
					height: 100%;
				}

				body {
					display: table;
					text-align: center;
					height: 100%;
					width: 100%;
				}

				body > div {
					display: table-cell;
					vertical-align: middle;
					height: 100%;
					width: 100%;
				}

				body > div > div > form {
					text-align: left;
				}
			}

			@media (min-height: 741px) {
				body > div > div {
					margin: 100px auto;
				}
			}

			.logo {
				width: 50px;
				height: 50px;
			}

			@media (min-height: 550px), (min-width: 768px) {
				.logo {
					width: 100px;
					height: 100px;
				}
			}
		</style>
	</head>
	<body>
		<div>
			<div>
				<span class="hidden" id="on-device">{{ i18n('c.oauth.on_device') }}</span>

				<p class="text-center">
					<img alt="Familinet" style="width:128px;height:128px;" src="{{ resourceURL('Rbs/Ua/img/logos/favicon.png') }}" />
				</p>

				<form method="POST" class="form-horizontal">
					<fieldset>
						<legend class="h4 text-center">{{ i18n('c.oauth.authorize_application', ['ucf']) }}</legend>
						<p class="text-danger text-center">{{ error }}</p>
						<input type="hidden" name="realm" value="{{ realm }}" />
						<input type="hidden" name="oauth_token" value="{{ oauth_token }}" />

						<div class="form-group">
							<label class="control-label col-sm-5" for="login">{{ i18n('c.oauth.login', ['ucf']) }}</label>

							<div class="col-sm-7">
								<input type="text" value="{{ login }}" class="form-control" autocapitalize="off" autocorrect="off" name="login"
									id="login" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-5" for="password">{{ i18n('c.oauth.password', ['ucf']) }} </label>

							<div class="col-sm-7">
								<input type="password" class="form-control" name="password" id="password" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-5" for="device">{{ i18n('c.oauth.device', ['ucf']) }} </label>

							<div class="col-sm-7">
								<input type="text" class="form-control" name="device" id="device" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-5" for="authenticate">{{ i18n('c.oauth.application_name', ['ucf']) }}</label>
							<div class="col-sm-7 form-control-static">
								{{ applicationName }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-7 col-sm-offset-5">
								<button type="submit" class="btn btn-primary btn-block btn-lg" id="authenticate" name="authenticate"
									value="authenticate">{{ i18n('c.oauth.authorize', ['ucf']) }}</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/UAParser-0.7.12/UAParser-0.7.12.min.js') }}"></script>
		<script type="text/javascript">
			var parser = new UAParser();
			var ua = parser.getResult();

			var on = window.document.getElementById('on-device').textContent;
			window.document.getElementById('device').value = ua.browser.name + ' ' + on + ' ' + ua.os.name;
		</script>
	</body>
</html>