<html>
	<body>
		<h3>Vous avez demandé à être averti par mail de vos notifications non lues</h3>
		{% if countNewNotifications > countEmbedNotifications %}
			<p>Vos {{ countEmbedNotifications }} dernières notifications non lues sur {{ countNewNotifications }}</p>
		{% else %}
			<p>Vous avez actuellemement {{ countNewNotifications }} notification(s) non lue(s)</p>
		{% endif %}
		<ol>
			{% for notification in notifications %}
				<li>
					<p>
						{{ notification['message'] }}
					</p>
					<small>Envoyé le : {{ notification['creationDate'] | date(dateFormat, timezone) }}</small>
				</li>
			{% endfor %}
		</ol>

		{% if adminURL %}
			<p>Consulter vos notifications à l'adresse <a href="{{ adminURL }}">{{ adminURL }}</a></p>
		{% endif %}
	</body>
</html>