<html>
	<body>
		<h3>Vous avez reçu une nouvelle notification</h3>
		<blockquote>
			<p>
				{{ notification['message'] }}
			</p>
			<small>Envoyé le : {{ notification['creationDate'] | date(dateFormat, timezone) }}</small>
		</blockquote>
		{% if adminURL %}
			<p>Consulter vos notifications à l'adresse <a href="{{ adminURL }}">{{ adminURL }}</a></p>
		{% endif %}
	</body>
</html>