<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.user_list', ['ucf']) }}"
	data-model-name="Rbs_User_User" data-content-template-url="Project_Accounting/views/user/user-list-content.twig"
	data-columns="balance" data-static-filters="staticFilters" data-filter-properties="none" data-sort-property="login">
</div>