<div data-app-document-detail-header="document" data-readonly="true" data-title="(= :: document.pseudonym =)"></div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt>{{ i18n('m.project.accounting.webapp.user_balance', ['ucf']) }}</dt>
					<dd data-ng-class="{'text-danger': data.balance < -100, 'text-warning': data.balance < 0, 'text-success': data.balance > 0}">
						(= data.balance | appPrice =)
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.user_invoices', ['ucf']) }}"
			data-block-level="secondary" data-full-list-url="document | appURL:'invoices'" data-compact="true"
			data-model-name="Project_Accounting_Invoice" data-content-template-url="Project_Accounting/views/invoice/invoice-list-content.twig"
			data-columns="payer,shop,paidAmount,date,cancelled,hidden" data-static-filters="invoiceStaticFilters"
			data-sort-desc="true" data-sort-property="date">
		</div>
	</div>

	<div class="col-lg-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.user_transfers', ['ucf']) }}"
			data-block-level="secondary" data-full-list-url="document | appURL:'transfers'" data-compact="true"
			data-model-name="Project_Accounting_Transfer" data-content-template-url="Project_Accounting/views/transfer/transfer-list-content.twig"
			data-columns="source,receiver,amount,date,cancelled,hidden" data-static-filters="transferStaticFilters"
			data-sort-desc="true" data-sort-property="date">
		</div>
	</div>
</div>