<div data-app-document-detail-header="document" data-readonly="true"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.user_invoices', ['ucf']) }}" data-block-level="secondary"
	data-model-name="Project_Accounting_Invoice" data-content-template-url="Project_Accounting/views/invoice/invoice-list-content.twig"
	data-columns="payer,shop,paidAmount,date,cancelled,hidden" data-static-filters="invoiceStaticFilters" data-sort-desc="true" data-sort-property="date">
</div>