<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>{{ i18n('m.project.accounting.webapp.user_name', ['ucf']) }}</th>
			<th>{{ i18n('m.project.accounting.webapp.user_balance', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td><span data-project-accounting-user-link="document"></span></td>
			<td data-ng-class="{'text-danger': document.balance < -100, 'text-warning': document.balance < 0, 'text-success': document.balance > 0}">
				(= document.balance | appPrice =)
			</td>
		</tr>
	</tbody>
</table>