<div data-app-document-detail-header="document" data-readonly="true"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.user_transfers', ['ucf']) }}" data-block-level="secondary"
	data-model-name="Project_Accounting_Transfer" data-content-template-url="Project_Accounting/views/transfer/transfer-list-content.twig"
	data-columns="source,receiver,amount,date,cancelled,hidden" data-static-filters="transferStaticFilters"
	data-sort-desc="true" data-sort-property="date">
</div>