<div data-rbs-project-library-work-alias-editor="">
	<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkGroupAlias', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-picker-multiple property="nationalities"
		label="{{ i18nAttr(propertyKey('Project_Library_WorkGroupAlias', 'nationalities'), ['ucf']) }}"
		accepted-model="Rbs_Geo_Country">
	</rbs-field-picker-multiple>
</div>