<div class="modal-header">
	<button type="button" class="close pull-right" data-ng-click="$dismiss()" aria-hidden="true"
		title="{{ i18nAttr('m.rbs.generic.front.close', ['ucf']) }}">&times;</button>
	{% block modalTitle %}
		<h4 class="modal-title">
			(= menu.title =)
		</h4>
	{% endblock modalTitle %}
</div>
<div class="modal-body">
	{% block modalContent %}
		<ul class="nav nav-modal">
			<li data-ng-repeat="child in menu.children"
				data-ng-class="{'active': child.isInPath || child.isCurrent, 'dropdown': child.children, 'open': child.deployed }">
				<a data-ng-if="!child.children" href="javascript:" data-ng-href="(= child.url =)">
					(= child.title =)
				</a>
				<a data-ng-if-start="child.children" href="javascript:" data-ng-click="child.deployed = !child.deployed">
					(= child.title =) <b class="caret"></b>
				</a>
				<ul data-ng-if-end="" class="dropdown-menu" data-ng-show="child.deployed">
					<li data-ng-repeat="subChild in child.children" data-ng-class="{'active': subChild.isInPath || item.isCurrent }">
						<a href="javascript:" data-ng-href="(= subChild.url =)">(= subChild.title =)</a>
					</li>
				</ul>
			</li>
		</ul>
	{% endblock modalContent %}
</div>