<div class="modal-header">
	<button type="button" class="close pull-right" data-ng-click="$dismiss()"
		aria-hidden="true" title="{{ i18nAttr('m.rbs.generic.front.close', ['ucf']) }}">&times;</button>
	{% block rbsWebsiteSwitchLangResponsiveSummaryModalTitle %}
		<h4 class="modal-title">
			{{ i18n('m.rbs.website.front.current_language', ['ucf', 'lab']) }} (= blockData.title =)
		</h4>
	{% endblock rbsWebsiteSwitchLangResponsiveSummaryModalTitle %}
</div>
<div class="modal-body">
	{% block rbsWebsiteSwitchLangResponsiveSummaryModalContent %}
		<ul class="nav nav-modal">
			<li data-ng-repeat="item in blockData.urls" data-ng-class="{active:item.lang == blockData.lang}">
				<a data-ng-href="(= item.url =)" data-ng-bind="item.title"></a>
			</li>
		</ul>
	{% endblock rbsWebsiteSwitchLangResponsiveSummaryModalContent %}
</div>