<div>
	<a data-ng-show="blockData.urls.length > 1" href="javascript:" data-ng-click="onResponsiveSummaryClick()">
		<abbr data-ng-bind="blockData.lang" title="(= blockData.title =)"></abbr>
	</a>
	<abbr data-ng-hide="blockData.urls.length > 1" data-ng-bind="blockData.lang" title="(= blockData.title =)"></abbr>
</div>
