<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.richtext.anchor', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="insertAnchorForm">
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.anchor_name', ['ucf']) }}">
			<input type="text" data-ng-model="data.name" name="name" class="form-control" required="required" />
		</div>
	</form>
</div>
<div class="modal-footer">
	<button data-ng-if="config.allowDeletion" type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-ng-click="delete()">
		{{ i18n('m.rbs.ua.common.delete', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="$dismiss()">
		{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="ok()" data-ng-disabled="disableOkButton()">
		{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
	</button>
</div>
