<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.richtext.double_click_select', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<div>
		{{ i18n('m.rbs.ua.richtext.double_click_select_description', ['ucf', 'lab']) }}
	</div>
	<div class="margin-top" data-ng-repeat="option in options">
		<button type="button" class="btn btn-default btn-block" data-ng-click="select(option)">(= option.label =)</button>
	</div>
</div>