<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.richtext.source', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<textarea data-ng-model="editorData" class="form-control" rows="10"></textarea>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="$dismiss()">
		{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="ok()" data-ng-disabled="disableOkButton()">
		{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
	</button>
</div>
