<div class="table-responsive">
	<table class="table table-striped document-list">
		<thead>
			<tr>
				<th>{{ i18n(propertyKey('Rbs_Collection_ObjectCollectionItem', 'value'), ['ucf']) }}</th>
				<th>
					{{ i18n(propertyKey('Rbs_Collection_ObjectCollectionItem', 'title'), ['ucf']) }}
					<i class="icon-asterisk text-info" title="{{ i18nAttr('m.rbs.collection.admin.localized', ['ucf']) }}"></i>
				</th>
				<th>{{ i18n('m.rbs.collection.admin.color_code', ['ucf']) }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in itemsManager.pagination.currentItems" data-rbs-collection-collection-item="">
				<td>
					<input type="text" class="form-control" data-ng-show="!item.locked"
						data-ng-model="item.value" required="required">
					<div class="form-control-static" data-ng-show="item.locked">
						(= item.value =)
					</div>
				</td>
				<td>
					<input type="text" class="form-control"
						data-ng-model="item.LCID[itemsManager.LCID].title" />
				</td>
				<td>
					<div data-rbs-color-picker="" data-ng-model="item.data.colorCode"></div>
				</td>
				<td class="text-right">
					<div data-rbs-inline-item-actions="" data-array="document.items"
						data-index="$index + itemsManager.pagination.offset" data-check-delete="itemsManager.canDeleteItem"></div>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control" data-ng-model="itemsManager.newItem.value" />
				</td>
				<td class="form-inline" colspan="3">
					<button class="btn btn-default" type="button" data-ng-click="itemsManager.addNewItem()"
						data-ng-disabled="!itemsManager.canAddNewItem()">
						<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.add', ['ucf']) }}
					</button>
					<span data-ng-show="itemsManager.newItem.isUsed" class="form-control-static text-danger">
						{{ i18n('m.rbs.collection.admin.already_used_value', ['ucf']) }}
					</span>
				</td>
			</tr>
			<tr data-ng-show="itemsManager.inputValues.length">
				<td colspan="4">
					<a data-ng-click="itemsManager.addInputValues()" href="">
						(= itemsManager.inputValues.length =) {{ i18n('m.rbs.collection.admin.collection_values_to_add', ['ucf']) }}
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<div data-rbs-pagination="itemsManager.pagination"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>