/**
	Default background:
	background-image: linear-gradient(to bottom, #4f4e4b 0, #353432 100%);
*/

.env- .navbar-main {
	background-image: linear-gradient(to bottom, #5f2e2b 0, #451412 100%);
}

.env- .navbar-brand:after {
	content: 'Instance inconnue';
	font-size: 9px;
	position: absolute;
	left: 20px;
	bottom: -4px;
}

.env-test .navbar-main {
	background-image: linear-gradient(to bottom, #2f4e2b 0, #153412 100%);
}

.env-test .navbar-brand:after {
	content: 'Instance de test';
	font-size: 9px;
	position: absolute;
	left: 20px;
	bottom: -4px;
}

.env-dev .navbar-main {
	background-image: linear-gradient(to bottom, #2f2e5b 0, #151442 100%);
}

.env-dev .navbar-brand:after {
	content: 'Instance de dev';
	font-size: 9px;
	position: absolute;
	left: 20px;
	bottom: -4px;
}