/**
 * General classes for margins...
 */
.margin-right {
	margin-right: 15px;
}

.margin-half-right {
	margin-right: 7px;
}

.margin-left {
	margin-left: 15px;
}

.margin-half-left {
	margin-left: 7px;
}

.margin-top {
	margin-top: 15px;
}

.margin-half-top {
	margin-top: 7px;
}

.margin-bottom {
	margin-bottom: 15px;
}

.margin-half-bottom {
	margin-bottom: 7px;
}

.no-top-margin {
	margin-top: 0;
}

.no-bottom-margin {
	margin-bottom: 0;
}
.no-margin{
	margin : 0;
}

/**
 * General classes for paddings...
 */
.padding {
	padding: 15px;
}
.padding-right {
	padding-right: 15px;
}

.padding-left {
	padding-left: 15px;
}

.padding-top {
	padding-top: 15px;
}

.padding-bottom {
	padding-bottom: 15px;
}

.no-top-padding {
	padding-top: 0;
}

.no-bottom-padding {
	padding-bottom: 0;
}
.no-padding{
	padding: 0;
}

/**
 * Misc...
 */
.clickable {
	cursor: pointer;
}

.opacity-half {
	opacity: 0.5;
}

/* Long string: handle new lines without replacing them with <br /> */
.long-string {
	white-space: pre-wrap;
}
.text-bold{
	font-weight: 700;
}
.no-radius{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.round{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

/* colors */
.white{
	color: white;
}
.white-bg{
	background-color: white;
}