@import 'bootstrap-config';
@import 'bootstrap-variables';
@import 'bootstrap-includes';
@import 'framework';
@import 'directives-includes';
@import 'feedback';
@import 'table-responsive';
@import 'env-specific';

/**
 * Must be added explicitly if the JS are not included in the head (cf ngCloak documentation).
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
	display: none !important;
}

/**
 * Bootstrap fixes.
 */
.form-inline .form-control-static {
	vertical-align: middle;
}

/**
 * Global layout.
 */
body {
	min-height: 100vh;
	display: -webkit-flex; /* 3 */
	display: flex;
	-webkit-flex-direction: column; /* 3 */
	flex-direction: column;
}

/* Header */
body > header .navbar {
	margin-bottom: 10px;
	border: 0;
	.dropdown-menu.extended.logout > li:last-child > a {
		color: $navbar-default-link-hover-color;
		text-transform: uppercase;
		background-color: $brand-danger;
	}
	.dropdown-menu.extended.logout > li:last-child > a:hover {
		background-color: darken($brand-danger, 5%);
	}
	.dropdown-menu.logout {
		width: 268px;
		.btn-danger {
			line-height: 25px;
		}
	}

}

/* Move header navbar over other nav bars to have its popup menus visible */
header .navbar {
	z-index: 999;
}

/* Content */
#workspace {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

body > #main-content {
	padding: 5px 20px 0 20px;
	-webkit-flex-grow: 1; /* 3 */
	flex-grow: 1;
}

/* Footer */
body > footer {
	border-top: 5px solid $brand-info;
	background-color: $blue-dark;
	font-size: 9pt;
	padding: 7px 15px;
	line-height: 12px;
	color: $light;
}

.inline-block, .navbar-nav > li > a.inline-block {
	display: inline-block;
}

@media (max-width: 767px) {
	.navbar-nav > li > a.inline-block {
		display: block;
	}
}

/**
 * Nav bars
 */
.navbar {
	border-radius: 0;
	/* Move nav bars under popup menus (initial value 1000) */
	z-index: 998;
}

.navbar-brand-logo {
	text-align: center;
	padding: 10px 20px;
}

.navbar-brand-logo img {
	height: 40px;
}

.navbar-main {
	.dropdown-menu {
		> li a:hover, > li a:focus {
			text-decoration: none;
			color: $brand-primary;
			background-color: transparent;
		}
		background: $navbar-default-link-hover-bg;
		border: none;
		&.logout {
			> li {
				margin: 7px;
			}
			.dropdown-header {
				margin: 0;
				text-align: center;
				border-bottom: 1px solid darken($light, 5%);
				font-size: 16px;
				font-weight: 600;
				padding: 4px 0;
				color: $body-bg;
			}
		}

		a {
			color: $body-bg;
		}
	}
}

#workspace .navbar-inverse {
	.navbar-form {
		margin: 3px;
	}
	min-height: 40px;
	border-radius: 3px;
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

/**
 * Dropdown menus.
 */
.dropdown-menu > li.dropdown-text {
	display: block;
	padding: 3px 20px;
	line-height: 20px;
}

.dropdown-menu i[class^="icon-"],
.dropdown-menu span[class^="icon-"],
.dropdown-menu i[class*=" icon-"],
.dropdown-menu span[class*=" icon-"] {
	display: inline-block;
	text-align: center;
	width: 16px;
}

/* Used to place an icon on selected item (for example in richtext editor) */
.dropdown-menu > li .dropdown-item-icon {
	left: 0;
	margin: 3px;
	position: absolute;
}

/**
 * Buttons.
 */

/** Buttons containing only an icon */
.btn-icon {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.btn-icon.btn-lg {
	width: 48px;
}

.btn-icon {
	width: 36px;
}

.btn-icon.btn-sm {
	width: 30px;
}

.btn-icon.btn-xs {
	width: 22px;
}

/** Multi-line button bars with vertical spaces between buttons */
.btn-responsive-toolbar {
	margin-left: 0;
	margin-bottom: 3px;
}

.btn-responsive-toolbar > .btn,
.btn-responsive-toolbar > .btn-group,
.btn-responsive-toolbar > .input-group {
	float: none;
	margin: 10px 5px 0 0;
}

/*btn performanceManager*/
.property-content > .btn {
	margin: 10px 5px 0 0;
}

/** Buttons where the content may wrap */
.btn.btn-wrap {
	white-space: normal;
}

/** Big buttons. */
.btn.btn-headline {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}

.btn.btn-headline i[class^="icon-"],
.btn.btn-headline span[class^="icon-"] {
	font-size: 32px;
	float: left;
	margin-right: 5px;
	margin-top: 1px;
	width: 32px;
}

.btn.btn-headline.no-text i[class^="icon-"],
.btn.btn-headline.no-text span[class^="icon-"] {
	margin-right: 0;
	float: none;
}

.btn.btn-headline small {
	display: block;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	white-space: nowrap;
	padding-left: 37px;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle,
.btn-default:focus, .btn-default.focus,
.btn-default:active:hover, .btn-default.active:hover, .open > .btn-default.dropdown-toggle:hover,
.btn-default:active:focus, .btn-default.active:focus, .open > .btn-default.dropdown-toggle:focus,
.btn-default:active.focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle.focus, .btn-default:hover {
	color: $btn-default-inverse-color;
	background-color: $btn-default-inverse-bg;
	border-color: $btn-default--inverse-border;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default {
	&:hover {
		background-color: $btn-default--inverse-disabled;
	}
}

/**
 * Page header.
 */
.page-header {
	margin-top: 0;
	margin-bottom: 15px;
	border: 0 solid $orchid-dark;
	border-bottom-width: 3px;
	padding-bottom: 0;
}

.page-header h2 {
	margin-top: 0;
	color: $orchid-dark;
	font-weight: 700;
}

/**
 * Panels
 */
.panel dl.panel-body {
	margin-bottom: 0;
}

.panel dl.panel-body {
	margin-bottom: 0;
}

.panel thead {
	background-color: $light;
}

/*
* Panel heading + form-group
*/
.panel .panel-heading {
	.form-group {
		display: inline-flex;
		margin-top: -8px;
		label {
			margin: 6px;
			font-weight: 400;
		}
	}
}

/** Definition lists in panels */
@media (min-width: 410px) {
	.panel .dl-horizontal dt {
		width: 40%;
		text-align: left;
		clear: left;
		float: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.panel .dl-horizontal dd {
		width: 56%;
		margin-left: 44%;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 768px) {
	.dl-horizontal dd {
		margin-bottom: 5px;
	}
}

/**
 * Tables
 */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(0, 0, 0, 0.02);
}

.table-vertical-middle > thead > tr > td,
.table-vertical-middle > thead > tr > th,
.table-vertical-middle > tbody > tr > td,
.table-vertical-middle > tbody > tr > th {
	vertical-align: middle;
}

/**
 * Forms
 */

/* Disabled select options */
select option[disabled] {
	color: lighten($input-color, 30%);
}

/* "*" displayed in label for required input */
.form-group.required .control-label:before,
.form-vertical .form-group.required .control-label:after {
	color: $brand-danger;
	content: "*";
	font-family: Courier New, Courier, serif;
	font-size: 24px;
	line-height: 10px;
	margin-right: 3px;
	position: relative;
	top: 5px;
}

.form-vertical .form-group.required .control-label:before {
	content: "";
}

.form-actions {
	margin-top: 10px;
	background-image: linear-gradient(to top, $light 0%, $body-bg 100%);
	border-top: 5px solid $gray-blue-light;
	padding: 10px;
}

/* invalid fields */
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
	color: $brand-danger;
	border-color: darken($brand-danger, 8%);
	box-shadow: 0 0 0 2px lighten($brand-danger, 20%);
}

.label-block {
	display: block;
}

[datepicker-popup-wrap] {
	padding: 5px;
}

[datepicker-popup-wrap] button {
	width: 100%;
}

.inline-time-picker {
	display: inline-table;
	vertical-align: middle;
}

.form-control.form-control-inline {
	width: auto;
	display: inline-block;
}

/* General select */
select option[value=""] {
	font-style: italic;
	color: $text-color;
}

/* Input group with width 100% */
.input-group.input-group-block {
	width: 100%;
}

/* Input group addon containing a select */
.input-group .input-group-addon.input-group-addon-select {
	width: auto;
	padding: 0;
	border: none;
}

.input-group .input-group-addon.input-group-addon-select select {
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

fieldset legend {
	&.h1, &.h2, &.h3, &.h4 {
		border-color: $orchid-dark;
		margin-bottom: 5px;
		padding-bottom: 7px;
	}
}

/**
 * datepicker.
 */
.uib-daypicker, .uib-monthpicker, .uib-yearpicker {
	.btn {
		&.btn-info span {
			color: $light;
		}
		border-radius: 0;
		&.active, .active {
			span, .text-info {
				color: $light;
			}
		}
	}
}

/**
 * Print.
 */
@media print {
	a[href]:after {
		content: "";
	}

	a[href^="https://"]:after,
	a[href^="http://"]:after,
	a[href^="ftp://"]:after,
	a[href^="mailto://"]:after {
		content: " (" attr(href) ")";
	}

	/**
	 * Page breaks.
	 */
	.page-break-before {
		page-break-before: always;
	}

	.page-break-after {
		page-break-after: always;
	}

	* {
		overflow: hidden; /* A hack to have page breaks work properly in Google Chrome... */
	}

	#pp-cfp-root {
		display: none;
	}
}

//Components Bootstrap
//Panel
.panel-heading {
	font-size: 16px;
	font-weight: 300;
	span.panel-heading-border {
		border-bottom: 2px solid $brand-primary;
		margin: 5px -16px -6px;
		padding: 16px 25px 11px 20px;
		&.text-danger {
			border-bottom: 2px solid $state-danger-text;
		}
	}
}

//modal
.modal-header {
	background: $brand-info;
	color: $light;
	border-radius: 5px 5px 0 0;
	> * {
		color: $light;
	}
	h4.modal-title {
		font-weight: 300;
	}
	.close {
		opacity: 0.5;
		margin-right: 10px;
	}
}