<rbs-field-text property="href" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Link', 'href'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker property="website" 
	label="{{ i18nAttr(propertyKey('Project_Library_Link', 'website'), ['ucf']) }}"
	accepted-model="Project_Library_WebSite">
</rbs-field-picker>

<rbs-field-text property="name" 
	label="{{ i18nAttr(propertyKey('Project_Library_Link', 'name'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="language" 
	label="{{ i18nAttr(propertyKey('Project_Library_Link', 'language'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker-multiple property="documents" 
	label="{{ i18nAttr(propertyKey('Project_Library_Link', 'documents'), ['ucf']) }}"
	accepted-model="">
</rbs-field-picker-multiple>