<div class="row">
	<div data-rbs-aside-column="">
		<rbs-aside template="Document/Rbs/User/Profile/aside.twig"></rbs-aside>
	</div>

	<div data-rbs-main-column="">
		<form class="form-horizontal" novalidate data-ng-submit="saveProfile()" name="form" data-ng-controller="Rbs_User_Profile_Controller">
			<rbs-page-header title="{{ i18nAttr('m.rbs.user.admin.profile', ['ucf']) }}"></rbs-page-header>

			<fieldset>
				<legend class="h4">{{ i18n('m.rbs.user.admin.profile_personnal_info', ['ucf']) }}</legend>

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_avatar', ['ucf']) }}">
					{#<input type="text" id="avatar" class="form-control" name="avatar" ng-model="user.profile.avatar"/>#}
					<p class="form-control-static" >{{ i18n('m.rbs.user.admin.profile_gravatar_help', ['ucf']) | raw }}</p>
				</rbs-field>
			</fieldset>

			<fieldset>
				<legend class="h4">{{ i18n('m.rbs.user.admin.profile_internationalization', ['ucf']) }}</legend>

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_lcid', ['ucf']) }}">
					<select id="LCID" class="form-control" data-ng-model="user.profile.LCID"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Ua_UISupportedLCIDs"
						data-ng-options="item.value as item.label for item in pxCollection"></select>
					<span class="help-block">
						<span class="label label-danger">{{ i18n('m.rbs.ua.common.warning', ['ucf']) }}</span>
						{{ i18n('m.rbs.ua.common.profile_lcid_warning', ['ucf']) }}
					</span>
				</rbs-field>

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_timezone', ['ucf']) }}">
					<div data-rbs-form-simple-filter="" data-filter="tzFilter" style="clear:none;"></div>
					<select id="timeZone" class="form-control" size="10" data-ng-model="user.profile.TimeZone"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Collection_TimeZones"
						data-collection-filter="(= tzFilter =)" data-ng-options="item.value as item.label for item in pxCollection"></select>
				</rbs-field>
			</fieldset>

			<fieldset>
				<legend class="h4">{{ i18n('m.rbs.user.admin.profile_notification', ['ucf']) }}</legend>
				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_notification_sending_management', ['ucf']) }}">
					<div class="btn-group">
						<button type="button" class="btn btn-default" data-ng-class="{active: notificationMailMode == 'no'}"
							data-ng-click="setNotificationMailMode('no')">
							{{ i18n('m.rbs.user.admin.profile_notification_no_email', ['ucf']) }}
						</button>
						<button type="button" class="btn btn-default" data-ng-class="{active: notificationMailMode == 'immediately'}"
							data-ng-click="setNotificationMailMode('immediately')">
							{{ i18n('m.rbs.user.admin.profile_notification_immediately', ['ucf']) }}
						</button>
						<button type="button" class="btn btn-default" data-ng-class="{active: notificationMailMode == 'timeInterval'}"
							data-ng-click="setNotificationMailMode('timeInterval')">
							{{ i18n('m.rbs.user.admin.profile_notification_with_time_interval', ['ucf']) }}
						</button>
					</div>
				</rbs-field>

				<div data-ng-if="notificationMailMode == 'timeInterval'">
					<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_notification_time_interval', ['ucf']) }}">
						<div data-rbs-date-interval="" data-ng-model="user.profile.notificationMailInterval" data-show-hours="23" data-show-days="10">
						</div>
					</rbs-field>
					<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_notification_time_interval_at', ['ucf']) }}">
						<input class="form-control" type="text" data-ng-model="user.profile.notificationMailAt"
								data-ng-pattern="timePattern"
								data-ng-disabled="notificationMailMode != 'timeInterval'" placeholder="HH:MM"/>
					</rbs-field>
					<span class="help-block">
						{{ i18n('m.rbs.user.admin.profile_notification_time_interval_helper', ['ucf']) | raw }}
					</span>
				</div>
			</fieldset>

			<fieldset>
				<legend class="h4">{{ i18n('m.rbs.user.admin.profile_lists', ['ucf']) }}</legend>

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_pagingSize', ['ucf']) }}">
					<select id="pagingSize" class="form-control" data-ng-model="user.profile.pagingSize"
						data-ng-options="size for size in PaginationPageSizes"></select>
				</rbs-field>

				<rbs-field label="{{ i18nAttr('m.rbs.user.admin.profile_documentListViewMode', ['ucf']) }}">
					<div class="btn-group">
						<button type="button" class="btn btn-default"
							data-ng-class="{'active':user.profile.documentListViewMode == 'list'}"
							data-ng-click="user.profile.documentListViewMode = 'list'">
							<i class="icon-list"></i> {{ i18n('m.rbs.user.admin.profile_list', ['ucf']) }}
						</button>
						<button type="button" class="btn btn-default"
							data-ng-class="{'active':user.profile.documentListViewMode == 'grid'}"
							data-ng-click="user.profile.documentListViewMode = 'grid'">
							<i class="icon-th-large"></i> {{ i18n('m.rbs.user.admin.profile_grid', ['ucf']) }}
						</button>
					</div>
				</rbs-field>
			</fieldset>

			<div class="form-actions">
				<button disabled="disabled" class="btn btn-default btn-headline" type="button" data-ng-click="revert($event)"
					data-ng-disabled="isUnchanged()">
					<i class="icon-undo"></i>{{ i18n('m.rbs.admin.admin.btnRevert', ['ucf']) | raw }}
				</button>
				<button class="btn btn-headline btn-primary" type="submit"
					data-ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}"
					data-ng-disabled="form.$invalid || isUnchanged()">
					<i class="icon-white" data-ng-class="{'icon-spinner': saveProgress.running, 'icon-ok': ! saveProgress.running, 'icon-remove': saveProgress.error}"></i>
					{{ i18n('m.rbs.admin.admin.btnSave', ['ucf']) | raw }}
				</button>
			</div>
		</form>
	</div>

</div>