<fieldset>
	<legend class="h4">{{ i18n('m.rbs.ua.common.profile_common', ['ucf']) }}</legend>

	<div data-px-label="{{ i18nAttr('m.rbs.ua.common.profile_lcid', ['ucf']) }}">
		<select data-px-field="LCID" class="form-control" data-ng-model="user.settings.LCID"
			data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Ua_UISupportedLCIDs"
			data-ng-options="item.value as item.label for item in pxCollection"></select>
		<span class="help-block">
			<span class="label label-danger">{{ i18n('m.rbs.ua.common.warning', ['ucf']) }}</span>
			{{ i18n('m.rbs.ua.common.profile_lcid_warning', ['ucf']) }}
		</span>
	</div>

	<div data-px-label="{{ i18nAttr('m.rbs.ua.common.profile_timezone', ['ucf']) }}">
		<select data-px-field="timeZone" class="form-control" data-ng-model="user.settings.TimeZone"
			data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Generic_Collection_TimeZones"
			data-ng-options="item.value as item.label for item in pxCollection"></select>
	</div>
</fieldset>