<form class="form-horizontal" data-ng-submit="save()" name="form" data-ng-controller="ProximisProfileController">
	<div class="page-header">
		<h2>{{ i18n('m.rbs.ua.common.profile', ['ucf']) }}</h2>
	</div>

	{% include '@Rbs_Ua/Proximis/views/profile/part-common.twig' %}

	{% include '@Rbs_Ua/Proximis/views/profile/part-footer.twig' %}
</form>