<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Mail_Mail">
	<div class="col-md-12">
		<button data-ng-if="!document.isVariation" type="button" class="btn btn-default pull-right" style="margin-left: 5px;"
			data-ng-click="addMailVariation()">
			<i class="icon-mail-reply-all"></i> {{ i18n('m.rbs.mail.admin.mail_add_mail_variation', ['ucf']) }}
		</button>
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Mail_Mail'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}

		<div data-rbs-structure-editor-aside="" id="rbsWebsitePageBlockPropertiesAside" style="display: none;"></div>

		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-mail-mail-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				{% include '@Rbs_Mail/Documents/Mail/properties.twig' %}

			</fieldset>

			<fieldset data-rbs-editor-section="content"
				data-editor-section-label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'editableContent'), ['ucf']) }}">
				<rbs-field-document-select label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'template'), ['ucf']) }}"
					required="true" property="template" ng-model="document.template"
					empty-label="{{ i18nAttr('m.rbs.mail.admin.mail_empty_mailtemplate', ['ucf']) }}"
					accepted-model="Rbs_Theme_Template" filter-property="mailSuitable" filter-value="1">
				</rbs-field-document-select>

				<hr />

				<div data-rbs-tip="Rbs_MailEditor_Markdown">
					{{ i18n('m.rbs.admin.admin.rbs_pageeditor_markdown') | raw }}
				</div>

				<rbs-structure-editor property="editableContent" name="contents" ng-model="document.editableContent"
					template="(= template =)" substitution-variables="(= document.substitutions =)">
				</rbs-structure-editor>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>