<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.mail.admin.mail_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Mail_Mail"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list model="Rbs_Mail_Mail" activable="true" correction="true" filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-column name="isVariation" width="40px">
				(= doc.isVariation | rbsBoolean =)
			</rbs-column>
			<rbs-column name="websites">
				<span data-ng-repeat="website in doc.websites">(= website.label =)<span data-ng-if="! $last">, </span></span>
			</rbs-column>
		</rbs-document-list>
	</div>
</div>