<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Mail_Mail">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Mail_Mail'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}

		<div data-rbs-structure-editor-aside="" id="rbsWebsitePageBlockPropertiesAside" style="display: none;"></div>

		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit="" data-rbs-document-editor-translate=""
			data-rbs-document-editor-rbs-mail-mail-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="subject" label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'subject'), ['ucf']) }}"
					required="true">
					<div class="input-group">
						<input type="text" class="form-control" data-ng-model="document.subject" />
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								{{ i18n('m.rbs.mail.documents.mail_substitutions', ['ucf']) }} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li data-ng-repeat="(variable, label) in document.substitutions">
									<a href="" data-ng-click="addSubstitutionVariable(variable)">
										(= label =) <small data-ng-show="label != variable">{(= variable =)}</small>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</rbs-field>



				<rbs-field-text property="senderName" 
					label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderName'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-text property="senderMail" 
					label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderMail'), ['ucf']) }}">
				</rbs-field-text>
			</fieldset>

			<fieldset data-rbs-editor-section="content"
				data-editor-section-label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'editableContent'), ['ucf']) }}">
				<div data-rbs-tip="Rbs_MailEditor_Markdown">
					{{ i18n('m.rbs.admin.admin.rbs_pageeditor_markdown') | raw }}
				</div>

				<rbs-structure-editor property="editableContent" name="contents" ng-model="document.editableContent"
					template="(= template =)" substitution-variables="(= document.substitutions =)">
				</rbs-structure-editor>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>