{% use 'Rbs_Simpleform/form-templates.twig' %}
<form name="addressForm" class="form-horizontal" data-default-address-name="{{ i18nAttr('m.rbs.geo.front.default_address_name', ['ucf']) }}">
	{% set leftColumnElementClass = 'col-sm-4 col-md-3' %}
	{% set rightColumnElementClass = 'col-sm-8 col-md-9' %}

	<div class="form-group" data-ng-if="manageName === 'required'" data-ng-class="{
				'has-error': addressForm.addressName.$invalid,
				'has-success': (addressForm.$submitted || addressForm.addressName.$touched) && addressForm.addressName.$valid
			}">
		<label for="rbs-geo-address-name-(= blockId =)" class="{{ leftColumnElementClass }} control-label">
			{{ block('rbsSimpleformRequiredSymbol') }}
			{{ i18n('m.rbs.geo.front.address_name', ['ucf']) }}
		</label>
		<div class="{{ rightColumnElementClass }}">
			<input type="text" id="rbs-geo-address-name-(= blockId =)" required="required" data-rbs-geo-address-unique-name=""
				data-ng-model="address.common.name" class="form-control" name="addressName" />
			<div ng-messages="addressForm.addressName.$error">
				<div ng-message="geoAddressUniqueName" class="text-danger">
					{{ i18n('m.rbs.geo.front.invalid_address_name', ['ucf']) }}
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="rbs-geo-address-country-(= blockId =)" class="{{ leftColumnElementClass }} control-label">
			{{ block('rbsSimpleformRequiredSymbol') }}
			{{ i18n('m.rbs.geo.front.country', ['ucf']) }}
		</label>
		<div class="{{ rightColumnElementClass }}">
			<div data-ng-show="countries.length == 1" class="form-control-static">
				(= countryTitle(address.fields.countryCode) =)
			</div>
			<select data-ng-show="countries.length > 1" id="rbs-geo-address-country-(= blockId =)"
				required="required" data-ng-model="address.fields.countryCode" class="form-control" name="country"
				data-ng-options="country.common.code as country.common.title for country in countries"
				data-ng-class="{
						'has-error': addressForm.country.$invalid,
						'has-success': (addressForm.$submitted || addressForm.country.$touched) && addressForm.country.$valid
					}">
			</select>
		</div>
	</div>
	<div class="form-group" data-ng-repeat="fieldDef in fieldsDef" data-ng-form="innerForm" data-ng-class="{
				'has-error': (innerForm.$submitted || innerForm.field.$touched) && innerForm.field.$invalid,
				'has-success': (innerForm.$submitted || innerForm.field.$touched) && innerForm.field.$valid
			}">
		<label for="(= fieldDef.id =)" class="{{ leftColumnElementClass }} control-label">
			<span data-ng-if="fieldDef.required">{{ block('rbsSimpleformRequiredSymbol') }}</span>
			(= fieldDef.title =)
		</label>
		<div class="{{ rightColumnElementClass }}">
			<select data-ng-if="fieldDef.values" id="(= fieldDef.id =)" name="field" class="form-control"
				data-ng-required="fieldDef.required" data-ng-model="address.fields[fieldDef.name]"
				data-ng-options="key as v.title for (key, v) in fieldDef.values">
			</select>
			<input data-ng-if="!fieldDef.values && fieldDef.match" id="(= fieldDef.id =)" name="field"
				class="form-control" data-ng-required="fieldDef.required" data-ng-model="address.fields[fieldDef.name]"
				type="text" data-ng-pattern="fieldDef.match" />
			<input data-ng-if="!fieldDef.values && !fieldDef.match" id="(= fieldDef.id =)" name="field"
				class="form-control" data-ng-required="fieldDef.required" data-ng-model="address.fields[fieldDef.name]"
				type="text" />
			<div data-ng-messages="innerForm.field.$error" data-ng-if="innerForm.$submitted || innerForm.field.$touched"
				class="text-danger">
				<div data-ng-message="required">
					{{ i18n('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }}
				</div>
				<div data-ng-message="pattern">
					<span data-ng-hide="fieldDef.matchErrorMessage">
						{{ i18n('c.constraints.notmatch', ['ucf'])|replace({'%pattern%': '(= fieldDef.match =)'}) }}
					</span>
					<span data-ng-show="fieldDef.matchErrorMessage">
						(= fieldDef.matchErrorMessage =)
					</span>{{ i18n('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }}
				</div>
			</div>
		</div>
	</div>

	<div data-ng-if="manageName === 'optional'">
		<div class="form-group">
			<div class="col-sm-offset-4 col-md-offset-3 {{ rightColumnElementClass }}">
				<div class="checkbox">
					<label>
						<input type="checkbox" data-ng-model="address.common.useName" />
						{{ i18n('m.rbs.geo.front.save_address', ['ucf']) }}
					</label>
				</div>
			</div>
		</div>
		<div class="form-group" data-ng-if="address.common.useName" data-ng-class="{
					'has-error': addressForm.addressName.$dirty && addressForm.addressName.$invalid,
					'has-success': (addressForm.$submitted || addressForm.addressName.$touched) && addressForm.addressName.$valid
				}">
			<label for="rbs-geo-address-name-(= blockId =)" class="{{ leftColumnElementClass }} control-label">
				{{ block('rbsSimpleformRequiredSymbol') }}
				{{ i18n('m.rbs.geo.front.address_name', ['ucf']) }}
			</label>
			<div class="{{ rightColumnElementClass }}">
				<input type="text" id="rbs-geo-address-name-(= blockId =)" required="required" data-rbs-geo-address-unique-name=""
					data-ng-model="address.common.name" class="form-control" name="addressName" />
				<div ng-messages="addressForm.addressName.$error">
					<div ng-message="geoAddressUniqueName" class="text-danger">
						{{ i18n('m.rbs.geo.front.invalid_address_name', ['ucf']) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</form>