<div class="input-group">
	<div class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			<img data-ng-if="currentCfg" class="flag" data-ng-class="'flag-' + currentCfg[0] | lowercase"
				src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="(= currentCfg[0] =)"
				title="(= currentCfg[2] =)"> <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li data-ng-repeat="cfg in regionNumberConfig track by $index">
				<a href="" data-ng-click="setCurrentCfg(cfg)">
				<img class="flag" data-ng-class="'flag-' + cfg[0] | lowercase"
					src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="(= cfg[2] =)"
					title="" />
					(= cfg[2] =)
				</a>
			</li>
		</ul>
	</div>
	<input type="tel" class="form-control" placeholder="(= getCurrentPlaceHolder() =)"
		data-ng-model="rawNumber" data-ng-disabled="!currentCfg"
		data-ng-blur="validateRawNumber()" data-ng-change="validateRawNumber(true)"
		data-ng-model-options="{getterSetter: false }"
	/>
</div>