<div data-rbs-project-library-work-alias-editor="">
	<rbs-field-text property="label" required="true"
		label="{{ i18nAttr(propertyKey('Project_Library_ContributorAlias', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-boolean property="civilName"
		label="{{ i18nAttr(propertyKey('Project_Library_ContributorAlias', 'civilName'), ['ucf']) }}">
	</rbs-field-boolean>
</div>