<div class="dashboard">
	<h1 class="no-top-margin">Bienvenue sur Familinet !</h1>
	<p>
		Familinet est un extranet familial.
	</p>
	<p>
		Pour plus d'information, visitez <a href="https://framagit.org/Darathor/familinet" onclick="window.open(this.href); return false;"
			hreflang="fr">le dépot du projet sur Framagit</a>.
	</p>
</div>