@CHARSET "UTF-8";

.dashboard .indicators {
	margin: 10px 0;
}

.dashboard .small-indicators {
	margin: 10px 0;
	font-size: 0;
}

.dashboard .small-indicators span {
	background: $body-bg;
	font-size: 10pt;
	color: $light;
	text-shadow: 0 0 1px $gray-blue;
	display: inline-block;
	margin-left: 1px;
	margin-bottom: 1px;
	padding: 10px 14px;
	font-weight: bold;
	vertical-align: top;
	cursor: pointer;
	height: 62px;
}
.dashboard .small-indicators span:after {
	content: "";
	clear: both;
}

.dashboard .small-indicators span.settings {
	background: $body-bg;
	color: $gray-blue-light;
}

.dashboard .small-indicators span div {
	margin-left: 46px;
	text-align: right;
}
.dashboard .small-indicators span div.value {
	font-size: 16pt;
}

.dashboard .small-indicators span > i {
	font-size: 30pt;
	float: left;
}
.dashboard .small-indicators span > i:before {
	cursor: pointer;
}

.dashboard .indicator {
	border-radius: 3px;
	min-height: 170px;
	position: relative;
	color: $gray-blue-light;
	background: $body-bg;
	border-bottom: 10px solid;
}

.dashboard .indicator-red {
	border-color: $brand-danger;
	/*background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	color: white;*/
}

.dashboard .indicator-blue {
	border-color: $brand-primary;
	/*background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	color: white;*/
}

.dashboard .indicator-green {
	border-color: $brand-success;
	/*background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	color: white;*/
}

.dashboard .indicator-inner {
	padding: 10px;

}

.dashboard .indicator .value {
	font-size: 60px;
	/*text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);*/
	line-height: 60px;
	margin-right: 15px;
}

.dashboard .indicator .title {
	font-size: 24px;
	/*text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);*/
	line-height: 24px;
	padding-top: 6px;
}

.dashboard .indicator .message {
	clear: both;
	font-size: 16px;
	/*text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);*/
	line-height: 20px;
	text-align: center;
	padding: 10px;
	border-top: 1px solid $gray-blue-light;
	margin-top: 10px;
	bottom: 0;
	position: absolute;
}

.dashboard .social-my-status {
	line-height: 40px;
	font-size: 24px;
	height: 40px;
	padding: 5px 10px;
	display: block;
	width: 570px;
}



.dashboard .social-my-status:after {
	border-bottom: 6px solid $light;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -6px;
}
.dashboard .social-my-status:before {
	border-bottom: 7px solid $gray-blue;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 9px;
	position: absolute;
	top: -7px;
}