<header class="clearfix">
	<button data-ng-click="closeEmbeddedModal()" class="close pull-right" style="margin-left:30px;" type="button">×</button>
	<h3><i class="icon-exclamation-sign"></i> {{ i18n('m.rbs.admin.admin.dashboard_notifications', ['ucf']) }}</h3>
</header>

<div class="btn-group">
	<button type="button" class="btn btn-default" data-ng-class="{active: notificationType == 'new'}" data-ng-click="notificationType = 'new'">
		{{ i18n('m.rbs.admin.admin.dashboard_notification_new', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-default" data-ng-class="{active: notificationType == 'read'}" data-ng-click="notificationType = 'read'">
		{{ i18n('m.rbs.admin.admin.dashboard_notification_read', ['ucf']) }}
	</button>
</div>

<rbs-document-list model="Rbs_Notification_Notification" load-query="notificationQuery" selectable="false"
	extend="notificationList" actions="" modification-date="false">
	<rbs-column name="message">
		(= doc.message =)
		<div class="pull-right">
			<button data-ng-if="extend.getNotificationType() === 'new'" type="button" class="btn btn-sm btn-success"
				data-ng-click="extend.readNotification(doc)" data-ng-disabled="doc.disableButton"><i class="icon-ok"></i></button>
			<button type="button" class="btn btn-sm btn-danger" data-ng-click="extend.deleteNotification(doc)"
				data-ng-disabled="doc.disableButton"><i class="icon-ban-circle"></i></button>
		</div>
	</rbs-column>
	<rbs-column name="creationDate" format="date"></rbs-column>
</rbs-document-list>
