<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Simpleform_Form">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Simpleform_Form'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-simpleform-form-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">
				{% include '@Rbs_Simpleform/Documents/Form/properties.twig' %}
			</fieldset>

			<fieldset data-rbs-editor-section="fields"
				data-editor-section-label="{{ i18nAttr('m.rbs.simpleform.admin.field_list', ['ucf']) }}">

				<rbs-field-boolean property="useCaptcha"
					label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'useCaptcha'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.simpleform.admin.form_usecaptcha_help', ['ucf']) }}</span>
				</rbs-field-boolean>

				<hr />

				<h3>{{ i18n(propertyKey('Rbs_Simpleform_Form', 'fields'), ['ucf']) }}</h3>
				<rbs-inline-array inline-array="document.fields" new-model="Rbs_Simpleform_FormField"
					data-ref-lcid="document.refLCID">
				</rbs-inline-array>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>

		<div data-rbs-document-preview-form="document" data-language="language"></div>
	</div>
</div>