<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>{{ i18n('m.project.library.webapp.genre_name', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td>
				<div class="visible-hover-container">
					<a href="" data-ng-href="(= :: document|appURL =)">(= :: document.label =)</a>
					<a href="" data-ng-href="(= :: document | appURL:'edit' =)" class="btn btn-default btn-xs btn-icon pull-right visible-hover"
						title="{{ i18nAttr('m.project.familinet.webapp.action_edit', ['ucf']) }}">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>