<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.genre_list', ['ucf']) }}" data-allow-creation="true"
	data-model-name="Project_Library_Genre" data-content-template-url="Project_Library/views/genre/genre-list-content.twig">
</div>