<div data-app-document-editor="" data-model="Project_Library_Genre">
	<div class="page-header">
		<h1>{{ i18n('m.project.familinet.webapp.edition', ['ucf']) }} <small>(= document.label =)</small></h1>
	</div>

	<form class="form-horizontal" data-ng-submit="submit()" data-app-document-edit="">
		<div data-ng-include="'Project_Library/views/genre/genre-properties.twig'"></div>

		<div data-app-document-editor-footer="" data-disable-delete="true"></div>
	</form>
</div>