<span data-ng-if="::invoice">
	<span data-ng-if="::invoice.cancelled" class="glyphicon glyphicon-remove text-danger"
		title="{{ i18nAttr('m.project.accounting.webapp.status_cancelled', ['ucf']) }}"></span>
	<span data-ng-if="::invoice.hidden" class="glyphicon glyphicon-eye-close text-muted"
		title="{{ i18nAttr('m.project.accounting.webapp.hidden_tooltip', ['ucf']) }}"></span>
	<a href="" data-ng-href="(= :: invoice|appURL =)">(= :: invoice.label =)</a>
	<span class="label label-default" title="(= invoice.participantsLegend =)">
		(= invoice.participants.length =)
		<span class="glyphicon glyphicon-user"></span>
	</span>
</span>