<span data-ng-if="::shop">
	<img data-ng-if="::shop.adminthumbnail" data-ng-src="(= :: shop.adminthumbnail =)" alt="" width="16px" height="16px" />
	<a href="" data-ng-href="(= :: shop|appURL =)">(= :: shop.label =)</a>
</span>