<span data-ng-if="::transfer">
	<span data-ng-if="::transfer.cancelled" class="glyphicon glyphicon-remove text-danger"
		title="{{ i18nAttr('m.project.accounting.webapp.status_cancelled', ['ucf']) }}"></span>
	<span data-ng-if="::transfer.hidden" class="glyphicon glyphicon-eye-close text-muted"
		title="{{ i18n('m.project.accounting.webapp.hidden_tooltip', ['ucf']) }}"></span>
	<a href="" data-ng-href="(= :: transfer|appURL =)">(= :: transfer.label =)</a>
</span>