<div class="row" data-ng-controller="Rbs_User_Group_GroupUsersController">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr('m.rbs.user.admin.user_list', ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-full-width="">
		<form novalidate="" class="form-horizontal">
			<rbs-document-list model="Rbs_User_User" load-query="groupUsersQuery" extend="groupUsersList" actions="" reload="refresh()">
				<rbs-quick-actions></rbs-quick-actions>
				<rbs-action name="removeFromGroup" label="{{ i18nAttr('m.rbs.user.admin.group_users_remove_from_group', ['ucf']) }}"></rbs-action>
				<rbs-column name="email" primary="true"></rbs-column>
				<rbs-column name="login"></rbs-column>
			</rbs-document-list>

			<hr />

			<h4>{{ i18n('m.rbs.user.admin.add_users_in_group', ['ucf']) }}</h4>

			<div class="control-group property">
				<label class="control-label">{{ i18n('m.rbs.user.admin.user_list', ['ucf']) }}</label>
				<div class="controls">
					<rbs-document-picker-multiple ng-model="data.usersToAdd" accepted-model="Rbs_User_User"
						property-label="{{ i18nAttr('m.rbs.user.admin.users_in_group', ['ucf']) }}"
						selector-title="{{ i18nAttr('m.rbs.user.admin.users_in_group_picker_title', ['ucf']) }}"
						master-label="(= document.label =)" disable-reordering="true">
					</rbs-document-picker-multiple>

					<div class="btn-toolbar margin-half-top">
						<button type="button" class="btn btn-primary" data-ng-click="addUsersFromPicker()"
							data-ng-disabled="disableAdd">{{ i18n('m.rbs.admin.admin.add', ['ucf']) }}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>