<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_User_Group', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="realm" label="{{ i18nAttr(propertyKey('Rbs_User_Group', 'realm'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="identifier"
	label="{{ i18nAttr(propertyKey('Rbs_User_Group', 'identifier'), ['ucf']) }}">
</rbs-field-text>