<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.user.admin.user_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_User_User"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list model="Rbs_User_User" activable="true" modification-date="false" filter-collection="filter">
			<rbs-quick-actions>
				<a href="" data-ng-href="(= doc | rbsURL : 'applications' =)">
					{{ i18n('m.rbs.user.admin.applications') }}<i class="icon-certificate"></i>
				</a>
				<a href="" data-ng-href="(= doc | rbsURL : 'permissions' =)">
					{{ i18n('m.rbs.user.admin.permissions') }} <i class="icon-shield"></i>
				</a>
				[action default]
			</rbs-quick-actions>
			<rbs-column name="email" primary="true"></rbs-column>
			<rbs-column name="login"></rbs-column>
		</rbs-document-list>
	</div>
</div>