<div data-ng-controller="Rbs_User_User_PublicProfileController">
	<rbs-page-header sub-title="{{ i18nAttr('m.rbs.user.admin.public_profile_sub_title', ['ucf']) }}"></rbs-page-header>

	<div class="panel panel-default">
		<div class="panel-heading">
			<rbs-avatar ng-if="document.id" size="128" user-id="(= document.id =)"></rbs-avatar>
			<h4>(= document.label =) <small data-ng-if="document.login">@(= document.login =)</small></h4>
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal no-bottom-margin">
				<dt>{{ i18n(propertyKey('Rbs_User_User', 'label'), ['ucf']) }}</dt>
				<dd>(= document.label =)</dd>
				<dt>{{ i18n(propertyKey('Rbs_User_User', 'email'), ['ucf']) }}</dt>
				<dd>(= document.email =)</dd>
				<dt>{{ i18n(propertyKey('Rbs_User_User', 'active'), ['ucf']) }}</dt>
				<dd>(= document.active | rbsBoolean =)</dd>
			</dl>
		</div>
	</div>

	<h4>{{ i18n('m.rbs.user.admin.group_list', ['ucf']) }}</h4>
	<rbs-document-list model="Rbs_User_Group" modification-date="false" load-query="query" actions="">
		<rbs-column name="label" primary="true"></rbs-column>
		<rbs-column name="realm"></rbs-column>
		<rbs-quick-actions></rbs-quick-actions>
	</rbs-document-list>
</div>