<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.seo.ua.document_metas_modal_title', ['ucf'], {'documentName': '(= modalData.metas.common.label =)'}) | raw }}
	</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<form class="form-horizontal">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_rendering_mode', ['ucf']) }}">
				<div class="btn-group">
					<label class="btn btn-default" data-ng-model="modalData.metas.i18n.mode" data-uib-btn-radio="'auto'">
						{{ i18nAttr('m.rbs.seo.ua.rendering_mode_auto', ['ucf']) }}
					</label>
					<label class="btn btn-default" data-ng-model="modalData.metas.i18n.mode" data-uib-btn-radio="'manual'">
						{{ i18nAttr('m.rbs.seo.ua.rendering_mode_manual', ['ucf']) }}
					</label>
					<label class="btn btn-default" data-ng-model="modalData.metas.i18n.mode" data-uib-btn-radio="'none'">
						{{ i18nAttr('m.rbs.seo.ua.rendering_mode_none', ['ucf']) }}
					</label>
				</div>
			</div>
			<div data-ng-if="modalData.metas.i18n.mode == 'auto'">
				<fieldset>
					<p>{{ i18n('m.rbs.ua.common.main_data', ['ucf']) }}</p>
					{% block language %}
						<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_language', ['ucf']) }}">
							<div class="form-control-static">
								(= modalData.language.label =)
								<small data-ng-show="modalData.language.isRef">({{ i18nAttr('m.rbs.seo.ua.reference_language') }})</small>
							</div>
						</div>
					{% endblock language %}
					<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_title', ['ucf']) }}">
						<div class="form-control-static">(= modalData.metas.i18n.title =)</div>
					</div>
				</fieldset>
				<fieldset data-ng-repeat="metaGroup in modalData.defaultGroups">
					<p>(= metaGroup.label =)</p>
					<div data-ng-repeat="meta in metaGroup.metas">
						<div data-px-label="(= meta.label =)">
							<div class="form-control-static">(= meta.value =)</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div data-ng-if="modalData.metas.i18n.mode == 'manual'">
				<fieldset>
					<h5>{{ i18n('m.rbs.ua.common.main_data', ['ucf']) }}</h5>
					{{ block('language') }}
					<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_title', ['ucf']) }}">
						<div data-px-extended-text-field="" data-ng-model="modalData.metas.i18n.title"
							data-variables="modalData.variables"></div>
					</div>
				</fieldset>
				<fieldset data-ng-repeat="metaGroup in modalData.metas.i18n.metaGroups">
					<legend class="h4">
						<button class="btn btn-danger btn-icon btn-sm pull-right" data-ng-show="metaGroup._meta.id > 0"
							type="button" data-ng-click="removeGroup($index)" title="{{ i18n('m.rbs.seo.ua.remove_group', ['ucf']) }}">
							<span class="icon-trash"></span>
						</button>
						(= metaGroup.label =)
						<span class="clearfix"></span>
					</legend>
					<div data-ng-repeat="meta in metaGroup.metas">
						<div data-px-label="(= meta.label =)">
							<div data-px-extended-text-field="" data-ng-model="meta.value" data-variables="modalData.variables"></div>
						</div>
					</div>
				</fieldset>
				<div class="panel panel-default margin-top no-bottom-margin" data-px-panel-toggle="collapsed">
					<div class="panel-heading">
						{{ i18n('m.rbs.seo.ua.add_meta_groups', ['ucf']) }}
					</div>
					<div class="panel-body form-horizontal">
						<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.meta_groups', ['ucf']) }}">
							<div data-px-documents-selector="" data-ng-model="modalData.addGroupIds"
								data-accepted-models="{instanceOf: 'Rbs_Seo_MetaGroup'}"
								data-search-rest-service="Rbs_Seo_DocumentForSelector.search"
								data-load-rest-service="Rbs_Seo_DocumentForSelector.load">
							</div>
						</div>
						<div class="form-group no-bottom-margin">
							<div class="col-lg-offset-3 col-lg-9">
								<button type="button" class="btn btn-primary" data-ng-disabled="!modalData.addGroupIds.length" data-ng-click="addGroups()">
									{{ i18n('m.rbs.ua.common.add', ['ucf']) }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}</button>
		<button type="button" class="btn btn-primary" data-ng-click="save()">{{ i18n('m.rbs.ua.common.save', ['ucf']) }}</button>
	</div>
</div>