<div class="row">
	<div class="not-editable-zone col-md-2">title</div>
	<div class="col-md-8"></div>
	<div class="not-editable-zone col-md-2">accountShort</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-12">mainMenu</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-9">thread</div>
	<div class="not-editable-zone col-md-3">search</div>
</div>
<div class="row">
	<div data-editable-zone-id="mainContent" class="col-md-12"></div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-12">footer</div>
</div>
