<!doctype html>
<html data-ng-app="RbsChangeApp">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- headSeo -->
{% for headline in pageResult.head %}
	{{ headline|raw }}
{% endfor %}
	<link rel="icon" type="image/png" href="{{ resourceURL('Theme/Project/Project/img/favicon.png') }}" />
	<!-- cssHead -->
	<script type="text/javascript">
		window.__change = {{ pageResult.getJsonObjects() | json_encode | raw }};
	</script>
</head>
<body class="container-fluid">
	<header id="header">
		<div id="header-top" class="main-grad">
			<div class="row">
				<div class="col-sm-6">
					<!-- title -->
				</div>
				<div class="col-sm-6">
					<!-- accountShort -->
				</div>
			</div>
		</div>
		<div>
			<div id="header-bottom">
				<!-- mainMenu -->
			</div>
		</div>
	</header>
	<div id="content">
		<section id="content-top">
			<div class="row">
				<div class="col-sm-9 col-md-9"><!-- thread --></div>
				<div class="col-sm-3 col-md-3"><!-- search --></div>
			</div>
		</section>
		<section id="content-middle">
			<main id="content-column">
				<!-- mainContent -->
			</main>
		</section>
	</div>
	<hr />
	<footer id="footer">
		<!-- footer -->
	</footer>
	<!-- jsFooter -->
	<script type="text/javascript" src="{{ resourceURL('Theme/Rbs/Base/js/finalize-change-app.js') }}"></script>
</body>
</html>