<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.user_list', ['ucf']) }}"
	data-model-name="Rbs_User_User" data-content-template-url="Project_Library/views/user/user-list-content.twig"
	data-static-filters="staticFilters" data-filter-properties="none" data-sort-property="login">
</div>