<div data-app-document-detail-header="document" data-readonly="true" data-title="(= :: document.pseudonym =)"></div>

<div class="row">
	<div class="col-lg-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.user_possessions', ['ucf']) }}"
			data-model-name="Project_Library_Possession" data-block-level="secondary"
			data-static-filters="possessionStaticFilters" data-columns="status,volumes,complete,owners,work,publication"
			data-content-template-url="Project_Library/views/user/user-possession-list-content.twig" data-compact="true"
			data-full-list-url="document | appURL:'possessions'" data-sort-desc="true" data-sort-property="creationDate"
			data-filter-properties="work.label">
		</div>
	</div>

	<div class="col-lg-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.user_readings', ['ucf']) }}"
			data-model-name="Project_Library_Reading" data-block-level="secondary"
			data-allow-creation="(= :: isCurrent ? 'true' : null =)"
			data-static-filters="readingStaticFilters" data-columns="work,volumesDetail,rating,beginDate,endDate,status"
			data-content-template-url="Project_Library/views/user/user-reading-list-content.twig"
			data-new-url-parameters="newSubDocumentUrlParameters" data-compact="true"
			data-full-list-url="document | appURL:'readings'" data-sort-desc="true" data-sort-property="beginDate"
			data-filter-properties="work.label">
		</div>
	</div>
</div>