<div data-app-document-detail-header="document" data-readonly="true"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.user_readings', ['ucf']) }}"
	data-model-name="Project_Library_Reading" data-block-level="secondary" data-allow-creation="true"
	data-static-filters="readingStaticFilters" data-columns="work,volumesDetail,rating,beginDate,endDate,status"
	data-content-template-url="Project_Library/views/user/user-reading-list-content.twig"
	data-new-url-parameters="newSubDocumentUrlParameters"
	data-sort-desc="true" data-sort-property="beginDate" data-filter-properties="work.label">
</div>