<div data-app-document-detail-header="document" data-readonly="true"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.user_possessions', ['ucf']) }}"
	data-model-name="Project_Library_Possession" data-block-level="secondary"
	data-static-filters="possessionStaticFilters" data-columns="status,volumes,complete,owners,work,publication"
	data-content-template-url="Project_Library/views/user/user-possession-list-content.twig"
	data-sort-desc="true" data-sort-property="id" data-filter-properties="work.label">
</div>