{% use '@Rbs_Base/Rbs_User/user-directives.twig' %}

{% block rbsUserAccountProfilesFieldTitle %}{% endblock rbsUserAccountProfilesFieldTitle %}
{% block rbsUserAccountProfilesFieldFirstName %}{% endblock rbsUserAccountProfilesFieldFirstName %}
{% block rbsUserAccountProfilesFieldLastName %}{% endblock rbsUserAccountProfilesFieldLastName %}
{% block rbsUserAccountProfilesFieldPhone %}{% endblock rbsUserAccountProfilesFieldPhone %}
{% block rbsUserAccountProfilesFieldBirthDate %}{% endblock rbsUserAccountProfilesFieldBirthDate %}
