
<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="subtitle"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'subtitle'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-integer property="year"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'year'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-integer property="endYear"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'endYear'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-picker-multiple property="genres"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'genres'), ['ucf']) }}"
	accepted-model="Project_Library_Genre">
</rbs-field-picker-multiple>

<rbs-field-text property="originalLanguage"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'originalLanguage'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker-multiple property="nationalities"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'nationalities'), ['ucf']) }}"
	accepted-model="Rbs_Geo_Country">
</rbs-field-picker-multiple>

<rbs-field-document-select label="{{ i18nAttr(propertyKey('Project_Library_Work', 'status'), ['ucf']) }}"
	property="workStatus" accepted-model="Project_Library_WorkStatus"
	ng-model="document.status">
</rbs-field-document-select>

<rbs-field-text property="audience"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'audience'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<rbs-field-picker-multiple property="visuals"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'visuals'), ['ucf']) }}"
	accepted-model="Rbs_Media_Image">
</rbs-field-picker-multiple>

<rbs-field-picker-multiple property="workGroups"
	label="{{ i18nAttr(propertyKey('Project_Library_Work', 'workGroups'), ['ucf']) }}"
	accepted-model="Project_Library_WorkGroup">
</rbs-field-picker-multiple>
