<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Notification_Svi', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-integer property="repeat" min="1" max="5"
	label="{{ i18nAttr(propertyKey('Rbs_Notification_Svi', 'repeat'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-long-text property="content" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Notification_Svi', 'content'), ['ucf']) }}">
</rbs-field-long-text>