{% block rbsUserAccountShortUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
	{% use 'Rbs_User/user-templates.twig' %}
{% endblock rbsUserAccountShortUse %}

{% block rbsUserAccountShortCache %}
<script type="text/javascript">
	window.__change['{{ blockId }}'] = {{ blockParameters | json_encode | raw }};
</script>
{% endblock rbsUserAccountShortCache %}

<div data-rbs-user-short-account="">
	{% set dividerClass = 'divider' %}
	<div class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">
			{% block rbsUserShortAccountLinkContent %}
				{{ block('rbsGenericIconUser') }}
				<span class="title" data-ng-hide="accessorId">
				{{ i18n('m.rbs.user.front.my_account_log_in', ['ucf']) }}
			</span>

			<span data-ng-cloak="" class="title" data-ng-show="accessorId">
				{{ i18n('m.rbs.user.front.welcome', ['ucf'], {'NAME' : '(= accessorName =)'}) }}
			</span>

			<span class="caret"></span>
			{% endblock rbsUserShortAccountLinkContent %}
		</a>
		<ul data-ng-cloak="" class="dropdown-menu dropdown-menu-{{ parameters.dropdownPosition }}" data-ng-show="accessorId">
			{{ block('rbsUserShortAccountUserMenuContent') }}
		</ul>
		<ul class="dropdown-menu dropdown-menu-{{ parameters.dropdownPosition }}" data-ng-show="!accessorId">
			{{ block('rbsUserShortAccountGuestMenuContent') }}
		</ul>
	</div>
</div>