{% use 'Rbs_Simpleform/form-templates.twig' %}

<div data-ng-cloak="" data-rbs-user-change-email=""
	{% if parameters.confirmationPage %} data-confirmation-url="{{ canonicalURL(parameters.confirmationPage) }}"{% endif %}>
	{% block requestCreationForm %}
		<form class="form-horizontal ng-hide" name="rbsUserChangeEmail" data-ng-show="showCreationForm()"
				data-ng-submit="changeEmailController.createChangeEmailRequest(data)">
			<fieldset>
				<h1 data-ng-show="showTitle">{{ i18n('m.rbs.user.front.change_email_title', ['ucf']) }}</h1>

				<p class="text-danger" data-ng-show="error" data-ng-bind="error"></p>

				<div class="form-group">
					<label for="rbs-user-change-email-password" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.current_password', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-change-email-password" type="password" class="form-control"
							required="required" name="password" data-ng-model="data.password"
							placeholder="{{ i18nAttr('m.rbs.user.front.current_password_placeholder', ['ucf']) }}" />
					</div>
				</div>

				<div class="form-group">
					<label for="rbs-user-change-email-new" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.new_email', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-change-email-new" type="email" name="email" class="form-control"
							data-ng-model="data.email" required="required"
							placeholder="{{ i18nAttr('m.rbs.user.front.new_email_placeholder', ['ucf']) }}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
						<button class="btn btn-primary" type="submit"
								data-ng-disabled="rbsUserChangeEmail.$invalid || !data.email">
							{{ i18n('m.rbs.user.front.submit_change_email_request', ['ucf']) }}
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	{% endblock requestCreationForm %}

	{% block requestCreated %}
		<div data-ng-show="requestEmailCreated && !emailConfirmed" class="ng-hide">
			<h1 data-ng-show="blockParameters.showTitle">{{ i18n('m.rbs.user.front.change_email_title', ['ucf']) }}</h1>

			<p class="text-success">{{ i18n('m.rbs.user.front.change_email_request_success', ['ucf']) }}</p>

			<p>{{ i18n('m.rbs.user.front.change_email_request_description', ['ucf']) }}</p>
		</div>
	{% endblock requestCreated %}

	{% block requestConfirmed %}
		<div data-ng-show="emailConfirmed" class="ng-hide">
			<h1 data-ng-show="blockParameters.showTitle">{{ i18n('m.rbs.user.front.change_email_title', ['ucf']) }}</h1>

			<div data-ng-hide="error">
				<p class="text-success">{{ i18n('m.rbs.user.front.change_email_success', ['ucf']) }}</p>

				<p>{{ i18n('m.rbs.user.front.change_email_description', ['ucf']) }}</p>
				<a data-ng-show="!authenticated" href="{{ functionURL('Rbs_User_Login') }}">
					{{ i18n('m.rbs.user.front.account_creation_log_in', ['ucf']) }}
				</a>
			</div>
		</div>
	{% endblock requestConfirmed %}

	{% block requestConfirmationForm %}
		<form class="form-horizontal ng-hide" name="rbsUserChangeEmailConfirmation" data-ng-show="showConfirmationForm()"
				data-ng-submit="changeEmailController.confirmChangeEmailRequest(data)">
			<fieldset>
				<p class="text-danger" data-ng-show="error" data-ng-bind="error"></p>

				<div class="form-group">
					<label for="rbs-user-change-email-token" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.token', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-change-email-token" type="text" name="token" autocomplete="off"
							class="form-control" data-ng-model="data.token" required="required" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
						<button class="btn btn-primary" type="submit"
								data-ng-disabled="rbsUserChangeEmailConfirmation.$invalid || !data.email">
							{{ i18n('m.rbs.user.front.submit_change_email_confirmation', ['ucf']) }}
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	{% endblock requestConfirmationForm %}
</div>