{% block rbsUserUse %}
{% endblock rbsUserUse %}

{% block rbsUserTokensDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ tokensData | json_encode | raw}};
	</script>
{% endblock rbsUserTokensDataCache %}

{% if parameters.authenticated %}
	{% block rbsUserTokensContent %}
		{% if parameters.showTitle %}
			<h1>{{ i18n('m.rbs.user.front.manage_auto_login_token_title', ['ucf']) }}</h1>
		{% endif %}
		<div data-rbs-user-manage-auto-login="" data-cache-key="{{ blockId }}"></div>
	{% endblock rbsUserTokensContent %}
{% endif %}

