<div data-rbs-generic-attribute-context-editor="">
	<rbs-field-text data-ng-if="!localization.inTranslation()" property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Generic_AttributeContext', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field property="title" label="{{ i18nAttr(propertyKey('Rbs_Generic_AttributeContext', 'title'), ['ucf']) }}">
		<input type="text" name="title" class="form-control" data-ng-model="document.LCID[localization.currentLCID()].title" />
	</rbs-field>

	<div data-ng-if="!localization.inTranslation()">
		<rbs-field-text data-ng-if="!document.locked" property="name" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Generic_AttributeContext', 'name'), ['ucf']) }}">
		</rbs-field-text>
		<rbs-field data-ng-if="document.locked" property="name"
			label="{{ i18nAttr(propertyKey('Rbs_Generic_AttributeContext', 'name'), ['ucf']) }}">
			<div class="form-control-static">(= document.name =)</div>
		</rbs-field>
	</div>

	<rbs-field-boolean data-ng-if="!localization.inTranslation()" property="exposedInAjaxAPI"
		label="{{ i18nAttr(propertyKey('Rbs_Generic_AttributeContext', 'exposedInAjaxAPI'), ['ucf']) }}">
	</rbs-field-boolean>
</div>