(= item.label =) <small class="text-muted">(= item.websiteLabel =) ((= item.LCIDLabel =))</small>
<span class="pull-right actions">
	{% block itemActionsContent %}
		<a data-ng-if="item.publishedUrl" data-ng-href="(= item.publishedUrl =)" target="_blank"
			data-ng-click="$event.stopPropagation()" title="{{ i18nAttr('m.rbs.seo.ua.view_page', ['ucf', 'etc']) }}">
			{%- spaceless %}
				<span class="icon-circle-arrow-right icon-large"></span>
			{% endspaceless -%}
		</a>
	{% endblock itemActionsContent %}
</span>