{% extends '@Rbs_Ua/Proximis/directives/item-selector.twig' %}

{% block tokenListItem %}
	{% embed '@Rbs_Seo/Ua/directives/path-rule-selector-item.twig' %}
		{% block itemActionsContent %}
			<i class="icon-reorder icon-large" data-ng-hide="disableReordering || items.list.length == 1 || readonly"
				title="{{ i18nAttr('m.rbs.ua.common.drag_to_reorder', ['ucf']) }}"></i>
			{{ parent() }}
			<a data-ng-hide="readonly" href="" data-ng-click="tokenList.removeItem($index)"><i class="icon-remove icon-large"></i></a>
		{% endblock itemActionsContent %}
	{% endembed %}
{% endblock tokenListItem %}

{% block autoCompleteListItem %}
	{% include '@Rbs_Seo/Ua/directives/path-rule-selector-item.twig' %}
{% endblock autoCompleteListItem %}