@CHARSET "UTF-8";

/** Animation for ng-repeat */
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
	-webkit-transition: 0.3s ease-in all;
	-moz-transition: 0.3s ease-in all;
	-o-transition: 0.3s ease-in all;
	transition: 0.3s ease-in all;
}

.repeat-animation.ng-enter {
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	opacity: 0;
}

.repeat-animation.ng-enter.ng-enter-active {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
	opacity: 1;
}

.repeat-animation.ng-leave {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
	opacity: 1;
}

.repeat-animation.ng-leave.ng-leave-active {
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	opacity: 0;
}

.repeat-animation.ng-move {
	opacity: 0.5;
}

.repeat-animation.ng-move.ng-move-active {
	opacity: 1;
}