@CHARSET "UTF-8";

/* Picker */
.document-picker {
	position: relative;
}

.document-picker .input-group {
	margin-top: 4px;
	width: 100%;
}

.document-picker .document-picker-backdrop {
	display: none;
}

.document-picker.document-picker-auto-complete .document-picker-backdrop {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $gray-dark;
	opacity: 0.1;
	z-index: 10;
}
.document-picker.document-picker-auto-complete .document-picker-content {
	position: relative;
	z-index: 20;
}
.document-picker.document-picker-auto-complete .auto-complete-list {
	display: block;
}
.document-picker.document-picker-empty .input-group {
	margin-top: 0;
}

.document-picker .input-group .input-group-btn.input-group-btn-1icon {
	width: 35px;
}
.document-picker .input-group .input-group-btn.input-group-btn-2icons {
	width: 70px;
}

.document-picker .auto-complete-list {
	display: none;
	position: absolute;
	padding: 7px 0;
	background: $light;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border: 1px solid $gray-blue-light;
	z-index: 1000;
}

.document-picker .auto-complete-list:after {
	border-bottom: 6px solid $light;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -6px;
}

.document-picker .auto-complete-list:before {
	border-bottom: 7px solid $gray-blue-light;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 9px;
	position: absolute;
	top: -7px;
}

.document-picker .auto-complete-list-loading,
.document-picker .auto-complete-list-errors {
	padding: 3px 10px;
}

.document-picker .auto-complete-list-options {
	margin: 0;
}
.document-picker .auto-complete-list-options li {
	display: block;
	padding: 3px 10px;
	cursor: pointer;
}
.document-picker .auto-complete-list-options li:hover,
.document-picker .auto-complete-list-options li:focus {
	background: #e8e8e8 linear-gradient(to bottom, lighten($gray-blue-light, 5%) 0%, lighten($gray , 5%) 100%) repeat-x;
}

/* General select */
select option.empty-value {
	font-style: italic;
	color: $gray-blue-light;
}

/* Chained select */
rbs-document-chained-select .btn-toolbar{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 0 10px 10px;
	padding: 4px;
	border-left: 1px solid $gray-light;
	border-right: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;
	position: relative;
	z-index: 0;
}

.form-inline div.document-picker {
	max-width: 300px;
}

.form-inline div.document-picker div.input-group {
	 table-layout: fixed;
 }

.form-inline div.document-picker div.input-group .input-group-addon-select {
	width: 50%;
}

.form-inline div.document-picker div.input-group .input-group-addon-select select{
	width: 100%;
}