td .correction {
	float: right;
	position: relative;
	top: 2px;
}

rbs-document-list .panel-footer .pagination,
[data-rbs-document-list] .panel-footer .pagination {
	position: relative;
	top: -4px;
}


.document-list .column-sort-indicator {
	margin-left: 4px;
	text-decoration:none;
}

.document-list.ua-entity-list-table > thead a{
	display: block;
}

.document-list tr .quick-actions-buttons {
	.btn:first-of-type{
		margin-right: 4px;
	}
	position: relative;
	margin-left: 8px;
}

.document-list tr .quick-actions {
	top: auto;
	bottom:-7px;
	left: auto;
	right: 40px;
	width: 170px;
	background: $blue-dark;
}

.document-list tr .popover.quick-actions .arrow {
	background: transparent;
	left: auto;
	top: auto;
	bottom: 7px;
	right: -11px;
	border-color: transparent;
}
.document-list tr .popover.quick-actions .arrow:after {
	border-left-color: $blue-dark;
}

.document-list tr .quick-actions > .popover-content {
	padding: 0;
}

.document-list tr .quick-actions.popover {
	border-radius: 2px;
}

.document-list tr .quick-actions > .popover-content a,
.document-list tr .quick-actions > .popover-content .quick-action {
	font-size: 90%;
	text-transform: lowercase;
	padding: 3px 10px;
	margin: 2px;
	color: white;
	display: block;
	border-radius: 2px;
	transition: background 0.1s ease;
	position: relative;
	line-height: 22px;
}

.document-list tr .quick-actions > .popover-content i {
	font-size: 1.5em;
	top: 1px;
	position: relative;
}

.document-list tr .quick-actions > .popover-content a > i {
	float: right;
	margin-left: 10px;
	-webkit-transition: -webkit-transform 0.05s ease-in;
	-moz-transition: -moz-transform 0.05s ease-in;
	transition: transform 0.05s ease-in;
}

.document-list tr .quick-actions > .popover-content a:hover > i {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.document-list tr .quick-actions > .popover-content a:hover,
.document-list tr .quick-actions > .popover-content .quick-action:hover {
	text-decoration: none;
	background: $gray;
}

.document-list tr .quick-actions > .popover-content a.danger:hover,
.document-list tr .quick-actions > .popover-content .quick-action.danger:hover {
	background: $brand-danger;
}


.table.document-list td .primary-cell {
	position: relative;
	min-width: 120px;
	margin: -5px;
	padding: 5px;
	min-height: 34px;
}

.document-list .bullet-status {
	top: 2px;
}

rbs-document-list > .btn-toolbar,
[data-rbs-document-list] > .btn-toolbar {
	margin-bottom: 10px;
}


.document-list th .btn-xs {
	font-size: 14px;
	line-height: 16px;
	position: relative;
	top: -2px;
}

.add-elements-bar {
	margin-bottom: 15px;
}

.add-elements-bar a,
.add-elements-bar button {
	display: inline-block;
	font-weight: normal;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 10px;
	border: 1px solid $body-bg;
	border-radius: 4px;
}

.add-elements-bar a:hover,
.add-elements-bar button:hover {
	text-decoration: none;
	background: $brand-primary;
	color: white;
}

.add-elements-bar a:before {
	content: "\f067";
	font-family: FontAwesome;
	margin-right: 4px;
}



/* previews */

.table-striped.document-list tbody tr.preview td.preview {
	padding: 0;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table-striped.document-list tbody tr td.preview button.close {
	margin: 5px;
}

.table-striped.document-list tbody tr.preview td.preview .inner {
	border-left: 3px solid $body-bg;
	position: relative;
	padding: 5px;
}

.document-list tr.preview td.preview .preview-indicator {
	display: none;
	position: absolute;
	top: -6px;
	left: 280px;
	width: 10px;
	height: 10px;
	border-top: 1px solid $body-bg;
	border-right: 1px solid $body-bg;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: white;
}

.document-list tr td.preview .dl-horizontal dt {
	clear: none;
}



/* grid mode (thumbnails) */

.thumbnail-grid {
	list-style: none;
	*zoom: 1;
	margin-left: -19px;
	margin-top: 0;
	position: relative;
}

.thumbnail-grid:before {
	content: "";
	clear: both;

}

.thumbnail-grid > li {
	float: left;
	width: 50%;
	margin-top: 20px;
	position: relative;
}

.thumbnail-grid .thumbnail-label {
	display: none;
}

.grid-small .thumbnail-grid > li {
	width: 25%;
}
.grid-small .thumbnail-grid > li:first-child {
	width: 25%;
}

.grid-xsmall .thumbnail-grid > li {
	width: 20%;
}
.grid-xsmall .thumbnail-grid > li:first-child {
	width: 20%;
	font-size: 90%;
}


@media (min-width: 960px) {
	.thumbnail-grid > li {
		width: 33.3%;
	}

	.thumbnail-grid > li:first-child {
		width: 33.4%;
	}

	body.fullscreen .thumbnail-grid > li,
	body.fullscreen .thumbnail-grid > li:first-child {
		width: 25%;
	}

}

@media (min-width: 1260px) {
	.thumbnail-grid > li,
	.thumbnail-grid > li:first-child {
		width: 25%;
	}

	body.fullscreen .thumbnail-grid > li,
	body.fullscreen .thumbnail-grid > li:first-child {
		width: 20%;
	}

	.grid-small .thumbnail-grid > li {
		width: 12.5%;
	}
	.grid-small .thumbnail-grid > li:first-child {
		width: 12.5%;
	}
	.grid-small .img-preview {
		height: 90px;
	}

	.grid-xsmall .thumbnail-grid > li {
		width: 10%;
	}
	.grid-xsmall .thumbnail-grid > li:first-child {
		width: 10%;
	}

}

@media (min-width: 1560px) {
	.thumbnail-grid > li,
	.thumbnail-grid > li:first-child {
		width: 20%;
	}

	.grid-xsmall .thumbnail-grid {
		width: 6.25%;
	}
	.grid-xsmall .thumbnail-grid > li:first-child {
		width: 6.25%;
	}

}

.thumbnail-grid li .inner {
	height: 187px;
	overflow: hidden;
	border: 5px solid $body-bg;
	margin-left: 20px;
	border-radius: 3px;
	position: relative;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
	text-align: center;
	background: white;
}


.thumbnail-grid li .inner .caption .quick-actions-buttons.pull-right {
	margin-right: 4px;
	margin-top: 4px;
}

.grid-small .thumbnail-grid li .inner {
	height: 60px;
	line-height: 30px;
}

.grid-xsmall .thumbnail-grid li .inner {
	height: 60px;
	line-height: 30px;
}

.thumbnail-grid li .inner.DEACTIVATED {
	border-color: $brand-warning;
}

.thumbnail-grid li .inner.PUBLISHABLE {
	border-color: lighten($brand-success , 8%);
}

.thumbnail-grid li.selected .inner {
	box-shadow: 0 0 10px lighten($brand-primary, 8%);
	border-color: $brand-primary;
}

.thumbnail-grid li .inner img {
	max-width: 100%;
	max-height: 100%;
}

.thumbnail-grid li .inner p {
	font-size: 9pt;
	margin: 0 4px;
}

.thumbnail-grid li .inner .caption {
	background: $body-bg;
	color: $text-color;
	text-shadow: 0 1px 1px white;
	position: absolute;
	bottom: 0;
	width: 100%;
	clear: both;
	box-shadow: 0 0 10px darken($body-bg, 8%);
	opacity: 0.95;
}


.thumbnail-grid li .inner .caption h4 {
	margin: 0;
	font-size: 11pt;
	padding: 1px 4px;
}

.thumbnail-grid li .inner.folder {
	position: relative;
	overflow: visible;
	text-align: center;
	background: $body-bg;
}

.thumbnail-grid li .inner.folder h4 {
	font-variant: small-caps;
}

.thumbnail-grid li .inner.folder, .container:after, .container:before {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}
.thumbnail-grid li .inner.folder:after,
.thumbnail-grid li .inner.folder:before {
	background: none repeat scroll 0 0 #FFFFFF;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: 100% 100%;
	z-index: -10;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.thumbnail-grid li .inner.folder:after {
	background-color: $body-bg;
	/*
	transform: rotate(3deg);
    left: 7px;
    right: -1px;
    top: -7px;
    */
	left: 4px;
	right: 4px;
	top: -10px;
}
.thumbnail-grid li .inner.folder:before {
	background-color: #EEEEEE;
	/*
	transform: rotate(5deg);
    left: 14px;
    right: 0px;
    top: -10px;
    */
	left: 13px;
	right: 13px;
	top: -14px;
}

.thumbnail-grid li .inner.folder .dropped-files-info {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	color: white;
}

.thumbnail-grid li .inner.folder .dropped-files-info .files-count {
	margin: 7px 0;
}

.thumbnail-grid li .inner.folder .dropped-files-info .btn-toolbar {
	margin: 7px 0;
}

.thumbnail-grid li .inner.folder .dropped-files-info button.close {
	float: right;
	margin-right: 10px;
	color: white;
	opacity: 0.9;
}

.thumbnail-grid li .inner.folder .empty-folder-message {
	padding-top: 10px;
	height: 140px;
}

.thumbnail-grid + footer.rbsc-list-footer {
	border-top: 1px solid #EEEEEE;
	margin-top: 20px;
	padding-top: 10px;
}

.document-list td .progress {
	margin-bottom: 0;
}

.absolute-top-left {
	position: absolute;
}

rbs-document-list footer,
[data-rbs-document-list] footer,
.document-list tfoot {
	background: $body-bg;
}
rbs-document-list footer,
[data-rbs-document-list] footer,
.document-list tfoot > tr > td {
	line-height: 30px;
	padding: 10px 20px;
}

table.document-list {
	margin-bottom: 0;
	border-color: #E0E0E0;
}



.children-count {
	background: white;
	border: 1px solid darken($brand-primary, 8%);
	border-radius: 30px;
	color: $brand-primary;
	margin-left: 4px;
	padding: 2px 7px;
	text-shadow: 1px 1px 0 #FFFFFF;
	line-height: 25px;
	cursor: pointer;
}

.children-count-empty {
	color: silver;
	font-style: italic;
	margin-left: 4px;
	line-height: 25px;
}


.document-list td i.tree-icon:before {
	width: 20px;
	display: inline-block;
	cursor: pointer;
}



.document-list tr:hover .btn-flat {
	opacity: 1;
}

.document-list .column-checkbox {
	cursor: pointer;
	text-align: center;
	width: 30px;
}

.document-list .column-number {
	text-align: right;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background: rgba(241, 242, 247, 0.65);
}
@media screen and (max-width: 767px) {
	.table-responsive {
		background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)),
		radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) 100% 0;
		background-color: white;
		background-repeat: no-repeat;
		background-size: 10px 100%;
		margin-bottom: 15px;
	}

	.table-responsive > .table {
		background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
		linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
		background-size: 50px 100%;
		background-repeat: no-repeat;
		max-width: none;
		margin-bottom: 0;
	}
}