@CHARSET "UTF-8";

.form-group.error .control-label,
.form-vertical .form-group.error .control-label {
	color: $brand-danger;
}

.form-actions {
	background-image: linear-gradient(to top, $light 0%, $body-bg 100%);
	border-top: 5px solid $gray-blue-light;
	margin-top: 10px;
}

.form-horizontal .form-actions {
	padding: 10px 20px;
}

.form-vertical .form-group [class^="col-"],
.form-vertical .form-group [class*=" col-"] {
	display: block;
	width: 100%;
	float: none;
}

.form-vertical .form-group .control-label {
	text-align: left;
}

.correction label.control-label {
	color: $brand-success;
	font-style: italic;
}

.form-control {
	border-radius: 3px;
}


/* invalid fields */
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
	color: $state-danger-text;
	border-color: $state-danger-border;
}
/* date-time-interval */
div[data-rbs-date-interval].ng-invalid span.input-group-addon {
	color: $state-danger-text;
}

/* cascading forms */
.cascading-forms-collapsed {
	color: $text-color;
	padding: 4px 12px;
	font-size: 12pt;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transition: font-size 0.2s ease, margin 0.2s ease;
	position: relative;
}

rbs-navigation-history a:link,
rbs-navigation-history a:link {
	color: $dropdown-header-color;
}
rbs-navigation-history a:hover {
	color: $dropdown-header-color;
}
rbs-navigation-history span {
	color: $navbar-default-link-color;
}
/* Good interline between buttons in document editor when there is more than one line */
.form-actions .form-buttons {
	line-height: 55px;
}

table.field-label-and-title {
	width: 100%;
}

table.field-label-and-title input + input {
	margin-top: 4px;
}

table.field-label-and-title .sync-button-cell {
	width: 36px;
	text-align: right;
}

table.field-label-and-title .sync-button-cell button {
	border-radius: 30px;
	position: relative;
	z-index: 1;
}


table.field-label-and-title .sync-button-cell .decorator {
	border-bottom-right-radius: 10px;
	border-image: none;
	border-top-right-radius: 10px;
	border: 1px solid $gray-dark;
	border-left: 0 none;
	height: 41px;
	position: absolute;
	right: 30px;
	top: 17px;
	width: 22px;
}

table.field-label-and-title .sync-button-cell .decorator.locked {
	border-width: 2px;
}


.editor-menu {
	margin-bottom: 15px;
}

a.editor-menu-item {
	display: block;
	padding: 7px 44px 7px 5px;
	position: relative;
	margin-top: 1px;
	margin-right: 0;
	line-height: 26px;
	color: $gray-blue-light;
	background: $body-bg;
}

a.editor-menu-item:hover {
	text-decoration: none;
}

a.editor-menu-item.active {
	color: $light;
	background: $brand-info;
	text-decoration: none;
}

a.editor-menu-item.active:focus,
a.editor-menu-item:active {
	outline: none;
}

a.editor-menu-item .badge {
	position: absolute;
	right: 10px;
	top: 7px;
	background: $light;
	border: 2px solid $gray-blue-light;
	border-radius: 30px;
	color: $gray-blue-light;
	font-size: 16px;
	font-weight: lighter;
}

a.editor-menu-item .badge.badge-required {
	color: $state-danger-text;
	border-color: $state-danger-border;
}

a.editor-menu-item.active:after {
	border-bottom: 20px inset rgba(0, 0, 0, 0);
	border-left: 20px solid $brand-info;
	border-top: 20px inset rgba(0, 0, 0, 0);
	content: "";
	height: 0;
	position: absolute;
	right: -20px;
	top: 0;
	width: 0;
	z-index: 2;
}

a.editor-menu-item i[class^="icon-"],
a.editor-menu-item span[class^="icon-"],
a.editor-menu-item i[class*=" icon-"],
a.editor-menu-item span[class*=" icon-"] {
	font-size: 20pt;
	height: 10px;
	line-height: 10px;
	opacity: 0.8;
	position: relative;
	top: -1px;
	vertical-align: middle;
	text-align: center;
}

a.editor-menu-item i[class^="icon-"]:before,
a.editor-menu-item span[class^="icon-"]:before,
a.editor-menu-item i[class*=" icon-"]:before,
a.editor-menu-item span[class*=" icon-"]:before {
	width: 36px;
}

a.editor-menu-item.active i[class^="icon-"],
a.editor-menu-item.active span[class^="icon-"],
a.editor-menu-item.active i[class*=" icon-"],
a.editor-menu-item.active span[class*=" icon-"] {
	color: $light;
	opacity: 0.8;
}

/* Inline-documents */
.table .document-inline-editor {
	padding: 15px 0;
}
.document-inline-editor .form-actions {
	border-top: 5px solid rgba(0, 0, 0, 0.11);
}
.document-inline-editor .form-properties {
	padding: 0 8px;
}

/* Color picker */
.color-picker .color-picker-input {
	width: 85px;
}
.color-picker.input-group-lg .input-group-addon {
	width: 44px;
}
.color-picker .input-group-addon {
	width: 32px;
}
.color-picker.input-group-sm .input-group-addon {
	width: 28px;
}