@CHARSET "UTF-8";

/* icons overlays */

.iconoverlay {
	position: relative;
	display: inline-block;
}

.iconoverlay label {
	position: absolute;
	top: 4px;
	left: 0;
	display: inline-block;
	text-align: center;
	color: $light;
	width: 100%;
	font-size: 10pt;
	z-index: 10;
	text-shadow: 0 0 1px black;
}

[class^="icon-"],
[class*=" icon-"] {
	font-variant: normal;
}

/* Bootstrap overrides */

.list-inline > li {
	vertical-align: middle;
}

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
	margin-left: 5px;
}

.input-group-addon {
	width: auto;
}

.input-group + .btn-toolbar,
.form-inline + .btn-toolbar {
	margin-top: 3px;
}

/* Move nav bars under popup menus (initial value 1000) */
.navbar {
	z-index: 998;
}

.navbar-first-element {
	margin-left: -15px;
}

@media (max-width: 768px) {
	.navbar-first-element {
		margin-top: 0;
	}
}

/* Bootstrap addons */

.input-group-addon.contains-input {
	padding: 4px 8px;
}

.input-group-addon.contains-input > .form-control {
	padding: 0;
	height: 24px;
}

.popover-content .list-group {
	box-shadow: none;
	margin: -7px -12px;
	min-width: 150px;
}

.popover-content .list-group .list-group-item {
	border: 0 none;
}

/* rbs-form-simple */

[rbs-form-simple-filter] {
	display: block;
	clear: both;
	position: relative;
	margin: 5px 0;
}

[rbs-form-simple-filter] input {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
}

[rbs-form-simple-filter] button {
	position: absolute;
	right: 2px;
	top: 3px;
	line-height: 26px;
	background: none;
	border: none;
	color: $body-bg;
}

/* left-menu */

h4.list-group-item {
	border-top-width: 0;
	font-size: 16px;
	color: $gray-blue-light;
	margin-top: 1px;
}

h4.list-group-item:first-child {
	border-top-width: 1px;
}

.list-group-item.active .badge {
	text-shadow: none;
}

/* editors */

.btn.btn-headline {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
}

.btn.btn-headline i[class^="icon-"],
.btn.btn-headline span[class^="icon-"] {
	font-size: 32px;
	float: left;
	margin-right: 5px;
	margin-top: 1px;
	width: 32px;
}

.btn.btn-headline.no-text i[class^="icon-"],
.btn.btn-headline.no-text span[class^="icon-"] {
	margin-right: 0;
	float: none;
}

.btn.btn-headline small {
	display: block;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	white-space: nowrap;
	padding-left: 37px;
}

/* advanced mode */

.advanced-mode h4 {
	color: $brand-danger;
	margin-top: 0;
	text-transform: uppercase;
}

.advanced-mode .separator {
	background-color: $brand-danger;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 20px 20px;
	height: 10px;
}

.advanced-mode > .inner > div > p:last-child {
	margin-bottom: 0;
}

/** word wrapping */
.break-word {
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

.rbs-panel-busy {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	position: absolute;
	font-size: 20pt;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	font-weight: lighter;
}

.panel-success .rbs-panel-busy {
	background: darken($brand-success, 8%);
}

.panel {
	position: relative;
}

.rbs-aside-block {
	border-right: 3px dotted $body-bg;
	font-size: 90%;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.rbs-aside-block hr {
	margin: 0;
}

.rbs-aside-block h3 {
	margin-bottom: 10px;
}

.rbs-aside-block a {
	display: block;
	margin: 5px 0;
}

.rbs-aside-block a.a-inline {
	display: inline;
	margin: 0;
}

.rbs-aside-block a strong {
	text-transform: uppercase;
	font-size: 90%;
}

a.back-to-link:before {
	content: "\f0a8 ";
	font-family: FontAwesome;
}

a.go-to-link:after {
	content: " \f0a9";
	font-family: FontAwesome;
}

.rbs-aside-other-links {
	text-align: right;
	padding: 10px 14px 10px 0;
}

/** Field size */
input[size="2"],
input[size="2"].form-control,
input[size="4"],
input[size="4"].form-control,
input[size="5"],
input[size="5"].form-control {
	max-width: 5em;
}

input[size="10"],
input[size="10"].form-control {
	max-width: 10em;
}

input[size="13"],
input[size="13"].form-control {
	max-width: 13em;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(0, 0, 0, 0.05);
}

.table-hover > tbody > tr:hover > td.preview {
	background: none;
	margin-top: -10px;
}

rbs-navigation-history {
	background: $light;
	margin-bottom: 10px;
	margin-top: -10px;
}

rbs-document-url-manager .table tbody > tr > td {
	vertical-align: middle;
}

/** list option panel **/
.rbs-list-option-panel {
	padding: 10px;
	position: relative;
}

.rbs-list-option-panel {
	background: $body-bg;
	border: 5px solid darken($body-bg, 8%);
	border-radius: 5px;
}

.rbs-list-option-panel h3 {
	text-transform: uppercase;
	color: darken($body-bg, 8%);
	font-size: 20pt;
	line-height: 20pt;
	margin-top: 0;
	font-weight: lighter;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.rbs-list-option-panel form {
	margin: 0;
}

.rbs-list-option-panel form .control-group:last-child {
	margin-bottom: 0;
}

.rbs-list-option-panel .form-group {
	margin-left: 0;
	margin-right: 0;
}

pre {
	text-align: left;
}

.btn-selection {
	background: $orchid-light-pastel;
	color: white;
	border-color: $orchid-light-pastel;
}

.btn-selection:hover,
.btn-selection:active,
.btn-selection:focus {
	background: $orchid-light-pastel;
	color: white;
}

.panel.panel-selection {
	border-color: $orchid-light-pastel;
	/*box-shadow: 0 0 0 3px #E6E2ED;*/
}

.panel.panel-selection.panel-heading h3.panel-title {
	color: $orchid-light-pastel;
}

.panel-selection > .panel-heading {
	background-color: $orchid-light-pastel;
	border-color: $orchid-light-pastel;
	color: white;
}

/* Fix form inline */
.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.form-inline .input-group .form-control {
	display: table-cell;
	max-width: 100%;
}

/* Item in TB's dropdown without link */
.dropdown-menu > li > .item {
	clear: both;
	color: $light;
	display: block;
	font-weight: normal;
	line-height: 1.42857;
	padding: 3px 20px;
	white-space: nowrap;
}

.dropdown-menu > li > .item:hover {
	background-color: $navbar-default-bg;
}

rbs-uploader .img-thumbnail {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/**
 * With the "width: 1%", the picker takes 100% width in the filter configuration interface (in Chrome and IE only)
 * TODO: find a better way to fix it. It will maybe be fixed with a newer version of Bootstrap?
 */
[rbs-document-filter-container] .input-group .input-group-addon.input-group-addon-select {
	width: auto;
}

/** Preview */
.preview-iframe {
	border: none;
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 0;
}

/** Filters */
.filter-not-configured {
	background-image: linear-gradient(to right, #ebbb54 5px, transparent 6px);
}

.filter-deprecated {
	background-image: linear-gradient(to right, #eb5454 5px, transparent 6px);
}

.filter-deprecated.filter-not-configured {
	background-image: linear-gradient(to right, #eb5454 5px, #ebbb54 6px, #ebbb54 11px, transparent 12px);
}