@CHARSET "UTF-8";

.richtext-input {
	border-radius: 3px;
}

.richtext-input .btn-toolbar-richtext {
	background: #dddddd;
	background: -moz-linear-gradient(top, $light 0%, darken($light, 8%) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$light), color-stop(100%, darken($light, 8%)));
	background: -webkit-linear-gradient(top, $light 0%, darken($light, 8%) 100%);
	background: -o-linear-gradient(top, $light 0%, darken($light, 8%) 100%);
	background: linear-gradient(to bottom, $light 0%, darken($light, 8%) 100%);
	margin: 0;
	padding: 5px 5px 5px 0;
	border: 1px solid  darken($light, 10%);
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
	line-height: 35px;
}

.richtext-input .btn-group[data-caption]:before {
	color: rgba(0, 0, 0, 0.5);
	content: attr(data-caption);
	display: block;
	font-size: 9pt;
	text-align: center;
	height: 16px;
	line-height: 18px;
}

.richtext-input .select-media .panel,
.richtext-input .select-publishable .panel {
	margin: 0;
}


/* Editor chooser */

.richtext-input-chooser {
	padding: 10px;
	background: $body-bg;
	background: linear-gradient(to bottom,  darken($body-bg, 8%) 0%, $body-bg 100%);
	border: 1px solid  darken($body-bg, 12%);
	border-radius: 3px;
}

.richtext-input .richtext-input-chooser h4 {
	margin: 0;
}
.richtext-input .richtext-input-chooser .btn-toolbar {
	line-height: 35px;
}


/* Markdown editor (ace editor) */

.richtext-input .richtext-input-markdown .tab-content {
	border-radius: 3px;
}
.richtext-input .ace_editor {
	border: 1px solid  darken($light, 12%);
	border-radius: 0 0 3px 3px;
}

.richtext-input .ace_editor.ace_focus,
.structure-editor .richtext-input .ace_editor.ace_focus {
	border-color: $brand-primary;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 0 2px rgba(102, 175, 233, 0.3);
	outline: 0 none;
	color: $text-color;
}

.richtext-input th,
.richtext-input td {
	background: white;
}

.richtext-input textarea {
	display: block;
	min-height: 150px;
	font-family: "Courier New";
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.richtext-input .preview-container {
	border-radius: 3px;
	background: white;
	padding: 5px;
	border: 1px solid darken($light, 12%);
}

.richtext-input .preview-container .preview-toolbar {
	line-height: 35px;
}

.richtext-input .preview-container h1,
.richtext-input .preview-container h2,
.richtext-input .preview-container h3,
.richtext-input .preview-container h4,
.richtext-input .preview-container h5,
.richtext-input .preview-container h6 {
	margin-top: 0;
}


/* WYSIWYG editor */

.richtext-input .richtext-input-wysiwyg .form-control.main-wywiwyg-control {
	height: auto;
	min-height: 150px;
	border-radius: 0 0 3px 3px;
}