@CHARSET "UTF-8";

.structure-editor {
	/*noinspection CssUnknownTarget*/
	background: url('../../Ua/img/page-editor-bg.png') repeat;
	margin: 10px -4px;
	padding: 2px 4px;
	position: relative;
	top: 4px;
	border: 4px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.structure-editor .editable-zone {
	/*noinspection CssUnknownTarget*/
	background: url('../../Ua/img/free-content-bg.png') repeat;
	border: 1px solid $brand-success;
	border-radius: 4px;
}

.structure-editor .row .block-container.editable-zone {
	padding: 6px 8px;
}

.structure-editor .not-editable-zone {
	/*noinspection CssUnknownTarget*/
	background: url('../../Ua/img/disabled-content-bg.png') repeat;
	border: 1px solid $blue-dark;
	border-radius: 4px;
	color: $light;
	text-align: center;
	float: left;
	line-height: 40px;
	margin: 0 !important;
	text-shadow: 0 1px 1px $gray-darker;
}

.structure-editor .not-editable-cell {
	margin: 0 !important;
	padding: 0 !important;
}

.structure-editor .not-editable-row {
	margin: 0 -15px !important;
	padding: 0 !important;
}

.structure-editor .not-editable-cell .not-editable-zone {
	float: none;
}

.structure-editor .block {
	margin: 6px 0;
	position: relative;

	transition: transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
	-webkit-transition: -webkit-transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
}

.structure-editor .row:first-child,
.structure-editor .block:first-child {
	margin-top: 2px;
}

.structure-editor .row:last-child,
.structure-editor .block:last-child {
	margin-bottom: 2px;
}

.structure-editor .row {
	margin: 6px 0;
}

/*.structure-editor .row .block-container {
	padding: 4px;
}*/

/* ----- Block Rich Text --------------------------------------------------- */

.structure-editor .rbs-rich-text.block {
	cursor: pointer;
	padding: 4px;
	background: $light;
	border: 1px solid $gray-darker;
	border-radius: 4px;
	min-height: 20px;
	outline: 0;
}

.structure-editor .rbs-rich-text.block.active {
	border: 3px solid $brand-warning;
	padding: 2px;
	background: darken($light , 8%);
	cursor: default;
}

.structure-editor .rbs-markdown-text.block {
	border: 3px solid $gray-dark;
	border-radius: 4px;
}

.structure-editor .rbs-markdown-text.block.active {
	border: 3px solid $brand-warning;
	cursor: default;
}

.structure-editor rbs-rich-text-input .ace_editor {
	box-shadow: none;
	outline: 0 none;
}

.structure-editor .rbs-rich-text.block > *:first-child {
	margin-top: 0;
}

.structure-editor .rbs-rich-text.block > *:last-child {
	margin-bottom: 0;
}

.structure-editor .block.btn {
	border-color: $gray-dark;
}

/* ----- Block Document ---------------------------------------------------- */

.structure-editor .block.btn-settings {
	background: darken($light , 5%);
	background: -moz-linear-gradient(bottom, darken($light , 10%) 0%, darken($light , 5%) 100%) repeat scroll 0 0 darken($light , 5%);
	background: -webkit-linear-gradient(bottom, darken($light , 10%) 0%, darken($light , 5%) 100%) repeat scroll 0 0 darken($light , 5%);
	color: $text-color;
	padding: 6px 4px;
}

.structure-editor .block.btn-settings:hover {
	background: darken($light , 5%);
}

.structure-editor .block.active.btn-settings {
	background: $brand-warning;
}

/* ----- Rows (rbs-row) ----------------------------------------------------- */

.structure-editor [data-rbs-row] {
	/*noinspection CssUnknownTarget*/
	background: url('../../Ua/img/columns-bg.png') repeat scroll 0 0 transparent;
	border: 1px solid darken($brand-primary, 5%);
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	padding: 0;
}

.structure-editor [data-rbs-row].active {
	/*noinspection CssUnknownTarget*/
	background: url('../../Ua/img/columns-selected-bg.png') repeat scroll 0 0 transparent;
}

/* ----- Row settings ------------------------------------------------------ */

[data-rbs-structure-editor-aside-row] .column-info {
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 3px $gray-dark;
	margin: 10px 10px 5px 10px;
	padding: 0 4px;
	background: darken($light, 3%);
	display: inline-block;
}

[data-rbs-structure-editor-aside-row] .column-info.active {
	box-shadow: 0 0 2px 2px $brand-primary;
}

[data-rbs-structure-editor-aside-row] .column-info .head {
	margin: 4px 0;
}

[data-rbs-structure-editor-aside-row] .column-info .head h5 {
	height: 30px;
	line-height: 1.5;
	padding: 5px 0 7px 0;
	margin: 0;
}

[data-rbs-structure-editor-aside-row] .column-info .param {
	margin: 4px 0;
	background: darken($light, 3%);
	border-radius: 4px;
}

[data-rbs-structure-editor-aside-row] .column-info .param .text {
	padding: 3px 0;
	white-space: nowrap;
	display: inline-block;
	width: 6em;
	font-size: 0.8em;
}

[data-rbs-structure-editor-aside-row] .column-buttons {
	display: inline-block;
	width: 40px;
}

[data-rbs-structure-editor-aside-row] .column-buttons button {
	margin: 2px 0;
}

/* ----- Highlighting ------------------------------------------------------ */

.structure-editor .highlighted,
.structure-editor .highlighted .block {
	/*z-index: 6;*/
}

#structure-editor-highlighter-top,
#structure-editor-highlighter-right,
#structure-editor-highlighter-bottom,
#structure-editor-highlighter-left,
#structure-editor-highlighter-text {
	z-index: 6;
	position: absolute;
	display: none;
	background: $brand-primary; /*rgb(255, 0, 163);*/
	transition: background 0.2s ease-out 0s;
}

#structure-editor-highlighter-top.done,
#structure-editor-highlighter-right.done,
#structure-editor-highlighter-bottom.done,
#structure-editor-highlighter-left.done,
#structure-editor-highlighter-text.done {
	background: $brand-success; /*#B0C704*/
}

#structure-editor-highlighter-top,
#structure-editor-highlighter-bottom {
	height: 5px;
}

#structure-editor-highlighter-left,
#structure-editor-highlighter-right {
	width: 5px;
}

#structure-editor-highlighter-top {
	border-radius: 4px 4px 0 0;
}

#structure-editor-highlighter-right {
	border-radius: 0 4px 4px 0;
}

#structure-editor-highlighter-bottom {
	border-radius: 0 0 4px 4px;
}

#structure-editor-highlighter-left {
	border-radius: 4px 0 0 4px;
}

#structure-editor-highlighter-text {
	color: $light;
	padding: 0 10px 2px 10px;
	border-radius: 4px;
	font-size: 9pt;
	text-shadow: 0 0 1px $gray-base;
	height: 20px;
}

/* ----- Block chooser ----------------------------------------------------- */

[data-rbs-block-chooser] {
	background: none repeat scroll 0 0 $gray-dark;
	border: 1px dashed $light;
	border-radius: 4px 4px 4px 4px;
	color: $light;
	padding: 10px 6px;
	text-align: center;
	text-shadow: 0 1px 1px $gray-base;
}

[data-rbs-block-chooser].active {
	border: 3px solid $brand-warning;
	padding: 8px 4px;
}

.rbs-block-chooser-settings .btn.btn-block {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.rbs-block-chooser-settings header {
	margin-bottom: 10px;
}

/* ----- Drag'n'drop ------------------------------------------------------- */

#structure-editor-dropzone-indicator {
	position: absolute;
	color: white;
	background: $brand-primary; /*rgb(255, 0, 163);*/
	padding: 5px 8px 5px 12px;
	border-radius: 30px 4px 4px 30px;
	z-index: 5;
	display: none;
	font-size: 1.4em;
	text-shadow: 0 0 1px $gray-base;
}

#structure-editor-dropzone-indicator .content {
	padding-right: 5px;
}

.structure-editor .dragged {
	border-style: dashed;
	opacity: 0.75;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}

/* ----- Columns (se-cell) ------------------------------------------------- */

[data-rbs-cell] {
	position: relative;
}

.structure-editor [data-rbs-cell] {
	/*noinspection CssUnknownTarget*/
	background: url('../../Ua/img/cell-bg.png') repeat scroll 0 0 transparent;
	border: 1px solid $brand-primary;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	padding: 0;
}

.structure-editor [data-rbs-cell].active {
	/*noinspection CssUnknownTarget*/
	background: url('../../Ua/img/cell-selected-bg.png') repeat scroll 0 0 transparent;
}

/* ----- Property grid ----------------------------------------------------- */

[data-rbs-structure-editor-aside-row] hr {
	border: none;
	border-bottom: 1px solid darken($light, 5%);
	margin: 15px -15px;
}

/* ----- Various styles ---------------------------------------------------- */

.structure-editor .empty {
	background: none repeat scroll 0 0 $gray-darker;
	border: 1px dashed $light;
	border-radius: 4px;
	text-align: center;
	padding: 16px 4px;
	color: $light;
	text-shadow: 0 1px 1px $gray-base;
	font-style: italic;
}

/*ace-editor,*/
.ace_editor {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	height: 300px;
	border-radius: 4px;
	border: 1px solid $gray-darker;
}

.unselectable {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#structure-editor-aside {
	top: 0;
	opacity: 0;
	transition: top 1s ease, opacity 1s ease;
}

.structure-editor .block-toolbar .btn {
	margin: 4px 0;
}

.structure-editor .preview-container {
	border: 1px solid darken($light, 8%);
	background: $light;
	text-align: left;
}

.structure-editor .preview-container img {
	max-width: 100%;
}

.structure-editor .row-header,
.structure-editor .cell-header {
	text-align: center;
}

.structure-editor .children {
	padding: 2px 4px;
}

[data-rbs-structure-editor-aside-block] .input-group-filter {
	width: 100%;
	margin-bottom: 3px;
}

@media (max-width: 992px) {
	#structure-editor-aside {
		top: 0 !important;
	}
}