@CHARSET "UTF-8";

.switch-on-off.switch {
	border: 1px solid lighten($blue-dark, 5%);
	background: $light;
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	margin: 3px 0;
	height: 22px;
}

.switch-on-off.switch label {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	font-size: 11pt;
	position: relative;
	z-index: 5;
	margin: 0;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
	-ms-transition: color .15s linear;
	-o-transition: color .15s linear;
	transition: color .15s linear, border-color .1s linear;
	font-weight: normal;
	width: 36px;
}

.switch-on-off.switch > .switch-button {
	background: none;
	display: inline-block;
	position: absolute;
	top: -3px;
	border-radius: 5px;
	border: 3px solid $brand-primary;
	background: $light;
	z-index: 4;
	-webkit-transition: left .15s linear;
	-moz-transition: left .15s linear;
	-ms-transition: left .15s linear;
	-o-transition: left .15s linear;
	transition: left .15s linear, border-color .1s linear;

	height: 26px;
	left: 38px;
	width: 40px;
}

.switch-on-off.switch.on > .switch-button {
	left: -1px;
}

.switch-on-off.switch label.on,
.switch-on-off.switch.on label.off {
	color: $text-color;
}

.switch-on-off.switch.busy.on label.off,
.switch-on-off.switch.busy.off label.on {
	animation-duration: 1s;
	animation-name: switchOnOffBusyIcon;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes switchOnOffBusyIcon {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}


.switch-on-off.switch label.off,
.switch-on-off.switch.on label.on {
	color: $brand-primary;
}

.switch-on-off.switch[disabled] {
	opacity: 0.7;
	cursor: not-allowed;
}
.switch-on-off.switch[disabled] > .switch-button {
	border: 3px solid $gray-blue-light;
}
.switch-on-off.switch[disabled] label {
	cursor: not-allowed;
}
.switch-on-off.switch[disabled] label.off,
.switch-on-off.switch.on[disabled] label.on {
	color: $gray-blue-light;
}

.switch-on-off.switch.busy > .switch-button {
	background: $brand-warning url('../../Ua/img/ajax-loader-white.gif') center center no-repeat;
	z-index: 6;
}

.switch-on-off.switch.busy,
.switch-on-off.switch.busy label {
	cursor: not-allowed;
}


.btn-toolbar .btn + .switch, .btn-toolbar .btn-group + .switch,
.btn-toolbar .switch + .btn, .btn-toolbar .switch + .btn-group {
	margin-left: 5px;
}
