[rbs-document-workflow-actions] {
	padding: 10px;
	position: relative;
}


rbs-document-list [rbs-document-workflow-actions] {
	background: #F5F5F5;
	border: 5px solid #bbbbbb;
	border-radius: 5px;
}

[rbs-document-workflow-actions] h3 {
	color: #bbbbbb;
	font-size: 20pt;
	line-height: 20pt;
	margin-top: 0;
	font-weight: normal;
}

[rbs-document-workflow-actions] form {
	margin: 0;
}

[rbs-document-workflow-actions] form .control-group:last-child {
	margin-bottom: 0;
}

.bullet-correction {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 14px;
	border: 2px solid $state-danger-text;
	border-radius: 10px;
	color: $state-danger-text;
	font-weight: bold;
	text-align: center;
}

.bullet-status {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	transition: background 0.2s ease;
	background: $light;
	z-index: 1;
}

.bullet-status .overlay {
	position: absolute;
	color: black;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 9px;
	font-weight: bold;
	padding: 0;
	line-height: 9px;

	top: 6px;
	left: 6px;
	height: 13px;
	width: 13px;

	background: #FFFFFF;
	border: 2px solid rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	opacity: 0.85;
	text-align: center;
}

.small > .bullet-status .overlay,
.bullet-status.small .overlay {
	font-size: 8px;
	line-height: 7px;
	top: 2px;
	left: 4px;
	height: 11px;
	width: 11px;
}

.bullet-status .overlay.correction {
	border-color: $state-danger-text;
	color: $state-danger-text;
}

.small > .bullet-status,
.bullet-status.small {
	width: 12px;
	height: 12px;
}

.bullet-status.PUBLISHABLE {
	border-radius: 10px;
	background: $brand-success;
}

.btn-success .bullet-status.PUBLISHABLE {
	border: 1px solid $light;
}

.bullet-status.VALIDCONTENT {
	background: $brand-success;
}

.bullet-status.DRAFT {
	border: 4px solid $gray-blue-light;
}

.bullet-status.UNPUBLISHABLE {
	background: $brand-danger;
}

.bullet-status.FROZEN {
	border-radius: 10px;
	background: $brand-primary;
}

.bullet-status.FILED {
	border-radius: 10px;
	background: $orchid-light-pastel;
}

.bullet-status.VALIDATION {
	background: $brand-warning;
}

rbs-document-list .document-list tbody td.workflow {
	padding: 0;
}

rbs-document-list .document-list tbody td.workflow > .inner {
	position: relative;
	margin: 0 -10px;
}

rbs-document-list td.workflow .workflow-indicator {
	position: absolute;
	top: -24px;
	left: 59px;
	width: 6px;
	height: 32px;
	background: $body-bg;
}


/* Colors for each status */

rbs-document-list [rbs-document-workflow-actions].PUBLISHABLE,
rbs-document-list [rbs-document-workflow-actions].VALIDCONTENT {
	background: $state-success-bg;
	border-color: $state-success-border;
}
rbs-document-list td.workflow .workflow-indicator.PUBLISHABLE,
rbs-document-list td.workflow .workflow-indicator.VALIDCONTENT {
	background: $state-success-bg;
}

[rbs-document-workflow-actions].PUBLISHABLE h3,
[rbs-document-workflow-actions].VALIDCONTENT h3 {
	color: $state-success-text;
}


rbs-document-list [rbs-document-workflow-actions].VALIDATION {
	background: $state-warning-bg;
	border-color: $state-warning-text;
}
rbs-document-list td.workflow .workflow-indicator.VALIDATION {
	background: $state-warning-bg;
}
[rbs-document-workflow-actions].VALIDATION h3 {
	color: $state-warning-text;
}


rbs-document-list [rbs-document-workflow-actions].UNPUBLISHABLE {
	background: $state-danger-bg;
	border-color: $state-danger-border;
}
rbs-document-list td.workflow .workflow-indicator.UNPUBLISHABLE {
	background: $state-danger-bg;
}
[rbs-document-workflow-actions].UNPUBLISHABLE h3 {
	color: $state-warning-text;
}

rbs-document-list [rbs-document-workflow-actions].FROZEN {
	background: lighten($brand-primary, 10%);
	border-color: $brand-primary;
}
rbs-document-list td.workflow .workflow-indicator.FROZEN {
	background: lighten($brand-primary, 10%);
}
[rbs-document-workflow-actions].FROZEN h3 {
	color: darken($brand-primary, 10%);
}

.workflow-help {
	border-top: 4px dotted $blue-dark;
	margin: 10px -10px 0 -10px;
	padding: 10px;
}

.workflow-help .step .block,
.workflow-help .arrow {
	display: block;
	width: 200px;
	*zoom: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.workflow-help .step:after,
.workflow-help .step:before {
	display: table;
	line-height: 0;
	content: "";
}
.workflow-help .step:after {
	clear: both;
}

.workflow-help .step .block {
	border: 4px solid $gray-light;
	background: lighten($gray-light, 25%);
	border-radius: 4px 4px 4px 4px;
	padding: 5px;
	margin: 0;
	float: left;
}

.workflow-help .step .explain {
	margin-left: 210px;
	color: $text-color;
	font-style: italic;
	line-height: 18px;
}

.workflow-help .step.current .block {
	border-color: $brand-primary;
}
.workflow-help .step.current .explain {
	color: darken($brand-primary, 10%);
}

.workflow-help .arrow {
	color: rgba(0,0,0,0.2);
	font-size: 3em;
	padding: 0 4px;
	text-align: center;
}

.workflow-help .arrow > i + i {
	color: rgba(0,0,0,0.1);
}

.workflow-help .step .block h5 {
	margin: 0;
}

.workflow-help .step .block .action {
	font-size: 90%;
	display: block;
	margin-top: 5px;
	padding: 3px 6px;
	border-radius: 4px;
	background: $body-bg;
}

.workflow-help .step .block .action.accept {
	color: $state-success-text;
}
.workflow-help .step .block .action.reject {
	color: $state-danger-text;
}

[rbs-document-workflow-actions] .advanced-mode {
	margin: 10px -10px -10px -10px;
	padding: 0;
	background: $body-bg;
}

[rbs-document-workflow-actions] .advanced-mode .inner {
	padding: 10px;
}

.table-diff {
	word-wrap: break-word;
	table-layout: fixed;
}

.table-diff th {
	width: 50%;
}