<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a data-rbs-active-route="" href="Rbs/User/User/" data-rbs-panel-link="" data-icon="icon-user">
		{{ i18n('m.rbs.user.admin.user_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="Rbs/User/Group/" data-rbs-panel-link="" data-icon="icon-group">
		{{ i18n('m.rbs.user.admin.group_list', ['ucf']) }}
	</a>
</div>