<rbs-field-image property="path" required="true" label="{{ i18nAttr(propertyKey('Rbs_Media_Image', 'path'), ['ucf']) }}">
</rbs-field-image>

<rbs-field-text property="label" required="true" label="{{ i18nAttr(propertyKey('Rbs_Media_Image', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="alt" label="{{ i18nAttr(propertyKey('Rbs_Media_Image', 'alt'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="title" label="{{ i18nAttr('m.rbs.media.documents.image_title', ['ucf']) }}">
</rbs-field-text>