<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.common.confirm_title', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	(= data.message =)
</div>
<div class="modal-footer">
	<button type="button" class="btn" data-ng-class="data.KOClass" data-dismiss="modal" data-ng-click="$dismiss()">
		(= data.KOLabel =)
	</button>
	<button type="button" class="btn" data-ng-class="data.OKClass" data-dismiss="modal" data-ng-click="$close(true)">
		(= data.OKLabel =)
	</button>
</div>
