<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.common.choose_an_image', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<div data-px-messages=""></div>
	<form class="form-horizontal">
		<div data-px-filters="filter" data-static-filter-methods="staticFilterMethods" data-options="restParams">
			<div data-px-static-filter="label" data-label="{{ i18nAttr('m.rbs.ua.common.global_search', ['ucf']) }}">
				<div data-px-label="{{ i18nAttr('m.rbs.ua.common.global_search', ['ucf']) }}">
					<input type="text" class="form-control" data-ng-model="filter.parameters.label" data-px-field="" />
				</div>
			</div>
		</div>
		<div data-px-thumbnail-list="" data-rest-service="config.imageListService" data-rest-params="restParams"
			data-action-methods="actionMethods" data-filter="true" data-context="modal">
			<div data-px-thumbnail-list-image="" data-image-format="l"></div>
			<div data-px-thumbnail-list-caption="" data-title="thumbnail.common.label" data-caption="buildCaption(thumbnail)"></div>
			<div data-px-thumbnail-list-action="select" data-ng-disabled="!selection"
				data-label="{{ i18nAttr('m.rbs.ua.common.action_select', ['ucf']) }}" data-icon="icon-ok" data-class="btn-success"
				data-mode="config.selectionMode">
			</div>
		</div>
	</form>
</div>