<div class="modal-header">
	<button type="button" class="close" data-ng-click="$dismiss()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.ua.common.save_filter_modal_title', ['ucf']) }}
	</h4>
</div>
<div class="modal-body">
	<p>{{ i18n('m.rbs.ua.common.save_filter_modal_description', ['ucf']) }}</p>
	<form class="form-horizontal">
		<div data-px-label="{{ i18nAttr('m.rbs.ua.common.save_filter_label', ['ucf']) }}">
			<input type="text" class="form-control" data-ng-model="modalData.label" data-px-field="" />
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-click="$dismiss()">{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}</button>
	<button type="button" class="btn btn-primary" data-ng-click="save()">{{ i18n('m.rbs.ua.common.save', ['ucf']) }}</button>
</div>