<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">(= data.location.websiteLabel =) <small>(= data.location.LCIDLabel =)</small></h4>
</div>
<div class="modal-body">
	<table class="ua-entity-list-table table table-condensed table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>{{ i18n('m.rbs.ua.common.property_relative_path', ['ucf']) }}</th>
				<th>{{ i18n('m.rbs.ua.common.property_publication', ['ucf']) }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="normal-row" data-ng-repeat="pathRule in data.location.pathRules">
				<td>
					<p><a data-ng-href="(= pathRule.url =)" target="_blank">(= pathRule.relativePath =)</a></p>
					<div class="small">
						<em data-ng-show="pathRule.canonical">{{ i18nAttr('m.rbs.ua.common.canonical_location', ['ucf']) }}</em>
						<span data-ng-hide="pathRule.canonical">(= pathRule.sectionPath.join(' > ') =)</span>
					</div>
				</td>
				<td>
					<ul class="list-unstyled no-bottom-margin">
						<li data-ng-repeat="item in pathRule.publication">
							<i data-ng-show="item.ok" class="icon-ok text-success"></i>
							<i data-ng-hide="item.ok" class="icon-remove text-danger"></i>
							(= item.message =)
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
