{% block rbsWebsiteInterstitialUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsWebsiteInterstitialUse %}

<div data-rbs-website-interstitial="" data-modal-id="interstitial-{{ blockId }}" data-cache-key="{{ blockId }}"
	data-content-url="{{ contentUrl }}">
	<div id="interstitial-{{ blockId }}" class="modal fade" data-ng-cloak="">
		<div class="modal-dialog"
			data-ng-class="{'modal-sm': parameters.popinSize == 'small', 'modal-lg': parameters.popinSize == 'large'}">
			<div class="modal-content">
				{% if parameters.popinTitle %}
					<div class="modal-header">
						{% if parameters.allowClosing %}
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">{{ i18n('m.rbs.generic.front.close', ['ucf']) }}</span>
							</button>
						{% endif %}
						<h4 class="modal-title">{{ parameters.popinTitle }}</h4>
					</div>
				{% endif %}
				<div class="modal-body">
					<div data-ng-show="modalContentMode == 'loading'" class="modal-loading-content text-center">
						<p>{{ i18n('t.rbs.base.front.loading', ['ucf', 'etc']) }}</p>
						{{ block('rbsGenericIconLoading') }}
					</div>
					<div data-ng-show="modalContentMode == 'success'">
						<div class="modal-main-content"></div>
					</div>
				</div>
				{% if parameters.allowClosing %}
					<div class="modal-footer">
						<div class="text-center">
							<button type="button" class="btn btn-link" data-dismiss="modal">
								{{ i18n('m.rbs.website.front.interstitial_direct_access', ['ucf']) }}
							</button>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>