{% block rbsWebsiteMenuUse %}{% endblock rbsWebsiteMenuUse %}

{% block rbsWebsiteMenuDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ root.toArray() | json_encode | raw}};
	</script>
{% endblock rbsWebsiteMenuDataCache %}

{% macro item(item, parameters) %}
	{% import _self as menu %}
	<li{% if item.isInPath or item.isCurrent %} class="active"{% endif %}>
		<a href="{{ item.url }}">{{ item.title }}</a>
		{% if item.hasChild and (parameters.getParameter('deployAll') or item.isInPath) %}
			<ul class="bullet">
				{% for child in item.getChildren %}
					{{ menu.item(child, parameters) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}
{% import _self as menu %}

<nav data-rbs-website-menu="" data-block-id="{{ blockId }}">
	{% if parameters.showTitle == true %}
		<h3>
			{% if root.url %}<a href="{{ root.url }}">{% endif %}{{ root.title }}{% if root.url %}</a>{% endif %}
		</h3>
	{% endif %}
	{% if root.hasChild %}
		<ul class="bullet">
			{% for child in root.children %}
				{{ menu.item(child, parameters) }}
			{% endfor %}
		</ul>
	{% endif %}
</nav>