{% block rbsWebsiteMenuUse %}{% endblock rbsWebsiteMenuUse %}

{% block rbsWebsiteMenuDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ root.toArray() | json_encode | raw}};
	</script>
{% endblock rbsWebsiteMenuDataCache %}

<nav data-rbs-website-menu="" data-block-id="{{ blockId }}">
	{% if parameters.showTitle == true %}
		<h3>
			{% if root.url %}<a href="{{ root.url }}">{% endif %}{{ root.title }}{% if root.url %}</a>{% endif %}
		</h3>
	{% endif %}
	{% if root.hasChild %}
		<ul class="list-inline">
			{%- for child in root.children -%}
				{% spaceless %}
					<li{% if child.isInPath or child.isCurrent %} class="active"{% endif %}>
						<a href="{{ child.url }}">{{ child.title }}</a>
					</li>
				{% endspaceless %}
			{%- endfor -%}
		</ul>
	{% endif %}
</nav>