{% block rbsWebsiteResponsiveSummaryMain %}
	<div data-rbs-website-responsive-summary="" data-block-names="{{ parameters.blockNames }}">
		<ul class="list-inline responsive-summary"></ul>
	</div>
{% endblock rbsWebsiteResponsiveSummaryMain %}