{% block rbsWebsiteSwitchLangUse %}
	{% use 'Rbs_Generic/icon-templates.twig' %}
{% endblock rbsWebsiteSwitchLangUse %}

{% block rbsWebsiteSwitchLangDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ blockData | json_encode | raw }};
	</script>
{% endblock rbsWebsiteSwitchLangCache %}

{% block rbsWebsiteSwitchLangMain %}
	<div class="dropdown switch-language" data-rbs-website-switch-lang="" data-block-id="{{ blockId }}">
		{% if blockData.urls | length > 1 %}
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">
				{{ block('rbsGenericIconLang') }}
				<span class="title">{{ blockData.title }}</span>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				{% for item in blockData.urls %}
					<li{% if item.LCID == blockData.LCID %} class="active"{% endif %}>
						<a href="{{ item.url }}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			{{ block('rbsGenericIconLang') }}
			<span class="title">{{ blockData.title }}</span>
		{% endif %}
	</div>
{% endblock rbsWebsiteSwitchLangMain %}

