<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publisher_list', ['ucf']) }}" data-allow-creation="true"
	data-columns="nationalities"
	data-model-name="Project_Library_Publisher" data-content-template-url="Project_Library/views/publisher/publisher-list-content.twig"
	data-filter-properties="indexedAliases">
</div>