<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-text="" data-property="label"
			data-label="{{ i18nAttr('m.project.library.webapp.publisher_name', ['ucf']) }}">
		</div>
		<div data-app-field-document-array="" data-property="nationalities" data-accepted-model="Rbs_Geo_Country" data-mode="options"
			data-static-filters="activeStaticFilters" data-label="{{ i18nAttr('m.project.library.webapp.publisher_nationalities', ['ucf']) }}">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.library.webapp.work_group_description', ['ucf']) }}">
		</div>
	</fieldset>
	<fieldset>
		<legend>{{ i18n('m.project.library.webapp.publisher_aliases', ['ucf']) }}</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Library_PublisherAlias" data-property="aliases">
			<thead>
				<tr>
					<th>{{ i18n('m.project.library.webapp.alias_label', ['ucf']) }}</th>
					<th>{{ i18n('m.project.library.webapp.alias_comment', ['ucf']) }}</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.library.webapp.alias_add', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="alias in document.aliases">
					<td>
						<input type="text" class="form-control" data-ng-model="alias.label" />
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.comment" />
					</td>
					<td class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.aliases.length >= 5">
				<tr>
					<td colspan="2">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.library.webapp.alias_add', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_PublisherLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>