<div data-app-document-detail-header="document"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publisher_publications', ['ucf']) }}"
	data-columns="works,year,endYear,volumesDetail,status" data-model-name="Project_Library_Publication" data-block-level="secondary"
	data-static-filters="publicationStaticFilters"
	data-content-template-url="Project_Library/views/publication/publication-list-content.twig"
	data-sort-desc="false" data-sort-property="work.label" data-filter-properties="works.label">
</div>