<div data-app-document-detail-header="document"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publisher_collections', ['ucf']) }}"
	data-columns="" data-allow-creation="true" data-model-name="Project_Library_Collection"
	data-block-level="secondary" data-static-filters="collectionStaticFilters"
	data-content-template-url="Project_Library/views/collection/collection-list-content.twig"
	data-new-url-parameters="newSubDocumentUrlParameters">
</div>