<div data-app-document-detail-header="document"></div>

<div data-ng-if="document.aliasesData">
	<div data-project-library-publisher-aliases="document.aliasesData"></div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt data-ng-if="document.nationalities.length">{{ i18n('m.project.library.webapp.contributor_nationalities', ['ucf']) }}</dt>
					<dd data-ng-if="document.nationalities.length">
						<span data-ng-repeat="nationality in document.nationalitiesData"
							  data-project-library-nationality="nationality" data-mode="responsive"></span>
					</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div data-project-library-links="document.links"></div>
	</div>
</div>

<div class="panel panel-default" data-ng-if="document.description.t">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.publisher_description', ['ucf']) }}</div>
	<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
</div>

<div class="row">
	<div class="col-md-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publisher_publications', ['ucf']) }}"
			data-columns="works,year,endYear,volumesDetail,status" data-compact="true" data-model-name="Project_Library_Publication"
			data-block-level="secondary" data-static-filters="publicationStaticFilters"
			data-content-template-url="Project_Library/views/publication/publication-list-content.twig"
			data-full-list-url="document | appURL:'publications'"
			data-sort-desc="false" data-sort-property="work.label"  data-filter-properties="works.label,name"
			data-exposed-data="data.publicationList">
		</div>
	</div>

	<div class="col-md-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publisher_collections', ['ucf']) }}"
			data-columns="" data-allow-creation="true" data-compact="true" data-model-name="Project_Library_Collection"
			data-block-level="secondary" data-static-filters="collectionStaticFilters"
			data-content-template-url="Project_Library/views/collection/collection-list-content.twig"
			data-new-url-parameters="newSubDocumentUrlParameters" data-full-list-url="document | appURL:'collections'"
			data-exposed-data="data.collectionList">
		</div>
	</div>
</div>

<div class="panel panel-default" data-px-panel-toggle="collapsed">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-trash"></span>
		{{ i18n('m.project.familinet.webapp.action_delete', ['ucf', 'etc']) }}
	</div>
	<div class="panel-body">
		<form class="form-horizontal" data-ng-submit="delete()" name="deleteForm">
			<div data-ng-if="data.publicationList.totalItems || data.collectionList.totalItems">
				<div data-app-field-document="" data-property="data.target.publisher" data-accepted-model="Project_Library_Publisher" data-required="true"
					data-label="{{ i18nAttr('m.project.library.webapp.merge_target', ['ucf']) }}">
				</div>
				<div data-app-field="" data-label="{{ i18nAttr('m.project.library.webapp.target_collection', ['ucf']) }}" data-ng-if="data.publicationList.totalItems">
					<select class="form-control" data-ng-model="data.target.collectionId" data-ng-disabled="!pxCollection.length"
						data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Collections"
						data-collection-params="publisher:(= :: data.target.publisher.id =)" data-ng-options="item.value as item.label for item in pxCollection">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="form-group no-bottom-margin">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="button" class="btn btn-danger" data-ng-click="confirmDelete($event)" data-ng-disabled="deleteForm.$invalid">
						<span class="glyphicon glyphicon-trash"></span>
						{{ i18n('m.project.familinet.webapp.action_delete', ['ucf']) }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div data-app-document-meta=""></div>