<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Notification_Sms', 'label'), ['ucf']) }}">
</rbs-field-text>

<div data-rbs-field="" data-property="sender" data-label="{{ i18nAttr(propertyKey('Rbs_Notification_Sms', 'sender'), ['ucf']) }}">
	<input type="text" class="form-control" data-ng-model="document.sender" data-ng-pattern="/^(?=.*[a-zA-Z])([a-zA-Z0-9 -]{1,11})$/" />
</div>

<rbs-field-long-text property="content" required="true" label="{{ i18nAttr(propertyKey('Rbs_Notification_Sms', 'content'), ['ucf']) }}">
</rbs-field-long-text>