<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.project.library.admin.publicationvolume_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter"
			model="Project_Library_PublicationVolume"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list data-dlid="DLProjectLibraryPublicationVolume"
			model="Project_Library_PublicationVolume"
			filter-collection="filter">
			<rbs-column name="order"></rbs-column>
			<rbs-column name="number"></rbs-column>
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-column name="workLabel" label="{{ i18nAttr('m.project.library.admin.publication_work', ['ucf']) }}"></rbs-column>
			<rbs-column name="publication.label"></rbs-column>
		</rbs-document-list>
	</div>
</div>