<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Geo_Address">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Geo_Address'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-geo-address-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="name" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Geo_Address', 'name'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-picker property="ownerId" accepted-model="Rbs_User_User" value-ids="true"
					label="{{ i18nAttr(propertyKey('Rbs_Geo_Address', 'ownerId'), ['ucf']) }}"
					selector-title="{{ i18nAttr('m.rbs.geo.admin.address_owner_select', ['ucf']) }}">
				</rbs-field-picker>

				<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Geo_Address', 'addressFields'), ['ucf']) }}">
					<rbs-document-select ng-model="document.addressFields" accepted-model="Rbs_Geo_AddressFields"></rbs-document-select>
				</rbs-field>

				<rbs-field-address property="fieldValues" address-fields="document.addressFields"></rbs-field-address>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>