<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.geo.admin.address_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Geo_Address" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<div class="add-elements-bar">
				{% for newDocumentLink in attributes['newDocumentLinks'] %}
					<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
						{{ newDocumentLink.label }}
					</a>
				{% endfor %}
			</div>
		</div>

		<rbs-document-list model="Rbs_Geo_Address" filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>

</div>