<rbs-field-label-title property="title" required="true"
		label="{{ i18nAttr(propertyKey('Rbs_Geo_Zone', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Geo_Zone', 'title'), ['ucf']) }}">
</rbs-field-label-title>

<rbs-field-text property="code"
		label="{{ i18nAttr(propertyKey('Rbs_Geo_Zone', 'code'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker property="country" required="true" accepted-model="Rbs_Geo_Country"
		label="{{ i18nAttr(propertyKey('Rbs_Geo_Zone', 'country'), ['ucf']) }}"
		selector-title="{{ i18nAttr('m.rbs.geo.admin.zone_country_picker_title', ['ucf']) }}">
</rbs-field-picker>

<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Geo_Zone', 'addressFilterData'), ['ucf']) }}">
	<div data-rbs-filters-container="" data-ng-model="document.addressFilterData"
			data-rbs-document-filter-container="" data-definitions="addressFiltersDefinition">
	</div>
</rbs-field>

<rbs-field-long-text property="filterErrorMessage"
		label="{{ i18nAttr(propertyKey('Rbs_Geo_Zone', 'filterErrorMessage'), ['ucf']) }}">
</rbs-field-long-text>