<div class="structure-editor" data-fields-rows-layout="">
	<div class="row" data-fields-row="-2">{% spaceless %}
		<div data-field-row-drop="" data-field-row="-2" data-field-col="-1">
			<span class="label label-default"><i class="icon-plus"></i></span>
		</div>
	{% endspaceless %}</div>
	<div class="row" data-ng-repeat="row in templateLayout" data-fields-row="(= $index =)">{% spaceless %}
		<div data-ng-repeat-start="field in row" data-field-row-drop="" data-field-row="(= field.row =)"
			data-field-col="(= field.col =)"><span class="label label-default"><i class="icon-plus"></i></span></div>
		<div data-ng-repeat-end="" data-address-field="(= field.name =)" data-field-row="(= field.row =)"
			data-field-col="(= field.col =)">
			<span class="label label-success"><i class="icon-move"></i> (= field.label =)</span>
		</div>
		<div data-field-row-drop="" data-field-row="(= $index =)" data-field-col="(= row.length =)">
			<span class="label label-default"><i class="icon-plus"></i></span>
		</div>
		<div data-field-row-drop="" data-field-row="(= $index + 1 =)" data-field-col="-1">
			<span class="label label-default">&nbsp;<i class="icon-level-down"></i>&nbsp;</span>
		</div>
	{% endspaceless %}</div>
</div>

<div class="structure-editor" data-fields-sand-box="">
	<div class="row" data-field-row-drop="" data-field-row="-1" data-field-col="-1">
		<div data-ng-repeat="field in sandBoxFields" data-address-field="(= field.code =)" data-sand-box="true">
			<span class="label label-success"><i class="icon-move"></i> (= field.label =)</span>
		</div>
	</div>
</div>
