<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Geo_AddressFields">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.admin.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Geo_AddressFields'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-geo-address-fields-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="label" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Geo_AddressFields', 'label'), ['ucf']) }}">
				</rbs-field-text>

				<hr />
				<h3>{{ i18n(propertyKey('Rbs_Geo_AddressFields', 'fields'), ['ucf']) }}</h3>
				<rbs-inline-array inline-array="document.fields" new-model="Rbs_Geo_AddressField" check-delete="canDeleteItem">
				</rbs-inline-array>

				<hr />
				<h3>{{ i18n('m.rbs.geo.admin.address_formatting', ['ucf']) }}</h3>
				<rbs-address-composer data-fields="document.fields" data-fields-layout="document.fieldsLayout">
				</rbs-address-composer>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>