<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Simpleform_Response">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Simpleform_Response'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-simpleform-response-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">
				<rbs-field data-ng-repeat="fv in document.fieldsValues" label="(=fv.title=)" >
					<div data-ng-switch="fv.fieldType.code" class="form-control-static">
						<span class="long-string" data-ng-switch-when="Rbs_Simpleform_Text_Area">(= fv.formattedValue =)</span>
						<div data-ng-switch-when="Rbs_Simpleform_File" data-rbs-storage-downloader="" data-change-uri="fv.value.changeURI"
								data-file-name="fv.formattedValue"></div>
						<a target="_blank" data-ng-switch-when="Rbs_Simpleform_Text_Url"
								href="" data-ng-href="(= fv.value =)">(= fv.formattedValue =)</a>
						<div data-ng-switch-default="">(= fv.formattedValue =)</div>
					</div>
				</rbs-field>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>