<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Contributor', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="disambiguationSuffix"
	label="{{ i18nAttr(propertyKey('Project_Library_Contributor', 'disambiguationSuffix'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-date property="birthDate"
	label="{{ i18nAttr(propertyKey('Project_Library_Contributor', 'birthDate'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-date property="deathDate"
	label="{{ i18nAttr(propertyKey('Project_Library_Contributor', 'deathDate'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-picker-multiple property="nationalities"
	label="{{ i18nAttr(propertyKey('Project_Library_Contributor', 'nationalities'), ['ucf']) }}"
	accepted-model="Rbs_Geo_Country">
</rbs-field-picker-multiple>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Contributor', 'description'), ['ucf']) }}">
</rbs-field-rich-text>