<rbs-field-picker property="work" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'work'), ['ucf']) }}"
	accepted-model="Project_Library_Work">
</rbs-field-picker>

<rbs-field-picker-multiple property="publishers"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'publishers'), ['ucf']) }}"
	accepted-model="Project_Library_Publisher">
</rbs-field-picker-multiple>

<rbs-field-picker property="collection"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'collection'), ['ucf']) }}"
	accepted-model="Project_Library_Collection">
</rbs-field-picker>

<rbs-field-text property="name"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'name'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-boolean property="oneShot"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'oneShot'), ['ucf']) }}">
</rbs-field-boolean>

<div data-ng-if="!document.oneShot">
	<rbs-field-text property="volumesDetail"
		label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'volumesDetail'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-document-select label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'status'), ['ucf']) }}"
		property="status" accepted-model="Project_Library_WorkStatus"
		ng-model="document.status">
	</rbs-field-document-select>
</div>

<rbs-field-integer property="year"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'year'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-integer property="endYear"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'endYear'), ['ucf']) }}">
</rbs-field-integer>

<rbs-field-picker-multiple property="nationalities"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'nationalities'), ['ucf']) }}"
	accepted-model="Rbs_Geo_Country">
</rbs-field-picker-multiple>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Publication', 'description'), ['ucf']) }}">
</rbs-field-rich-text>