<rbs-field-picker property="work" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Possession', 'work'), ['ucf']) }}"
	accepted-model="Project_Library_Work">
</rbs-field-picker>

<rbs-field-picker-multiple property="owners" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Possession', 'owners'), ['ucf']) }}"
	accepted-model="Rbs_User_User">
</rbs-field-picker-multiple>

<rbs-field-document-select label="{{ i18nAttr(propertyKey('Project_Library_Possession', 'status'), ['ucf']) }}"
	required="true" property="status" accepted-model="Project_Library_PossessionStatus"
	ng-model="document.status">
</rbs-field-document-select>

<rbs-field-boolean property="complete"
	label="{{ i18nAttr(propertyKey('Project_Library_Possession', 'complete'), ['ucf']) }}">
</rbs-field-boolean>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Contributor', 'description'), ['ucf']) }}">
</rbs-field-rich-text>