{% use '@Project_Library/includes/conflicts.inc.twig' %}

{% set label = labelKey ? i18nAttr('m.project.library.webapp.' ~ labelKey, ['ucf']) : label %}

<tr data-ng-if="conflicts.{{ name }}">
	<td class="form-horizontal">
		{% block field %}{% endblock field %}
	</td>
	<td style="white-space: nowrap;">
		{% block buttons %}{% endblock buttons %}
	</td>
	<td>
		{% block imported %}{% endblock imported %}
	</td>
</tr>