{% extends '@Project_Library/includes/conflict-rows/base.inc.twig' %}

{% block field %}
	<div data-app-field="" data-property="{{ name }}" data-label="{{ label }}">
		{% block fieldContent %}{% endblock %}
	</div>
{% endblock field %}

{% block buttons %}
	{{ block('replaceScalarButton') }}
{% endblock buttons %}

{% block imported %}
	<div class="form-control-static">(= conflicts.{{ name }} =)</div>
{% endblock imported %}