{% extends '@Project_Library/includes/conflict-rows/base.inc.twig' %}

{% block field %}
	<div data-app-field-rich-text="" data-property="{{ name }}" data-label="{{ label }}"></div>
{% endblock field %}

{% block buttons %}
	{{ block('replaceRichtextButton') }}
	{{ block('appendRichtextButton') }}
{% endblock buttons %}

{% block imported %}
	<div data-app-rich-text="" data-path="{e: 'Markdown', t: conflicts.{{ name }}}"></div>
{% endblock imported %}