{% extends '@Project_Library/includes/conflict-rows/field.inc.twig' %}

{% block fieldContent %}
	<select class="form-control typology-selector" data-ng-model="document.{{ name }}"
		data-ng-controller="RbsCollectionController" data-collection-code="{{ collectionCode }}"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value=""></option>
	</select>
{% endblock fieldContent %}