{% extends '@Project_Library/includes/conflict-rows/base.inc.twig' %}

{% block field %}
	<div data-app-field-text="" data-property="{{ name }}" data-label="{{ label }}"></div>
{% endblock field %}

{% block buttons %}
	{{ block('replaceScalarButton') }}
	{{ block('appendScalarButton') }}
{% endblock buttons %}

{% block imported %}
	<div class="form-control-static">(= conflicts.{{ name }} =)</div>
{% endblock imported %}