<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_Text">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Website_Text'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-website-text-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="label" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Text', 'label'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-text property="title" 
					label="{{ i18nAttr(propertyKey('Rbs_Website_Text', 'title'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-rich-text property="text" 
					label="{{ i18nAttr(propertyKey('Rbs_Website_Text', 'text'), ['ucf']) }}">
				</rbs-field-rich-text>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>