<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.richtext.image_properties', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="modalForm">
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.image_displayed', ['ucf']) }}">
			<div class="form-control-static">
				<a data-ng-href="(= config.image.src =)" target="_blank">(= config.image.label =)</a>
			</div>
		</div>
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.height', ['ucf']) }}">
			<span class="form-inline">
				<input type="number" data-ng-model="data.height" class="form-control" min="0" />
				<span class="help-inline">
					<span data-ng-show="config.image.height" class="ng-binding" style="">
						{{ i18nAttr('m.rbs.ua.richtext.original_image', ['ucf', 'lab']) }} (= config.image.height =)
						-
					</span>
					{{ i18nAttr('m.rbs.ua.richtext.leave_empty_for_auto', ['ucf']) }}
				</span>
			</span>
		</div>
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.width', ['ucf']) }}">
			<span class="form-inline">
				<input type="number" data-ng-model="data.width" class="form-control" min="0" />
				<span class="help-inline">
					<span data-ng-show="config.image.width" class="ng-binding" style="">
						{{ i18nAttr('m.rbs.ua.richtext.original_image', ['ucf', 'lab']) }} (= config.image.width =)
						-
					</span>
					{{ i18nAttr('m.rbs.ua.richtext.leave_empty_for_auto', ['ucf']) }}
				</span>
			</span>
		</div>
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.image_alt', ['ucf']) }}">
			<div data-px-extended-text-field="" data-ng-model="data.alt" data-variables="config.variables"></div>
		</div>
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.image_title', ['ucf']) }}">
			<div data-px-extended-text-field="" data-ng-model="data.title" data-variables="config.variables"></div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button data-ng-if="config.allowDeletion" type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-ng-click="delete()">
		{{ i18n('m.rbs.ua.common.delete', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="$dismiss()">
		{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="ok()" data-ng-disabled="modalForm.$invalid">
		{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
	</button>
</div>
