<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.richtext.insert_media', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<div data-px-messages=""></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ i18n('m.rbs.ua.richtext.select_medias_to_insert', ['ucf']) }}
		</div>
		<div class="panel-body form-horizontal">
			<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.media_documents', ['ucf']) }}" class="no-bottom-margin">
				<div data-px-documents-selector="" data-ng-model="data.documentIds"
					data-accepted-models="['Rbs_Media_Image', 'Rbs_Media_File']"
					data-default-model="Rbs_Media_Image"
					data-selection-modals="{'Rbs_Media_Image': 'proximisUa/imageSelector'}"
					data-search-rest-service="(= config.documentSelectorSearchService =)"
					data-load-rest-service="(= config.documentSelectorLoadService =)">
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" data-px-panel-toggle="collapsed">
		<div class="panel-heading">
			{{ i18n('m.rbs.ua.richtext.upload_a_new_image', ['ucf']) }}
		</div>
		<div class="panel-body">
			<form name="uploadImageForm">
				<fieldset class="form-horizontal">
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.choose_an_image', ['ucf']) }}" class="required">
						<input data-px-field="" type="file" px-file-model="newImage.file" name="file" required="required" />
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.back_office_label', ['ucf']) }}" class="required">
						<input data-px-field="" type="text" data-ng-model="newImage.label" class="form-control" required="required" />
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.translation_language_for_front_website', ['ucf']) }}" class="required">
						<div data-px-language-selector="newImage.LCID" required="required" data-field-name="newImageLCID"></div>
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.alt_text', ['ucf']) }}">
						<input data-px-field="" type="text" data-ng-model="newImage.alt" class="form-control" />
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.tooltip', ['ucf']) }}">
						<input data-px-field="" type="text" data-ng-model="newImage.title" class="form-control" />
					</div>
					<button class="btn btn-success pull-right" data-ng-click="uploadImage()"
						data-ng-disabled="uploadImageForm.$invalid || newImage.uploading">
						{{ i18n('m.rbs.ua.common.upload_image', ['ucf']) }}
					</button>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="panel panel-default no-bottom-margin" data-px-panel-toggle="collapsed">
		<div class="panel-heading">
			{{ i18n('m.rbs.ua.richtext.upload_a_new_file', ['ucf']) }}
		</div>
		<div class="panel-body">
			<form name="uploadFileForm">
				<fieldset class="form-horizontal">
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.choose_a_file', ['ucf']) }}" class="required">
						<input data-px-field="" type="file" px-file-model="newFile.file" name="file" required="required" />
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.back_office_label', ['ucf']) }}" class="required">
						<input data-px-field="" type="text" data-ng-model="newFile.label" class="form-control" required="required" />
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.translation_language_for_front_website', ['ucf']) }}" class="required">
						<div data-px-language-selector="newFile.LCID" required="required" data-field-name="newFileLCID"></div>
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.title', ['ucf']) }}" class="required">
						<input data-px-field="" type="text" data-ng-model="newFile.title" class="form-control" required="required" />
					</div>
					<div data-px-label="{{ i18nAttr('m.rbs.ua.common.description', ['ucf']) }}">
						<input data-px-field="" type="text" data-ng-model="newFile.description" class="form-control" />
					</div>
					<button class="btn btn-success pull-right" data-ng-click="uploadFile()"
						data-ng-disabled="uploadFileForm.$invalid || newFile.uploading">
						{{ i18n('m.rbs.ua.common.upload_file', ['ucf']) }}
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="$dismiss()">
		{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="ok()" data-ng-disabled="disableOkButton()">
		{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
	</button>
</div>
