<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.ua.richtext.link', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div data-ng-if="config.needsText" data-px-label="{{ i18nAttr('m.rbs.ua.richtext.link_text', ['ucf']) }}">
			<input type="text" data-ng-model="data.text" name="text" class="form-control" />
		</div>
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.link_title', ['ucf']) }}">
			<input type="text" data-ng-model="data.title" name="title" class="form-control" />
		</div>
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.link_open_in_new_window', ['ucf']) }}">
			<div class="btn-group">
				<label class="btn btn-default" data-ng-model="data.target" data-uib-btn-radio="''">
					{{ i18nAttr('m.rbs.ua.common.no', ['ucf']) }}
				</label>
				<label class="btn btn-default" data-ng-model="data.target" data-uib-btn-radio="'_blank'">
					{{ i18nAttr('m.rbs.ua.common.yes', ['ucf']) }}
				</label>
			</div>
		</div>
		<hr />
		<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.link_type', ['ucf']) }}">
			<div class="btn-group">
				<label class="btn btn-default" data-ng-model="data.type" data-uib-btn-radio="'internal'"
					data-ng-if="config.allowInternal">
					{{ i18nAttr('m.rbs.ua.richtext.link_type_internal', ['ucf']) }}
				</label>
				<label class="btn btn-default" data-ng-model="data.type" data-uib-btn-radio="'external'">
					{{ i18nAttr('m.rbs.ua.richtext.link_type_extenal', ['ucf']) }}
				</label>
				<label class="btn btn-default" data-ng-model="data.type" data-uib-btn-radio="'anchor'">
					{{ i18nAttr('m.rbs.ua.richtext.link_type_anchor', ['ucf']) }}
				</label>
			</div>
		</div>
		<div data-ng-if="data.type === 'internal'">
			<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.link_document', ['ucf']) }}">
				<div data-px-document-selector="" data-ng-model="data.documentId" data-accepted-models="{publishable: true}"
					data-search-rest-service="(= config.documentSelectorSearchService =)"
					data-load-rest-service="(= config.documentSelectorLoadService =)">
				</div>
			</div>
		</div>
		<div data-ng-if="data.type === 'external'">
			<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.link_url', ['ucf']) }}">
				<div class="input-group input-group-block">
					<span class="input-group-addon input-group-addon-select" style="width: 100px;">
						<select class="form-control" data-ng-model="data.protocol" data-ng-options="protocol for protocol in config.protocols">
							<option value="">{{ i18n('m.rbs.ua.richtext.link_other', ['ucf']) }}</option>
						</select>
					</span>
					<input type="text" data-ng-model="data.url" name="url" class="form-control" />
				</div>
			</div>
		</div>
		<div data-ng-if="data.type === 'anchor'">
			<div data-px-label="{{ i18nAttr('m.rbs.ua.richtext.link_anchor', ['ucf']) }}">
				<div data-ng-if="config.anchors.length">
					<select class="form-control" data-ng-model="data.anchor" data-ng-options="anchor for anchor in config.anchors"></select>
				</div>
				<div data-ng-if="!config.anchors.length" class="form-control-static">
					{{ i18n('m.rbs.ua.richtext.link_no_anchor', ['ucf']) }}
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button data-ng-if="config.allowDeletion" type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-ng-click="delete()">
		{{ i18n('m.rbs.ua.common.delete', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="$dismiss()">
		{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="ok()" data-ng-disabled="disableOkButton()">
		{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
	</button>
</div>
