<div data-ng-controller="RbsGenericSuccessJobs">
	{% embed '@Rbs_Generic/jobs-list.twig' %}
		{% block jobTitle %}
			<div data-rbs-page-header="" title="{{ i18nAttr('m.rbs.generic.admin.success_jobs', ['ucf']) }}"></div>
		{% endblock %}
	{% endembed %}
</div>