<div data-ng-controller="RbsGenericRunningJobs">
	{% embed '@Rbs_Generic/jobs-list.twig' %}
		{% set lineNgClass = 'data-ng-class="{warning: (job.properties.__hours > 1), danger: (job.properties.__hours > 12)}"' %}
		{% block jobTitle %}
			<div data-rbs-page-header="" title="{{ i18nAttr('m.rbs.generic.admin.running_jobs', ['ucf']) }}"></div>
		{% endblock jobTitle %}
	{% endembed %}
</div>