<div class="row">
	<div data-rbs-aside-column="">
		<div data-rbs-default-asides-for-list=""></div>
	</div>
	<div data-rbs-main-column="">
		<div class="pull-right">
			<button type="button" class="btn" data-ng-disabled="pagination.loading"
				data-ng-class="{false:'btn-default', true:'btn-warning'}[pagination.loading]"
				title="{{ i18nAttr('m.rbs.admin.admin.refresh', ['ucf']) }}" data-ng-click="reloadJobs()">
				<i class="icon-refresh icon-spin" data-ng-class="{'icon-spin': pagination.loading}"></i>
			</button>
		</div>

		{% block jobTitle %}
			<div data-rbs-page-header="" title="{{ i18nAttr('m.rbs.generic.admin.running_jobs', ['ucf']) }}"></div>
		{% endblock %}

		{% block jobFilter %}
			<fieldset class="form-horizontal">
				<legend class="h4">{{ i18nAttr('m.rbs.generic.admin.job_filter', ['ucf']) }}</legend>
				<div data-rbs-field="" data-property="filters.startDate"
					data-label="{{ i18nAttr('m.rbs.generic.admin.job_filter_start', ['ucf']) }}">
					<div data-rbs-date-selector="" data-ng-model="filters.startDate"></div>
				</div>
				<div data-rbs-field="" data-property="filters.endDate"
					data-label="{{ i18nAttr('m.rbs.generic.admin.job_filter_end', ['ucf']) }}">
					<div data-rbs-date-selector="" data-ng-model="filters.endDate"></div>
				</div>
			</fieldset>
		{% endblock %}

		<div class="table-responsive">
			<table class="document-list table table-condensed table-bordered table-striped table-hover token">
				<thead>
					<tr>
						<th data-ng-class="{'sorted': pagination.sort == 'id'}">
							<a href="" data-ng-click="pagination.sort = 'id'; pagination.desc = !pagination.desc">
								{{ i18n('m.rbs.generic.admin.job_id', ['ucf']) }}
							</a>
							<i data-ng-if="pagination.sort != 'id'" class="column-sort-indicator icon-sort"></i>
							<i data-ng-if="pagination.sort == 'id'"
								data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[pagination.desc]"></i>
						</th>
						<th data-ng-class="{'sorted': pagination.sort == 'name'}">
							<a href="" data-ng-click="pagination.sort = 'name'; pagination.desc = !pagination.desc">
								{{ i18n('m.rbs.generic.admin.job_name', ['ucf']) }}
							</a>
							<i data-ng-if="pagination.sort != 'name'" class="column-sort-indicator icon-sort"></i>
							<i data-ng-if="pagination.sort == 'name'"
								data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[pagination.desc]"></i>
						</th>
						<th data-ng-class="{'sorted': pagination.sort == 'start_date'}">
							<a href="" data-ng-click="pagination.sort = 'start_date'; pagination.desc = !pagination.desc">
								{{ i18n('m.rbs.generic.admin.job_start_date', ['ucf']) }}
							</a>
							<i data-ng-if="pagination.sort != 'start_date'" class="column-sort-indicator icon-sort"></i>
							<i data-ng-if="pagination.sort == 'start_date'"
								data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[pagination.desc]"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					{% block jobLine %}
						<tr data-ng-repeat-start="job in pagination.currentItems" class="normal-row" {{ lineNgClass|raw }}>
							<td>(= job.properties.id =)</td>
							<td>
								<span class="pull-right quick-actions-buttons">
									{% block jobLineButton %}
									{% endblock jobLineButton %}
									<button class="btn-default btn-xs btn" data-ng-click="job.properties._expand = !job.properties._expand"
										title="{{ i18nAttr('m.rbs.generic.admin.job_parameters', ['ucf']) }}">
										<i data-ng-class="{'icon-eye-open': !job.properties._expand, 'icon-eye-close': job.properties._expand}"></i>
									</button>
								</span>
								(= job.properties.name =)
							</td>
							<td>(= job.properties.startDate | rbsDateTime =)</td>
						</tr>
					{% endblock jobLine %}
					<tr data-ng-repeat-end="" data-ng-if="job.properties._expand" class="normal-row preview">
						<td colspan="3" class="preview">
							{% block jobArguments %}
								<div class="inner">
									<button class="btn btn-xs btn-default pull-right" data-ng-click="job.properties._expand = false">
										{{ i18n('m.rbs.generic.admin.close_job_parameters', ['ucf']) }}
									</button>
									<h4 class="no-top-margin">{{ i18n('m.rbs.generic.admin.job_parameters', ['ucf']) }}</h4>
									<dl class="dl-horizontal no-bottom-margin">
										<dt data-ng-repeat-start="(key, value) in job.properties.arguments"
											data-ng-show="key !== 'Exception'">(= key =)
										</dt>
										<dd data-ng-repeat-end="" data-ng-show="key !== 'Exception'">(= value | json =)</dd>
									</dl>
									<div data-ng-if="!keys(job.properties.arguments || {}).length">
										{{ i18n('m.rbs.generic.admin.job_no_parameters', ['ucf']) }}
									</div>
								</div>
							{% endblock jobArguments %}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<div data-rbs-pagination="pagination"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
