<div data-ng-controller="RbsGenericWaitingJobs">
	{% embed '@Rbs_Generic/jobs-list.twig' %}
		{%  set lineNgClass = 'data-ng-class="{warning: (job.properties.__hours > 0), danger: (job.properties.__hours > 2)}"' %}
		{% block jobTitle %}
			<div data-rbs-page-header="" title="{{ i18nAttr('m.rbs.generic.admin.waiting_jobs', ['ucf']) }}"></div>
		{% endblock jobTitle %}

		{% block jobLineButton %}
			<button data-ng-disabled="job.properties._running" class="btn btn-xs btn-default"
				data-ng-click="runJob(job.properties.id); job.properties._running = true"
				title="{{ i18nAttr('m.rbs.generic.admin.job_restart', ['ucf']) }}">
				<i class="icon-play"></i>
			</button>
		{% endblock jobLineButton %}
	{% endembed %}
</div>