<div data-ng-controller="RbsGenericFailedJobs">
	{% embed '@Rbs_Generic/jobs-list.twig' %}
		{% block jobTitle %}
			<div data-rbs-page-header="" title="{{ i18nAttr('m.rbs.generic.admin.failed_jobs', ['ucf']) }}"></div>
		{% endblock %}

		{% block jobLineButton %}
			<button data-ng-disabled="job.properties._running" class="btn-xs btn"
				data-ng-click="runJob(job.properties.id); job.properties._running = true"
				title="{{ i18nAttr('m.rbs.generic.admin.job_restart', ['ucf']) }}">
				<i class="icon-play"></i>
			</button>
		{% endblock jobLineButton %}

		{% block jobArguments %}
			<div class="inner">
				<button class="btn btn-xs btn-default pull-right" data-ng-click="job.properties._expand = false">
					{{ i18n('m.rbs.generic.admin.close_job_parameters', ['ucf']) }}
				</button>
				<h4 class="no-top-margin">{{ i18n('m.rbs.generic.admin.job_parameters', ['ucf']) }}</h4>
				<dl class="dl-horizontal no-bottom-margin">
					<dt data-ng-repeat-start="(key, value) in job.properties.arguments">(= key =)</dt>
					<dd data-ng-repeat-end="">
						<div data-ng-if="key == 'Exception'">
							<p><strong>(= value.message =)</strong> ((= value.code =))</p>
							<div class="" style="font-size:12px;max-width:500px;">
								<table class="table table-condensed table-striped table-bordered">
									<thead>
										<tr>
											<th colspan="2">{{ i18n('m.rbs.generic.admin.trace_file') }}</th>
											<th>{{ i18n('m.rbs.generic.admin.trace_line') }}</th>
											<th>{{ i18n('m.rbs.generic.admin.trace_method_call') }}</th>
											<th>{{ i18n('m.rbs.generic.admin.parameters') }}</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="(index, item) in value.trace">
											<td>#(= index =)</td>
											<td class="col-md-2">(= item.file =)</td>
											<td>(= item.line =)</td>
											<td>(= item.class =)(= item.type =)(= item.function =)</td>
											<td>
												<span data-ng-repeat="arg in item.args">
													(= arg =)<span data-ng-show="!$last">, </span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div data-ng-if="key != 'Exception'">(= value | json =)</div>
					</dd>
				</dl>
			</div>
		{% endblock %}
	{% endembed %}
</div>