<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_Menu">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Website_Menu'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-website-menu-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Menu', 'title'), ['ucf']) }}">
				</rbs-field-text>

				<hr />

				<h3>{{ i18n(propertyKey('Rbs_Website_Menu', 'entries'), ['ucf']) }}</h3>
				<rbs-inline-array inline-array="document.entries" new-model="Rbs_Website_MenuEntry"
					data-ref-lcid="document.refLCID" data-lcid="document.LCID">
				</rbs-inline-array>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>