<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.possession_list', ['ucf']) }}"
	data-columns="status,volumes,complete,owners,work,publication"
	data-model-name="Project_Library_Possession" data-content-template-url="Project_Library/views/possession/possession-list-content.twig"
	data-sort-desc="true" data-sort-property="id" data-filter-properties="work.label">
</div>