<div data-app-document-detail-header="document" data-title="{{ i18nAttr('m.project.library.webapp.possession', ['ucf']) }}"
	data-subtitle="(= :: document.label =)"></div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt>{{ i18n('m.project.library.webapp.possession_work', ['ucf']) }}</dt>
					<dd><div data-project-library-work-link="document.work"></div></dd>
					<dt>{{ i18n('m.project.library.webapp.possession_owners', ['ucf']) }}</dt>
					<dd><span data-project-library-user-links="document.owners"></span></dd>
					<dt>{{ i18n('m.project.library.webapp.possession_status', ['ucf']) }}</dt>
					<dd><span data-project-library-status="document.status"></span></dd>
					<dt data-ng-if="document.volumesLabel">{{ i18n('m.project.library.webapp.possession_volumes', ['ucf']) }}</dt>
					<dd data-ng-if="document.volumesLabel">(= :: document.volumesLabel =)</dd>
					<dt data-ng-if="document.complete">{{ i18n('m.project.library.webapp.possession_complete', ['ucf']) }}</dt>
					<dd data-ng-if="document.complete">
						<span class="glyphicon glyphicon-ok text-success"
							title="{{ i18nAttr('m.project.library.webapp.possession_complete', ['ucf']) }}"></span>
					</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default" data-ng-if="document.details">
			<div class="panel-heading">{{ i18n('m.project.library.webapp.possession_details', ['ucf']) }}</div>
			<div class="panel-body">
				<ul class="no-bottom-margin">
					<li data-ng-repeat="detail in document.details">
						<span data-project-library-publication="detail.publication"></span>
						<div data-ng-if="detail.volumes.length || detail.label" class="inline-block"> :
							<span data-ng-if="!detail.volumes.length">(= :: detail.label =)</span>
							<div data-ng-if="detail.volumes.length" class="dropdown cursor-pointer inline-block">
								<span data-toggle="dropdown">(= :: detail.label =) <span class="caret"></span></span>
								<ul class="dropdown-menu">
									<li data-ng-repeat="volume in detail.volumes">
										<a href="" data-ng-href="(= :: volume|appURL =)">(= :: volume.label =)</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.possession_loans', ['ucf']) }}"
			data-model-name="Project_Library_Loan" data-block-level="secondary" data-static-filters="loanStaticFilters"
			data-columns="borrowerName,status,date,possession" data-compact="true" data-allow-creation="true"
			data-content-template-url="Project_Library/views/loan/loan-list-content.twig"
			data-new-url-parameters="newSubDocumentUrlParameters" data-filter-properties="borrowerName">
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">{{ i18n('m.project.library.webapp.possession_description', ['ucf']) }}</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>
	</div>
</div>

<div data-app-document-meta=""></div>