<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-document-array="" data-property="owners" data-accepted-model="Rbs_User_User" data-mode="options" data-required="true"
			data-label="{{ i18nAttr('m.project.library.webapp.possession_owners', ['ucf']) }}">
		</div>
		<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_PossessionStatus" data-required="true"
			data-label="{{ i18nAttr('m.project.library.webapp.possession_status', ['ucf']) }}">
		</div>
		<div data-app-field-boolean="" data-property="complete"
			data-label="{{ i18nAttr('m.project.library.webapp.possession_complete', ['ucf']) }}">
		</div>
		<div data-app-field="" data-property="details" data-label="{{ i18nAttr('m.project.library.webapp.possession_details', ['ucf']) }}">
			<table class="table" data-app-document-inline="Project_Library_PossessionDetail" data-property="details">
				<thead>
					<tr>
						<th>{{ i18n('m.project.library.webapp.possession_detail_publication', ['ucf']) }}</th>
						<th>{{ i18n('m.project.library.webapp.possession_detail_volumes', ['ucf']) }}</th>
						<th>{{ i18n('m.project.library.webapp.possession_detail_description', ['ucf']) }}</th>
						<th class="text-right th-btn th-btn-3">
							<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
								title="{{ i18nAttr('m.project.library.webapp.possession_detail_add', ['ucf']) }}">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="detail in document.details" data-project-library-possession-properties="">
						<td>
							<div data-app-document-selector="" data-ng-model="detail.publication"
								data-static-filters="publicationStaticFilters"
								data-accepted-model="Project_Library_Publication" data-mode="options"></div>
						</td>
						<td>
							<div data-ng-show="!detail.publication.oneShot">
								<div data-app-document-array-selector="" data-ng-model="detail.volumes"
									data-ng-disabled="!detail.publication" data-static-filters="volumesStaticFilters"
									data-accepted-model="Project_Library_PublicationVolume" data-mode="options">
								</div>
							</div>
						</td>
						<td>
							<div data-ng-show="!detail.publication.oneShot">
								<input type="text" class="form-control" data-ng-model="detail.description" data-ng-disabled="detail.volumes.length" />
							</div>
							<div data-ng-show="detail.publication.oneShot">
								1 ({{ i18n('m.project.library.webapp.one_shot', ['ucf']) }})
							</div>
						</td>
						<td class="text-right">
							<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
								data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
								<span class="glyphicon glyphicon-triangle-top"></span>
							</button>
							<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
								data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button>
							<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
								title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.library.webapp.possession_description', ['ucf']) }}">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>