<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-text="" data-property="borrowerName"
			data-label="{{ i18nAttr('m.project.library.webapp.loan_borrower', ['ucf']) }}">
		</div>
		<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_LoanStatus"
			data-label="{{ i18nAttr('m.project.library.webapp.loan_status', ['ucf']) }}" data-required="true">
		</div>
		<div data-app-field-date="" data-property="date" data-show-yesterday-button="true" data-show-now-button="true"
			data-label="{{ i18nAttr('m.project.library.webapp.loan_date', ['ucf']) }}">
		</div>
		<div data-app-field-date="" data-property="returnDate" data-show-yesterday-button="true" data-show-now-button="true"
			data-label="{{ i18nAttr('m.project.library.webapp.loan_return_date', ['ucf']) }}">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.library.webapp.loan_description', ['ucf']) }}">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>