<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th>{{ i18n('m.project.library.webapp.loan_borrower', ['ucf']) }}</th>
			<th style="width: 30px;">{{ i18n('m.project.library.webapp.possession_status', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td>
				<a href="" data-ng-href="(= :: document|appURL =)">
					(= :: document.borrowerName =)
				</a>
				<small class="text-muted">(= :: document.date|appDate =)</small>
			</td>
			<td>
				<span data-project-library-status="document.status" data-mode="responsive"></span>
			</td>
		</tr>
	</tbody>
</table>