<div data-app-document-detail-header="document"></div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt>{{ i18n('m.project.library.webapp.loan_work', ['ucf']) }}</dt>
					<dd><div data-project-library-work-link="document.work"></div></dd>
					<dt>{{ i18n('m.project.library.webapp.loan_owners', ['ucf']) }}</dt>
					<dd><span data-project-library-user-links="possession.owners"></span></dd>
					<dt>{{ i18n('m.project.library.webapp.loan_status', ['ucf']) }}</dt>
					<dd><span data-project-library-status="document.status"></span></dd>
					<dt data-ng-if="document.borrowerName">{{ i18n('m.project.library.webapp.loan_borrower', ['ucf']) }}</dt>
					<dd data-ng-if="document.borrowerName">(= :: document.borrowerName =)</dd>
					<dt data-ng-if="document.date">{{ i18n('m.project.library.webapp.loan_date', ['ucf']) }}</dt>
					<dd data-ng-if="document.date">(= :: document.date|appDate =)</dd>
					<dt data-ng-if="document.returnDate">{{ i18n('m.project.library.webapp.loan_returnDate', ['ucf']) }}</dt>
					<dd data-ng-if="document.returnDate">(= :: document.returnDate|appDate =)</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">{{ i18n('m.project.library.webapp.possession_description', ['ucf']) }}</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>
	</div>
</div>

<div data-app-document-meta=""></div>