<div data-app-document-editor="" data-model="Project_Library_Loan">
	<div class="page-header">
		<h1>{{ i18n('m.project.familinet.webapp.creation', ['ucf']) }} <small>(= document.label =)</small></h1>
	</div>

	<form name="form" class="form-horizontal" data-ng-submit="submit()" data-app-document-new="">
		<div data-ng-include="'Project_Library/views/loan/loan-properties.twig'"></div>

		<div data-app-document-editor-footer=""></div>
	</form>
</div>