{% extends '@Rbs_Ua/Ua/print/print-base.twig' %}

{% block addBodyContent %}
	<table>
	{% for barcodeSrc in barcodesSrc %}
		<tr class="barcode-img">
			<td><img src="{{ barcodeSrc }}" /></td>
		<tr>
	{% endfor %}
	</table>
{% endblock addBodyContent %}

{% block addHeadContent %}
	<style>
		table {
			table-layout: fixed;
		}

		td {
			height: 100px;
		}
	</style>
{% endblock addHeadContent %}
