<!doctype html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		{% block addHeadContent %}
		{% endblock addHeadContent %}
	</head>
	<body>
		{% block addBodyContent %}
		{% endblock addBodyContent %}
	</body>
</html>