{# Parameters: propertyName #}
{% block replaceScalarButton %}
	<button class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.project.familinet.webapp.action_replace', ['ucf']) }}"
		data-ng-click="replaceScalarValue('{{ name }}')">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</button>
{% endblock replaceScalarButton %}

{# Parameters: propertyName #}
{% block appendScalarButton %}
	<button class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.project.familinet.webapp.action_add', ['ucf']) }}"
		data-ng-click="appendScalarValue('{{ name }}')">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
{% endblock appendScalarButton %}

{# Parameters: propertyName #}
{% block replaceRichtextButton %}
	<button class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.project.familinet.webapp.action_replace', ['ucf']) }}"
		data-ng-click="replaceRichtextValue('{{ name }}')">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</button>
{% endblock replaceRichtextButton %}

{# Parameters: propertyName #}
{% block appendRichtextButton %}
	<button class="btn btn-default btn-sm btn-icon" title="{{ i18nAttr('m.project.familinet.webapp.action_add', ['ucf']) }}"
		data-ng-click="appendRichtextValue('{{ name }}')">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
{% endblock appendRichtextButton %}