<td class="nowrap">
	<a href="" data-ng-href="(= :: document | appURL =)" class="btn btn-default btn-xs btn-icon"
		title="{{ i18nAttr('m.project.familinet.webapp.action_view', ['ucf']) }}">
		<span class="glyphicon glyphicon-eye-open"></span>
	</a>
	<a href="" data-ng-href="(= :: document | appURL:'edit' =)" class="btn btn-default btn-xs btn-icon"
		title="{{ i18nAttr('m.project.familinet.webapp.action_edit', ['ucf']) }}">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
</td>