<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	<span class="glyphicon glyphicon-book"></span> {{ i18n('m.project.library.webapp.library', ['ucf']) }} <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
	<li><a href="" data-ng-href="(= :: 'Project_Library'|appURL =)">{{ i18n('m.project.familinet.webapp.home', ['ucf']) }}</a></li>
	<li class="divider"></li>
	<li><a href="" data-ng-href="(= :: 'Project_Library_Work'|appURL =)">{{ i18n('m.project.library.webapp.work_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Project_Library_WorkGroup'|appURL =)">{{ i18n('m.project.library.webapp.work_group_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Project_Library_Genre'|appURL =)">{{ i18n('m.project.library.webapp.genre_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Project_Library_Contributor'|appURL =)">{{ i18n('m.project.library.webapp.contributor_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Project_Library_Publisher'|appURL =)">{{ i18n('m.project.library.webapp.publisher_list', ['ucf']) }}</a></li>
	<li class="divider"></li>
	<li><a href="" data-ng-href="(= :: 'Project_Library_Possession'|appURL =)">{{ i18n('m.project.library.webapp.possession_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Project_Library_Reading'|appURL =)">{{ i18n('m.project.library.webapp.reading_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Rbs_User_User'|appURL =)">{{ i18n('m.project.library.webapp.user_list', ['ucf']) }}</a></li>
</ul>