<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% for headLine in pageResult.head %}
	{{ headLine|raw }}
{% endfor %}
	<link rel="icon" type="image/x-icon" href="{{ resourceURL('Theme/Rbs/Base/img/favicon.ico') }}">
	<link rel="icon" type="image/png" href="{{ resourceURL('Theme/Rbs/Base/img/favicon.png') }}" />
	<!-- cssHead -->
</head>
<body class="container">
	<header id="header" class="row">
		<div class="well">
			<a href="/">
				<img src="{{ resourceURL('Theme/Rbs/Base/img/logo.png') }}" alt="" class="img-responsive" style="margin: auto;" />
			</a>
		</div>
	</header>
	<section id="content" class="row">
		<div id="content-middle">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>{{ i18n('t.rbs.base.front.error_title', ['ucf']) }}</h1>
				</div>
				<!-- mainContent -->
			</div>
		</div>
	</section>
</body>
</html>