<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.seo.ua.add_redirection', ['ucf']) }}</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-hide="modalData.savingData">
	<form name="addPathRuleForm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="icon-link" aria-hidden="true"></span> {{ i18n('m.rbs.seo.ua.url_to_add', ['ucf']) }}
			</div>
			<div class="panel-body form-horizontal">
				<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}"
					data-ng-class="{'has-error': addPathRuleForm['website'].$invalid}">
					<select class="form-control" data-ng-model="modalData.newRule.website" data-ng-required="true" name="website" data-px-field=""
						data-ng-options="item as item.label for item in modalData.websites"
						data-ng-show="modalData.websites.length > 1">
					</select>
					<div class="form-control-static" data-ng-show="modalData.websites.length == 1">(= modalData.newRule.website.label =)</div>
				</div>
				<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_relative_path', ['ucf']) }}"
					data-ng-class="{'has-error': addPathRuleForm['relativePath'].$invalid}">
					<input type="text" class="form-control" data-ng-model="modalData.newRule.relativePath" data-ng-required="true"
						name="relativePath" data-px-field="" />
				</div>
				<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_http_status', ['ucf']) }}"
					data-ng-class="{'has-error': addPathRuleForm['httpStatus'].$invalid}">
					<label class="radio-inline">
						<input type="radio" name="httpStatus" data-ng-model="modalData.newRule.httpStatus" value="301"> 301
					</label>
					<label class="radio-inline">
						<input type="radio" name="httpStatus" data-ng-model="modalData.newRule.httpStatus" value="302"> 302
					</label>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="icon-screenshot" aria-hidden="true"></span> {{ i18n('m.rbs.seo.ua.target', ['ucf']) }}
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.a_publishable_document', ['ucf']) }}" data-mode="vertical">
							<div data-px-document-selector="" data-ng-model="modalData.newRule.targetDocId" data-accepted-models="{publishable: true}"
								data-search-rest-service="Rbs_Seo_DocumentForSelector.search"
								data-load-rest-service="Rbs_Seo_DocumentForSelector.load"
								data-rest-service-params="{urlContext: {websiteId: '(= modalData.newRule.website.id =)', LCID: '(= modalData.newRule.website.LCID =)'}}">
							</div>
						</div>
						<button type="button" class="btn btn-primary" data-ng-disabled="!modalData.newRule.targetDocId || addPathRuleForm.$invalid"
							data-ng-click="saveNewRuleToDocument()">
							{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
						</button>
					</div>
					<div class="col-sm-6">
						<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.a_path_rule', ['ucf']) }}" data-mode="vertical">
							<div data-px-seo-path-rule-selector="" data-ng-model="modalData.newRule.targetRuleId"
								data-rest-service-params="{urlContext: {websiteId: '(= modalData.newRule.website.id =)', LCID: '(= modalData.newRule.website.LCID =)'}}"></div>
						</div>
						<button type="button" class="btn btn-primary" data-ng-disabled="!modalData.newRule.targetRuleId || addPathRuleForm.$invalid"
							data-ng-click="saveNewRuleToRule()">
							{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>