<div data-ng-controller="ProximisSeoPathRuleListController">
	<button type="button" class="btn btn-default pull-right" data-ng-click="openAddRuleModal()">
		<span class="icon-plus"></span> {{ i18n('m.rbs.seo.ua.add_redirection', ['ucf']) }}
	</button>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.path_rule_list', ['ucf']) }}"></div>
	<div data-px-filters="filter" data-options="globalData" data-static-filter-methods="staticFilterMethods">
		<div data-px-static-filter="website" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_website', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
				<select class="form-control" data-ng-model="filter.parameters.website" data-px-field=""
					data-ng-options="item as item.label for item in options.websites">
				</select>
			</div>
		</div>
		<div data-px-static-filter="relativePath" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_relative_path', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_relative_path', ['ucf']) }}">
				<input type="text" class="form-control" data-ng-model="filter.parameters.relativePath" data-px-field="" />
			</div>
		</div>
		<div data-px-static-filter="httpStatus" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_url_status', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_http_status', ['ucf']) }}">
				<select class="form-control" data-ng-model="filter.parameters.httpStatus" data-px-field="">
					<option></option>
					<option value="200">200</option>
					<option value="301">301</option>
					<option value="302">302</option>
				</select>
			</div>
		</div>
		<div data-px-static-filter="target" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_target', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_target', ['ucf']) }}">
				<div data-px-document-selector="" data-ng-model="filter.parameters.targetId" data-accepted-models="{publishable: true}"
					data-search-rest-service="Rbs_Seo_DocumentForSelector.search"
					data-load-rest-service="Rbs_Seo_DocumentForSelector.load">
				</div>
			</div>
		</div>
	</div>
	<div data-px-ua-entity-list="" data-rest-service="Rbs_Seo_PathRule.list" data-filter="true" data-action-methods="actionMethods">
		<div data-px-list-column="common.websiteLabel" data-sort="website_id"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
		</div>
		<div data-px-list-column="common.LCIDLabel" data-sort="lcid"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_lcid_label', ['ucf']) }}">
		</div>
		<div data-px-list-column="common.relativePath" data-label="{{ i18nAttr('m.rbs.seo.ua.property_relative_path', ['ucf']) }}">
			<a data-ng-if="doc.common.publicUrl" href="" data-ng-href="(= doc.common.publicUrl =)" target="_blank">(= doc.common.relativePath =)</a>
			<span data-ng-if="!doc.common.publicUrl">(= doc.common.relativePath =)</span>
		</div>
		<div data-px-list-column="common.documentLabel" data-label="{{ i18nAttr('m.rbs.seo.ua.property_document_label', ['ucf']) }}">
			<span data-ng-if="doc.common.documentLabel">
				(= doc.common.documentLabel =)<br />
				<small class="text-muted" data-ng-show="doc.common.documentModelLabel">(= doc.common.documentModelLabel =)</small>
			</span>
		</div>
		<div data-px-list-column="common.httpStatus" data-sort="http_status"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_http_status', ['ucf']) }}">
		</div>
		<div data-px-list-column="actions" data-label="{{ i18nAttr('m.rbs.ua.common.actions', ['ucf']) }}" class="column-actions">
			<button class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_view_url_list', ['ucf']) }}"
				data-ng-click="actionMethods.openUrl(doc)">
				<span class="icon-link"></span>
			</button>
			<button type="button" class="btn btn-danger btn-icon" title="{{ i18nAttr('m.rbs.ua.common.delete', ['ucf']) }}"
				data-ng-click="actionMethods.delete(doc)" data-ng-disabled="doc.common.httpStatus === 200">
				<span class="icon-trash"></span>
			</button>
		</div>
	</div>
</div>