<span data-ng-if=":: contributor" class="visible-hover-container">
	<a href="" data-ng-href="(= :: contributor|appURL =)">(= :: contributor.label =)</a>
	<small data-ng-if=":: contributor.disambiguationSuffix">(= :: contributor.disambiguationSuffix =)</small>
	<span data-ng-repeat="nationality in :: contributor.nationalitiesData"
		data-project-library-nationality=":: nationality" data-mode="compact"></span>
	<small class="text-muted" data-ng-if=":: contributor.birthYear || contributor.deathYear">
		((= :: contributor.birthYear =) - (= :: contributor.deathYear =))
	</small>
	<a href="" data-ng-href="(= :: contributor | appURL:'edit' =)" class="btn btn-default btn-xs btn-icon pull-right visible-hover"
		title="{{ i18nAttr('m.project.familinet.webapp.action_edit', ['ucf']) }}">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
</span>