<p data-ng-if="standard.length">
	<span data-ng-repeat="alias in standard" style="padding-right: 15px">
		<span data-ng-show="alias.civilName" class="glyphicon glyphicon-user"
			title="{{ i18nAttr('m.project.library.webapp.contributor_civil_name', ['ucf']) }}"></span>
		<span data-ng-hide="alias.civilName" class="glyphicon glyphicon-sunglasses"
			title="{{ i18nAttr('m.project.library.webapp.contributor_pseudonym', ['ucf']) }}"></span>
		(= :: alias.label =)
		<small data-ng-show="alias.comment" class="text-muted">((= :: alias.comment =))</small>
	</span>
</p>
<p data-ng-if="websiteSpecific.length">
	<span class="text-muted">{{ i18n('m.project.library.webapp.contributor_website_specific_aliases', ['ucf', 'lab']) }}</span>
	<span data-ng-repeat="alias in websiteSpecific" style="padding-right: 15px">
		<img data-ng-if="alias.forWebsite.icon" data-ng-src="(= :: alias.forWebsite.icon =)" width="16" height="16" alt=""
			title="(= :: alias.forWebsite.label =)" />
		<span data-ng-if="!alias.forWebsite.icon" class="glyphicon glyphicon-asterisk"
			title="{{ i18nAttr('m.project.library.webapp.contributor_pseudonym', ['ucf']) }}"></span>
		(= :: alias.label =)
		<small data-ng-show="alias.comment" class="text-muted">((= :: alias.comment =))</small>
	</span>
</p>