<span data-ng-repeat="type in contribution.contributionTypes | orderBy:'label'">
	(= :: type.label =)<span class="separator" data-ng-if="!$last">, </span>
</span>
<span data-ng-show="contribution.detail">((= :: contribution.detail =))</span>
<small class="text-muted" data-ng-if="contribution.importance || contribution.episodeCount">
	<span data-ng-show="contribution.importance">(= :: contribution.importanceTitle =)</span>
	<span data-ng-show="contribution.episodeCount === 1">(= :: contribution.episodeCount =) {{ i18n('m.project.library.webapp.episode') }}</span>
	<span data-ng-show="contribution.episodeCount > 1">(= :: contribution.episodeCount =) {{ i18n('m.project.library.webapp.episodes') }}</span>
</small>