<div class="panel panel-default">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.import_from_external_website', ['ucf']) }}</div>
	<div class="panel-body">
		<div data-app-field="" data-label="{{ i18nAttr('m.project.library.webapp.url', ['ucf']) }}">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="http://..." data-ng-model="importManager.url">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" data-ng-disabled="!importManager.url || importManager.importing"
						data-ng-click="importManager.import(document)">
						{{ i18n('m.project.library.webapp.import', ['ucf']) }}
					</button>
				</span>
			</div>
			<ul class="list-inline list-inline-responsive no-bottom-margin" data-ng-if="importManager.websites.length">
				<li><strong>{{ i18n('m.project.library.webapp.handled_websites', ['ucf', 'lab']) }}</strong></li>
				<li data-ng-repeat="website in importManager.websites">
					<img data-ng-if="website.icon" data-ng-src="(= :: website.icon =)" width="16" height="16" alt=""/>
					<a data-ng-href="(= :: website.url =)" target="_blank">(= :: website.label =)</a>
					<dfn class="" data-ng-show="website.minimal" title="{{ i18nAttr('m.project.library.webapp.minimal_handling', ['ucf']) }}">*</dfn>
				</li>
			</ul>
		</div>
	</div>
</div>