<div data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_LanguageFunctions"
	data-variable-name="collections.functions"></div>
<div data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Languages"
	data-variable-name="collections.languages"></div>

<table class="table table-hover inline-documents">
	<thead>
		<tr>
			<th>{{ i18n('m.project.library.webapp.publication_language_function', ['ucf']) }}</th>
			<th data-ng-repeat="selectedLanguage in selector.languages" class="text-center">(= :: selectedLanguage.label =)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="func in collections.functions">
			<td>
				(= :: func.label =)
			</td>
			<td data-ng-repeat="lang in selector.languages" data-ng-click="selection[lang.value][func.value] = !selection[lang.value][func.value]"
				class="text-center">
				<input type="checkbox" ng-model="selection[lang.value][func.value]" data-ng-click="$event.stopPropagation()" />
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="(= 1 + selector.languages.length =)" class="form-inline text-right">
				<select class="form-control typology-selector" data-ng-model="selector.toAdd"
					data-ng-options="item as item.label for item in collections.languages">
					<option value=""></option>
				</select>
				<button type="button" data-ng-click="addLanguage()" class="btn btn-default btn-responsive btn-sm"
					title="{{ i18nAttr('m.project.library.webapp.publication_language_add', ['ucf']) }}">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</td>
		</tr>
	</tfoot>
</table>