<fieldset>
	<legend>{{ i18n('m.project.library.webapp.link_list', ['ucf']) }}</legend>
	<table class="table inline-documents" data-app-document-inline="(= :: modelName =)" data-document="document" data-property="links">
		<thead>
			<tr>
				<th>{{ i18n('m.project.library.webapp.link_label', ['ucf']) }}</th>
				<th>{{ i18n('m.project.library.webapp.link_url', ['ucf']) }}</th>
				<th>{{ i18n('m.project.library.webapp.link_comment', ['ucf']) }}</th>
				<th class="text-right th-btn th-btn-3">
					<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
						title="{{ i18nAttr('m.project.library.webapp.link_add', ['ucf']) }}">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="link in document.links" data-project-library-link-editor="">
				<td>
					<input type="text" class="form-control" data-ng-model="link.label" />
				</td>
				<td>
					<div class="input-group">
						<input type="url" class="form-control" data-ng-model="link.url" />
						<div data-ng-class="link.duplicates.length ? 'input-group-btn' : 'input-group-addon'">
							<span data-ng-show="!link.duplicates.length" class="glyphicon glyphicon-ok"
								title="{{ i18nAttr('m.project.library.webapp.link_not_used', ['ucf']) }}"></span>
							<button data-ng-show="link.duplicates.length" class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"
								title="{{ i18nAttr('m.project.library.webapp.link_already_used', ['ucf']) }}">
								<span class="glyphicon glyphicon-warning-sign"></span>
							</button>
							<ul class="dropdown-menu">
								<li data-ng-repeat="duplicate in link.duplicates">
									<a data-ng-href="(= duplicate | appURL =)" target="_blank">
										<span class="glyphicon glyphicon-new-window"></span> (= duplicate.label =)
										<small>((= duplicate.model | appModelLabel =))</small>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</td>
				<td>
					<input type="text" class="form-control" data-ng-model="link.comment" />
				</td>
				<td class="text-right">
					<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
						data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
						<span class="glyphicon glyphicon-triangle-top"></span>
					</button>
					<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
						data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</button>
					<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
						title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot data-ng-show="document.links.length >= 5">
			<tr>
				<td colspan="3">
					<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
						title="{{ i18nAttr('m.project.library.webapp.link_add', ['ucf']) }}">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</fieldset>