<div class="panel panel-default" data-ng-if="links.length">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.link_list', ['ucf']) }}</div>
	<div class="panel-body">
		<ul class="no-bottom-margin">
			<li data-ng-repeat="link in links">
				<a href="" data-ng-href="(= :: link.url =)">(= :: link.label =)</a>
				<small data-ng-if="link.comment" class="text-muted">((= :: link.comment =))</small>
				<a href="javascript:" data-ng-href="(= :: link.url =)" onclick="window.open(this.href); return false;"
					title="{{ i18nAttr('m.project.familinet.webapp.open_link_in_new_tab', ['ucf']) }}">
					<span class="glyphicon glyphicon-new-window"></span>
				</a>
			</li>
		</ul>
	</div>
</div>