<img title="(= :: nationality.label =)" alt="(= :: nationality.label =)"
	src="" data-ng-src="lib/flag-icons/(= :: nationality.code|lowercase =).png" />
<span data-ng-if="mode != 'compact'" data-ng-class="{'hidden-xs':mode == 'responsive'}">
	(= :: nationality.label =)
</span>