<span data-ng-if=":: publication">
	<a href="" data-ng-href="(= :: publication|appURL:'detail'  =)">(= :: publication.label =)</a>
	<small class="text-muted">
		<span data-ng-repeat="publisher in :: publication.publishers">(= :: publisher.label =)<span data-ng-if=":: !$last">, </span></span>
	</small>
	<span data-ng-repeat="nationality in :: publication.nationalitiesData" data-project-library-nationality=":: nationality" data-mode="compact"></span>
</span>