<div data-app-document-detail-header="publication"></div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ i18n('m.project.library.webapp.publication_publishers', ['ucf']) }}
			</div>
			<div class="panel-body">
				<div data-ng-repeat="publisher in publication.publishers">
					<span data-project-library-publisher-link="publisher"></span>
				</div>
				<div data-ng-show="!publication.publishers.length">
					{{ i18n('m.project.library.webapp.publication_no_publisher', ['ucf']) }}
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ i18n('m.project.library.webapp.publication_works', ['ucf']) }}
			</div>
			<div class="panel-body">
				<div data-ng-repeat="work in publication.works">
					<span data-project-library-work-link="work"></span>
				</div>
			</div>
		</div>
	</div>
</div>