<span data-ng-if=":: publisher" class="visible-hover-container">
	<a href="" data-ng-href="(= :: publisher|appURL =)">(= :: publisher.label =)</a>
	<span data-ng-repeat="nationality in :: publisher.nationalitiesData" data-project-library-nationality=":: nationality" data-mode="compact"></span>
	<a href="" data-ng-href="(= :: publisher | appURL:'edit' =)" class="btn btn-default btn-xs btn-icon pull-right visible-hover"
		title="{{ i18nAttr('m.project.familinet.webapp.action_edit', ['ucf']) }}">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
</span>