<span data-ng-if=":: work" class="visible-hover-container">
	<a href="" data-ng-href="(= :: work|appURL =)">(= :: work.label =)</a>
	<small class="text-muted" data-ng-if=":: work.workType">(= :: work.workType =)</small>
	<span data-ng-repeat="nationality in :: work.nationalitiesData" data-project-library-nationality="nationality" data-mode="compact"></span>
	<small class="text-muted" data-ng-if=":: work.year || work.endYear">
		(<span data-ng-show=":: work.year">(= :: work.year =)</span><span data-ng-show=":: work.year && work.endYear && work.year !== work.endYear"> - </span><span data-ng-show=":: work.endYear && work.year !== work.endYear">(= :: work.endYear =)</span>)
	</small>
	<a href="" data-ng-href="(= :: work | appURL:'edit' =)" class="btn btn-default btn-xs btn-icon pull-right visible-hover"
		title="{{ i18nAttr('m.project.familinet.webapp.action_edit', ['ucf']) }}">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
</span>