<span data-ng-if=":: group" class="visible-hover-container">
	<a href="" data-ng-href="(= :: group|appURL =)">(= :: group.label =)</a>
	<small class="text-muted" data-ng-if=":: group.groupType">(= :: group.groupType =)</small>
	<a href="" data-ng-href="(= :: group | appURL:'edit' =)" class="btn btn-default btn-xs btn-icon pull-right visible-hover"
		title="{{ i18nAttr('m.project.familinet.webapp.action_edit', ['ucf']) }}">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
</span>