<div data-ng-if="document.publicationStatus">
	<div data-ng-init="url = ( document | rbsURL:'urls' )">
		<div class="panel panel-default" data-ng-if="url">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="icon-arrow-right"></i>
					<a href="" data-ng-href="(= url =)">
						{{ i18n('m.rbs.admin.admin.configure_url_and_redirections', ['ucf']) | raw }}
					</a>
				</h3>
			</div>
		</div>
	</div>
</div>