<div data-ng-if="isDocumentArray()">
	<div data-ng-repeat="item in attribute.value track by $index" class="attribute-value-container">
		{% block rbsAttributeValueVideoItem %}
			<video data-ng-src="(= item.common.URL.canonical =)" preload="auto" controls="controls" style="max-width: 100%;">{{ alt }}</video>
		{% endblock rbsAttributeValueVideoItem %}
	</div>
</div>
<div data-ng-if="isDocument()" data-ng-init="item = attribute.value">
	{{ block('rbsAttributeValueVideoItem') }}
</div>