{% block datePicker %}
	<div class="input-group">
		{% block datePickerField %}
			<input id="(= fieldId =)" name="(= fieldName =)" type="text" class="form-control"
				autocomplete="off" size="16" data-ng-model="picker.value" placeholder="(= placeholder =)"
				data-uib-datepicker-popup="(= 'dateFormat' | rbsI18n =)" data-is-open="picker.opened"
				data-datepicker-options="options"
				data-current-text="{{ i18nAttr('m.rbs.generic.front.today', ['ucf']) }}"
				data-clear-text="{{ i18nAttr('m.rbs.generic.front.clear', ['ucf']) }}"
				data-close-text="{{ i18nAttr('m.rbs.generic.front.close', ['ucf']) }}" />
		{% endblock datePickerField %}
		<span class="input-group-btn">
			{% block datePickerButton %}
				<button type="button" class="btn btn-default" data-ng-click="open($event)">
					{% block datePickerButtonIcon %}
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					{% endblock datePickerButtonIcon %}
				</button>
			{% endblock datePickerButton %}
		</span>
	</div>
{% endblock datePicker %}