<div class="row" data-rbs-document-editor-base="" data-model="Project_Accounting_Invoice">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Project_Accounting_Invoice'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-project-accounting-invoice-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="label" label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'label'), ['ucf']) }}">
					<div class="form-control-static">(= document.label =)</div>
				</rbs-field>

				<rbs-field property="linesAmount" label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'linesAmount'), ['ucf']) }}">
					<div class="form-control-static">(= document.linesAmount | pxCorePrice:'EUR' =)</div>
				</rbs-field>

				<rbs-field property="modifiersAmount" label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'modifiersAmount'), ['ucf']) }}">
					<div class="form-control-static">(= document.modifiersAmount | pxCorePrice:'EUR' =)</div>
				</rbs-field>

				<rbs-field property="paidAmount" label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'paidAmount'), ['ucf']) }}">
					<div class="form-control-static">(= document.paidAmount | pxCorePrice:'EUR' =)</div>
				</rbs-field>


				<rbs-field-picker-multiple property="participants" data-readonly="true"
					label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'participants'), ['ucf']) }}">
				</rbs-field-picker-multiple>

				<hr />

				{% include '@Project_Accounting/Documents/Invoice/properties.twig' %}
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>