<rbs-field-picker property="payer" required="true"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'payer'), ['ucf']) }}"
	accepted-model="Rbs_User_User">
</rbs-field-picker>

<rbs-field-boolean property="hidden"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'hidden'), ['ucf']) }}">
</rbs-field-boolean>

<rbs-field-date property="date"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'date'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-picker property="shop"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'shop'), ['ucf']) }}"
	accepted-model="Project_Accounting_Shop">
</rbs-field-picker>

<div data-ng-if="document.shop">
	<rbs-field-text property="orderRef"
		label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'orderRef'), ['ucf']) }}">
	</rbs-field-text>
</div>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Invoice', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<hr />

<h4>{{ i18n('m.project.accounting.documents.invoice_lines', ['ucf']) }}</h4>

<rbs-inline-array inline-array="document.lines" data-new-model="Project_Accounting_InvoiceLine">
</rbs-inline-array>

<h4>{{ i18n('m.project.accounting.documents.invoice_modifiers', ['ucf']) }}</h4>

<rbs-inline-array inline-array="document.modifiers" data-new-model="Project_Accounting_InvoiceModifier">
</rbs-inline-array>

<hr />

<rbs-field-boolean property="cancelled" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'cancelled'), ['ucf']) }}">
</rbs-field-boolean>

<div data-ng-if="document.cancelled">
	<rbs-field-date property="cancelDate" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'cancelDate'), ['ucf']) }}">
	</rbs-field-date>

	<rbs-field-picker property="canceller" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'canceller'), ['ucf']) }}"
		accepted-model="Rbs_User_User">
	</rbs-field-picker>

	<rbs-field-rich-text property="cancelComment" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'cancelComment'), ['ucf']) }}">
	</rbs-field-rich-text>
</div>