<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ applicationName }}</title>
		<base href="{{ baseURL }}" />

		<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.png') }}" />

		<link href="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/css/bootstrap.css') }}" rel="stylesheet" />

		<style type="text/css">
			html {
				height: 100%;
				background: url({{ resourceURL('Rbs/Ua/img/menu-background.jpg') }}) no-repeat;
				background-size: cover;
				background-attachment: fixed;
			}

			@media screen and (max-width: 1920px) {
				html {
					background-position: 50% 71%;
				}
			}

			body {
				max-width: 400px;
				margin: 25px auto;
				padding: 25px;
				background-color: rgba(255, 255, 255, 0.5);
			}

			img {
				margin-bottom: 30px;
			}

			a.list-group-item {
				-webkit-transition: all .25s;
				-moz-transition: all .25s;
				-o-transition: all .25s;
				transition: all .25s;
			}

			a.list-group-item:hover {
				background-color: #3cadca;
				font-weight: bold;
				color: #fff;
			}

			.list-group-item {
				background-color: rgba(255, 255, 255, 0.7);
			}

			.list-group-item small {
				font-style: italic;
			}

			.list-group {
				margin-bottom: 0;
			}

			h2 {
				font-size: 15px;
				color: #6a408f;
				font-weight: bold;
			}
		</style>
	</head>

	<body class="text-center">
		<img src="{{ resourceURL('Rbs/Ua/img/logos/logo_500.png') }}" alt="{{ applicationName }}" class="img-responsive"
			style="width: 128px; height: 128px; margin: auto" />
		{% for category in applicationsMenu %}
			<h2>{{ category.title }}</h2>
			<div class="list-group">
				{% if category.name == 'contents' %}
					<a class="list-group-item" href="{{ adminURL }}">
						{{ i18n('m.rbs.ua.common.ui_main_admin_panel', ['ucf']) }}
						{% if devMode %}
							<small title="{{ i18n('m.rbs.ua.common.technical_name_title') }}">(admin)</small>
						{% endif %}
					</a>
				{% endif %}
				{% for descriptor in category.items %}
					<a class="list-group-item" href="{{ descriptor.url ?: descriptor.name ~ '/' }}">
						{{ descriptor.title }}
						{% if devMode %}
							<small title="{{ i18n('m.rbs.ua.common.technical_name_title') }}">({{ descriptor.name }})</small>
						{% endif %}
					</a>
				{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>