<rbs-field-video property="path" required="true" label="{{ i18nAttr(propertyKey('Rbs_Media_Video', 'path'), ['ucf']) }}">
</rbs-field-video>

<rbs-field-text property="label" required="true" label="{{ i18nAttr(propertyKey('Rbs_Media_Video', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="alt" label="{{ i18nAttr(propertyKey('Rbs_Media_Video', 'alt'), ['ucf']) }}">
</rbs-field-text>