/** Short cart */
.dropdown-cart {
	min-width: 250px;

	.media-left {
		width: @image-format-shortCartItem-width + 10;
		text-align: center;
	}

	.media-body {
		width: 100%;
	}

	&.dropdown-menu li a {
		padding: 0;
	}
}

/** Enriched menu */
.dropdown-enriched {
	> li {
		display: block;
		&:not(.dropdown-enriched-part) {
			margin-right: @image-format-menuItemThumbnail-width + 40px;
			a {
				clear: none;
			}
		}
		&.dropdown-enriched-part {
			width: @image-format-menuItemThumbnail-width + 40px;
			padding: 3px 20px;
			float: right;
		}
		&.cleaner {
			clear: both;
		}
	}
}

/** Buttons selectors */
.list-buttons .btn,
.form-control-buttons .btn {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	min-width: 36px;
	height: 36px;
	&.btn-lg {
		min-width: 48px;
		height: 48px;
	}
	&.btn-sm {
		min-width: 30px;
		height: 30px;
	}
	&.btn-xs {
		min-width: 22px;
		height: 22px;
	}
}

/** Breadcrumb: show only the last two items of the path. */
@media (max-width: @screen-xs-max) {
	.breadcrumb li + :nth-last-child(2) {
		&:before {
			display: none;
		}
		a:before {
			content: '< ';
			display: inline-block;
		}
	}

	.breadcrumb li:not(:nth-last-child(-n+2)) {
		display: none;
	}
}