/** Sub menus */
/* Copied from bootstrap/dropdown.less and bootstrap/theme.less */
ul.dropdown-sub-menu {
	> li > a {
		// Hover/Focus state
		&:hover,
		&:focus {
			#gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
			background-color: darken(@dropdown-link-hover-bg, 5%);
		}
	}

	// Active state
	> .active > a {
		&,
		&:hover,
		&:focus {
			#gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
			background-color: darken(@dropdown-link-active-bg, 5%);
		}
	}
}

/** nav-modal */
.nav-modal {
	> .open > a,
	> .active > a {
		#gradient > .vertical(@start-color: darken(@navbar-default-link-active-bg, 5%); @end-color: darken(@navbar-default-link-active-bg, 2%));
		.box-shadow(inset 0 3px 9px rgba(0, 0, 0, .075));
	}

	> li > a {
		text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
	}

	.open .dropdown-menu > .active > a {
		&,
		&:hover,
		&:focus {
			color: #fff;
			#gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
		}
	}
}