/* Turn an element to an inline-block */
.inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* Add margin */
.one-line-bottom-margin {
	margin-bottom: @line-height-computed;
}
.half-line-bottom-margin {
	margin-bottom: @line-height-computed / 2;
}
.one-line-top-margin {
	margin-top: @line-height-computed;
}
.half-line-top-margin {
	margin-top: @line-height-computed / 2;
}

.margin-right {
	margin-right: floor((@grid-gutter-width / 2));
}

.margin-half-right {
	margin-right: floor((@grid-gutter-width / 4));
}

.margin-left {
	margin-left: floor((@grid-gutter-width / 2));
}

.margin-half-left {
	margin-left: floor((@grid-gutter-width / 4));
}


/* Remove margin */
.no-margin {
	margin: 0 !important;
}
.no-bottom-margin {
	margin-bottom: 0 !important;
}
.no-top-margin {
	margin-top: 0 !important;
}

/* Cursor */
.clickable {
	cursor: pointer;
}

