/******
 * This file contains misc fixes and complements to external libs used in Change.
 */

/****
 * Angular
 */

/**
 * Must be added explicitly if the JS are not included in the head (cf ngCloak documentation).
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
	display: none !important;
}

/****
 * UI-Bootstrap
 */

/**
 * Fix cursor on some elements.
 *    "Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
 *     But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. This is why we need to
 *     remove empty href attributes from directive templates and as a result styling is not applied correctly."
 *    Cf. http://angular-ui.github.io/bootstrap/
 */
.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

/**
 * Remove black flash on modal backdrop when animation is disabled.
 */
.modal-backdrop {
	opacity: 0.5;
	filter: alpha(opacity=50);
}