<div class="dashboard" data-ng-controller="ProximisSeoDashboardController">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.dashboard_section_urls', ['ucf']) }}"></div>
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.all_count', ['ucf', 'lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule' =)" data-ng-if="data.statusAll.total">
							(= data.statusAll.total =)
						</a>
						<span data-ng-if="!data.statusAll.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.statusAll.subCounters.length">
					<div data-ng-repeat="subCounter in data.statusAll.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.200_count', ['ucf', 'lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule':{http:200} =)" data-ng-if="data.status200.total">
							(= data.status200.total =)
						</a>
						<span data-ng-if="!data.status200.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.status200.subCounters.length">
					<div data-ng-repeat="subCounter in data.status200.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.301_count', ['ucf', 'lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule':{http:301} =)" data-ng-if="data.status301.total">
							(= data.status301.total =)
						</a>
						<span data-ng-if="!data.status301.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.status301.subCounters.length">
					<div data-ng-repeat="subCounter in data.status301.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.302_count', ['ucf', 'lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule':{http:302} =)" data-ng-if="data.status302.total">
							(= data.status302.total =)
						</a>
						<span data-ng-if="!data.status302.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.status302.subCounters.length">
					<div data-ng-repeat="subCounter in data.status302.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.dashboard_section_404', ['ucf']) }}"></div>
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<div class="panel" data-ng-class="{'panel-success': data.url404Day.total == 0, 'panel-danger': data.url404Day.total > 0}">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.404_day', ['ucf', 'lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)" data-ng-if="data.url404Day.total">
							(= data.url404Day.total =)
						</a>
						<span data-ng-if="!data.url404Day.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.url404Day.subCounters.length">
					<div data-ng-repeat="subCounter in data.url404Day.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="panel" data-ng-class="{'panel-success': data.url404Day.total == 0, 'panel-danger': data.url404Day.total > 0}">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.404_week', ['ucf','lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)" data-ng-if="data.url404Week.total">
							(= data.url404Week.total =)
						</a>
						<span data-ng-if="!data.url404Week.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.url404Week.subCounters.length">
					<div data-ng-repeat="subCounter in data.url404Week.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="panel" data-ng-class="{'panel-success': data.url404Day.total == 0, 'panel-danger': data.url404Day.total > 0}">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.404_month', ['ucf','lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)" data-ng-if="data.url404Month.total">
							(= data.url404Month.total =)
						</a>
						<span data-ng-if="!data.url404Month.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.url404Month.subCounters.length">
					<div data-ng-repeat="subCounter in data.url404Month.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="panel" data-ng-class="{'panel-success': data.url404Day.total == 0, 'panel-danger': data.url404Day.total > 0}">
				<div class="panel-heading">
					<div class="panel-title">
						<span>{{ i18n('m.rbs.seo.ua.404_all', ['ucf','lab']) }}</span>
						<a href="" class="text-bold" data-ng-href="(= 'Rbs_Seo' | pxRoute:'url404' =)" data-ng-if="data.url404All.total">
							(= data.url404All.total =)
						</a>
						<span data-ng-if="!data.url404All.total">0</span>
					</div>
				</div>
				<div class="panel-body" data-ng-show="data.url404All.subCounters.length">
					<div data-ng-repeat="subCounter in data.url404All.subCounters" data-ng-show="subCounter.count">
						<span class="title">(= subCounter.label =) :</span>
						<span class="count">(= subCounter.count =)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>