<div class="dashboard">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.metas_home_title', ['ucf']) }}"></div>
	<h3>{{ i18n('m.rbs.seo.ua.metas_configuration', ['ucf']) }}</h3>
	<div class="row ng-scope">
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'metaDefinitions' =)">{{ i18n('m.rbs.seo.ua.meta_definition_list', ['ucf']) }}</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.meta_definition_list_description', ['ucf']) }}</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'metaGroups' =)">{{ i18n('m.rbs.seo.ua.meta_group_list', ['ucf']) }}</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.meta_group_list_description', ['ucf']) }}</p>
			</div>
		</div>
	</div>

	<h3>{{ i18n('m.rbs.seo.ua.metas_values', ['ucf']) }}</h3>
	<div class="row ng-scope">
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'modelMetas' =)">{{ i18n('m.rbs.seo.ua.model_metas_list', ['ucf']) }}</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.model_metas_list_description', ['ucf']) }}</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'documentMetas' =)">{{ i18n('m.rbs.seo.ua.document_metas_list', ['ucf']) }}</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.document_metas_list_description', ['ucf']) }}</p>
			</div>
		</div>
	</div>
</div>