<div class="dashboard">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.sitemap_home_title', ['ucf']) }}"></div>
	<div class="row ng-scope">
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'modelSitemap' =)">{{ i18n('m.rbs.seo.ua.model_sitemap_list', ['ucf']) }}</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.model_sitemap_list_description') }}</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'documentSitemap' =)">
						{{ i18n('m.rbs.seo.ua.document_sitemap_list', ['ucf']) }}
					</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.document_sitemap_list_description') }}</p>
			</div>
		</div>
	</div>
</div>