<div class="dashboard">
	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.urls_home_title', ['ucf']) }}"></div>
	<div class="row ng-scope">
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'modelPathRules' =)">
						{{ i18n('m.rbs.seo.ua.model_path_rules_list', ['ucf']) }}
					</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.model_path_rules_list_description') }}</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'documentPathRules' =)">
						{{ i18n('m.rbs.seo.ua.document_path_rules_list', ['ucf']) }}
					</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.document_path_rules_list_description') }}</p>
			</div>
		</div>
		<div class="clearfix hidden-xs"></div>
		<div class="col-sm-6">
			<div class="well well-sm">
				<h4 class="no-top-margin">
					<a href="" data-ng-href="(= 'Rbs_Seo' | pxRoute:'pathRule' =)">
						{{ i18n('m.rbs.seo.ua.path_rule_list', ['ucf']) }}
					</a>
				</h4>
				<p class="no-bottom-margin">{{ i18n('m.rbs.seo.ua.path_rule_list_description') }}</p>
			</div>
		</div>
	</div>
</div>