<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-text="" data-property="number"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_volume_number', ['ucf']) }}">
		</div>
		<div data-app-field-text="" data-property="label"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_volume_label', ['ucf']) }}">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_volume_description', ['ucf']) }}">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>