<table data-app-document-list-content="">
	<thead>
		<tr>
			<th>{{ i18n('m.project.library.webapp.publication_volume_number', ['ucf']) }}</th>
			<th>{{ i18n('m.project.library.webapp.publication_volume_label', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td><a href="" data-ng-href="(= :: document|appURL =)">(= :: document.number =)</a></td>
			<td>(= :: document.label =)</td>
		</tr>
	</tbody>
</table>