<div data-app-document-detail-header="document"></div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt>{{ i18n('m.project.library.webapp.publication_volume_number', ['ucf']) }}</dt>
					<dd>(= :: document.number =)</dd>
					<dt>{{ i18n('m.project.library.webapp.publication_volume_label', ['ucf']) }}</dt>
					<dd>(= :: document.label =)</dd>
					<dt>{{ i18n('m.project.library.webapp.publication_volume_order', ['ucf']) }}</dt>
					<dd>(= :: document.order =)</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">{{ i18n('m.project.library.webapp.publication_volume_description', ['ucf']) }}</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.reading_list', ['ucf']) }}"
			data-model-name="Project_Library_Reading" data-block-level="secondary"
			data-static-filters="readingStaticFilters" data-compact="true" data-allow-creation="false"
			data-columns="reader,volumesDetail,rating,beginDate,endDate,status"
			data-content-template-url="Project_Library/views/work/work-reading-list-content.twig" data-full-list-url="document | appURL:'readings'"
			data-filter-properties="none">
		</div>
	</div>
</div>

<div data-app-document-meta=""></div>