<div data-app-document-detail-header="document" data-subtitle="(= :: document.subtitle =)"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publication_volume_list', ['ucf']) }}"
	data-columns="number" data-block-level="secondary" data-static-filters="publicationVolumeStaticFilters"
	data-model-name="Project_Library_PublicationVolume" data-content-template-url="Project_Library/views/publication-volume/publication-volume-list-content.twig"
	data-sort-desc="false" data-sort-property="order" data-filter-properties="label">
</div>