<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.project.library.admin.loan_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter"
			model="Project_Library_Loan"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list data-dlid="DLProjectLibraryLoan"
			model="Project_Library_Loan" column="possession"
			filter-collection="filter">
			<rbs-column name="id" primary="true"></rbs-column>
			<rbs-column name="work" label="{{ i18nAttr(propertyKey('Project_Library_Possession', 'work'), ['ucf']) }}">(= doc.possession.workLabel =)</rbs-column>
			<rbs-column name="possession" label="{{ i18nAttr(propertyKey('Project_Library_Possession', 'owners'), ['ucf']) }}">(= doc.possession.label =)</rbs-column>
			<rbs-column name="borrowerName">(= doc.borrowerName =)</rbs-column>
		</rbs-document-list>
	</div>
</div>