
<rbs-field-picker property="possession" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_Loan', 'possession'), ['ucf']) }}"
	accepted-model="Project_Library_Possession">
</rbs-field-picker>

<rbs-field-text property="borrowerName"
	label="{{ i18nAttr(propertyKey('Project_Library_Loan', 'borrowerName'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-document-select label="{{ i18nAttr(propertyKey('Project_Library_Possession', 'status'), ['ucf']) }}"
	required="true" property="status" accepted-model="Project_Library_LoanStatus"
	ng-model="document.status">
</rbs-field-document-select>

<rbs-field-date property="date"
	label="{{ i18nAttr(propertyKey('Project_Library_Loan', 'date'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-date property="returnDate"
	label="{{ i18nAttr(propertyKey('Project_Library_Loan', 'returnDate'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_Loan', 'description'), ['ucf']) }}">
</rbs-field-rich-text>
