<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.contributor_list', ['ucf']) }}" data-allow-creation="true"
	data-model-name="Project_Library_Contributor" data-content-template-url="Project_Library/views/contributor/contributor-list-content.twig"
	data-filter-properties="indexedAliases">
</div>