<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div class="row">
			<div class="col-lg-9">
				<div data-app-field-text="" data-property="label" data-label-columns="4"
					data-label="{{ i18nAttr('m.project.library.webapp.contributor_name', ['ucf']) }}">
				</div>
			</div>
			<div class="col-lg-3">
				<div data-app-field-text="" data-property="disambiguationSuffix" data-label-columns="2"
					data-label="{{ i18nAttr('m.project.library.webapp.contributor_disambiguation_suffix', ['ucf']) }}">
				</div>
			</div>
		</div>
		<div data-app-field-document-array="" data-property="nationalities" data-mode="options" data-static-filters="activeStaticFilters"
			data-accepted-model="Rbs_Geo_Country" data-label="{{ i18nAttr('m.project.library.webapp.contributor_nationalities', ['ucf']) }}">
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div data-app-field-date="" data-property="birthDate" data-label-columns="6"
					data-label="{{ i18nAttr('m.project.library.webapp.contributor_birth_date', ['ucf']) }}">
				</div>
			</div>
			<div class="col-lg-6">
				<div data-app-field="" data-property="birthYear" data-label-columns="4"
					data-label="{{ i18nAttr('m.project.library.webapp.contributor_birth_year', ['ucf']) }}">
					<div class="form-inline">
						<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]{1,4}$/" size="4"
							data-ng-model="document.birthYear" data-ng-readonly="document.birthDate" />
						<span class="text-muted" data-ng-show="document.birthDate">{{ i18n('m.project.library.webapp.contributor_birth_year_help', ['ucf']) }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div data-app-field-date="" data-property="deathDate" data-label-columns="6"
					data-label="{{ i18nAttr('m.project.library.webapp.contributor_death_date', ['ucf']) }}">
				</div>
			</div>
			<div class="col-lg-6">
				<div data-app-field="" data-property="deathYear" data-label-columns="4"
					data-label="{{ i18nAttr('m.project.library.webapp.contributor_death_year', ['ucf']) }}">
					<div class="form-inline">
						<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]{1,4}$/" size="4"
							data-ng-model="document.deathYear" data-ng-readonly="document.deathDate" />
						<span class="text-muted" data-ng-show="document.deathDate">{{ i18n('m.project.library.webapp.contributor_death_year_help', ['ucf']) }}</span>
					</div>
				</div>
			</div>
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.library.webapp.contributor_description', ['ucf']) }}">
		</div>
	</fieldset>
	<fieldset>
		<legend>{{ i18n('m.project.library.webapp.contributor_aliases', ['ucf']) }}</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Library_ContributorAlias" data-property="aliases">
			<thead>
				<tr>
					<th style="width: 25px;">
						<abbr title="{{ i18nAttr('m.project.library.webapp.contributor_civil_name', ['ucf']) }}">
							{{ i18n('m.project.library.webapp.contributor_civil_name_abbr', ['ucf']) }}
						</abbr>
					</th>
					<th>{{ i18n('m.project.library.webapp.alias_label', ['ucf']) }}</th>
					<th>{{ i18n('m.project.library.webapp.alias_comment', ['ucf']) }}</th>
					<th style="width: 150px;">{{ i18n('m.project.library.webapp.alias_for_website', ['ucf']) }}</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.library.webapp.alias_add', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="alias in document.aliases">
					<td>
						<input type="checkbox" class="form-control" data-ng-model="alias.civilName" />
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.label" />
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.comment" />
					</td>
					<td>
						<div data-app-document-select="" data-ng-model="alias.forWebsite" data-value-ids="true"
									data-allow-creation="false" data-accepted-model="Project_Library_WebSite"></div>
					</td>
					<td class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.aliases.length >= 5">
				<tr>
					<td colspan="3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.library.webapp.alias_add', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
	<div data-project-library-links-editor="" data-model-name="Project_Library_ContributorLink" data-document="document"></div>
	<div data-app-document-attributes-input="document"></div>
</fieldset>