<div data-app-document-editor="" data-model="Project_Library_Contributor">
	<div class="page-header">
		<h1>{{ i18n('m.project.familinet.webapp.edition', ['ucf']) }} <small>(= document.label =)</small></h1>
	</div>

	<form class="form-horizontal" data-ng-submit="submit()" data-app-document-edit="">
		<div data-project-library-import-form="" data-type="contributor"
			data-conflicts-template="Project_Library/views/contributor/contributor-conflicts.twig"></div>

		<div data-ng-include="'Project_Library/views/contributor/contributor-properties.twig'"></div>

		<div data-app-document-editor-footer="" data-disable-delete="true"></div>
	</form>
</div>