<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th class="table-column-small"></th>
			<th data-app-sortable-column="compiledYear" style="width: 50px;">{{ i18n('m.project.library.webapp.contribution_years', ['ucf']) }}</th>
			<th data-app-sortable-column="work.label">{{ i18n('m.project.library.webapp.contribution_work', ['ucf']) }}</th>
			<th>{{ i18n('m.project.library.webapp.contribution_types', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			{% include '@Project_Library/includes/document-buttons-td.inc.twig' %}
			<td>
				<small class="nowrap">
					(= :: document.year =)
					<span data-ng-show="document.endYear && document.year != document.endYear">- (= :: document.endYear =)</span>
				</small>
			</td>
			<td><div data-project-library-work-link="document.work"></div></td>
			<td>
				<div data-project-library-contribution-roles="document"></div>
			</td>
		</tr>
	</tbody>
</table>