<div data-app-document-detail-header="document"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.contribution_list', ['ucf']) }}"
	data-model-name="Project_Library_Contribution" data-block-level="secondary"
	data-static-filters="contributionStaticFilters" data-columns="work,detail,episodeCount,importance"
	data-allow-creation="true" data-content-template-url="Project_Library/views/contributor/contributor-contribution-list-content.twig"
	data-new-url-parameters="newSubDocumentUrlParameters" data-new-route-name="newForContributor"
	data-sort-desc="true" data-sort-property="compiledYear" data-filter-properties="work.label">
</div>