{% use '@Project_Library/includes/conflicts.inc.twig' %}

{% include '@Project_Library/includes/conflict-rows/string.inc.twig' with {'name': 'label', 'labelKey': 'contributor_name'} %}

{% include '@Project_Library/includes/conflict-rows/date.inc.twig' with {'name': 'birthDate', 'labelKey': 'contributor_birth_date'} %}
{% embed '@Project_Library/includes/conflict-rows/field.inc.twig' with {'name': 'birthYear', 'labelKey': 'contributor_birth_year'} %}
	{% block fieldContent %}
		<div class="form-inline">
			<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]{1,4}$/" size="4"
				data-ng-model="document.{{ name }}" data-ng-readonly="document.birthDate" />
			<span class="text-muted" data-ng-show="document.birthDate">
				{{ i18n('m.project.library.webapp.contributor_birth_year_help', ['ucf']) }}
			</span>
		</div>
	{% endblock fieldContent %}
{% endembed %}

{% include '@Project_Library/includes/conflict-rows/date.inc.twig' with {'name': 'deathDate', 'labelKey': 'contributor_death_date'} %}
{% embed '@Project_Library/includes/conflict-rows/field.inc.twig' with {'name': 'deathYear', 'labelKey': 'contributor_death_year'} %}
	{% block fieldContent %}
		<div class="form-inline">
			<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]{1,4}$/" size="4"
				data-ng-model="document.{{ name }}" data-ng-readonly="document.deathDate" />
			<span class="text-muted" data-ng-show="document.deathDate">
				{{ i18n('m.project.library.webapp.contributor_death_year_help', ['ucf']) }}
			</span>
		</div>
	{% endblock fieldContent %}
{% endembed %}

{% include '@Project_Library/includes/conflict-rows/richtext.inc.twig' with {'name': 'description', 'labelKey': 'contributor_description'} %}