<div data-app-document-detail-header="document" data-subtitle="(= document.disambiguationSuffix =)"></div>

<div data-ng-if="document.aliasesData">
	<div data-project-library-contributor-aliases="document.aliasesData"></div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt data-ng-if-start="document.contributorType">{{ i18n('m.project.library.webapp.contributor_type', ['ucf']) }}</dt>
					<dd data-ng-if-end="">(= :: document.contributorType =)</dd>
					<dt data-ng-if-start="document.nationalities.length">{{ i18n('m.project.library.webapp.contributor_nationalities', ['ucf']) }}</dt>
					<dd data-ng-if-end="">
						<span data-ng-repeat="nationality in document.nationalitiesData"
							data-project-library-nationality="nationality" data-mode="responsive"></span>
					</dd>
					<dt data-ng-if-start="document.birthYear">{{ i18n('m.project.library.webapp.contributor_birth_date', ['ucf']) }}</dt>
					<dd data-ng-if-end="">(= :: document.birthDate ? (document.birthDate|appDate) : document.birthYear =)</dd>
					<dt data-ng-if-start="document.deathYear">{{ i18n('m.project.library.webapp.contributor_death_date', ['ucf']) }}</dt>
					<dd data-ng-if-end="">(= :: document.deathDate ? (document.deathDate|appDate) : document.deathYear =)</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div data-project-library-links="document.links"></div>
	</div>
</div>

<div class="panel panel-default" data-ng-if="document.description.t">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.work_description', ['ucf']) }}</div>
	<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
</div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.contribution_list', ['ucf']) }}"
	data-model-name="Project_Library_Contribution" data-block-level="secondary" data-compact="true"
	data-static-filters="contributionStaticFilters" data-columns="work,detail,episodeCount,importance"
	data-allow-creation="true" data-content-template-url="Project_Library/views/contributor/contributor-contribution-list-content.twig"
	data-new-url-parameters="newSubDocumentUrlParameters" data-new-route-name="newForContributor"
	data-full-list-url="document | appURL:'contributions'"
	data-sort-desc="true" data-sort-property="compiledYear" data-filter-properties="work.label,detail" data-exposed-data="data.contributionList">
</div>

<div class="panel panel-default" data-px-panel-toggle="collapsed">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-trash"></span>
		{{ i18n('m.project.familinet.webapp.action_delete', ['ucf', 'etc']) }}
	</div>
	<div class="panel-body">
		<form class="form-horizontal" data-ng-submit="delete()" name="deleteForm">
			<div data-ng-if="data.contributionList.totalItems">
				<div data-app-field-document="" data-property="data.target.contributor" data-accepted-model="Project_Library_Contributor"
					data-required="true" data-label="{{ i18nAttr('m.project.library.webapp.merge_target', ['ucf']) }}">
				</div>
			</div>
			<div class="form-group no-bottom-margin">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="button" class="btn btn-danger" data-ng-click="confirmDelete($event)" data-ng-disabled="deleteForm.$invalid">
						<span class="glyphicon glyphicon-trash"></span>
						{{ i18n('m.project.familinet.webapp.action_delete', ['ucf']) }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div data-app-document-meta=""></div>