<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.notification.admin.configuration', ['ucf']) }}" data-icon="icon-book">
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Notification_Configuration', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.notification.admin.notification_list', ['ucf']) }}
	</a>
</div>
<div data-rbs-panel="" data-title="{{ i18nAttr('m.rbs.notification.admin.templates', ['ucf']) }}" data-icon="icon-book">
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Mail_Mail', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.notification.admin.mail_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Notification_Sms', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.notification.admin.sms_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Rbs_Notification_Svi', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.rbs.notification.admin.svi_list', ['ucf']) }}
	</a>
</div>