<!DOCTYPE html>
<html lang="{{ lang }}" data-ng-app="RbsChange" data-ng-strict-di="">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ applicationName }}</title>
		<base href="{{ baseURL }}" />

		<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Ua/img/logos/favicon-white.png') }}" />
		<link href="{{ resourceURL('Rbs/Ua/lib/FontAwesome/css/font-awesome.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/lib/angular-bootstrap-colorpicker-3.0.31/css/colorpicker.min.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/lib/flag-sprites/flags.css') }}" rel="stylesheet" />

		<style type="text/css">
			#chg_loading_mask {
				height: 100%;
				background: url({{ resourceURL('Rbs/Ua/img/menu-background.jpg') }}) no-repeat;
				background-size: cover;
				background-attachment: fixed;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 10000;
			}

			#chg_loading_mask > div {
				margin: 100px auto 0 auto;
				width: 400px;
				border-radius: 10px;
				background: rgba(245, 245, 245, 0.69);
				color: black;
				font-size: 14pt;
				text-align: center;
				padding: 1em;
			}

			#chg_loading_mask > div > div {
				margin: 1em 0;
			}
		</style>

		{# Modules -#}
		{% for href in styles -%}
			<link rel="stylesheet" href="{{ href }}" />
		{% endfor %}

		<script type="text/javascript">
			var __change = {{ __change|json_encode|raw }};
		</script>
	</head>

	<body data-ng-controller="Change.RootController" class="env-{{ application.env }}">
		<div id="chg_loading_mask" data-ng-hide="hideLoadingPanel">
			{% include '@Ua/Proximis/misc/main-loading.twig' %}
		</div>

		<header class="hidden-print">
			{% include 'header.twig' %}
		</header>
		<rbs-navigation-history></rbs-navigation-history>
		<div id="main-content" class="content clearfix">
			<div class="row clearfix" id="mainToolbar">
				<div class="col-md-12">
					<rbs-breadcrumb></rbs-breadcrumb>
					<rbs-notification-center></rbs-notification-center>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="workspace" class="padding ng-view"></div>
				</div>
			</div>
		</div>

		<footer>
			<div class="pull-right" data-rbs-change-version=""></div>
			<a href="https://framagit.org/Darathor/familinet">Familinet</a>
			<small>({{ i18n('m.rbs.ua.common.fork_from') }} <a href="http://www.proximis.com" target="_blank">Proximis Omnichannel</a>)</small>
		</footer>

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/jquery-3.4.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-route.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-resource.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-sanitize.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-touch.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-cookies.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-animate.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-messages.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/i18n/angular-locale_' ~ lowerHyphenLCID ~ '.js') }}"></script>

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/diff_match_patch/diff_match_patch.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-local-storage-0.7.1/dist/angular-local-storage.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/ace-1.2.8-min-noconflict/ace.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-with-locales-2.18.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-timezone-with-data-2012-2022-0.5.13.min.js') }}"></script>

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-core.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-selectionsaverestore.js') }}"></script>
		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/ui-bootstrap-tpls-2.5.0.min.js') }}"></script>

		<script type="text/javascript"
			src="{{ resourceURL('Rbs/Ua/lib/angular-bootstrap-colorpicker-3.0.31/js/bootstrap-colorpicker-module.min.js') }}"></script>

		{# Modules -#}
		{% for src in scripts -%}
			<script type="text/javascript" src="{{ src }}"></script>
		{% endfor %}
	</body>
</html>
