{% block rbsSimpleformRequiredSymbol %}
	<em class="required-symbol text-danger" title="({{ i18nAttr('m.rbs.simpleform.front.this_field_is_required', ['ucf']) }})">*</em>
{% endblock rbsSimpleformRequiredSymbol %}

{% block rbsSimpleformRequiredSymbolsExplain %}
	{{ i18n('m.rbs.simpleform.front.required_fields_warning_begin', ['ucf']) }}
	{{ block('rbsSimpleformRequiredSymbol') }}
	{{ i18n('m.rbs.simpleform.front.required_fields_warning_end') }}
{% endblock rbsSimpleformRequiredSymbolsExplain %}

{% block rbsSimpleformDefaultLabel %}
	<label for="{{ fieldId }}" class="{{ leftColumnElementClass }} control-label">
		{%- if fieldInfos.field.getRequired() -%}
			{{ block('rbsSimpleformRequiredSymbol') }}
		{%- endif -%}
		{{- fieldInfos.field.currentLocalization.getTitle() -}}
	</label>
{% endblock rbsSimpleformDefaultLabel %}

{% block rbsSimpleformDefaultHelpText %}
	{% if fieldInfos.field.currentLocalization.helpText and not fieldInfos.field.currentLocalization.helpText.isEmpty() %}
		<div class="help-block">{{ fieldInfos.field.currentLocalization.helpText|richText }}</div>
	{% endif %}
{% endblock rbsSimpleformDefaultHelpText %}

{% block rbsSimpleformDefaultErrorMessages %}
	{% if fieldInfos.errors %}
		<div class="help-block">
			{% for error in fieldInfos.errors %}
				<p>{{ error }}</p>
			{% endfor %}
		</div>
	{% endif %}
{% endblock rbsSimpleformDefaultErrorMessages %}