<div>
	<rbs-field label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_interval_type', ['ucf']) }}">
		<select data-ng-model="document.parameters.intervalType" name="document.parameters.intervalType"
			class="form-control">
			<option value="relative">
				{{ i18n('m.rbs.simpleform.admin.field_parameters_interval_type_relative', ['ucf']) }}
			</option>
			<option value="absolute">
				{{ i18n('m.rbs.simpleform.admin.field_parameters_interval_type_absolute', ['ucf']) }}
			</option>
		</select>
	</rbs-field>

	<div data-ng-show="document.parameters.intervalType == 'relative'">
		<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_minimal_date', ['ucf']) }}"
			property="document.parameters.minimalRelativeDate">
		</rbs-field-text>

		<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_maximal_date', ['ucf']) }}"
			property="document.parameters.maximalRelativeDate">
		</rbs-field-text>
	</div>

	<div data-ng-show="document.parameters.intervalType == 'absolute'">
		<rbs-field-date label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_minimal_date', ['ucf']) }}"
			property="document.parameters.minimalDate">
		</rbs-field-date>

		<rbs-field-date label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_maximal_date', ['ucf']) }}"
			property="document.parameters.maximalDate">
		</rbs-field-date>
	</div>

	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_place_holder', ['ucf']) }}"
		property="document.parameters.placeHolder">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_place_holder_help', ['ucf']) }}</div>
	</rbs-field-text>

	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_time_place_holder', ['ucf']) }}"
		property="document.parameters.timePlaceHolder">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_time_place_holder_help', ['ucf']) }}</div>
	</rbs-field-text>
</div>