<div>
	<rbs-field-integer label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_min', ['ucf']) }}"
		property="document.parameters.min">
	</rbs-field-integer>

	<rbs-field-integer label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_max', ['ucf']) }}"
		property="document.parameters.max">
	</rbs-field-integer>

	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_place_holder', ['ucf']) }}"
		property="document.parameters.placeHolder">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_place_holder_help', ['ucf']) }}</div>
	</rbs-field-text>
</div>