<div>
	<rbs-field-boolean label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_acknowledgment_receiver', ['ucf']) }}"
		property="document.parameters.acknowledgmentReceiver">
	</rbs-field-boolean>

	<rbs-field-boolean label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_auto_complete', ['ucf']) }}"
		property="document.parameters.autoComplete">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_auto_complete_help', ['ucf']) }}</div>
	</rbs-field-boolean>

	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_place_holder', ['ucf']) }}"
		property="document.parameters.placeHolder">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_place_holder_help', ['ucf']) }}</div>
	</rbs-field-text>
</div>