<div>
	<label class="control-label col-md-3"
		for="block_(= block.id =)_class">{{ i18n('m.rbs.admin.admin.block_class', ['ucf']) }}</label>
	<div class="controls col-md-9">
		<input class="form-control" type="text" data-ng-model="document.parameters.class"
			data-ng-pattern="'[a-zA-Z0-9 \-]*'" />
		<span class="help-block no-bottom-margin">{{ i18n('m.rbs.admin.admin.block_class_help', ['ucf']) }}</span>
	</div>
</div>