<div>
	<rbs-field-integer label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_min_size', ['ucf']) }}"
		property="document.parameters.minSize">
	</rbs-field-integer>

	<rbs-field-integer label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_max_size', ['ucf']) }}"
		property="document.parameters.maxSize">
	</rbs-field-integer>

	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_pattern', ['ucf']) }}"
		property="document.parameters.pattern">
	</rbs-field-text>

	<rbs-field-boolean label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_auto_complete', ['ucf']) }}"
		property="document.parameters.autoComplete">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_auto_complete_help', ['ucf']) }}</div>
	</rbs-field-boolean>

	<rbs-field-boolean label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_auto_correct', ['ucf']) }}"
		property="document.parameters.autoCorrect">
		<div class="help-block">
			{{ i18n('m.rbs.simpleform.admin.field_parameters_auto_correct_help', ['ucf']) }}
			<span class="text-warning">{{ i18n('m.rbs.simpleform.admin.field_warning_only_ios', ['ucf']) }}</span>
		</div>
	</rbs-field-boolean>

	<rbs-field label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_auto_capitalize', ['ucf']) }}">
		<select data-ng-model="document.parameters.autoCapitalize" class="form-control" data-ng-required="true"
			name="document.parameters.autoCapitalize"
			data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Simpleform_AutoCapitalizeOptions"
			data-ng-options="item.value as item.label for item in pxCollection">
		</select>
		<div class="help-block">
			{{ i18n('m.rbs.simpleform.admin.field_parameters_auto_capitalize_help', ['ucf']) }}
			<span class="text-warning">{{ i18n('m.rbs.simpleform.admin.field_warning_only_ios', ['ucf']) }}</span>
		</div>
	</rbs-field>

	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_place_holder', ['ucf']) }}"
		property="document.parameters.placeHolder">
		<div class="help-block">{{ i18n('m.rbs.simpleform.admin.field_parameters_place_holder_help', ['ucf']) }}</div>
	</rbs-field-text>
</div>