<h3 class="no-top-margin">
	<span class="glyphicon glyphicon-piggy-bank pull-right text-muted"></span>
	<a href="" data-ng-href="(= :: 'Project_Accounting'|appURL =)">{{ i18n('m.project.accounting.webapp.accounting', ['ucf']) }}</a>
</h3>
<p>{{ i18n('m.project.accounting.webapp.accounting_description', ['ucf']) }}</p>
<ul>
	<li>
		<a href="" data-ng-href="(= :: 'Project_Accounting_Shop'|appURL =)">{{ i18n('m.project.accounting.webapp.shop_list', ['ucf']) }}</a>
	</li>
	<li>
		<a href="" data-ng-href="(= :: 'Project_Accounting_Invoice'|appURL =)">{{ i18n('m.project.accounting.webapp.invoice_list', ['ucf']) }}</a>
	</li>
	<li>
		<a href="" data-ng-href="(= :: 'Project_Accounting_Transfer'|appURL =)">{{ i18n('m.project.accounting.webapp.transfer_list', ['ucf']) }}</a>
	</li>
	<li>
		<a href="" data-ng-href="(= :: 'Rbs_User_User'|appURL:'accountingList' =)">{{ i18n('m.project.accounting.webapp.user_list', ['ucf']) }}</a>
	</li>
</ul>