<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	<span class="glyphicon glyphicon-piggy-bank"></span> {{ i18n('m.project.accounting.webapp.accounting', ['ucf']) }} <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
	<li><a href="" data-ng-href="(= :: 'Project_Accounting'|appURL =)">{{ i18n('m.project.familinet.webapp.home', ['ucf']) }}</a></li>
	<li class="divider"></li>
	<li><a href="" data-ng-href="(= :: 'Project_Accounting_Shop'|appURL =)">{{ i18n('m.project.accounting.webapp.shop_list', ['ucf']) }}</a></li>
	<li class="divider"></li>
	<li><a href="" data-ng-href="(= :: 'Project_Accounting_Invoice'|appURL =)">{{ i18n('m.project.accounting.webapp.invoice_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Project_Accounting_Transfer'|appURL =)">{{ i18n('m.project.accounting.webapp.transfer_list', ['ucf']) }}</a></li>
	<li><a href="" data-ng-href="(= :: 'Rbs_User_User'|appURL:'accountingList' =)">{{ i18n('m.project.accounting.webapp.user_list', ['ucf']) }}</a></li>
</ul>