{% use 'Rbs_Generic/icon-templates.twig' %}
<div class="media-slider-visuals one-line-bottom-margin" data-ng-class="ngClasses.main">
	<div data-ng-show="visuals.length > 1" class="carousel slide" data-interval="(= interval =)"
			data-ride="carousel">
		<div class="carousel-inner">
			<div data-ng-repeat="visual in visuals track by $index" class="item" data-ng-class="{'active': $index == 0}">
				{% block visualItem %}
					<img data-ng-src="(= visual.src =)" alt="(= visual.alt =)" title="(= visual.title =)" />
				{% endblock visualItem %}
			</div>
		</div>
		{% spaceless %}
			<a class="left carousel-control" href="javascript:" data-ng-click="left($event);">
				{{ block('rbsGenericIconLeft') }}
			</a>
			<a class="right carousel-control" href="javascript:" data-ng-click="right($event);">
				{{ block('rbsGenericIconRight') }}
			</a>
		{% endspaceless %}
		<ol class="carousel-indicators">
			<li data-ng-repeat="visual in visuals track by $index" data-ng-class="{'active': $index == 0}"
					data-ng-click="goTo($index);"></li>
		</ol>
	</div>

	<div data-ng-show="visuals.length == 1">
		<div data-ng-repeat="visual in visuals track by $index" class="item">
			{{ block('visualItem') }}
		</div>
	</div>

	<div data-ng-show="visuals.length == 0">
		{% block visualDefault %}
			<div class="media-slider-visuals-default text-muted">
				{{ block('rbsGenericIconVisual') }}
				<br />
				<span>{{ i18n('m.rbs.catalog.front.no_visual', ['ucf']) }}</span>
			</div>
		{% endblock visualDefault %}
	</div>
	{% block visualPictograms %}
		<div data-rbs-media-pictograms="pictograms" data-pictogram-format="(= pictogramFormat =)"
				data-pictogram-position="(= pictogramPosition =)"></div>
	{% endblock visualPictograms %}
</div>