<div data-ng-show="pictograms" class="media-pictograms" data-ng-class="ngClasses.main">
	{% spaceless %}
		<div data-ng-repeat="pictogram in pictograms track by $index" class="media-pictograms-item"
				data-ng-class="ngClasses.size">
			<img alt="(= pictogram.alt =)" title="(= pictogram.title =)" data-ng-src="(= pictogram.src =)"
				data-ng-class="ngClasses.maxSize" />
		</div>
	{% endspaceless %}
</div>