{% use 'Rbs_Generic/icon-templates.twig' %}
<div class="media-visuals one-line-bottom-margin" data-ng-class="ngClasses.main">
	<div data-ng-if="thumbnailPosition == 'top' && visuals.length > 1" class="media-visuals-thumbnails">
		{% block thumbnails %}
			<div data-ng-repeat="visual in visuals track by $index" class="thumbnail"
					title="{{ i18nAttr('m.rbs.catalog.front.click_to_show_image', ['ucf']) }}">
				<img data-ng-src="(= visual.thumbnailSrc =)" alt="(= visual.alt =)" data-index="(= $index =)"
					title="(= visual.title =)" data-ng-click="showVisual($event, $index)" />
			</div>
		{% endblock thumbnails %}
	</div>
	<div class="media-visuals-main media-pictograms-container">
		{% block mainContainer %}
			<div data-ng-repeat="visual in visuals track by $index" data-index="(= $index =)"
					data-ng-class="{'visible': shownIndex == $index }" class="media-visuals-main-item">
				{% block mainItem %}
					<a data-ng-show="zoom.enabled && visual.originalSrc" data-ng-href="(= visual.originalSrc =)">
						<img itemprop="image" data-ng-src="(= visual.src =)" alt="(= visual.alt =)" title="(= visual.title =)"
								data-ng-mouseover="startZoom()" class="media-visuals-main-img" />
					</a>
					<img data-ng-hide="zoom.enabled" itemprop="image" data-ng-src="(= visual.src =)" title="(= visual.title =)"
							alt="(= visual.alt =)" class="media-visuals-main-img" />
				{% endblock mainItem %}
			</div>
			<div data-ng-show="visuals.length == 0" class="media-visuals-main-item">
				{% block mainDefault %}
					<div class="media-visuals-main-item-default text-muted">
						{{ block('rbsGenericIconVisual') }}
						<br />
						<span>{{ i18n('m.rbs.catalog.front.no_visual', ['ucf']) }}</span>
					</div>
				{% endblock mainDefault %}
			</div>
			<div data-rbs-media-pictograms="pictograms" data-pictogram-format="(= pictogramFormat =)"
					data-pictogram-position="(= pictogramPosition =)"></div>
		{% endblock mainContainer %}
	</div>
	<div data-ng-if="thumbnailPosition != 'top' && visuals.length > 1" class="media-visuals-thumbnails">
		{{ block('thumbnails') }}
	</div>
	<div data-ng-show="zoom.enabled && zoom.shown" class="media-visuals-zoom"></div>
	<div class="clearfix"></div>
</div>