<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.seo.ua.url_data', ['ucf']) }}</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="icon-info-sign" aria-hidden="true"></span> {{ i18n('m.rbs.seo.ua.main_properties', ['ucf']) }}
					</div>
					<dl class="panel-body dl-horizontal">
						<dt>{{ i18n('m.rbs.seo.ua.property_website_label', ['ucf']) }}</dt>
						<dd>(= modalData.rule.common.websiteLabel =)</dd>
						<dt>{{ i18n('m.rbs.seo.ua.property_lcid_label', ['ucf']) }}</dt>
						<dd>(= modalData.rule.common.LCIDLabel =)</dd>
						<dt>{{ i18n('m.rbs.seo.ua.property_relative_path', ['ucf']) }}</dt>
						<dd>(= modalData.rule.common.relativePath =)</dd>
						<dt>{{ i18n('m.rbs.seo.ua.property_insertion_date', ['ucf']) }}</dt>
						<dd>(= modalData.rule.common.insertionDate | pxDateTime =)</dd>
						<dt>{{ i18n('m.rbs.seo.ua.property_hits', ['ucf']) }}</dt>
						<dd>(= modalData.rule.common.hits =)</dd>
					</dl>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="icon-archive" aria-hidden="true"></span> {{ i18n('m.rbs.seo.ua.context_before_document_deletion', ['ucf']) }}
					</div>
					<dl class="panel-body dl-horizontal">
						<dt>{{ i18n('m.rbs.seo.ua.property_document_label', ['ucf']) }}</dt>
						<dd>
							(= modalData.rule.common.documentLabel || '-' =)<br />
							<small class="text-muted" data-ng-show="modalData.rule.common.documentModelLabel">
								(= modalData.rule.common.documentModelLabel =)
							</small>
						</dd>
						<dt>{{ i18n('m.rbs.seo.ua.property_section_label', ['ucf']) }}</dt>
						<dd>
							(= modalData.rule.common.sectionLabel || '-' =)
						</dd>
						<dt>{{ i18n('m.rbs.seo.ua.property_query', ['ucf']) }}</dt>
						<dd>
							(= modalData.rule.common.query || '-' =)
						</dd>
						<dt>{{ i18n('m.rbs.seo.ua.property_http_status', ['ucf']) }}</dt>
						<dd>(= modalData.rule.common.originalHttpStatus =)</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="icon-link" aria-hidden="true"></span> {{ i18n('m.rbs.seo.ua.other_urls_for_document', ['ucf']) }}
			</div>
			<div data-ng-if="modalData.relatedLoading" class="panel-body">
				{{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
			</div>
			<div data-ng-if="!modalData.relatedLoading && !modalData.related.length" class="panel-body">
				{{ i18n('m.rbs.seo.ua.no_other_url_to_display', ['ucf']) }}
			</div>
			<div class="table-responsive">
				<table data-ng-if="!modalData.relatedLoading && modalData.related.length"
					class="ua-entity-list-table table table-condensed table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="column-checkbox" data-ng-click="modalData.selection.all = !modalData.selection.all">
								<input type="checkbox" data-ng-click="$event.stopPropagation()" data-ng-model="modalData.selection.all" />
							</th>
							<th>{{ i18n('m.rbs.seo.ua.property_website_label', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.ua.property_section_label', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.ua.property_lcid_label', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.ua.property_relative_path', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.ua.property_query', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.ua.property_hits', ['ucf']) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="normal-row" data-ng-class="{'selected': modalData.selection.indexes[$index]}"
							data-ng-repeat="relatedRule in modalData.related">
							<td class="column-checkbox" data-ng-click="modalData.selection.indexes[$index] = !modalData.selection.indexes[$index]">
								<input type="checkbox" data-ng-click="$event.stopPropagation()" data-ng-model="modalData.selection.indexes[$index]" />
							</td>
							<td>(= relatedRule.common.websiteLabel =)</td>
							<td>(= relatedRule.common.sectionLabel =)</td>
							<td>(= relatedRule.common.LCIDLabel =)</td>
							<td>
								(= relatedRule.common.relativePath =)
								<abbr data-ng-if="relatedRule.common.originalHttpStatus" class="badge pull-right"
									title="{{ i18nAttr('m.rbs.seo.ua.http_status_before_deletion', ['ucf']) }}">
									(= relatedRule.common.originalHttpStatus =)
								</abbr>
							</td>
							<td>(= relatedRule.common.query =)</td>
							<td>(= relatedRule.common.hits =)</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<h5>{{ i18n('m.rbs.seo.ua.redirect_url_to', ['ucf', 'lab']) }}</h5>
		<div class="row">
			<div class="col-sm-6">
				<form>
					<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.a_publishable_document', ['ucf']) }}" data-mode="vertical">
						<div data-px-document-selector="" data-ng-model="modalData.newTarget.docId" data-accepted-models="{publishable: true}"
							data-search-rest-service="Rbs_Seo_DocumentForSelector.search" data-load-rest-service="Rbs_Seo_DocumentForSelector.load"
							data-rest-service-params="{urlContext: {websiteId: '(= modalData.rule.common.websiteId =)', LCID: '(= modalData.rule.common.LCID =)'}}">
						</div>
					</div>
					<button type="button" class="btn btn-primary" data-ng-disabled="!modalData.newTarget.docId" data-ng-click="redirectToDocument()">
						{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
					</button>
				</form>
			</div>
			<div class="col-sm-6">
				<form>
					<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.a_path_rule', ['ucf']) }}" data-mode="vertical">
						<div data-px-seo-path-rule-selector="" data-ng-model="modalData.newTarget.ruleId"></div>
					</div>
					<button type="button" class="btn btn-primary" data-ng-disabled="!modalData.newTarget.ruleId" data-ng-click="redirectToPathRule()">
						{{ i18n('m.rbs.ua.common.validate', ['ucf']) }}
					</button>
				</form>
			</div>
		</div>
	</div>
</div>