<div data-ng-controller="ProximisSeo404ListController">
	<div data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Generic_Collection_Languages"
		data-variable-name="globalData.languages" data-collection-params="ucFirst:true"></div>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.404_list', ['ucf']) }}"></div>
	<div data-px-filters="filter" data-options="globalData" data-static-filter-methods="staticFilterMethods">
		<div data-px-static-filter="none">
			{% block includeHidden %}
				<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_include_hidden', ['ucf']) }}">
					<div class="checkbox">
						<label><input type="checkbox" data-ng-model="filter.parameters.includeHidden" data-px-field="" /></label>
					</div>
				</div>
			{% endblock includeHidden %}
		</div>
		<div data-px-static-filter="website" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_website', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
				<select class="form-control" data-ng-model="filter.parameters.website" data-px-field=""
					data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Theme_WebsiteIds"
					data-ng-options="item.value as item.label for item in pxCollection">
					<option></option>
				</select>
			</div>
			{{ block('includeHidden') }}
		</div>
		<div data-px-static-filter="lcid" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_lcid', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_lcid_label', ['ucf']) }}">
				<select class="form-control" data-ng-model="filter.parameters.lcid" data-px-field=""
					data-ng-options="item.value as item.label for item in options.languages">
					<option></option>
				</select>
			</div>
			{{ block('includeHidden') }}
		</div>
		<div data-px-static-filter="relativePath" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_relative_path', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_relative_path', ['ucf']) }}">
				<input type="text" class="form-control" data-ng-model="filter.parameters.relativePath" data-px-field="" />
			</div>
			{{ block('includeHidden') }}
		</div>
	</div>
	<div data-px-ua-entity-list="" data-rest-service="Rbs_Seo_Url404.list" data-filter="true" data-action-methods="actionMethods">
		<div data-px-list-column="common.websiteLabel" data-sort="website_id"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_website_label', ['ucf']) }}">
		</div>
		<div data-px-list-column="common.LCIDLabel" data-sort="lcid"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_lcid_label', ['ucf']) }}">
		</div>
		<div data-px-list-column="common.relativePath"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_relative_path', ['ucf']) }}">
		</div>
		<div data-px-list-column="common.documentLabel"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_document_label', ['ucf']) }}">
			<span data-ng-if="doc.common.documentLabel">
				(= doc.common.documentLabel =)<br />
				<small class="text-muted" data-ng-show="doc.common.documentModelLabel">(= doc.common.documentModelLabel =)</small>
			</span>
		</div>
		<div data-px-list-column="common.hits" data-sort="hits"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_hits', ['ucf']) }}">
		</div>
		<div data-px-list-column="common.insertionDate" data-sort="insertion_date" data-format="date" data-default-sort="desc"
			data-label="{{ i18nAttr('m.rbs.seo.ua.property_insertion_date', ['ucf']) }}">
		</div>
		<div data-px-list-column="actions" data-label="{{ i18nAttr('m.rbs.ua.common.actions', ['ucf']) }}" class="column-actions">
			<button data-ng-if="doc.common.hidden" class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_show', ['ucf']) }}"
				data-ng-click="actionMethods.show([doc], selection, true)">
				<span class="icon-eye-open"></span>
			</button>
			<button data-ng-if="!doc.common.hidden" class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_hide', ['ucf']) }}"
				data-ng-click="actionMethods.hide([doc], selection, true)">
				<span class="icon-eye-close"></span>
			</button>
			<button class="btn btn-default btn-icon" title="{{ i18nAttr('m.rbs.seo.ua.action_open_details_panel', ['ucf']) }}"
				data-ng-click="actionMethods.open(doc, selection)">
				<span class="icon-cogs"></span>
			</button>
		</div>

		<div data-px-list-action="hide" data-label="{{ i18nAttr('m.rbs.seo.ua.action_hide', ['ucf']) }}"
			data-icon="icon-eye-close" data-class="btn-default" data-mode="multiple"></div>
		<div data-px-list-action="show" data-label="{{ i18nAttr('m.rbs.seo.ua.action_show', ['ucf']) }}"
			data-icon="icon-eye-open" data-class="btn-default" data-mode="multiple"></div>
	</div>

	<div class="modal fade detail-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{% include '@Rbs_Seo/Ua/views/url404/detail-modal-content.twig' %}
			</div>
		</div>
	</div>
</div>