<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Geo_Country">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Geo_Country'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-geo-country-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="label" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'label'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'code'), ['ucf']) }}" required="true">
					<select data-ng-model="document.code" required="true" class="form-control"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Geo_All_Countries_Codes"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf', 'etc']) }}</option>
					</select>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'isoCode'), ['ucf']) }}" required="true">
					<select data-ng-model="document.isoCode" required="true" class="form-control"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Geo_All_Countries_IsoCodes"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value="">{{ i18n('m.rbs.admin.admin.select', ['ucf', 'etc']) }}</option>
					</select>
				</rbs-field>

				<rbs-field-picker
					property="addressFields" label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'addressFields'), ['ucf']) }}"
					accepted-model="Rbs_Geo_AddressFields"
					selector-title="{{ i18nAttr('m.rbs.geo.admin.country_select_addressfields', ['ucf']) }}">
				</rbs-field-picker>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>