<div data-ng-controller="ProximisSeoMetaGroupListController">
	<button type="button" class="btn btn-default pull-right" data-ng-click="openAddMetaGroupModal()">
		<span class="icon-plus"></span> {{ i18n('m.rbs.seo.ua.add_meta_groups', ['ucf']) }}
	</button>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.meta_group_list', ['ucf']) }}"></div>
	<div data-px-filters="filter" data-options="globalData" data-static-filter-methods="staticFilterMethods">
		<div data-px-static-filter="label" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_label', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_label', ['ucf']) }}">
				<input type="text" class="form-control" data-ng-model="filter.parameters.label" data-px-field="" />
			</div>
		</div>
	</div>

	<div data-px-ua-entity-list="" data-rest-service="Rbs_Seo_MetaGroup.list" data-filter="true" data-action-methods="actionMethods">
		<div data-px-list-column="common.label" data-sort="label" data-label="{{ i18nAttr('m.rbs.seo.ua.property_label', ['ucf']) }}"></div>
		<div data-px-list-column="actions" data-label="{{ i18nAttr('m.rbs.ua.common.actions', ['ucf']) }}" class="column-actions">
			<button type="button" class="btn btn-default" data-ng-click="actionMethods.open(doc)">
				<span class="icon-pencil"></span> {{ i18n('m.rbs.ua.common.edit', ['ucf']) }}
			</button>
			<button type="button" class="btn btn-danger" data-ng-click="actionMethods.delete(doc)"
				title="{{ i18n('m.rbs.ua.common.delete', ['ucf']) }}">
				<span class="icon-trash"></span>
			</button>
		</div>
	</div>
</div>