<ul class="breadcrumb">
	<li data-ng-show="home" class="location"><a href="#(= home.url() =)"><i data-ng-show="home.route.icon" class="glyphicon glyphicon-(= :: home.route.icon =)" title="(= :: home.label =)"></i><span data-ng-show="!home.route.icon">(= :: home.label =)</span></a></li>
	<li data-ng-show="entries" class="location" data-ng-repeat="entry in entries"><a href="#(= entry.url() =)"><i data-ng-show="entry.route.icon" class="glyphicon glyphicon-(= :: entry.route.icon =)" title="(= entry.label =)"></i><span data-ng-show="!entry.route.icon">(= entry.label =)</span></a></li>
	<li data-ng-show="current" class="active" ><i data-ng-show="current.route.icon" class="glyphicon glyphicon-(= current.route.icon =)" title="(= current.label =)"></i><span data-ng-show="!current.route.icon">(= current.label =)</span></li>
</ul>