<div class="form-inline">
	<div class="input-group">
		<input type="text" class="form-control" data-role="input-date" data-ng-model="date" data-is-open="opened" data-show-button-bar="false"
			data-ng-required="required" data-datepicker-options="dateOptions" data-ng-change="updateDate()"
			data-uib-datepicker-popup="{{ i18nAttr('m.project.familinet.webapp.date_selector_format') }}" />
		<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-icon" data-ng-click="open($event)"
				title="{{ i18nAttr('m.project.familinet.webapp.action_open_selector', ['ucf']) }}">
				<span class="glyphicon glyphicon-calendar"></span>
			</button>
		</span>
	</div>

	<button type="button" class="btn btn-default btn-icon" data-ng-click="clear()"
		title="{{ i18nAttr('m.project.familinet.webapp.action_clear', ['ucf']) }}">
		<span class="glyphicon glyphicon-erase"></span>
	</button>

	<button type="button" data-ng-show="showYesterdayButton" class="btn btn-default" data-ng-click="yesterday()">
		{{ i18n('m.project.familinet.webapp.date_selector_yesterday', ['ucf']) }}
	</button>

	<button type="button" data-ng-show="showNowButton" class="btn btn-default" data-ng-click="now()">
		{{ i18n('m.project.familinet.webapp.date_selector_today', ['ucf']) }}
	</button>

	<span data-ng-transclude=""></span>
</div>