<div class="document-editor-footer">
	<p class="text-muted">
		<small data-ng-if="changes.length == 0">
			<span class="glyphicon glyphicon-ok"></span>
			<strong>{{ i18n('m.project.familinet.webapp.document_editor_no_property_modified', ['ucf']) }}</strong>
		</small>
		<small data-ng-if="changes.length > 0">
			<span class="glyphicon glyphicon-pencil"></span>
			<strong data-ng-if="changes.length == 1">
				{{ i18n('m.project.familinet.webapp.document_editor_property_modified', ['ucf']) }}
			</strong>
			<strong data-ng-if="changes.length > 1">
				(= changes.length =) {{ i18n('m.project.familinet.webapp.document_editor_properties_modified') }}
			</strong>
		</small>
		<span data-ng-show="changes.length" data-ng-click="showChanges = !showChanges" class="glyphicon"
			data-ng-class="{'glyphicon-chevron-sign-left': showChanges, 'glyphicon-chevron-sign-right': !showChanges}" ></span>
		<span data-ng-show="showChanges">
			<span class="label label-default" data-ng-repeat="change in changes">(= change =)</span>
		</span>
	</p>

	<div class="form-buttons">
		<div class="pull-right">
			<span data-ng-transclude=""></span>

			<a data-ng-if="!disableNewFrom" class="btn btn-default btn-icon btn-responsive"
				data-ng-href="(= document|appURL:'newFrom' =)"
				title="{{ i18nAttr('m.project.familinet.webapp.action_new_from', ['ucf', 'etc']) }}">
				<span class="glyphicon glyphicon-plus"></span>
			</a>

			<button data-ng-if="!disableDelete" class="btn btn-danger btn-icon btn-responsive" type="button"
				data-ng-click="confirmDelete($event)" title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
		</div>

		<button class="btn btn-default" type="button" data-ng-click="goBack($event)" data-ng-show="canGoBack()">
			<span class="glyphicon glyphicon-arrow-left"></span> {{ i18n('m.project.familinet.webapp.action_back', ['ucf']) }}
		</button>

		<button class="btn btn-default" type="button" data-ng-click="confirmReset($event)" data-ng-hide="isUnchanged()">
			<span class="glyphicon glyphicon-remove"></span> {{ i18n('m.project.familinet.webapp.action_reset', ['ucf']) }}
		</button>

		<button data-ng-show="confirmationOnSave" onClick="return confirm('Êtes-vous sûr ?')" 
			disabled="disabled" class="btn btn-headline btn-primary" data-role="save" type="submit"
			data-ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}"
			data-ng-disabled="form.$invalid || isUnchanged() || saveProgress.running">
			<span class="glyphicon"
				data-ng-class="{'glyphicon-ok': ! saveProgress.running, 'glyphicon-remove': saveProgress.error}">
			</span>
			{{ i18n('m.project.familinet.webapp.action_save', ['ucf']) }}
		</button>

		<button data-ng-show="!confirmationOnSave"
			disabled="disabled" class="btn btn-headline btn-primary" data-role="save" type="submit"
			data-ng-class="{'btn-success':saveProgress.success && isUnchanged(), 'btn-danger':saveProgress.error}"
			data-ng-disabled="form.$invalid || isUnchanged() || saveProgress.running">
			<span class="glyphicon"
				data-ng-class="{'glyphicon-ok': ! saveProgress.running, 'glyphicon-remove': saveProgress.error}">
			</span>
			{{ i18n('m.project.familinet.webapp.action_save', ['ucf']) }}
		</button>
	</div>
</div>