.document-selector .empty {
	color: silver;
	font-style: italic;
}

.document-selector {
	position: relative;
}

.document-selector.document-selector-auto-complete .document-selector-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.1;
	z-index: 10;
}

.document-selector.document-selector-auto-complete .document-selector-content {
	position: relative;
	z-index: 20;
}

.document-selector.document-selector-auto-complete .auto-complete-list {
	display: block;
}

.document-selector .auto-complete-input {
	margin-top: 4px;
	width: 100%;
}
.document-selector.document-selector-empty .auto-complete-input {
	margin-top: 0;
}

/** Auto complete list. */
.document-selector .auto-complete-list {
	display: none;
	position: absolute;
	padding: 7px 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border: 1px solid #999;
	z-index: 1000;
}

.document-selector .auto-complete-list:after {
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: '';
	display: inline-block;
	left: 10px;
	position: absolute;
	top: -6px;
}

.document-selector .auto-complete-list:before {
	border-bottom: 7px solid #999;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	display: inline-block;
	left: 9px;
	position: absolute;
	top: -7px;
}

.document-selector .auto-complete-list-loading,
.document-selector .auto-complete-list-errors {
	padding: 3px 10px;
}

.document-selector .auto-complete-list-options {
	margin: 0;
}

.document-selector .auto-complete-list-options li {
	display: block;
	padding: 3px 10px;
	cursor: pointer;
}

.document-selector .auto-complete-list-options li:hover,
.document-selector .auto-complete-list-options li:focus {
	background: #e8e8e8 linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%) repeat-x;
}

.document-selector .auto-complete-list-previous-page {
	padding: 0 10px 3px 10px;
}

.document-selector .auto-complete-list-next-page {
	padding: 3px 10px 0 10px;
}

.document-selector .auto-complete-list-actions {
	padding: 10px 10px 0 10px;
	margin-bottom: 5px;
}

/* Token list */
.document-selector-token-list {
	*zoom: 1;
	margin: 0;
	list-style: none;
}

.document-selector-token-list:before,
.document-selector-token-list:after {
	display: table;
	line-height: 0;
	content: "";
}

.document-selector-token-list:after {
	clear: both;
}

.document-selector-token-list > li {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #0088CC;
	padding: 3px 9px;
	background-color: white;
	box-shadow: 0 0 5px rgb(200, 208, 215);
	color: #0088CC;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	margin: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	position: relative;
}

.document-selector-token-list-rows > li {
	display: block;
	margin: 4px 0 0 0;
}

.document-selector-token-list-rows > li:last-child {
	margin-bottom: 0;
}

.document-selector-token-list > li small {
	font-weight: normal;
}

.document-selector-token-list > li.muted,
.document-selector-token-list > li.more {
	border: 0;
	background: none;
	font-weight: normal;
	line-height: 20px;
	color: #999999;
}

.document-selector-token-list > li.masked {
	display: none;
}

.document-selector-token-list.view-all > li.masked {
	display: inline-block;
}

.document-selector-token-list.view-all.rows > li {
	display: block;
}

.document-selector-token-list > li.muted {
	font-style: italic;
	line-height: 20px;
}

.document-selector-token-list > li .delete:focus {
	outline: none;
}

.document-selector-token-list > li .actions {
	margin-left: 10px;
}

.document-selector-token-list > li .actions > * {
	margin-left: 10px;
}

.document-selector-token-list .sortable-placeholder {
	border: 2px solid #e30018;
	padding: 2px 8px;
	background-color: rgba(255,248,240,0.75);
	color: #e30018;
}

.document-selector-token-list > li .glyphicon-sort {
	margin-top: 1px;
	cursor: move;
}
.document-selector-token-list > li .glyphicon-remove {
	margin-top: 1px;
	cursor: pointer;
}

.document-selector-token-list .sortable-dragging {
	transform: scale(0.85);
}