/* Document editor footer */
.document-editor-footer {
	background-image: linear-gradient(to top, white 0%, #F5F5F5 100%);
	border-top: 5px solid #EEEEEE;
	margin: 10px 0;
	padding: 10px 20px;
}

/* Fieldsets */
fieldset.attributes-group legend {
	font-size: 16px;
	margin-left: 7%;
	width: 93%;
}

fieldset fieldset legend {
	margin-left: 5%;
	width: 95%;
}

fieldset table.inline-documents {
	margin-left: 7%;
	width: 93%;
}

/* Required fields */
.form-group.required .control-label::before, .form-vertical .form-group.required .control-label::after {
	color: #b94a48;
	content: "*";
	font-family: Courier New,Courier;
	font-size: 24px;
	line-height: 10px;
	margin-right: 3px;
	position: relative;
	top: 5px;
}