<div class="page-header">
	<div class="pull-right" data-ng-hide="readonly && !allowCreateFrom">
		<a data-ng-hide="readonly" data-ng-href="(= document|appURL:'edit' =)"
			class="btn btn-default btn-icon btn-responsive"
			title="{{ i18nAttr('m.project.familinet.webapp.action_edit', ['ucf']) }}">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>

		<a data-ng-show="!readonly || allowCreateFrom" data-ng-href="(= document|appURL:'newFrom' =)"
			class="btn btn-default btn-icon btn-responsive"
			title="{{ i18nAttr('m.project.familinet.webapp.action_new_from', ['ucf', 'etc']) }}">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</div>
	<h1>
		<span>(= title || document.label =)</span>
		<small data-ng-show="subtitle">(= subtitle =)</small>
	</h1>
	<span class="clearfix"></span>
</div>