<div class="document-selector"
	data-ng-class="{ 'document-selector-empty': !doc.list.length, 'document-selector-auto-complete': autoComplete.show || selector.createNew }">
	<div class="document-selector-backdrop" data-ng-show="autoComplete.show || selector.createNew"
		data-ng-click="autoComplete.close()"></div>
	<div class="document-selector-content">
		<div data-ng-hide="doc.list.length < 1" data-app-document-selector-token-list="" data-items="doc.list"></div>

		<div data-ng-show="doc.list.length < 1 || multiple" class="auto-complete-input">
			<div data-ng-show="selector.mode == 'search' || (selector.mode == 'options' && selector.createNew)" class="input-group">
				<input type="text" class="form-control" data-ng-model="autoComplete.value"
					autocomplete="off" data-ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
				<span class="input-group-btn" data-ng-show="acceptedModel == 'Rbs_User_User'">
					<button class="btn btn-info" data-ng-click="addMe()" type="button"
						data-ng-disabled="amISelected()">
						<span class="glyphicon glyphicon-plus" data-ng-show="!amISelected()"></span>
						<span class="glyphicon glyphicon-ok" data-ng-show="amISelected()"></span>
						{{ i18n('m.project.familinet.webapp.action_add_me', ['ucf']) }}
					</button>
				</span>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-file"></span>
				</span>
			</div>
			<div data-ng-show="selector.mode == 'options' && !selector.createNew" class="input-group">
				<select class="form-control" data-ng-model="selector.selectedValue" data-ng-disabled="disabled"
					data-ng-change="selector.selectOption()"
					data-ng-options="option.id as (option.optionLabel || option.label) for option in selector.options|filter:selector.notInSelection">
				</select>
				<span class="input-group-btn" data-ng-show="acceptedModel == 'Rbs_User_User'">
					<button class="btn btn-info" data-ng-click="addMe()" type="button"
						data-ng-disabled="amISelected()">
						<span class="glyphicon glyphicon-plus" data-ng-show="!amISelected()"></span>
						<span class="glyphicon glyphicon-ok" data-ng-show="amISelected()"></span>
						{{ i18n('m.project.familinet.webapp.action_add_me', ['ucf']) }}
					</button>
				</span>
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-file"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="auto-complete-list" app-document-selector-auto-complete-list="">
		<div data-ng-show="autoComplete.refreshing" class="auto-complete-list-loading text-center">
			{{ i18n('m.project.familinet.webapp.loading', ['ucf', 'etc']) }}
		</div>
		<div data-ng-hide="autoComplete.refreshing">
			<div data-ng-if="autoComplete.items.length">
				<div data-ng-if="autoComplete.offset > 0" class="auto-complete-list-previous-page">
					<button type="button" class="btn btn-default btn-xs btn-block" data-ng-disabled="autoComplete.loadingPage"
						data-ng-click="autoComplete.loadPreviousPage()">
						<span data-ng-class="autoComplete.loadingPage ? 'glyphicon glyphicon-hourglass' : 'glyphicon glyphicon-menu-up'"></span>
						{{ i18n('m.project.familinet.webapp.document_selector_view_previous_results', ['ucf']) }}
					</button>
				</div>
				<ul class="list-unstyled auto-complete-list-options" data-ng-if="autoComplete.items.length">
					<li class="clearfix" data-ng-repeat="item in autoComplete.items|filter:autoComplete.notInSelection"
						data-ng-click="autoComplete.add(item)">
						<span data-ng-include="getItemTemplateName(item)"></span>
					</li>
				</ul>
				<div data-ng-if="autoComplete.offset + autoComplete.items.length < autoComplete.totalCount" class="auto-complete-list-next-page">
					<button type="button" class="btn btn-default btn-xs btn-block" data-ng-disabled="autoComplete.loadingPage"
						data-ng-click="autoComplete.loadNextPage()">
						<span data-ng-class="autoComplete.loadingPage ? 'glyphicon glyphicon-hourglass' : 'glyphicon glyphicon-menu-down'"></span>
						{{ i18n('m.project.familinet.webapp.document_selector_view_next_results', ['ucf']) }}
					</button>
				</div>
				<div data-ng-if="autoComplete.allowCreation">
					<ul class="list-unstyled auto-complete-list-actions">
						<li>
							<button class="btn btn-warning btn-xs" data-ng-click="autoComplete.create()" type="button">
								<span class="glyphicon glyphicon-plus"></span>
								{{ i18n('m.project.familinet.webapp.action_create_and_select', ['ucf']) }}
							</button>
							{{ i18n('m.project.familinet.webapp.action_create_and_select_help', ['ucf']) }}
						</li>
					</ul>
				</div>
			</div>
			<div data-ng-if="autoComplete.error" class="auto-complete-list-errors">
				<p class="text-warning no-bottom-margin">{{ i18n('m.project.familinet.webapp.document_selector_an_error_occurred', ['ucf']) }}</p>
			</div>
			<div data-ng-if="!autoComplete.error && !autoComplete.items.length">
				<div class="auto-complete-list-errors">
					<p class="text-warning no-bottom-margin">{{ i18n('m.project.familinet.webapp.document_selector_no_document_to_suggest', ['ucf']) }}</p>
				</div>
				<div data-ng-if="autoComplete.allowCreation">
					<ul class="list-unstyled auto-complete-list-actions">
						<li>
							<button class="btn btn-warning btn-xs" data-ng-click="autoComplete.create()" type="button">
								<span class="glyphicon glyphicon-plus"></span>
								{{ i18n('m.project.familinet.webapp.action_create_and_select', ['ucf']) }}
							</button>
							{{ i18n('m.project.familinet.webapp.action_create_and_select_help', ['ucf']) }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>