<span data-ng-if="isCollection()">(= :: collectionItems[attribute.value].title =)</span>
<span data-ng-if="!isCollection()">
	<span data-ng-if="isArrayValue()">
		<span data-ng-repeat="item in docList">
			{# Documents are loaded asynchronously, so can't use :: here. #}
			<a data-ng-href="(= item | appURL:'detail' =)">(= item.label =)</a><span data-ng-if="!$last">,</span>
		</span>
	</span>
	<span data-ng-if="isDocument()">
		{# Documents are loaded asynchronously, so can't use :: here. #}
		<a data-ng-href="(= docList[0] | appURL:'detail' =)">(= docList[0].label =)</a>
	</span>
	<div data-ng-if="isHtml()" data-ng-bind-html="trustHtml(attribute.value)"></div>
	<span data-ng-if="isDate() || isDateTime()">(= :: attribute.value | appDate =)</span>
	<span data-ng-if="isString()">(= :: attribute.valueTitle || attribute.value =)</span>
</span>