<div class="alert alert-info">
	<p data-ng-if="refDoc">
		{{ i18n('m.project.familinet.webapp.document_editor_creating_a_new_document_from') | raw }}
		<strong><a href target="_blank" data-ng-href="(= refDoc | rbsURL =)">
				<span data-ng-bind="refDoc.label"></span>
				<span class="glyphicon glyphicon-new-window"></span></a>
		</strong>.<br />
		{{ i18n('m.project.familinet.webapp.document_editor_creating_a_new_document_from_tip') | raw }}
	</p>
	<p data-ng-if="!refDoc">
		{{ i18n('m.project.familinet.webapp.document_editor_loading_reference_document', ['ucf', 'etc']) }}
	</p>
</div>