<div class="document-meta">
	<dl class="text-muted">
		<dt>{{ i18n('m.project.familinet.webapp.creation_date', ['ucf', 'lab']) }}</dt>
		<dd>(= :: document.creationDate | appDateTime =)</dd>
		<dt>{{ i18n('m.project.familinet.webapp.last_update', ['ucf', 'lab']) }}</dt>
		<dd>(= :: document.modificationDate | appDateTime =)</dd>
	</dl>
</div>