<div class="row document-list" data-ng-cloak="" data-ng-show="initialized">
	<div class="col-xs-12">
		<div class="page-header" data-ng-if="blockLevel == 'primary'">
			<h1>
				{% block titleAndCounter %}
					(= :: listTitle =)
					<small data-ng-if="fullListUrl && compact && pagination.totalItems > pagination.limit">
						(<a href="" data-ng-href="(= :: fullListUrl =)"
						title="{{ i18nAttr('m.project.familinet.webapp.view_full_list', ['ucf']) }}">(= pagination.totalItems =)</a>)
					</small>
					<small data-ng-if="!compact || pagination.totalItems <= pagination.limit">
						((= pagination.totalItems =))
					</small>
				{% endblock titleAndCounter %}

				<span class="pull-right">
					<a data-ng-href="(= :: modelName|appURL:newRouteName:newUrlParameters =)" data-ng-if="allowCreation"
						class="btn btn-default btn-icon btn-responsive"
						title="{{ i18nAttr('m.project.familinet.webapp.action_new', ['ucf']) }}">
						<span class="glyphicon glyphicon glyphicon-plus"></span>
					</a>
				</span>
				<span class="clearfix"></span>
			</h1>
		</div>
		<h2 data-ng-if="blockLevel == 'secondary'">
			{{ block('titleAndCounter') }}

			<span class="pull-right">
				<button data-ng-if="filter.enabled && compact" data-ng-show="filter.shown" type="button" data-ng-click="filter.hide()"
					class="btn btn-default btn-icon btn-responsive" title="{{ i18nAttr('m.project.familinet.webapp.action_close_filters', ['ucf']) }}">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<button data-ng-if="filter.enabled && compact" data-ng-show="!filter.shown" type="button" data-ng-click="filter.show()"
					class="btn btn-default btn-icon btn-responsive" title="{{ i18nAttr('m.project.familinet.webapp.action_filter', ['ucf']) }}">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
				<a data-ng-href="(= :: modelName|appURL:newRouteName:newUrlParameters =)" data-ng-if="allowCreation"
					class="btn btn-default btn-icon btn-responsive" title="{{ i18nAttr('m.project.familinet.webapp.action_new', ['ucf']) }}">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
			</span>
			<span class="clearfix"></span>
		</h2>

		<form data-ng-if="filter.enabled" data-ng-show="filter.shown">
			<div class="row">
				<div class="col-md-7">
					<div class="form-group">
						<label for="(= :: modelName =)_filter_value" class="sr-only">{{ i18n('m.project.familinet.webapp.filter_list', ['ucf']) }}</label>
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="filter.value" id="(= :: modelName =)_filter_value"
								placeholder="{{ i18nAttr('m.project.familinet.webapp.filter_list', ['ucf']) }}" data-ng-model-options="{debounce: 500}" />
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span data-ng-if="filter.mode == 'contains'">{{ i18n('m.project.familinet.webapp.filter_containing', ['ucf']) }}</span>
									<span data-ng-if="filter.mode == 'beginsWith'">{{ i18n('m.project.familinet.webapp.filter_beginning_with', ['ucf']) }}</span>
									<span data-ng-if="filter.mode == 'endsWith'">{{ i18n('m.project.familinet.webapp.filter_ending_with', ['ucf']) }}</span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li><a href="javascript:" data-ng-click="filter.mode = 'contains'">
										{{ i18n('m.project.familinet.webapp.filter_containing', ['ucf']) }}
									</a></li>
									<li><a href="javascript:" data-ng-click="filter.mode = 'beginsWith'">
										{{ i18n('m.project.familinet.webapp.filter_beginning_with', ['ucf']) }}
									</a></li>
									<li><a href="javascript:" data-ng-click="filter.mode = 'endsWith'">
										{{ i18n('m.project.familinet.webapp.filter_ending_with', ['ucf']) }}
									</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5" data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Typologies"
					data-collection-params="modelName:(= modelName =)" data-variable-name="data.typologies">
					<label for="(= :: modelName =)_filter_typology" class="sr-only">
						{{ i18n('m.project.familinet.webapp.filter_list_by_typology', ['ucf']) }}
					</label>
					<select class="form-control typology-selector" data-ng-model="filter.typology" id="(= :: modelName =)_filter_typology"
						data-ng-options="item.value as item.label for item in data.typologies" data-ng-disabled="!data.typologies.length">
						<option value="" class="text-muted">{{ i18n('m.project.familinet.webapp.filter_list_by_typology', ['ucf']) }}</option>
					</select>
				</div>
			</div>
		</form>

		<div class="list-content" data-ng-if="!compact || pagination.totalItems > 0">
			<div data-ng-include="contentTemplateUrl"></div>
		</div>

		<div data-ng-if="!compact" data-app-pagination="pagination" class="pagination-container"></div>
		<p data-ng-if="fullListUrl && compact && pagination.totalItems > pagination.limit" class="full-list-link">
			<a href="" data-ng-href="(= :: fullListUrl =)">{{ i18n('m.project.familinet.webapp.view_full_list', ['ucf']) }}</a>
		</p>
	</div>
</div>