<div class="alert" data-ng-class="{'info': 'alert-info', 'error': 'alert-danger', 'warning': 'alert-warning'}[notification.level]">
	<rbs-kb-switch>
		<button data-rbs-kb-default="" type="button" class="close" data-ng-click="remove()"
			title="{{ i18nAttr('m.project.familinet.webapp.close', ['ucf']) }}">&times;</button>
		<button data-rbs-kb-when="alt" type="button" class="close" data-ng-click="removeAll()"
			title="{{ i18nAttr('m.project.familinet.webapp.close_all', ['ucf']) }}">&times;</button>
	</rbs-kb-switch>
	<h4 data-ng-show="notification.title" data-ng-bind-html="notification.title"></h4>
	<div data-ng-show="notification.body" data-ng-bind-html="notification.body"></div>
</div>
