<div class="rich-text-input">
	<div id="rbsRichtextInput(= editorId =)TabEditor">
		<div data-ng-switch="ngModel.e">
			<div data-ng-switch-when="Markdown" class="richtext-input-markdown">
				<div id="(= containerId =)">
					<textarea class="form-control" rows="7" data-ng-model="ngModel.t"></textarea>
				</div>
			</div>

			<div data-ng-switch-default="" class="richtext-input-other">
				<div data-ng-show="ngModel.e" class="text-danger form-control-static">
					{{ i18n('m.project.familinet.webapp.richtext_invalid_mode', ['ucf']) }}
				</div>
			</div>
		</div>
	</div>
</div>
