<a href="" data-ng-click="applySort()">
	<span data-ng-transclude=""></span>
	<i data-ng-if="sort.property === columnName" class="column-sort-indicator hidden-print glyphicon"
		data-ng-class="{true: 'glyphicon-triangle-bottom', false: 'glyphicon-triangle-top'}[sort.desc === 'true']"></i>
	<i data-ng-if="sort.property !== columnName" class="column-sort-indicator hidden-print glyphicon glyphicon-sort text-muted"></i>
</a>