<span data-ng-if="rating !== undefined && rating !== null">
	<span class="sr-only">
		(= :: star_rating =)
	</span>
	<span class="star-rating" aria-hidden="true" title="(= :: star_rating =)">
		<span data-ng-show="mode == 'compact'" class="star-rating-compact">
			<strong class="star-rating-value">(= :: scaledRating =)</strong>
			<small class="star-rating-scale">/(= :: scale =)</small>
		</span>
		<span data-ng-show="mode == 'star'">
			<span data-ng-repeat="i in stars" data-ng-class="{'text-muted': scaledRating <= i, 'text-success': scaledRating > i}">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			</span>
		</span>
	</span>
</span>