<ol class="list-inline star-rating-input star-rating no-bottom-margin">
	<li data-app-star-rating-input-item="">
		<label class="no-bottom-margin" title="(= starRating('') =)">
			<input type="radio" name="review" data-ng-model="scaled.rating" value="" class="sr-only" />
			<span data-ng-class="{
					'text-primary': scaled.hover === '',
					'text-muted': scaled.rating !== '' && scaled.hover !== '',
					'text-warning': scaled.rating === '' && scaled.hover !== ''
				}">
				<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
			</span>
		</label>
	</li>
	<li class="divider">|</li>
	<li data-app-star-rating-input-item="0">
		<label class="no-bottom-margin" title="(= starRating(0) =)">
			<input type="radio" name="review" data-ng-model="scaled.rating" value="0" class="sr-only" />
			<span data-ng-class="{
					'text-primary': scaled.hover === 0,
					'text-muted':  (scaled.rating != 0 || scaled.rating === '') && scaled.hover !== 0,
					'text-danger': (scaled.rating == 0 && scaled.rating !== '') && scaled.hover !== 0
				}">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			</span>
		</label>
	</li>
	<li class="divider">|</li>
	<li data-ng-repeat="i in stars" data-app-star-rating-input-item="(= i =)">
		<label class="no-bottom-margin" title="(= starRating(i) =)">
			<input type="radio" name="rating" data-ng-model="scaled.rating" data-ng-value="i" class="sr-only no-top-margin" />
			<span data-ng-class="{
					'text-primary': scaled.hover === i,
					'text-muted': scaled.rating < i && scaled.hover !== i,
					'text-success': scaled.rating >= i && scaled.hover !== i
				}">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			</span>
		</label>
	</li>
	<li>(= ratingText =)</li>
</ol>