<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<div data-ng-include="" data-src="'Project_Library/includes/main-home-widget.twig'"></div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<div data-ng-include="" data-src="'Project_Accounting/includes/main-home-widget.twig'"></div>
		</div>
	</div>
</div>