<div class="row" data-rbs-document-editor-base="" data-model="Project_Accounting_Shop">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Project_Accounting_Shop'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit="" data-rbs-document-editor-project-accounting-shop-edit="">
			<fieldset data-rbs-editor-section="" data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				{% include '@Project_Accounting/Documents/Shop/properties.twig' %}
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>