<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Shop', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-picker property="icon"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Shop', 'icon'), ['ucf']) }}"
	accepted-model="Rbs_Media_Image">
</rbs-field-picker>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Shop', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<rbs-field-text property="siteUrl"
	label="{{ i18nAttr(propertyKey('Project_Accounting_Shop', 'siteUrl'), ['ucf']) }}">
</rbs-field-text>