
<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_LoanStatus', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-text property="code" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_LoanStatus', 'code'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_LoanStatus', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<rbs-field property="iconName" label="{{ i18nAttr(propertyKey('Project_Library_LoanStatus', 'iconName'), ['ucf']) }}">
	<select class="form-control" data-ng-model="document.iconName"
		data-ng-controller="RbsCollectionController" data-collection-code="Project_Familinet_Collection_IconNames"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.rbs.admin.admin.select_element', ['ucf']) }}</option>
	</select>
</rbs-field>

<rbs-field property="textClass" label="{{ i18nAttr(propertyKey('Project_Library_LoanStatus', 'textClass'), ['ucf']) }}">
	<select class="form-control" data-ng-model="document.textClass"
		data-ng-controller="RbsCollectionController" data-collection-code="Project_Familinet_Collection_TextClasses"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.rbs.admin.admin.select_element', ['ucf']) }}</option>
	</select>
</rbs-field>