<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Workflow_Workflow">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Workflow_Workflow'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-workflow-workflow-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Workflow_Workflow', 'label'), ['ucf']) }}">
					<p class="form-control-static">(= document.label =)</p>
				</rbs-field>

				<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Workflow_Workflow', 'description'), ['ucf']) }}">
					<p class="form-control-static">(= document.description =)</p>
				</rbs-field>

				<rbs-field data-ng-show="document.errors"
					label="{{ i18nAttr(propertyKey('Rbs_Workflow_Workflow', 'errors'), ['ucf']) }}">
					<p class="form-control-static">(= document.errors =)</p>
				</rbs-field>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>