<!DOCTYPE html>
<html lang="{{ lang }}" data-ng-app="proximis{{ moduleName }}" data-ng-strict-di="" class="env-{{ application.env }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>{{ applicationName }}</title>
		<base href="{{ baseURL }}" />

		<link rel="icon" type="image/png" href="{{ resourceURL('Rbs/Ua/img/logos/favicon.png') }}" />

		<link href="{{ resourceURL('Rbs/Ua/lib/FontAwesome/css/font-awesome.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/lib/flag-sprites/flags.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/lib/angularjs-slider-6.2.3/dist/rzslider.min.css') }}" rel="stylesheet" />
		<link href="{{ resourceURL('Rbs/Ua/css/' ~ vendorName ~ '_' ~ moduleName ~ '_' ~ applicationCode ~ '.css') }}" rel="stylesheet" />

		<style type="text/css">
			#loading-panel {
				height: 100%;
				background: url({{ resourceURL('Rbs/Ua/img/menu-background.jpg') }}) no-repeat;
				background-size: cover;
				background-attachment: fixed;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: 10000;
			}
			#loading-panel > div {
				margin: 100px auto 0 auto;
				width: 400px;
				border-radius: 10px;
				background: #fff;
				color: black;
				font-size: 14pt;
				text-align: center;
				padding: 1em;
			}

			#loading-panel > div > div {
				margin: 1em 0;
			}
		</style>

		<script type="text/javascript">
			var __change = {{ __change|json_encode|raw }};
		</script>

		{% block headCustom %}{% endblock headCustom -%}
	</head>

	<body data-ng-controller="Proximis{{ moduleName }}RootController" data-px-{{ moduleName | lower }}-application-{{ snakeRole }}="">
		<div id="loading-panel" data-ng-show="loading">
			{% include '@Rbs_Ua/Proximis/misc/main-loading.twig' %}
		</div>

		{% embed '@Rbs_Ua/Proximis/misc/main-header.twig' %}
			{% block headerApplicationName %}
				<a class="navbar-brand" href="" data-ng-href="(= '{{ vendorName }}_{{ moduleName }}' | pxRoute:'home' =)">
					{{ applicationShortName }}
				</a>
			{% endblock headerApplicationName %}

			{% block headerUserMenu %}
				<li>
					<a href="" data-ng-href="(= '{{ vendorName }}_{{ moduleName }}' | pxRoute:'home' =)">
						<span class="icon-tasks" aria-hidden="true"></span>
						{{ i18n('m.rbs.ua.common.dashboard', ['ucf']) }}
					</a>
				</li>
				<li>
					<a href="" data-ng-href="(= '{{ vendorName }}_{{ moduleName }}' | pxRoute:'profile' =)">
						<span class="icon-cogs" aria-hidden="true"></span>
						{{ i18n('m.rbs.ua.common.profile', ['ucf']) }}
					</a>
				</li>
			{% endblock headerUserMenu %}
		{% endembed %}

		<div id="main-content" class="content clearfix" data-ng-if="!loading">
			<div class="row clearfix hidden-print" id="mainToolbar">
				<div class="col-md-12">
					<div data-px-breadcrumb=""></div>
					<div data-px-messages=""></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="workspace" class="padding">
						<div data-ng-view=""></div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>

		<footer class="hidden-print">
			<div class="pull-right" data-px-version=""></div>
			<a onclick="window.open(this.href); return false;" href="http://www.proximis.com">{{ i18n('m.rbs.ua.common.application_package_name') }}</a>
		</footer>

		{% block JSLibs %}
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/jquery-3.4.1.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-route.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-resource.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-sanitize.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-touch.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-cookies.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-animate.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/angular-messages.min.js') }}"></script>
			<script type="text/javascript"
				src="{{ resourceURL('Rbs/Ua/lib/angular-1.7.8/i18n/angular-locale_' ~ lowerHyphenLCID ~ '.js') }}"></script>

			<script type="text/javascript"
				src="{{ resourceURL('Rbs/Ua/lib/angular-local-storage-0.7.1/dist/angular-local-storage.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-with-locales-2.18.1.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/moment-timezone-with-data-2012-2022-0.5.13.min.js') }}"></script>

			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-core.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/rangy-1.3.0/rangy-selectionsaverestore.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/ui-bootstrap-tpls-2.5.0.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/angularjs-slider-6.2.3/dist/rzslider.min.js') }}"></script>
			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/qrcode.js') }}"></script>

			<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/lib/UAParser-0.7.12/UAParser-0.7.12.min.js') }}"></script>
		{% endblock JSLibs %}

		<script type="text/javascript" src="{{ resourceURL('Rbs/Ua/js/' ~ vendorName ~ '_' ~ moduleName ~ '_' ~ applicationCode ~ '.js') }}"></script>

{% if (cachedTemplates) %}
		<script type="text/javascript">
			(function() {
				var app = angular.module('proximis{{ moduleName }}');
				app.run(['$templateCache', function($templateCache) {
					{% for name, template in cachedTemplates -%}
					$templateCache.put('{{ name }}', {{ template | jsPackedString | raw }});
					{% endfor -%}
				}]);
			})();
		</script>
{% endif %}
	</body>
</html>