<header class="hidden-print">
	<div class="navbar navbar-default navbar-main" data-ng-hide="user._meta.id">
		<div class="navbar-header">
			{% block headerLogo %}
				<a class="navbar-brand navbar-brand-logo" href="" data-ng-href="{{ applicationsMenuURL }}">
					<img src="{{ resourceURL('Rbs/Ua/img/logos/white-logo_500.png') }}" alt="Familinet" />
				</a>
				{% block headerApplicationName %}
					{{ applicationShortName }}
				{% endblock headerApplicationName %}
			{% endblock headerLogo %}
		</div>
	</div>
	<div class="navbar navbar-default navbar-main" data-ng-show="user._meta.id">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rbs-change-navbar-collapse">
				<span class="sr-only">{{ i18n('m.rbs.ua.common.toggle_navigation', ['ucf']) }}</span>
				<span class="icon-bar" aria-hidden="true"></span>
				<span class="icon-bar" aria-hidden="true"></span>
				<span class="icon-bar" aria-hidden="true"></span>
			</button>
			{{ block('headerLogo') }}
		</div>
		<div class="collapse navbar-collapse" id="rbs-change-navbar-collapse">
			{% block headeMainMenu -%}
				<div data-px-main-menu=""></div>
			{% endblock headeMainMenu %}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" data-ng-cloak="">
					<a data-toggle="dropdown" class="dropdown-toggle" href="">
						<span class="icon-user" aria-hidden="true"></span>
						<span class="visible-xs-inline">(= user.common.fullName || user.common.email =)</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu extended logout no-padding">
						<div class="log-arrow-up"></div>
						<li class="dropdown-header hidden-xs text-center">(= user.common.fullName || user.common.email =)</li>
                        {% block headerUserMenu %}{% endblock headerUserMenu %}
						<li class="no-margin"><a href="" data-ng-click="logout()" class="btn btn-block btn-danger no-radius"><i class="fa fa-key"></i>{{ i18n('m.rbs.ua.common.logout', ['ucf']) }}</a></li>
					</ul>

				</li>
			</ul>
		</div>
	</div>
</header>