<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!--[if !mso]><!-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!--<![endif]-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>

		<!--[if (gte mso 9)|(IE)]>
		<style type="text/css">
			table {
				border-collapse: collapse !important;
			}
		</style>
		<![endif]-->

		<!-- themeSelector -->

		<style type="text/css">
			table .brand-primary, table a[href] {
				color: #327bde;
			}
			table th {
				text-transform: uppercase;
				font-size: 13px;
			}
			address {
				margin-top: 1em;
			}

			@media only screen and (max-width: 480px) {
				.recap {
					padding: 30px 5px !important;
				}

				.recap .recap-data th, .recap .recap-data td {
					font-size: 10px !important;
					padding: 10px 5px !important;
				}
			}
		</style>
	</head>
	<body style="margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#f1eeee;">
		<center class="wrapper"
			style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#f1eeee;">

			<!-- Visually Hidden Preheader Text : BEGIN -->
			<div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">
				<!-- preHeader -->
			</div>
			<!-- Visually Hidden Preheader Text : END -->

			<!-- Email Header : BEGIN -->
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;"
				class="email-container">
				<tr>
					<td style="padding: 20px 0; text-align: center">
						<!-- logo -->
					</td>
				</tr>
			</table>
			<!-- Email Header : END -->

			<!-- Email Body : BEGIN -->
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;"
				class="email-container">

				<!-- Hero Image, Flush : BEGIN -->
				<tr>
					<td bgcolor="#ffffff">
						<!-- header -->
					</td>
				</tr>
				<!-- Hero Image, Flush : END -->

				<!-- 1 colonne -->
				<tr>
					<td bgcolor="#ffffff"
						style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; text-align: left;">
						<!-- mainContent -->
					</td>
				</tr>

				<!-- Clear Spacer : BEGIN -->
				<tr>
					<td aria-hidden="true" height="40" style="font-size: 0; line-height: 0;">
						&nbsp;
					</td>
				</tr>
				<!-- Clear Spacer : END -->

			</table>
			<!-- Email Body : END -->

			<!-- Full Bleed Background Section : BEGIN -->
			<table role="presentation" bgcolor="#d1d2d4" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
				<tr>
					<td valign="top" align="center">
						<div style="max-width: 600px; margin: auto;" class="email-container">
							<!--[if mso]>
							<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" align="center">
								<tr>
									<td>
							<![endif]-->
										<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
											<tr>
												<td style="padding: 40px; text-align: left; font-family: sans-serif; font-size: 12px; line-height: 18px; color: #ffffff; text-align: center">
													<!-- footer -->
												</td>
											</tr>
										</table>
							<!--[if mso]>
									</td>
								</tr>
							</table>
							<![endif]-->
						</div>
					</td>
				</tr>
			</table>
			<!-- Full Bleed Background Section : END -->

		</center>
	</body>
</html>

