<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Library_Work'|appURL =)">{{ i18n('m.project.library.webapp.work_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.work_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Library_WorkGroup'|appURL =)">{{ i18n('m.project.library.webapp.work_group_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.work_group_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Library_Genre'|appURL =)">{{ i18n('m.project.library.webapp.genre_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.genre_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="clearfix visible-md-block visible-lg-block"></div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Library_Contributor'|appURL =)">{{ i18n('m.project.library.webapp.contributor_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.contributor_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Library_Publisher'|appURL =)">{{ i18n('m.project.library.webapp.publisher_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.publisher_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Library_Possession'|appURL =)">{{ i18n('m.project.library.webapp.possession_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.possession_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Library_Reading'|appURL =)">{{ i18n('m.project.library.webapp.reading_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.reading_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Rbs_User_User'|appURL =)">{{ i18n('m.project.library.webapp.user_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.library.webapp.user_list_description', ['ucf']) }}</p>
		</div>
	</div>
</div>