<div data-ng-repeat="fieldDefinition in fieldDefinitions" data-ng-form="innerForm">
	<div data-px-label="(= fieldDefinition.title =)" data-ng-class="{'required': fieldDefinition.required}" data-mode="(= mode =)">
		<div data-ng-if="fieldDefinition.collectionCode && fieldDefinition.code === 'countryCode'">
			<select data-ng-model="address.fields[fieldDefinition.code]" class="form-control" data-ng-required="fieldDefinition.required"
				data-ng-options="country.code as country.title for country in countries">
				<option value="" disabled="disabled">-- {{ i18n('m.rbs.ua.common.select_element', ['ucf']) }} --</option>
			</select>
		</div>
		<div data-ng-if="fieldDefinition.collectionCode && fieldDefinition.code !== 'countryCode'">
			<select data-ng-model="address.fields[fieldDefinition.code]" class="form-control" data-ng-required="fieldDefinition.required"
				data-ng-controller="ProximisCollectionController" data-collection-code="(= fieldDefinition.collectionCode =)"
				data-ng-options="item.value as item.label for item in pxCollection">
				<option value="" disabled="disabled">-- {{ i18n('m.rbs.ua.common.select_element', ['ucf']) }} --</option>
			</select>
		</div>
		<div data-ng-if="!fieldDefinition.collectionCode">
			<input data-ng-if="!fieldDefinition.match" type="text" class="form-control" data-ng-required="fieldDefinition.required"
				name="field" id="fieldInput_(= fieldDefinition.code =)" data-ng-model="address.fields[fieldDefinition.code]" />
			<input data-ng-if="fieldDefinition.match" data-ng-pattern="fieldDefinition.match" type="text" class="form-control"
				data-ng-required="fieldDefinition.required" name="field" id="fieldInput_(= fieldDefinition.code =)"
				data-ng-model="address.fields[fieldDefinition.code]" />
		</div>
		<div data-ng-show="innerForm.field.$dirty && innerForm.field.$error.pattern" class="text-danger">
			<span data-ng-hide="fieldDefinition.matchErrorMessage">
				{{ i18n('c.constraints.notmatch', ['ucf'])|replace({'%pattern%': '(= fieldDefinition.match =)'}) }}
			</span>
			<span data-ng-show="fieldDefinition.matchErrorMessage">
				(= fieldDefinition.matchErrorMessage =)
			</span>
		</div>
	</div>
</div>