<ul class="list-unstyled">{% spaceless %}
	<li data-ng-show="breadcrumb.home" class="location">
		<a href="" data-ng-href="(= breadcrumb.home.url() =)">
			<i class="icon-home icon-2x" style="line-height: 10px; position: relative; top: 5px;"></i>
		</a>
	</li>
	<li data-ng-show="breadcrumb.entries" class="location" data-ng-repeat="entry in breadcrumb.entries">
		<a href="" data-ng-href="(= entry.url() =)" data-ng-bind="entry.label"></a>
	</li>
	<li data-ng-if="breadcrumb.current" class="active"><span data-ng-bind="breadcrumb.current.label"></span></li>
{% endspaceless %}</ul>