[data-px-breadcrumb] {
  margin-bottom: 20px;
  li {
    padding: 10px 3px 10px 7px;
    position: relative;
    display: inline-block;
    background: $breadcrumb-bg;
    color: $breadcrumb-color;
    font-weight: 600;
    letter-spacing: 0.04em;
    * {
      margin-left: 20px;
    }
    &:first-child {
      padding-left: 10px;
      padding-right: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      &:before{
        border: 0;
      }
    }
    &:first-child * {
      margin-left: 0;
    }
    &:last-child {
      padding-right: 10px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      &:after {
        border: 0;
      }
    }
    &:before {
      width: 0;
      height: 0;
      border-top: 20px inset transparent;
      border-bottom: 20px inset transparent;
      border-left: 20px solid $breadcrumb-separator-bg;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
    }
    &:after {
      width: 0;
      height: 0;
      border-top: 20px inset transparent;
      border-bottom: 20px inset transparent;
      border-left: 20px solid $breadcrumb-bg;
      position: absolute;
      content: "";
      top: 0;
      right: -20px;
      z-index: 2;
    }
    &.location {
      color: $brand-info;
      background: $light;
      a {
        color: $brand-info;
        line-height: 10px;
      }
      &:after {
        border-left-color: #fff;
      }
    }
  }
}
