{# The character in the first span is required to have a good alignment with other elements. #}
<span data-ng-show="status" title="(= tooltip =)" class="bullet (= status =)">·</span>
<span data-ng-show="showText && tooltip" class="text">(= tooltip =)</span>