[data-px-bullet-correction] {
	.bullet {
		position: relative;
		display: inline-block;
		width: 18px;
		height: 18px;
		z-index: 1;
		text-align: center;
		font-weight: bold;
		line-height: 14px;
		border: 2px solid darken($light, 10%);
		border-radius: 10px;
		background: $light;
		transition: background 0.2s ease;
		color: transparent;
	}

	.bullet.active {
		border-color: $state-danger-text;
		color: $state-danger-text;
	}
}

[data-px-bullet-correction].small {
	.bullet {
		width: 12px;
		height: 12px;
	}
}

.btn-danger [data-px-bullet-correction] .bullet.active {
	border-color: $light;
	background: $state-danger-text;
	color: $light;
}