[data-px-bullet-status] {
	.bullet {
		position: relative;
		display: inline-block;
		width: 18px;
		height: 18px;
		z-index: 1;
		text-align: center;
		font-weight: bold;
		line-height: 14px;
		border: 2px solid;
		transition: background 0.2s ease;
		background: $light;
		color: transparent;
	}

	.bullet.PUBLISHABLE {
		border-radius: 10px;
		background: $brand-success;
		border-color: $brand-success;
	}

	.bullet.VALIDCONTENT {
		background: $brand-success;
		border-color: $brand-success;
	}

	.bullet.DRAFT {
		border-color: $gray-blue-light;
	}

	.bullet.UNPUBLISHABLE {
		background: $brand-danger;
		border-color: $brand-danger;
	}

	.bullet.FROZEN {
		border-radius: 10px;
		background: $brand-primary;
		border-color: $brand-primary;
	}

	.bullet.FILED {
		border-radius: 10px;
		background: $orchid-light-pastel;
		border-color: $orchid-light-pastel;
	}

	.bullet.VALIDATION {
		background: $brand-warning;
		border-color: $brand-warning;
	}
}

[data-px-bullet-status].small {
	.bullet {
		width: 12px;
		height: 12px;
	}
}

.btn-success [data-px-bullet-status] .bullet.PUBLISHABLE,
.btn-success [data-px-bullet-status] .bullet.VALIDCONTENT,
.btn-danger [data-px-bullet-status] .bullet.UNPUBLISHABLE {
	border-color: $light;
}