<ol class="form-inline list-inline">
	<li data-ng-show="showYears">
		<div class="input-group">
			<input type="number" min="(= minYears =)" step="1" max="(= showYears =)" class="form-control" maxlength="2" size="2"
				data-ng-model="interval.Y" data-ng-change="userChange('Y')">
			<span class="input-group-addon">{{ i18n('m.rbs.admin.admin.years', ['ucf']) }}</span>
		</div>
	</li>

	<li data-ng-show="showMonths">
		<div class="input-group">
			<input type="number" min="(= minMonths =)" step="1" max="(= showMonths =)" class="form-control" maxlength="2" size="2"
				data-ng-model="interval.M" data-ng-change="userChange('M')">
			<span class="input-group-addon">{{ i18n('m.rbs.admin.admin.months', ['ucf']) }}</span>
		</div>
	</li>

	<li data-ng-show="showDays">
		<div class="input-group">
			<input type="number" min="(= minDays =)" step="1" max="(= showDays =)" class="form-control" maxlength="2" size="2"
				data-ng-model="interval.D" data-ng-change="userChange('D')">
			<span class="input-group-addon">{{ i18n('m.rbs.admin.admin.days', ['ucf']) }}</span>
		</div>
	</li>

	<li data-ng-show="showHours">
		<div class="input-group">
			<input type="number" min="(= minHours =)" step="1" max="(= showHours =)" class="form-control" maxlength="2" size="2"
				data-ng-model="interval.TH" data-ng-change="userChange('TH')">
			<span class="input-group-addon">{{ i18n('m.rbs.admin.admin.hours', ['ucf']) }}</span>
		</div>
	</li>

	<li data-ng-show="showMinutes">
		<div class="input-group">
			<input type="number" min="(= minMinutes =)" step="1" max="(= showMinutes =)" class="form-control" maxlength="2" size="2"
				data-ng-model="interval.TM" data-ng-change="userChange('TM')">
			<span class="input-group-addon">{{ i18n('m.rbs.admin.admin.minutes', ['ucf']) }}</span>
		</div>
	</li>
</ol>