<div data-ng-if="startDate && endDate && startDate > endDate" class="alert alert-danger">
	<span class="icon icon-warning-sign"></span> {{ i18n('m.rbs.ua.common.dates_of_selected_range_inverted') }}
</div>
<div class="row">
	<div class="col-lg-5">{{ i18n('m.rbs.ua.common.interval_start', ['ucf', 'lab']) }}
		<div data-px-date-time-selector="" data-ng-model="startDate"></div>
	</div>
	<div class="col-lg-7">{{ i18n('m.rbs.ua.common.interval_end', ['ucf', 'lab']) }}
		<div data-px-date-time-selector="" data-ng-model="endDate"></div>
	</div>
</div>
