<span class="form-inline inline-block" data-ng-if="fieldName">
	<input data-px-field="(= fieldName =)" type="text" class="form-control" size="16" data-show-button-bar="false"
		data-ng-model="data.date" data-uib-datepicker-popup="{{ i18nAttr('m.rbs.ua.common.date_selector_format') }}"
		data-is-open="data.opened" data-ng-click="openPicker()" data-ng-focus="openPicker()"
		data-ng-change="updateDate()" data-datepicker-options="options" />
</span>
<span class="form-inline inline-block" data-ng-if="!fieldName">
	<input type="text" class="form-control" size="16" data-show-button-bar="false"
		data-ng-model="data.date" data-uib-datepicker-popup="{{ i18nAttr('m.rbs.ua.common.date_selector_format') }}"
		data-is-open="data.opened" data-ng-click="openPicker()" data-ng-focus="openPicker()"
		data-ng-change="updateDate()" data-datepicker-options="options" />
</span>

<div class="inline-block" data-ng-show="!data.hideTime">
	{{ i18n('m.rbs.ua.common.at_time') }}
	<div data-uib-timepicker="" data-ng-model="data.date" class="inline-time-picker" data-ng-change="updateDate()"
		data-show-meridian="false" data-show-spinners="false"></div>
</div>

<button class="btn btn-primary btn-icon" type="button" data-ng-click="setDateToNow()" data-ng-hide="hideNow"
	title="{{ i18nAttr('m.rbs.ua.common.date_selector_now', ['ucf']) }}">
	<i class="icon-calendar"></i>
</button>

<button class="btn btn-primary btn-icon" type="button" data-ng-click="clearDate()" data-ng-hide="hideClear"
	title="{{ i18nAttr('m.rbs.ua.common.date_selector_none', ['ucf']) }}">
	<i class="icon-calendar-empty"></i>
</button>

<a data-ng-show="!readOnlyTimeZone && !data.hideTime" href="" data-ng-href="(= currentModuleName | pxRoute:'profile' =)">(= data.timeZone =)</a>
<span data-ng-show="readOnlyTimeZone && !data.hideTime">(= data.timeZone =)</span>