{% extends '@Rbs_Ua/Proximis/directives/item-selector.twig' %}

{% block tokenListItem %}
	{% embed '@Rbs_Ua/Proximis/directives/document-selector-item.twig' %}
		{% block itemActionsContent %}
			<i class="icon-reorder icon-large" data-ng-hide="disableReordering || items.list.length == 1 || readonly"
				title="{{ i18nAttr('m.rbs.ua.common.drag_to_reorder', ['ucf']) }}"></i>
			{{ parent() }}
			<a data-ng-hide="readonly" href="" data-ng-click="tokenList.removeItem($index)"><i class="icon-remove icon-large"></i></a>
		{% endblock itemActionsContent %}
	{% endembed %}
{% endblock tokenListItem %}

{% block fieldContainer %}
	<div data-ng-show="multiple || items.isEmpty()" data-ng-class="models.filtered.length > 1 ? 'input-group' : ''">
		<span class="input-group-addon input-group-addon-select" data-ng-if="models.filtered.length > 1">
			<select class="form-control" data-ng-model="models.selected" data-ng-disabled="!multiple && !items.isEmpty()"
				data-ng-options="m.label group by m.pluginLabel for m in models.filtered">
			</select>
		</span>
		<span data-ng-if="!(models.selected && models.selected.selectionModal)">
			{{ block('fieldInput') }}
		</span>
		<span data-ng-if="models.selected && models.selected.selectionModal" data-ng-class="models.filtered.length > 1 ? 'input-group-btn' : ''">
			<button class="btn btn-info" data-ng-if="multiple"
				data-ng-click="openSelectionModal()">{{ i18n('m.rbs.ua.common.add_to_selection', ['ucf', 'etc']) }}</button>
			<button class="btn btn-info" data-ng-if="!multiple"
				data-ng-click="openSelectionModal()">{{ i18n('m.rbs.ua.common.action_select', ['ucf', 'etc']) }}</button>
		</span>

	</div>
{% endblock fieldContainer %}

{% block autoCompleteListItem %}
	{% include '@Rbs_Ua/Proximis/directives/document-selector-item.twig' %}
{% endblock autoCompleteListItem %}