@CHARSET "UTF-8";

/** These styles are not base on the directive attribute to enable using them outside from the directive. */

/** Elements around the table. */
.ua-entity-list .ua-entity-list-toolbar {
	margin-bottom: 10px;
}

/** The list table. */
.ua-entity-list-table th,
.ua-entity-list-table td {
	box-sizing: content-box;
}

.ua-entity-list-table > thead > tr > th,
.ua-entity-list-table > thead > tr > td,
.ua-entity-list-table > tbody > tr > th,
.ua-entity-list-table > tbody > tr > td {
	vertical-align: middle;
}

.ua-entity-list-table.ua-entity-list-table-compact thead > tr > th {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ua-entity-list-table > thead > tr > th {
	padding: 10px;
}

.ua-entity-list-table .column-sort-indicator {
	margin-left: 4px;
}

.ua-entity-list-table .sorted,
.ua-entity-list-table .table-striped .sorted {
	box-shadow: 0 1000px 0 rgba(200, 200, 255, 0.15) inset;
}

.table.ua-entity-list-table > thead:first-child > tr:first-child > th.sorted {
	border-top: 1px solid $brand-primary;
}

/* For lists that use ua-entity-list CSS classes, but that are not real entity lists based on a web-service result list.
 E.g: OMS order/shipment/reservation documents detail. */
.ua-entity-list-table .empty-row:not(:last-child) {
	display: none;
}

.ua-entity-list-table td .radio-inline,
.ua-entity-list-table td .checkbox-inline {
	padding-bottom: 7px;
}

.ua-entity-list-table td .progress {
	margin-bottom: 0;
}

.ua-entity-list-table > thead {
	background: $body-bg;
	color: $gray;
}

.ua-entity-list-table > thead a {
	color: $gray;
	display: block;
}

.ua-entity-list-table > thead a, .ua-entity-list-table > thead span {
	font-weight: 400;
}

.ua-entity-list-table > thead i {
	line-height: 20px;
}

.ua-entity-list-table > tfoot {
	background: $gray-blue-light;
}

.ua-entity-list-table .column-checkbox {
	cursor: pointer;
	width: 20px;
	text-align: center;
}

.ua-entity-list-table .column-date {
	width: 180px;

	small {
		display: block;
	}
}

.ua-entity-list-table td.column-number {
	text-align: right;
}

.ua-entity-list-table td.column-actions {
	white-space: nowrap;
	width: 30px;
}

.ua-entity-list-table td.column-thumbnail {
	text-align: center;
}

.ua-entity-list-table .column-publication-status {
	width: 40px;
}
.ua-entity-list-table td.column-publication-status {
	text-align: center;
}

@media screen and (max-width: 767px) {
	.table-responsive .table-striped > tbody > tr:nth-of-type(odd) {
		background: rgba(200, 200, 200, .1);
	}

	.table-responsive {
		background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)),
		radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) 100% 0;
		background-color: white;
		background-repeat: no-repeat;
		background-size: 10px 100%;
	}

	.table-responsive > .table {
		background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
		linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
		background-size: 50px 100%;
		background-repeat: no-repeat;
	}
}