<div class="ua-entity-list">
	<div class="ua-entity-list-toolbar btn-toolbar hidden-print">
		<div class="pull-right">
			<button type="button" class="btn" data-ng-disabled="pagination.loading" data-ng-click="explicitRefresh()"
				data-ng-class="{'btn-default': !pagination.loading, 'btn-warning': pagination.loading }"
				title="{{ i18nAttr('m.rbs.ua.common.refresh_list', ['ucf']) }}">
				<span class="icon-refresh" data-ng-class="{'icon-spin': pagination.loading}" aria-hidden="true"></span>
			</button>
		</div>

		<span data-ng-repeat="action in actions.multiple" class="btn-group">
			<button class="btn (= action.class =)" type="button" data-ng-click="actions.execute(action)"
				data-ng-disabled="!action.isActiveMultiple || actions.running || pagination.loading">
				<i class="(= action.icon =)"></i> (= action.label =)
			</button>
		</span>
	</div>

	<div class="table-responsive">
		<table class="ua-entity-list-table table table-condensed table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th data-ng-if="selection.enabled" data-ng-click="selection.all = !selection.all" class="column-checkbox">
						<input type="checkbox" data-ng-click="$event.stopPropagation()" data-ng-model="selection.all"
							class="hidden-print" />
					</th>
					<th data-ng-repeat="column in columns" data-ng-class="{'sorted': isSortedOn(column)}"
						data-ng-style="column.thStyle" class="(= column.class =)">
						<button type="button" class="btn btn-xs btn-default pull-right margin-left"
							data-ng-show="column.format === 'date' || column.format === 'date-interval'"
							data-ng-class="{'active': dateDisplay[column.name] == 'relative'}"
							data-ng-click="toggleRelativeDates(column.name)">
							<span class="icon-time" aria-hidden="true"></span>
						</button>
						<a href="" data-ng-click="sortOn(column)" data-ng-if="isSortable(column)">
							<span data-ng-if="isSortable(column)" data-ng-class="">
								<span data-ng-bind-html="column.label"></span>
								<i data-ng-if="isSortedOn(column)" class="pull-right column-sort-indicator hidden-print"
									data-ng-class="{true: 'icon-sort-down', false: 'icon-sort-up'}[isSortDescending()]"></i>
								<i data-ng-if="!isSortedOn(column)" class="pull-right  column-sort-indicator icon-sort hidden-print"></i>
							</span>
						</a>
						<span data-ng-show="!isSortable(column)" data-ng-bind-html="column.label"></span>
					</th>
					<th data-ng-if="actions.single.length" class="column-actions hidden-print">
						{{ i18n('m.rbs.ua.common.actions', ['ucf']) }}
					</th>
				</tr>
			</thead>
			<tbody data-ng-show="collection.length > 0">
				<tr data-ng-repeat="doc in collection | pxOrderBy:localSortColumn" class="normal-row" data-ng-class="{'selected': doc.selected}"
					data-ng-init="lineIndex=$index">
					<td data-ng-if="selection.enabled" class="column-checkbox"
						data-ng-click="selection.indexes[$index] = !selection.indexes[$index]">
						<input type="checkbox" data-ng-click="$event.stopPropagation()" data-ng-model="selection.indexes[$index]" />
					</td>
					<td data-ng-repeat="column in columns" class="(= column.class =)" data-ng-style="column.tdStyle"
						data-ng-class="classSelector(column, doc)">
						{% spaceless %}
						<span data-ng-class="{'primary-cell': column.primary}" data-px-ua-entity-list-cell=""></span>
						{% endspaceless %}
					</td>
					<td data-ng-if="actions.single.length" class="column-actions hidden-print">
						{# Merging this span with the button remove the space between buttons. #}
						<span data-ng-repeat="action in actions.single">
							<button class="btn btn-icon (= action.class =)" type="button" title="(= action.label =)"
								data-ng-click="actions.execute(action, doc)"
								data-ng-disabled="actions.running || pagination.loading || !doc._isActiveSingle[action.name]">
								<i class="(= action.icon =)"></i>
							</button>
						</span>
					</td>
				</tr>
			</tbody>
			<tbody data-ng-show="collection.length == 0 && !pagination.loading">
				<tr class="empty-row">
					<td colspan="(= colSpan =)">
						<span class="icon-frown" aria-hidden="true"></span> {{ i18n('m.rbs.ua.common.this_list_is_empty', ['ucf']) }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div data-ng-show="pagination.enabled">
		<div data-px-pagination="pagination"></div>
	</div>
</div>