<div data-ng-if="!variables.length">
	<input type="text" class="form-control" data-px-field="" data-ng-model="data.value" />
</div>
<div data-ng-if="variables.length" class="input-group">
	<input type="text" class="form-control" data-px-field="" data-ng-model="data.value" />
	<div class="input-group-btn" title="{{ i18n('m.rbs.ua.common.variables_title', ['ucf']) }}">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			{{ i18n('m.rbs.ua.common.variables', ['ucf']) }} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right">
			<li data-ng-repeat="variable in variables">
				<a href="" data-ng-click="appendSuggestion(variable)">(= variable.label =)</a>
			</li>
		</ul>
	</div>
</div>