<div class="btn-toolbar">
	<div class="btn-group" data-ng-repeat="(index, savedFilter) in savedFilters">
		<button class="btn" data-ng-class="index === filter.parameters.selectedIndex ? 'btn-primary' : 'btn-default'"
			data-ng-click="selectSavedFilter(index)" title="{{ i18nAttr('m.rbs.ua.common.activate_saved_filter', ['ucf']) }}">
			(= savedFilter.label =)
		</button>
		<button class="btn btn-danger btn-icon" title="{{ i18nAttr('m.rbs.ua.common.remove_saved_filter', ['ucf']) }}"
			data-ng-click="deleteSavedFilter(index)" data-ng-if="savedFilter.userId === currentUser._meta.id">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>