.px-filters {
	.panel{
		border-top: 1px solid lighten($brand-primary, 10%);
		margin-top: -1px;
	}
	margin-bottom: 20px;
	.px-filters-toolbar{
		.btn {
			display: inline-block;
			margin: 3px 0;
		}
	}
	.px-filters-parameters {
		&.danger {
			.px-filter-parameter-invalid {
				display: block;
			}
		}
		.px-filter-parameter-invalid {
			display: none;
		}
		.form-group:last-child {
			margin-bottom: 0;
		}

	}
	.px-filters-arrow {
		position: relative;
		border-bottom: 9px solid lighten($brand-primary, 10%);
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		display: inline-block;
		bottom: -5px;
	}
}

/**
 * Print.
 */
@media print {
	.btn:not(.btn-primary) {
		visibility: hidden;
	}
}