<div class="px-filters ng-hide" data-ng-show="staticFilters.sorted.length">
	<div class="px-filters-toolbar">
		<span data-ng-repeat="filter in staticFilters.sorted">
			<button type="button" class="btn" data-ng-class="{true:'btn-primary', false:'btn-default'}[!!filter.active]" data-ng-hide="filter.hidden"
				data-ng-click="selectStaticFilter(filter.name)" id="(= filter.id =)" data-ng-disabled="filter.active">
				<span data-ng-class="{true:'icon-check', false:'icon-check-empty'}[!!filter.active]"></span>
				(= filter.label =)
			</button>
		</span>
	</div>

	<div class="px-filters-arrow" data-ng-show="staticFilters.current.content"></div>

	<div class="px-filters-parameters" data-ng-show="staticFilters.current.content" data-ng-class="{'danger': !isFilterValid(staticFilters.current)}">
		<div class="panel panel-default form-horizontal" data-ng-repeat="filter in staticFilters.sorted" data-ng-show="filter.active"
			data-ng-class="{'panel-danger': !isFilterValid(staticFilters.current)}">
			<div class="panel-heading  px-filter-parameter-invalid">
				<span class="panel-title">
					(= staticFilters.current.parameters.invalidFilterMessage =)
				</span>
			</div>
			<div class="panel-body">
				<div data-px-filters-item-parameters="filter"></div>
				<div data-ng-if="savingContextName && staticFilters.current.savable" class="btn-toolbar pull-right margin-top">
					<button class="btn btn-info" data-ng-disabled="!isFilterValid(staticFilters.current)" data-ng-click="saveCurrentFilter()">
						{{ i18n('m.rbs.ua.common.save_filter_button', ['ucf']) }}
					</button>
				</div>
			</div>
		</div>
		<div class="ng-hide" data-ng-transclude=""></div>
	</div>
</div>
