<label data-ng-class="{'col-lg-3 control-label': renderingMode !== 'vertical', 'control-label-corrected': correctedProperties[propertyName]}"></label>
<div data-ng-class="renderingMode !== 'vertical' ? 'col-lg-9 controls' : ''" class="property-content"></div>