<select class="form-control" data-ng-options="language.value as language.label for language in availableLanguages"
	data-ng-model="model" data-px-field="(= fieldName =)" name="(= name =)" data-ng-required="required">
	<option value="" disabled="disabled">-- {{ i18n('m.rbs.ua.common.select_element', ['ucf']) }} --</option>
</select>