.max-height-container {
	-webkit-transition: height 0.5s ease;
	transition: height 0.5s ease;
	@media print {
		overflow: visible !important;
		max-height: none !important;
		height: auto !important;
		.max-height-button {
			display: none;
		}
	}
}