<div data-ng-if="pagination.totalItems" class="clearfix">
	<div class="hidden-print">
		<div data-uib-pagination="" data-boundary-links="smallWidth ? false : true" data-total-items="pagination.totalItems"
			data-ng-model="pagination.currentPage" ng-class="{'pull-right pagination-sm' : !smallWidth, 'pagination-lg' : smallWidth}"
			data-previous-text="&lsaquo;" data-next-text="&rsaquo;" data-first-text="&laquo;" data-last-text="&raquo;"
			data-items-per-page="pagination.itemsPerPage" data-num-pages="data.pageCount"
			data-max-size="smallWidth ? '3' : '5'" data-rotate="false" data-ng-disabled="pagination.loading">
		</div>
		<div class="pagination-info">
			{% block paginationTotalItems %}
				<strong data-ng-pluralize="" data-count="pagination.totalItems"
					data-when="{0: '{{ i18nAttr('m.rbs.admin.admin.pagination_total_no', ['ucf']) }}',
						one: '{{ i18nAttr('m.rbs.admin.admin.pagination_total_one', ['ucf']) }}',
						other: '{{ i18nAttr('m.rbs.admin.admin.pagination_total_other', ['ucf']) }}'}"></strong>
			{% endblock paginationTotalItems %}
			<span class="text-muted" data-ng-show="data.pageCount > 0">
				{{ i18n('m.rbs.admin.admin.on') }}
				<span data-ng-pluralize data-count="data.pageCount" data-when="{
					0: '{{ i18nAttr('m.rbs.admin.admin.pagination_no_page') }}',
					one: '{{ i18nAttr('m.rbs.admin.admin.pagination_page') }}',
					other: '{{ i18nAttr('m.rbs.admin.admin.pagination_pages') }}'}"></span>
			</span>

			<div class="btn-group dropup" data-ng-if="predefinedPageSizes.length > 1">
				<button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
					(= pagination.itemsPerPage =) {{ i18n('m.rbs.admin.admin.per_page') }} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right" style="text-align: left;">
					<li data-ng-repeat="pageSize in predefinedPageSizes">
						<a href="" data-ng-click="updatePageSize(pageSize)">
							(= pageSize =) <i class="icon-ok" data-ng-if="pagination.itemsPerPage == pageSize"></i>
						</a>
					</li>
				</ul>
			</div>
			<span data-ng-if="predefinedPageSizes.length === 1"> - (= pagination.itemsPerPage =) {{ i18n('m.rbs.admin.admin.per_page') }}</span>

			<strong data-ng-show="pagination.loading" style="margin-left:1em;">
				<i class="icon-spinner icon-spin icon-large"></i> {{ i18n('m.rbs.admin.admin.loading', ['ucf']) }}
			</strong>
		</div>
	</div>

	<div class="visible-print-block">
		<div class="pull-right">
			{{ i18n('m.rbs.ua.common.pagination_page', ['ucf'], {'NUMBER': '(= pagination.currentPage =)', 'TOTAL': '(= data.pageCount =)'}) }}

			((= pagination.itemsPerPage =) {{ i18n('m.rbs.admin.admin.per_page') }})
		</div>

		<div class="pagination-info">
			{{ block('paginationTotalItems') }}
		</div>
	</div>
</div>