.px-panel-toggle{
	.panel-heading {
		cursor: pointer;
	}
	&.px-panel-toggle-collapsed{
		.px-panel-toggle-content {
			display: none;
		}
		.px-panel-toggle-arrow {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(0deg);
			transform: rotate(180deg);
		}
	}
	.px-panel-toggle-arrow {
		-webkit-transition: 0.3s linear all;
		-moz-transition: 0.3s linear all;
		-o-transition: 0.3s linear all;
		transition: 0.3s linear all;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}