<div>
	<div class="btn-toolbar hidden-print">
		<div class="pull-right">
			<button type="button" class="btn" data-ng-disabled="pagination.loading" data-ng-click="explicitRefresh()"
				data-ng-class="{'btn-default': !pagination.loading, 'btn-warning': pagination.loading }"
				title="{{ i18nAttr('m.rbs.ua.common.refresh_list', ['ucf']) }}">
				<span class="icon-refresh" data-ng-class="{'icon-spin': pagination.loading}" aria-hidden="true"></span>
			</button>
		</div>

		<span data-ng-repeat="action in actions.multiple" class="btn-group">
			<button class="btn (= action.class =)" type="button" data-ng-click="actions.execute(action)"
				data-ng-disabled="!action.isActiveMultiple || actions.running || pagination.loading">
				<i class="(= action.icon =)"></i> (= action.label =)
			</button>
		</span>
	</div>
	<ul class="form-horizontal thumbnail-list clearfix">
		<li data-ng-repeat="thumbnail in collection" data-ng-class="{selected: thumbnail.selected}" data-ng-click="toggleSelection(thumbnail)">
			<div class="thumbnail-list-item">
				<div class="thumbnail-list-content" data-px-thumbnail-list-item=""></div>
				<div class="thumbnail-list-actions-single">
					<button data-ng-repeat="action in actions.single" class="btn btn-icon (= action.class =)" type="button" title="(= action.label =)"
						data-ng-click="actions.execute(action, thumbnail)"
						data-ng-disabled="actions.running || pagination.loading || !thumbnail._isActiveSingle[action.name]">
						<i class="(= action.icon =)"></i>
					</button>
				</div>
			</div>
		</li>
	</ul>
	<div data-ng-show="!collection.length" class="alert alert-info margin-top no-bottom-margin">
		<span class="icon-frown" aria-hidden="true"></span> {{ i18n('m.rbs.ua.common.this_list_is_empty', ['ucf']) }}
	</div>
	<div data-px-pagination="pagination" data-ng-show="pagination.enabled && collection.length" class="margin-top no-bottom-margin"></div>
</div>