.thumbnail-list {
	list-style: none;
	*zoom: 1;
	margin: 0 -10px;
	padding: 0;
	position: relative;
}

.thumbnail-list:before {
	content: "";
	clear: both;

}

.thumbnail-list > li {
	float: left;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

@media (min-width: 640px) {
	.thumbnail-list > li {
		width: 50%;
	}
}

@media (min-width: 960px) {
	.thumbnail-list > li {
		width: 33.3%;
	}
	.thumbnail-list > li:first-child {
		width: 33.4%;
	}
}

@media (min-width: 1260px) {
	.thumbnail-list > li,
	.thumbnail-list > li:first-child {
		width: 25%;
	}
	.modal-content .thumbnail-list > li {
		width: 33.3%;
	}
	.modal-content .thumbnail-list > li:first-child {
		width: 33.4%;
	}
}

@media (min-width: 1560px) {
	.thumbnail-list > li,
	.thumbnail-list > li:first-child {
		width: 20%;
	}
	.modal-content .thumbnail-list > li {
		width: 33.3%;
	}
	.modal-content .thumbnail-list > li:first-child {
		width: 33.4%;
	}
}

.thumbnail-list li .thumbnail-list-item {
	overflow: hidden;
	border: 5px solid #eee;
	margin: 0 10px;
	border-radius: 3px;
	position: relative;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
	text-align: center;
	background: white;
}

.thumbnail-list li.selected .thumbnail-list-item {
	box-shadow: 0 0 10px rgba(0, 136, 255, 0.5);
	border-color: #08c;
}

.thumbnail-list li .thumbnail-list-content {
	height: 187px;
}

.thumbnail-list li .thumbnail-list-item img {
	max-width: 100%;
	max-height: 100%;
}

.thumbnail-list li .thumbnail-list-item .thumbnail-list-caption {
	background: #eee;
	color: #444;
	text-shadow: 0 1px 1px white;
	position: absolute;
	width: 100%;
	clear: both;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	opacity: 0.95;
	padding-bottom: 3px;
}

.thumbnail-list li .thumbnail-list-item .thumbnail-list-caption h4 {
	margin: 0;
	font-size: 11pt;
	padding: 1px 4px;
}

.thumbnail-list li .thumbnail-list-actions-single {
	text-align: center;
	padding: 9px 15px 3px 15px;
}