{% use 'Rbs_Simpleform/form-templates.twig' %}
<div data-ng-if="data">
	<form class="form-horizontal" name="rbsUserAccountEdit">
		<fieldset>
			{% block rbsUserAccountProfilesHeader %}
				<h1 data-ng-show="parameters.showTitle">{{ i18n('m.rbs.user.front.account_title', ['ucf']) }}</h1>
				<div data-ng-show="success" class="text-center">
					<p class="text-success">{{ i18n('m.rbs.user.front.update_account_success', ['ucf']) }}</p>
				</div>
				<div data-ng-show="errors" class="text-center">
					<p class="text-danger" data-ng-repeat="error in errors">(= error =)</p>
				</div>
			{% endblock rbsUserAccountProfilesHeader %}

			{% block rbsUserAccountProfiles %}
				{% block rbsUserAccountProfilesFieldEmail %}
					<div class="form-group">
						<label class="col-sm-4 col-md-3 control-label">
							{{ i18n('m.rbs.user.front.email', ['ucf']) }}</label>
						<div class="col-sm-8 col-md-9">
							<div class="form-control-static">(= data.common.email =)</div>
							<p data-ng-hide="readonly" class="help-block">{{ i18n('m.rbs.user.front.email_help', ['ucf']) }}</p>
						</div>
					</div>
				{% endblock rbsUserAccountProfilesFieldEmail %}

				{% block rbsUserAccountProfilesFieldMobilePhone %}
					<div class="form-group">
						<label class="col-sm-4 col-md-3 control-label">
							{{ i18n('m.rbs.user.front.mobile_phone', ['ucf']) }}</label>
						<div class="col-sm-8 col-md-9">
							<div class="form-control-static" data-rbs-geo-phone-formatter="" data-number="data.common.mobilePhone"></div>
							<p data-ng-hide="readonly" class="help-block">{{ i18n('m.rbs.user.front.mobile_phone_help', ['ucf']) }}</p>
						</div>
					</div>
				{% endblock rbsUserAccountProfilesFieldMobilePhone %}
			{% endblock rbsUserAccountProfiles %}

			<div data-rbs-directive-generator="(=customerFields=)">
			</div>

			{% block rbsUserAccountProfilesCtrl %}
				<div class="form-group">
					<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
						<button class="btn btn-primary" type="button" data-ng-click="openEdit()" data-ng-show="readonly">
							{{ i18n('m.rbs.user.front.button_edit_account', ['ucf']) }}
						</button>
						<button class="btn btn-primary" type="button" data-ng-click="saveAccount()"
							data-ng-hide="readonly"
							data-ng-disabled="(rbsUserAccountEdit.$invalid)"
						>
							{{ i18n('m.rbs.user.front.submit_edit_account', ['ucf']) }}
						</button>
						<button class="btn btn-default" type="button" data-ng-click="cancelEdit()"
							data-ng-hide="readonly">
							{{ i18n('m.rbs.user.front.cancel_edit_account', ['ucf']) }}
						</button>
					</div>
				</div>
			{% endblock rbsUserAccountProfilesCtrl %}
		</fieldset>
	</form>
</div>