{% use 'Rbs_Simpleform/form-templates.twig' %}
{% block changePasswordForm %}
	<form class="form-horizontal" name="rbsUserChangePassword" data-ng-show="showForm()" data-ng-submit="submit()">
		<fieldset>
			<h1 data-ng-show="showTitle">{{ i18n('m.rbs.user.front.init_your_password', ['ucf']) }}</h1>

			<p class="text-success" data-ng-show="passwordConfirmed">
				{{ i18n('m.rbs.user.front.change_password_success', ['ucf']) }}
			</p>

			<p class="text-danger" data-ng-show="error" data-ng-bind="error"></p>

			<div class="form-group">
				{% block oldPassword %}
					<label for="rbs-user-change-password-current" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.old_password', ['ucf']) }}
					</label>
					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-change-password-current" type="password" class="form-control" autocomplete="false"
							required="required" name="currentPassword" data-ng-model="data.currentPassword"
							placeholder="{{ i18nAttr('m.rbs.user.front.old_password_placeholder', ['ucf']) }}" />
					</div>
				{% endblock oldPassword %}
			</div>

			<div class="form-group">
				{% block newPassword %}
					<label for="rbs-user-change-password-new" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.new_password', ['ucf']) }}
					</label>
					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-change-password-new" type="password" name="password" class="form-control"
							data-ng-model="data.password" required="required"
							placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
					</div>
				{% endblock newPassword %}
			</div>

			<div class="form-group">
				{% block confirmNewPassword %}
					<label for="rbs-user-change-password-confirm-password" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.confirm_new_password', ['ucf']) }}
					</label>
					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-change-password-confirm-password" type="password" name="confirmPassword"
							class="form-control" data-ng-model="confirmPassword" required="required"
							placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />

						<p class="text-danger"
							data-ng-show="confirmPassword != data.password && !rbsUserChangePassword.password.$invalid">
							{{ i18n('m.rbs.user.front.error_password_not_match_confirm_password', ['ucf']) }}
						</p>
					</div>
				{% endblock confirmNewPassword %}
			</div>
			<div class="form-group">
				{% block confirmPasswordSubmit %}
				<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
					<button class="btn btn-primary" type="submit"
						data-ng-disabled="rbsUserChangePassword.$invalid || confirmPassword != data.password">
						{{ i18n('m.rbs.user.front.submit_init_password', ['ucf']) }}
					</button>
				</div>
				{% endblock confirmPasswordSubmit %}
			</div>
		</fieldset>
	</form>
{% endblock changePasswordForm %}