{% use 'Rbs_Simpleform/form-templates.twig' %}
{% block requestCreationForm %}
	<form class="form-horizontal ng-hide" name="rbsUserCreateAccount"
		data-ng-show="showCreationForm()" data-ng-submit="submit($event)">
		<fieldset>
			<h1 data-ng-hide="hideTitle">{{ i18n('m.rbs.user.front.create_your_account', ['ucf']) }}</h1>
			<p class="text-danger" data-ng-show="error" data-ng-bind="error"></p>

			{% block rbsUserCreateAccountEmailField %}
				<div data-ng-if="!fixedEmail" class="form-group" data-ng-class="{
						'has-error': rbsUserCreateAccount.email.$dirty && rbsUserCreateAccount.email.$invalid,
						'has-success': rbsUserCreateAccount.email.$dirty && !rbsUserCreateAccount.email.$invalid
					}">
					<label for="rbs-user-create-account-email" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.email', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-create-account-email" type="email" name="email" class="form-control"
							data-ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
							data-rbs-user-unique-email=""
							data-ng-model="data.email" required="required"
							placeholder="{{ i18nAttr('m.rbs.user.front.email_placeholder', ['ucf']) }}" />

						<p class="text-danger ng-cloak"
							data-ng-show="rbsUserCreateAccount.email.$dirty && rbsUserCreateAccount.email.$error.email">
							{{ i18n('c.constraints.emailaddressinvalid', ['ucf']) }}
						</p>
						<p class="text-danger ng-cloak"
							data-ng-show="rbsUserCreateAccount.email.$dirty && rbsUserCreateAccount.email.$error.uniqueEmail">
							(= rbsUserCreateAccount.email.errorMessage =)
						</p>
					</div>
				</div>

				<div data-ng-if="fixedEmail" class="form-group">
					<label for="rbs-user-create-account-email" class="col-sm-4 col-md-3 control-label">
						{{ i18n('m.rbs.user.front.email', ['ucf']) }}</label>
					<span id="rbs-user-create-account-email" class="col-sm-8 col-md-9 form-control-static"
						data-ng-bind="fixedEmail"></span>
				</div>
			{% endblock rbsUserCreateAccountEmailField %}

			<div data-rbs-directive-generator="(=customerFields=)">
			</div>

			{% block rbsUserCreateAccountPasswordField %}
				<div class="form-group">
					<label for="rbs-user-create-account-password" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.create_password', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-create-account-password" type="password" name="password" class="form-control"
							data-ng-model="data.password" required="required"
							placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" />
					</div>
				</div>
				<div class="form-group">
					<label for="rbs-user-create-account-confirm-password" class="col-sm-4 col-md-3 control-label">
						{{ block('rbsSimpleformRequiredSymbol') }}
						{{ i18n('m.rbs.user.front.confirm_password', ['ucf']) }}
					</label>

					<div class="col-sm-8 col-md-9">
						<input id="rbs-user-create-account-confirm-password" type="password" name="confirmPassword"
							class="form-control" data-ng-model="confirmPassword" required="required"
							placeholder="{{ i18nAttr('m.rbs.user.front.confirm_password_placeholder', ['ucf']) }}" />

						<p class="text-danger"
							data-ng-show="confirmPassword != data.password && !rbsUserCreateAccount.password.$invalid">
							{{ i18n('m.rbs.user.front.error_password_not_match_confirm_password', ['ucf']) }}
						</p>
					</div>
				</div>
			{% endblock rbsUserCreateAccountPasswordField %}

			<div class="form-group">
				<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
					<button class="btn btn-primary" type="submit" data-ng-disabled="rbsUserCreateAccount.$invalid">
						{{ i18n('m.rbs.user.front.submit_account_creation', ['ucf']) }}
					</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock requestCreationForm %}

{% block requestCreated %}
	<div data-ng-show="(requestAccountCreated && !accountConfirmed" class="ng-hide">
		<h1 data-ng-hide="hideTitle">{{ i18n('m.rbs.user.front.account_creation_request_title', ['ucf']) }}</h1>

		<p class="text-success">{{ i18n('m.rbs.user.front.account_creation_request_success', ['ucf']) }}</p>

		<p>{{ i18n('m.rbs.user.front.account_creation_request_description', ['ucf']) }}</p>
	</div>
{% endblock requestCreated %}

{% block requestConfirmed %}
	<div data-ng-show="accountConfirmed" class="ng-hide">
		<h1 data-ng-hide="hideTitle">{{ i18n('m.rbs.user.front.account_creation_title', ['ucf']) }}</h1>

		<div data-ng-hide="error">
			<p class="text-success">{{ i18n('m.rbs.user.front.account_creation_success', ['ucf']) }}</p>

			<p>{{ i18n('m.rbs.user.front.account_creation_description', ['ucf']) }}</p>
			<a href="{{ functionURL('Rbs_User_Login') }}">{{ i18n('m.rbs.user.front.account_creation_log_in', ['ucf']) }}</a>
		</div>
	</div>
{% endblock requestConfirmed %}

{% block requestConfirmationForm %}
	<form autocomplete="off" class="form-horizontal ng-hide" name="rbsUserAccountConfirmation"
		data-ng-show="showConfirmationForm()"
		data-ng-submit="createAccountController.confirmAccountRequest(data)">
		<fieldset>
			<p class="text-danger" data-ng-show="error" data-ng-bind="error"></p>

			<div class="form-group">
				<label for="rbs-user-create-account-token" class="col-sm-4 col-md-3 control-label">
					{{ block('rbsSimpleformRequiredSymbol') }}
					{{ i18n('m.rbs.user.front.token', ['ucf']) }}
				</label>

				<div class="col-sm-8 col-md-9">
					<input id="rbs-user-create-account-token" type="text" name="token" autocomplete="off"
						class="form-control" data-ng-model="data.token" required="required" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-4 col-md-offset-3 col-sm-8 col-md-9">
					<button class="btn btn-primary" type="submit"
						data-ng-disabled="rbsUserAccountConfirmation.$invalid">
						{{ i18n('m.rbs.user.front.submit_account_creation_confirmation', ['ucf']) }}
					</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock requestConfirmationForm %}