{% use 'Rbs_Generic/icon-templates.twig' %}
<a title="{{ i18nAttr('m.rbs.user.front.my_account', ['ucf']) }}" href="javascript:" data-ng-click="onResponsiveSummaryClick()">
	{{ block('rbsGenericIconUser') }}
</a>