{% block forgotPasswordLink %}
	<p>
		<a href="javascript:" data-ng-click="openBox()">{{ i18n('m.rbs.user.front.forgot_your_password', ['ucf']) }}</a>
	</p>
{% endblock forgotPasswordLink %}
{% block forgotPasswordModal %}
	<div class="modal fade" id="reset-password-modal-main-content" tabindex="-1" role="dialog"
		aria-labelledby="reset-password-modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title text-left" id="reset-password-modal-label">
						{{ i18n('m.rbs.user.front.send_reset_password_request', ['ucf']) }}
					</h4>
				</div>
				<div class="modal-body">
					<div class="modal-main-content">
						<div data-ng-show="!successSending">
							{% block modalContent %}
								<p class="text-danger text-left" data-ng-show="passwordError">(= passwordError =)</p>
								<div class="form-group">
									<input type="text" name="reset-password-email" class="form-control"
										placeholder="{{ i18nAttr('m.rbs.user.front.email_placeholder', ['ucf']) }}"
										data-ng-model="resetPasswordEmail" data-ng-disabled="sending" />
								</div>
								<button class="btn btn-primary" type="button" data-ng-click="askReset()"
									data-ng-disabled="sending || invalidMail()">
									{{ i18n('m.rbs.user.front.send_reset_password_request', ['ucf']) }}
								</button>
							{% endblock modalContent %}
						</div>
						<div data-ng-show="successSending" class="text-success text-center">
							<p>{{ i18n('m.rbs.user.front.sending_reset_password_request_success', ['ucf']) }}</p>
							<button class="btn btn-primary" type="button" data-dismiss="modal" aria-hidden="true">
								{{ i18n('m.rbs.generic.front.close', ['ucf']) }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock forgotPasswordModal %}