{% block formLogin %}
	<form name="loginForm" data-ng-submit="login()">
		<fieldset data-ng-hide="parameters.accessorId">
			<h1 data-ng-show="parameters.showTitle">{{ i18n('m.rbs.user.front.please_log_in', ['ucf']) }}</h1>
			<p class="text-danger" data-ng-show="error">(= error =)</p>
			{% block formLoginFields %}
				<div class="form-group">
					<label for="rbs-user-login-login">{{ i18n('m.rbs.user.front.login', ['ucf']) }}</label>
					<input id="rbs-user-login-login" type="text" name="login" class="form-control" required="required"
						placeholder="{{ i18nAttr('m.rbs.user.front.login_placeholder', ['ucf']) }}" data-ng-model="data.login" />
				</div>
				<div class="form-group">
					<label for="rbs-user-login-password">{{ i18n('m.rbs.user.front.password', ['ucf']) }}</label>
					<input id="rbs-user-login-password" type="password" name="password" class="form-control" required="required"
						placeholder="{{ i18nAttr('m.rbs.user.front.password_placeholder', ['ucf']) }}" data-ng-model="data.password" />
				</div>
				<div class="text-right" data-rbs-user-forgot-password=""></div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="rememberMe" data-ng-model="data.rememberMe">
						{{ i18n('m.rbs.user.front.remember_me', ['ucf']) }}
					</label>
				</div>
				<button class="btn btn-primary" type="submit" data-ng-disabled="loginForm.$invalid">
					{{ i18n('m.rbs.user.front.log_in', ['ucf']) }}
				</button>
			{% endblock formLoginFields %}
		</fieldset>
		<div data-ng-show="parameters.accessorId">
			<p>
				{{ i18n('m.rbs.user.front.you_are_authentified_as', ['ucf'], {'NAME': '(= parameters.accessorName =)'}) }}
			</p>
			<p><a href="javascript:" data-ng-click="logout()">{{ i18n('m.rbs.user.front.log_out', ['ucf']) }}</a></p>
		</div>
	</form>
{% endblock formLogin %}