<div class="row" data-ng-controller="Rbs_Website_HeaderController">
	<div data-rbs-full-width="">
		{% set currentViewName = 'functionalpages' %}
		{% include '@Rbs_Website/Documents/Website/header-menu.twig' %}

		<div data-ng-controller="Rbs_Website_FunctionalPagesController">
			<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Website_FunctionalPage">
			</rbs-document-filter-panel>

			<div class="add-elements-bar">
				<a href=""
					data-ng-href="(= 'Rbs_Website_FunctionalPage' | rbsURL:'new':{'website':currentWebsite.id,'LCID':currentWebsite.LCID} =)">
					{{ i18n('m.rbs.website.admin.functionalpage_create', ['ucf']) }}
				</a>
			</div>

			<rbs-document-list model="Rbs_Website_FunctionalPage" use-properties="supportedFunctionsCode" filter-collection="filter"
				extend="functionCodes" correction="true">
				<rbs-column name="label" primary="true"></rbs-column>
			</rbs-document-list>
		</div>
	</div>
</div>