<div class="row" data-ng-controller="Rbs_Website_HeaderController">
	<div data-rbs-full-width="">
		{% set currentViewName = 'menus' %}
		{% include '@Rbs_Website/Documents/Website/header-menu.twig' %}

		<div data-ng-controller="Rbs_Website_MenusController">
			<div class="add-elements-bar">
				<a href=""
					data-ng-href="(= 'Rbs_Website_Menu' | rbsURL:'new':{'website':currentWebsite.id,'LCID':currentWebsite.LCID} =)">
					{{ i18n('m.rbs.website.admin.menu_create', ['ucf']) }}
				</a>
			</div>

			<rbs-document-list model="Rbs_Website_Menu" filter-query="query" load-query="listLoadQuery" activable="true" correction="true"
				actions="default" use-properties="website">
				<rbs-column name="label" primary="true">
					<strong><a href="" data-ng-href="(= doc | rbsURL =)">(= doc.label =)</a></strong>
				</rbs-column>
				<rbs-column name="entries">
					<span data-ng-repeat="entry in doc.entries">
						<span class="label label-default" data-ng-bind-html="entry.label"></span>
					</span>
				</rbs-column>
			</rbs-document-list>
		</div>
	</div>
</div>