<div class="row" data-ng-controller="Rbs_Website_HeaderController">
	<div data-rbs-full-width="">
		{% set currentViewName = 'functions' %}
		{% include '@Rbs_Website/Documents/Website/header-menu.twig' %}

		<div>
			<div class="page-header">
				<h1>(= currentWebsite.label =) <small>{{ i18n('m.rbs.website.admin.manage_functions', ['ucf']) }}</small></h1>
			</div>

			<div data-rbs-section-functions-manager="" data-section="currentWebsite"></div>
		</div>
	</div>
</div>