<div class="row" data-ng-controller="Rbs_Website_HeaderController">
	<div data-rbs-full-width="">
		{% set currentViewName = 'structure' %}
		{% include '@Rbs_Website/Documents/Website/header-menu.twig' %}

		<div data-ng-controller="Rbs_Website_StructureController">
			<div class="add-elements-bar">
				<a href="" data-rbs-start-navigation="" data-navigation-node="(= currentWebsite.id =)"
					data-target-url="(= 'Rbs_Website_Topic' | rbsURL:'new':{website:currentWebsite.id,tn: currentWebsite.id} =)">
					{{ i18n('m.rbs.website.admin.topic_create', ['ucf']) }}
				</a>
				<a href="" data-rbs-start-navigation="" data-navigation-node="(= currentWebsite.id =)"
					data-target-url="(= 'Rbs_Website_StaticPage' | rbsURL:'new':{website:currentWebsite.id,tn: currentWebsite.id} =)">
					{{ i18n('m.rbs.website.admin.staticpage_create', ['ucf']) }}
				</a>
				<button data-ng-show="browseCollection.length" data-ng-click="ordering(currentWebsite)"
					title="{{ i18nAttr('m.rbs.website.admin.ordering_title', ['ucf']) }}">
					<i class="icon-sort-by-attributes icon-large"></i>
				</button>
			</div>
			<div id="ordering_topic_modal_topic">
			</div>
			<rbs-document-list ng-hide="childrenToOrder" publishable="true" model="Rbs_Website_Topic" collection="browseCollection"
				striped-rows="false" extend="browser" on-reload="browser.reload" use-properties="functions title website">

				<rbs-quick-actions>
					[action default]
					<a data-ng-if="doc.is('Rbs_Website_Topic')" href="" data-ng-href="(= doc | rbsURL:'functions' =)">
						<i class="icon-cog"></i> {{ i18n('m.rbs.website.admin.topic_functions') }}
					</a>
					<a data-ng-if="! doc.is('Rbs_Website_Topic')" data-rbs-start-navigation="" data-navigation-node="(= doc.id =)"
						href="" data-target-url="(= doc | rbsURL:'createFrom' =)">
						<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.new_from', ['etc']) }}
					</a>
					<a data-ng-if="doc.is('Rbs_Website_Topic')" href="" data-ng-click="extend.reloadNode(doc)">
						<i class="icon-refresh"></i> {{ i18n('m.rbs.website.admin.refresh_topic') }}
					</a>
				</rbs-quick-actions>

				<rbs-column name="label" label="{{ i18nAttr('c.documents.label', ['ucf']) }}" primary="true">
					<div class="depth-level-indicator" data-ng-style="extend.getIndicatorStyle(doc, $index)"></div>

					<span class="pull-right">
						<button data-ng-if="extend.isPage(doc) && ! extend.isIndexPage(doc)" type="button" class="btn-default btn-xs btn"
							data-ng-disabled="busy" data-ng-click="extend.setIndexPage(doc, $index); extend.busyIndex=$index;"
							data-ng-switch="busy && $index == extend.busyIndex">
							{{ i18n('m.rbs.website.admin.index', ['ucf']) }}
						</button>

						<a data-ng-if="extend.isTopic(doc)" class="btn-default btn btn-xs"
							title="{{ i18nAttr('m.rbs.website.admin.staticpage_create', ['ucf']) }}" data-rbs-start-navigation=""
							data-navigation-node="(= doc.id =)" href=""
							data-target-url="(= 'Rbs_Website_StaticPage' | rbsURL:'new':{website: doc.website.id,tn: doc.id} =)">
							+ <i class="icon-file-text-alt icon-large"></i>
						</a>
						<a data-ng-if="extend.isTopic(doc)" class="btn-default btn-xs btn"
							title="{{ i18nAttr('m.rbs.website.admin.topic_create', ['ucf']) }}" data-rbs-start-navigation=""
							data-navigation-node="(= doc.id =)" href=""
							data-target-url="(= 'Rbs_Website_Topic' | rbsURL:'new':{website: doc.website.id,tn: doc.id} =)">
							+ <i class="icon-folder-close-alt icon-large"></i>
						</a>
						<a data-ng-if="extend.isTopic(doc) && extend.hasChildren(doc)" class="btn-default btn btn-xs"
							title="{{ i18nAttr('m.rbs.website.admin.ordering_title', ['ucf']) }}"
							data-ng-click="extend.ordering(doc)" href> <i class="icon-sort-by-attributes icon-large"></i></a>
						<a data-ng-if="! extend.isFunction(doc)" href data-target-url="(= doc | rbsURL =)"
							data-rbs-start-navigation="" data-navigation-editnode="(= doc.id =)" class="btn-default btn btn-xs ">
							{{ i18n('m.rbs.admin.admin.edit') }}
						</a>
					</span>

					<span data-ng-if="extend.isTopic(doc)">
						<i data-ng-if="extend.hasChildren(doc)" title="{{ i18nAttr('m.rbs.website.admin.alt_click_to_refresh') }}"
							data-ng-click="extend.toggleNode(doc, $event)" data-ng-dblclick="extend.toggleNode(doc, $event)"
							class="tree-icon opacity-half icon-large"
							data-ng-class="{'icon-folder-open': extend.isNodeOpen(doc), 'icon-folder-close': !extend.isNodeOpen(doc)}">
						</i>
						<i data-ng-if="!extend.hasChildren(doc)" class="tree-icon opacity-half icon-large icon-folder-close-alt"></i>
						<strong>
							<a href="" data-ng-click="extend.toggleNode(doc)" data-ng-dblclick="extend.toggleNode(doc)">(= doc.label =)</a>
						</strong>
						<small data-ng-if="doc.label != doc.title" class="text-muted" data-ng-bind="doc.title"></small>
						<span data-ng-if="extend.hasChildren(doc)" data-ng-click="extend.toggleNode(doc)"
							data-ng-dblclick="extend.toggleNode(doc)" class="children-count">
							(= extend.childrenCount(doc) | rbsMaxNumber =)
						</span>
						<span data-ng-if="! extend.hasChildren(doc)" class="children-count-empty">
							{{ i18n('m.rbs.website.admin.empty') }}
						</span>
					</span>

					<span data-ng-if="extend.isPage(doc)">
						<i class="tree-icon opacity-half icon-large icon-file-text-alt"></i>
						<a href data-target-url="(= doc | rbsURL =)" data-rbs-start-navigation=""
							data-navigation-editnode="(= doc.id =)" data-ng-bind="doc.label"></a>
						<small data-ng-if="doc.label != doc.title" class="text-muted" data-ng-bind="doc.title"></small>
					</span>

					<span class="label label-info" data-ng-if="extend.isIndexPage(doc)">
						{{ i18n('m.rbs.website.admin.index', ['ucf']) }}
					</span>
				</rbs-column>
			</rbs-document-list>
		</div>
	</div>
</div>