<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<form class="navbar-form navbar-left navbar-first-element">
			<div class="form-group">
				<select data-ng-model="currentWebsite" data-ng-change="changeWebsite(currentWebsite)"
					data-ng-options="w.label for w in websites" class="form-control"></select>
			</div>
		</form>
		<ul class="nav navbar-nav" data-ng-if="currentWebsite">
			<li{% if currentViewName == 'structure' %} class="active"{% endif %}>
				<a href="" data-ng-href="(= currentWebsite | rbsURL:'structure' =)">
					<i class="icon-puzzle-piece"></i> {{ i18n('m.rbs.website.admin.website_structure', ['ucf']) }}
				</a>
			</li>
			<li{% if currentViewName == 'menus' %} class="active"{% endif %}>
				<a href="" data-ng-href="(= currentWebsite | rbsURL:'menus' =)">
					<i class="icon-list-alt"></i> {{ i18n('m.rbs.website.documents.topic_menus', ['ucf']) }}
				</a>
			</li>
			<li{% if currentViewName == 'functions' %} class="active"{% endif %}>
				<a href="" data-ng-href="(= currentWebsite | rbsURL:'functions' =)">
					<i class="icon-wrench"></i> {{ i18n('m.rbs.website.admin.topic_functions', ['ucf']) }}
				</a>
			</li>
			<li{% if currentViewName == 'functionalpages' %} class="active"{% endif %}>
				<a href="" data-ng-href="(= currentWebsite | rbsURL:'functionalpages' =)">
					<i class="icon-file-text-alt"></i> {{ i18n('m.rbs.website.admin.functionalpage_list', ['ucf']) }}
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="" data-ng-href="(= 'Rbs_Website_Website' | rbsURL:'list' =)">
					<i class="icon-cog"></i> {{ i18n('m.rbs.website.admin.manage_websites') }}
				</a>
			</li>
		</ul>
	</div>
</nav>