<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.website.admin.website_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Website_Website"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href="" data-ng-href="(= 'Rbs_Website_Website' | rbsURL:'new' =)">{{ i18n('m.rbs.website.admin.website_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list model="Rbs_Website_Website" publishable="true" filter-collection="filter" actions="default" use-properties="baseurl">
			<rbs-quick-actions>
				[action default]
				<a data-rbs-start-navigation="" href="" data-target-url="(= doc | rbsURL:'functions' =)">
					<i class="icon-cog"></i> {{ i18n('m.rbs.website.admin.topic_functions') }}
				</a>
			</rbs-quick-actions>
			<rbs-column name="label" primary="true">
				<span class="pull-right" style="margin-right: 4px;">
					<a class="btn btn-xs btn-default" href="" data-ng-href="(= doc|rbsURL:'structure'=)">
						{{ i18n('m.rbs.website.admin.structure', ['ucf']) }} <i class="icon-circle-arrow-right"></i>
					</a>
				</span>
				<strong><a href="" data-ng-href="(= doc|rbsURL =)">(= doc.label =)</a></strong>
				<small>
					&mdash; <a href="" data-ng-href="(= doc.baseurl =)" target="_blank">(= doc.baseurl =) <i class="icon-external-link-sign"></i></a>
				</small>
			</rbs-column>
		</rbs-document-list>
	</div>
</div>