<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Website_Website">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.admin.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Rbs_Website_Website'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-new=""
			data-rbs-document-editor-rbs-website-website-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field property="refLCID" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'refLCID'), ['ucf']) }}">
					<select class="form-control" data-ng-model="document.refLCID"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Collection_Languages"
						data-collection-params="ucFirst:true" data-ng-options="item.value as item.label for item in pxCollection">
					</select>
				</rbs-field>

				<hr />

				<rbs-field-label-title property="title" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Website_Website', 'title'), ['ucf']) }}">
				</rbs-field-label-title>

				<rbs-field-url property="baseurl" required="true"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'baseurl'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.website.admin.website_baseurl_help', ['ucf']) }}</span>
				</rbs-field-url>

				<rbs-field-text property="mailSender"
					label="{{ i18nAttr(propertyKey('Rbs_Website_Website', 'mailSender'), ['ucf']) }}">
					<span class="help-block">{{ i18n('m.rbs.website.admin.website_mail_sender_help', ['ucf']) }}</span>
				</rbs-field-text>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>