<div data-project-library-publication-header="document"></div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt data-ng-if="document.name">{{ i18n('m.project.library.webapp.publication_name', ['ucf']) }}</dt>
					<dd data-ng-if="document.name">(= :: document.name =)</dd>
					<dt data-ng-if="document.status">{{ i18n('m.project.library.webapp.publication_status', ['ucf']) }}</dt>
					<dd data-ng-if="document.status">
						<span data-project-library-status="document.status"></span>
					</dd>
					<dt data-ng-if="document.collection">{{ i18n('m.project.library.webapp.publication_collection', ['ucf']) }}</dt>
					<dd data-ng-if="document.collection">
						<a href="" data-ng-href="(= :: document.collection|appURL =)">(= :: document.collection.label =)</a>
					</dd>
					<dt data-ng-if="document.year">{{ i18n('m.project.library.webapp.publication_year', ['ucf']) }}</dt>
					<dd data-ng-if="document.year">
						(= document.year =) <span data-ng-if="document.endYear">- (= :: document.endYear =)</span>
					</dd>
					<dt data-ng-if="document.nationalitiesCount">{{ i18n('m.project.library.webapp.contributor_nationalities', ['ucf']) }}</dt>
					<dd data-ng-if="document.nationalitiesCount">
						<span data-ng-repeat="nationality in document.nationalitiesData"
							data-project-library-nationality="nationality" data-mode="responsive"></span>
					</dd>
					<dt data-ng-if="document.volumesDetail">{{ i18n('m.project.library.webapp.publication_volumes_detail', ['ucf']) }}</dt>
					<dd data-ng-if="document.volumesDetail">
						<span data-ng-show="document.oneShot">{{ i18n('m.project.library.webapp.publication_one_shot', ['ucf']) }}</span>
						<span data-ng-hide="document.oneShot">(= :: document.volumesDetail =)</span>
					</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div data-project-library-links="document.links"></div>
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ i18n('m.project.library.webapp.publication_languages', ['ucf']) }}
			</div>
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt data-ng-repeat-start="info in document.languagesInfos">(= :: info.function =)</dt>
					<dd data-ng-repeat-end="">
						<span data-ng-repeat="language in info.languages">
							(= :: language =)<span class="separator" data-ng-if="!$last">, </span>
						</span>
					</dd>
				</dl>
				<span class="clearfix"></span>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default" data-ng-if="document.description.t">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.publication_description', ['ucf']) }}</div>
	<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
</div>

<div data-ng-if="document.oneShot">
	<div class="row">
		<div class="col-md-6">
			{% block possessionsList %}
				<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.publication_possessions', ['ucf']) }}"
					data-model-name="Project_Library_Possession" data-block-level="secondary" data-static-filters="possessionStaticFilters"
					data-columns="status,volumes,complete,owners" data-compact="true" data-allow-creation="true"
					data-content-template-url="Project_Library/views/publication/publication-possession-list-content.twig"
					data-full-list-url="document | appURL:'possessions'"
					data-new-route-name="newOnPossession" data-new-url-parameters="newSubDocumentUrlParameters"
					data-sort-desc="true" data-sort-property="creationDate" data-filter-properties="none">
				</div>
			{% endblock possessionsList %}
		</div>
		<div class="col-md-6">
			{% block readingList %}
				<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.reading_list', ['ucf']) }}"
					data-model-name="Project_Library_Reading" data-block-level="secondary" data-static-filters="readingStaticFilters"
					data-columns="reader,volumesDetail,rating,beginDate,endDate,status" data-compact="true" data-allow-creation="false"
					data-content-template-url="Project_Library/views/work/work-reading-list-content.twig"
					data-full-list-url="document | appURL:'readings'"
					data-sort-desc="true" data-sort-property="beginDate" data-filter-properties="none">
				</div>
			{% endblock readingList %}
		</div>
	</div>
</div>

<div data-ng-if="!document.oneShot">
	<div class="row">
		<div class="col-md-6">
			{{ block('possessionsList') }}
			{{ block('readingList') }}
		</div>
		<div class="col-md-6">
			<div data-ng-hide="document.oneShot" data-app-document-list=""
				data-list-title="{{ i18nAttr('m.project.library.webapp.publication_volumes', ['ucf']) }}"
				data-model-name="Project_Library_PublicationVolume" data-block-level="secondary"
				data-static-filters="publicationVolumeStaticFilters"
				data-columns="number" data-compact="true" data-allow-creation="true"
				data-content-template-url="Project_Library/views/publication-volume/publication-volume-list-content.twig"
				data-new-url-parameters="newSubDocumentUrlParameters"
				data-sort-desc="false" data-sort-property="order" data-full-list-url="document | appURL:'volumes' ">
			</div>
		</div>
	</div>
</div>

<div data-app-document-meta=""></div>