<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-text="" data-property="name"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_name', ['ucf']) }}">
		</div>
		<div data-app-field-document-array="" data-property="works" data-accepted-model="Project_Library_Work"
			data-allow-creation="true" data-label="{{ i18nAttr('m.project.library.webapp.publication_works', ['ucf']) }}">
		</div>
		<div data-app-field-document-array="" data-property="publishers" data-accepted-model="Project_Library_Publisher"
			data-allow-creation="true" data-label="{{ i18nAttr('m.project.library.webapp.publication_publishers', ['ucf']) }}">
		</div>
		<div data-app-field="" data-property="collection" data-label="{{ i18nAttr('m.project.library.webapp.publication_collection', ['ucf']) }}">
			<select class="form-control" data-ng-model="document.collection" data-ng-disabled="!pxCollection.length"
				data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Collections"
				data-collection-params="publisher:(= (document.publishers | appDocumentIds).join(',') =)"
				data-ng-options="item.value as item.label for item in pxCollection">
				<option value=""></option>
			</select>
		</div>
		<div data-app-field-integer="" data-property="year"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_start_year', ['ucf']) }}">
		</div>
		<div data-app-field-integer="" data-property="endYear"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_end_year', ['ucf']) }}">
		</div>
		<div data-app-field-document-array="" data-property="nationalities" data-accepted-model="Rbs_Geo_Country" data-mode="options"
			data-static-filters="activeStaticFilters" data-label="{{ i18nAttr('m.project.library.webapp.publication_nationalities', ['ucf']) }}">
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_description', ['ucf']) }}">
		</div>
		<div data-app-field-boolean="" data-property="oneShot"
			data-label="{{ i18nAttr('m.project.library.webapp.publication_one_shot', ['ucf']) }}">
		</div>
		<div data-ng-if="!document.oneShot">
			<div data-app-field-text="" data-property="volumesDetail"
				data-label="{{ i18nAttr('m.project.library.webapp.publication_volumes_detail', ['ucf']) }}">
			</div>
			<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_WorkStatus"
				data-label="{{ i18nAttr('m.project.library.webapp.publication_status', ['ucf']) }}">
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>{{ i18n('m.project.library.webapp.publication_languages', ['ucf']) }}</legend>
		<div data-project-library-language-function-selector="document.languagesSelection" data-ready="isDocumentReady"></div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
	<div data-project-library-links-editor="" data-model-name="Project_Library_PublicationLink" data-document="document"></div>
</fieldset>