<div data-project-library-publication-header="document"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_possessions', ['ucf']) }}"
	data-model-name="Project_Library_Possession" data-block-level="secondary" data-static-filters="possessionStaticFilters"
	data-columns="status,volumes,complete,owners" data-allow-creation="true"
	data-content-template-url="Project_Library/views/publication/publication-possession-list-content.twig"
	data-new-route-name="newOnPossession" data-new-url-parameters="newSubDocumentUrlParameters"
	data-sort-desc="true" data-sort-property="creationDate" data-filter-properties="none">
</div>