{% if title -%}
	<title>{{ title }}</title>
{% endif %}
{% for meta in metas %}
	<meta {{ meta.type }}="{{ meta.name }}" content="{{ meta.value }}" />
{% endfor %}
{% if canonicalURL%}
	<link rel="canonical" href="{{ canonicalURL }}" />
{%- endif %}
{% if robots %}
	<meta name="robots" content="{{ robots }}" />
{%- endif %}