{% block rbsUserShortAccountUserMenuContent %}
	<li data-ng-show="userAccountPageUrl"><a href="" data-ng-href="(= userAccountPageUrl =)">(= accessorName =)</a></li>
	<li data-ng-hide="userAccountPageUrl" role="presentation" class="dropdown-header">(= accessorName =)</li>

	<li data-ng-if="rootMenuEntry" class="{{ dividerClass }}"></li>
	<li data-ng-repeat="child in rootMenuEntry.children track by $index">
		<a href="" data-ng-href="(= child.url =)" data-ng-bind="child.title"></a>
	</li>
	<li class="{{ dividerClass }}"></li>
	<li><a href="javascript:" data-ng-click="logout()">{{ i18n('m.rbs.user.front.log_out', ['ucf']) }}</a></li>
{% endblock rbsUserShortAccountUserMenuContent %}

{% block rbsUserShortAccountGuestMenuContent %}
	<li>
		<a href="{{ functionURL('Rbs_User_Login') }}">
			{{ i18n('m.rbs.user.front.please_log_in', ['ucf']) }}
		</a>
	</li>
	<li>
		<a href="{{ functionURL('Rbs_User_CreateAccount') }}">
			{{ i18n('m.rbs.user.front.create_your_account', ['ucf']) }}
		</a>
	</li>
{% endblock rbsUserShortAccountGuestMenuContent %}

{% block rbsUserTitleCodeFieldV %}
	<div class="form-group" data-ng-if="displayTitleCode">
		<label for="rbs-user-title" class="control-label">
			<span data-ng-if="requireTitleCode">{{ block('rbsSimpleformRequiredSymbol') }}</span>
			{{ i18n('m.rbs.user.front.title', ['ucf']) }}
		</label>
		<select id="rbs-user-title" class="form-control" name="titleCode"
			data-ng-model="profiles.Rbs_User.titleCode"
			data-ng-options="item.value as item.title for item in allowedTitles"
			data-ng-required="requireTitleCode">
		</select>
	</div>
{% endblock rbsUserTitleCodeFieldV %}

{% block rbsUserFirstNameFieldV %}
	<div class="form-group">
		<label for="rbs-user-firstName" class="control-label">
			<span data-ng-if="requireNames">{{ block('rbsSimpleformRequiredSymbol') }}</span>
			{{ i18n('m.rbs.user.front.first_name', ['ucf']) }}
		</label>
		<input id="rbs-user-firstName" type="text" name="firstName" class="form-control" data-ng-model="profiles.Rbs_User.firstName"
			data-ng-required="requireNames" placeholder="{{ i18nAttr('m.rbs.user.front.first_name_placeholder', ['ucf']) }}" />
	</div>
{% endblock rbsUserFirstNameFieldV %}

{% block rbsUserLastNameFieldV %}
	<div class="form-group">
		<label for="rbs-user-lastName" class="control-label">
			<span data-ng-if="requireNames">{{ block('rbsSimpleformRequiredSymbol') }}</span>
			{{ i18n('m.rbs.user.front.last_name', ['ucf']) }}
		</label>
		<input id="rbs-user-lastName" type="text" name="lastName" class="form-control" data-ng-model="profiles.Rbs_User.lastName"
			data-ng-required="requireNames" placeholder="{{ i18nAttr('m.rbs.user.front.last_name_placeholder', ['ucf']) }}" />
	</div>
{% endblock rbsUserLastNameFieldV %}

{% block rbsUserTitleCodeFieldH %}
	<div class="form-group" data-ng-if="displayTitleCode">
		<label for="rbs-user-title" class="col-sm-4 col-md-3 control-label">
			<span data-ng-if="requireTitleCode">{{ block('rbsSimpleformRequiredSymbol') }}</span>
			{{ i18n('m.rbs.user.front.title', ['ucf']) }}
		</label>
		<div class="col-sm-8 col-md-9" data-ng-hide="readonly">
			<select id="rbs-user-title" class="form-control" name="titleCode" data-ng-model="profiles.Rbs_User.titleCode"
				data-ng-options="item.value as item.title for item in allowedTitles" data-ng-required="requireTitleCode">
			</select>
		</div>
		<div class="col-sm-8 col-md-9" data-ng-show="readonly">
			<div class="form-control-static">(= profiles.Rbs_User.titleCodeTitle =)</div>
		</div>
	</div>
{% endblock rbsUserTitleCodeFieldH %}

{% block rbsUserFirstNameFieldH %}
	<div class="form-group">
		<label for="rbs-user-firstName" class="col-sm-4 col-md-3 control-label">
			<span data-ng-if="requireNames">{{ block('rbsSimpleformRequiredSymbol') }}</span>
			{{ i18n('m.rbs.user.front.first_name', ['ucf']) }}
		</label>
		<div class="col-sm-8 col-md-9" data-ng-hide="readonly">
			<input id="rbs-user-firstName" type="text" name="firstName" class="form-control" data-ng-model="profiles.Rbs_User.firstName"
				data-ng-required="requireNames" placeholder="{{ i18nAttr('m.rbs.user.front.first_name_placeholder', ['ucf']) }}" />
		</div>
		<div class="col-sm-8 col-md-9" data-ng-show="readonly">
			<div class="form-control-static">(= profiles.Rbs_User.firstName =)</div>
		</div>
	</div>
{% endblock rbsUserFirstNameFieldH %}

{% block rbsUserLastNameFieldH %}
	<div class="form-group">
		<label for="rbs-user-lastName" class="col-sm-4 col-md-3 control-label">
			<span data-ng-if="requireNames">{{ block('rbsSimpleformRequiredSymbol') }}</span>
			{{ i18n('m.rbs.user.front.last_name', ['ucf']) }}
		</label>
		<div class="col-sm-8 col-md-9" data-ng-hide="readonly">
			<input id="rbs-user-lastName" type="text" name="lastName" class="form-control" data-ng-model="profiles.Rbs_User.lastName"
				data-ng-required="requireNames" placeholder="{{ i18nAttr('m.rbs.user.front.last_name_placeholder', ['ucf']) }}" />
		</div>
		<div class="col-sm-8 col-md-9" data-ng-show="readonly">
			<div class="form-control-static">(= profiles.Rbs_User.lastName =)</div>
		</div>
	</div>
{% endblock rbsUserLastNameFieldH %}

{% block rbsUserPhoneFieldH %}
	<div class="form-group">
		<label for="rbs-user-phone" class="col-sm-4 col-md-3 control-label">
			{{ i18n('m.rbs.user.front.phone', ['ucf']) }}
		</label>
		<div class="col-sm-8 col-md-9" data-ng-hide="readonly">
			<div data-rbs-geo-input-phone-number="" data-name="phone" data-ng-model="profiles.Rbs_User.phone"></div>
		</div>
		<div class="col-sm-8 col-md-9" data-ng-show="readonly">
			<div class="form-control-static">(= profiles.Rbs_User.phone =)</div>
		</div>
	</div>
{% endblock rbsUserPhoneFieldH %}

{% block rbsUserBirthDateFieldH %}
	<div class="form-group">
		<label for="rbs-user-birthDate" class="col-sm-4 col-md-3 control-label">
			{{ i18n('m.rbs.user.front.birthdate', ['ucf']) }}
		</label>
		<div class="col-sm-8 col-md-9" data-ng-hide="readonly">
			<div data-rbs-date-picker="" data-field-id="rbs-user-birthDate" data-field-name="birthDate" data-ng-model="profiles.Rbs_User.birthDate"
				data-mode="year"></div>
		</div>
		<div class="col-sm-8 col-md-9" data-ng-show="readonly">
			<div class="form-control-static">(= profiles.Rbs_User.birthDate | rbsDate =)</div>
		</div>
	</div>
{% endblock rbsUserBirthDateFieldH %}

{% block rbsUserPseudonymFieldH %}
	<div class="form-group">
		<label for="rbs-user-pseudonym" class="col-sm-4 col-md-3 control-label">
			{{ i18n('m.rbs.user.front.pseudonym', ['ucf']) }}
		</label>
		<div class="col-sm-8 col-md-9" data-ng-hide="readonly">
			<input id="rbs-user-pseudonymm" type="text" name="pseudonym" class="form-control" data-ng-model="profiles.Rbs_Website.pseudonym" />
			<p class="help-block">{{ i18n('m.rbs.user.front.pseudonym_help', ['ucf']) }}</p>
		</div>
		<div class="col-sm-8 col-md-9" data-ng-show="readonly">
			<div class="form-control-static">(= profiles.Rbs_Website.pseudonym =)</div>
			<p class="help-block">{{ i18n('m.rbs.user.front.pseudonym_help', ['ucf']) }}</p>
		</div>
	</div>
{% endblock rbsUserPseudonymFieldH %}