<div data-rbs-panel="" data-title="{{ i18nAttr('m.project.accounting.admin.module_name', ['ucf']) }}">
	<a data-rbs-active-route="" href="{{ namedURL('Project_Accounting_Shop', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.accounting.admin.shop_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Accounting_Invoice', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.accounting.admin.invoice_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Accounting_Transfer', 'list') }}" data-rbs-panel-link="">
		{{ i18n('m.project.accounting.admin.transfer_list', ['ucf']) }}
	</a>
	<a data-rbs-active-route="" href="{{ namedURL('Project_Accounting', 'movements') }}" data-rbs-panel-link="">
		{{ i18n('m.project.accounting.admin.movement_list', ['ucf']) }}
	</a>
</div>