<div data-ng-controller="ProjectAccountingMovements">
	<div class="row">
		<div data-rbs-aside-column="">
			<div data-rbs-default-asides-for-list=""></div>
		</div>
		<div data-rbs-main-column="">
			<div class="pull-right">
				<button type="button" class="btn" data-ng-disabled="pagination.loading"
					data-ng-class="{false:'btn-default', true:'btn-warning'}[pagination.loading]"
					title="{{ i18nAttr('m.rbs.admin.admin.refresh', ['ucf']) }}" data-ng-click="reload()">
					<i class="icon-refresh icon-spin" data-ng-class="{'icon-spin': pagination.loading}"></i>
				</button>
			</div>

			<div data-rbs-page-header="" title="{{ i18nAttr('m.project.accounting.admin.movement_list', ['ucf']) }}"></div>

			<fieldset class="form-horizontal">
				<legend class="h4">{{ i18nAttr('m.project.accounting.admin.movement_filter', ['ucf']) }}</legend>
				<div data-rbs-field="" data-property="filters.userId"
					data-label="{{ i18nAttr('m.project.accounting.admin.movement_user', ['ucf']) }}">
					<div data-rbs-document-picker-single="" data-accepted-model="Rbs_User_User"
						data-value-ids="true" data-ng-model="filters.userId"></div>
				</div>
				<div data-rbs-field="" data-property="filters.sourceId"
					data-label="{{ i18nAttr('m.project.accounting.admin.movement_source', ['ucf']) }}">
					<div data-rbs-document-picker-single="" data-select-model="{name:['Project_Accounting_Transfer', 'Project_Accounting_Invoice']}"
						data-value-ids="true" data-ng-model="filters.sourceId"></div>
				</div>
			</fieldset>

			<div class="table-responsive">
				<table class="document-list table table-condensed table-bordered table-striped table-hover token">
					<thead>
						<tr>
							<th>{{ i18n('m.project.accounting.admin.movement_id', ['ucf']) }}</th>
							<th>{{ i18n('m.project.accounting.admin.movement_user', ['ucf']) }}</th>
							<th>{{ i18n('m.project.accounting.admin.movement_source', ['ucf']) }}</th>
							<th>{{ i18n('m.project.accounting.admin.movement_amount', ['ucf']) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="movement in pagination.currentItems" class="normal-row" {{ lineNgClass|raw }}>
							<td>(= movement.id =)</td>
							<td><a data-ng-href="(= movement.user | rbsURL =)">(= movement.user.label =)</a></td>
							<td>
								<a data-ng-href="(= movement.source | rbsURL =)">(= movement.source.label =)</a>
								<small>(= movement.source.modelLabel =)</small>
							</td>
							<td>(= movement.amount | pxCorePrice:'EUR' =)</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4">
								<div data-rbs-pagination="pagination"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>

</div>