<rbs-field-label-title property="title" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'title'), ['ucf']) }}">
</rbs-field-label-title>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<hr />

<rbs-field required="true" label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'valueType'), ['ucf']) }}">
	<select data-ng-model="document.valueType" data-ng-disabled="!document.isNew()" class="form-control" required="required"
		data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_AttributeValueTypes"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value=""></option>
	</select>
</rbs-field>

<div data-ng-show="document.valueType == 'DocumentId' || document.valueType == 'DocumentIdArray'" property="documentType">
	<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'documentType'), ['ucf']) }}">
		<rbs-model-selector ng-if="document.isNew()" filter="{abstract: false, editable: true, inline: false}"
			class="form-control" model="document.documentType"></rbs-model-selector>
		<p data-ng-if="!document.isNew()" class="form-control-static">(= documentTypeLabel =)</p>
	</rbs-field>
</div>

<div data-ng-show="document.valueType == 'DocumentId'">
	<rbs-field-boolean property="usePicker"
		label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'usePicker'), ['ucf']) }}">
	</rbs-field-boolean>
</div>

<div data-ng-show="document.valueType == 'String' || document.valueType == 'Integer' || document.valueType == 'Float'"
	property="collectionCode">
	<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'collectionCode'), ['ucf']) }}">
		<select data-ng-model="document.collectionCode" class="form-control"
			data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_AttributeCollections"
			data-ng-options="item.value as item.label for item in pxCollection">
			<option value=""></option>
		</select>
	</rbs-field>
</div>

<div data-ng-if="document.collectionCode">
	<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'defaultValue'), ['ucf']) }}" property="defaultValue">
		<select data-ng-model="document.defaultValue" class="form-control"
			data-ng-controller="RbsCollectionController" data-collection-code="(= document.collectionCode =)"
			data-ng-options="item.value as item.label for item in pxCollection">
			<option value=""></option>
		</select>
	</rbs-field>
</div>
<div data-ng-if="!document.collectionCode">
	<div data-ng-show="document.valueType == 'String' || document.valueType == 'Integer' || document.valueType == 'Float'">
		<rbs-field-text property="defaultValue"
			label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'defaultValue'), ['ucf']) }}">
		</rbs-field-text>
	</div>
	<div data-ng-show="document.valueType == 'Boolean'">
		<rbs-field-boolean property="defaultValue"
			label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'defaultValue'), ['ucf']) }}">
		</rbs-field-boolean>
	</div>
</div>

<div data-ng-show="document.valueType == 'String' || document.valueType == 'RichText'">
	<rbs-field-boolean property="localizedValue"
		label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'localizedValue'), ['ucf']) }}">
	</rbs-field-boolean>
</div>

<rbs-field property="renderingMode" label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'renderingMode'), ['ucf']) }}">
	<select data-ng-model="document.renderingMode" class="form-control"
		data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_AttributeRenderingModes"
		data-collection-params="valueType:(= document.valueType =);documentType:(= document.documentType =)"
		data-ng-options="item.value as item.label for item in pxCollection">
		<option value="">{{ i18n('m.rbs.generic.admin.attribute_rendering_default', ['ucf']) }}</option>
	</select>
</rbs-field>

<rbs-field-boolean property="requiredValue" data-ng-hide="document.valueType == 'RichText' || document.valueType == 'Boolean'"
	label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'requiredValue'), ['ucf']) }}">
</rbs-field-boolean>

<rbs-field-text property="name" label="{{ i18nAttr(propertyKey('Rbs_Generic_Attribute', 'name'), ['ucf']) }}">
</rbs-field-text>