<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="$dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.project.library.webapp.resolve_conflicts_title', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<p>{{ i18n('m.project.library.webapp.resolve_conflicts_description', ['ucf']) }}</p>
	<div class="alert alert-warning">{{ i18n('m.project.library.webapp.resolve_conflicts_warning', ['ucf']) }}</div>
	<table class="table no-bottom-margin">
		<thead>
			<tr>
				<th>{{ i18n('m.project.library.webapp.current_contents', ['ucf']) }}</th>
				<th></th>
				<th style="width: 35%;">{{ i18n('m.project.library.webapp.imported_contents', ['ucf']) }}</th>
			</tr>
		</thead>
		<tbody data-ng-include="templateName"></tbody>
	</table>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default"  data-dismiss="modal" data-ng-click="$close(true)">
		{{ i18n('m.project.familinet.webapp.action_close', ['ucf']) }}
	</button>
</div>