<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th data-app-sortable-column="label">{{ i18n('m.project.accounting.webapp.transfer_number', ['ucf']) }}</th>
			<th>{{ i18n('m.project.accounting.webapp.transfer_source', ['ucf']) }}</th>
			<th>{{ i18n('m.project.accounting.webapp.transfer_receiver', ['ucf']) }}</th>
			<th data-app-sortable-column="amount">{{ i18n('m.project.accounting.webapp.transfer_amount', ['ucf']) }}</th>
			<th data-app-sortable-column="date">{{ i18n('m.project.accounting.webapp.transfer_date', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td><span data-project-accounting-transfer-link="document"></span></td>
			<td><span data-project-accounting-user-link="document.source"></span></td>
			<td><span data-project-accounting-user-link="document.receiver"></span></td>
			<td>(= document.amount | appPrice =)</td>
			<td>(= document.date | appDate =)</td>
		</tr>
	</tbody>
</table>