<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-boolean="" data-property="hidden"
			data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_hidden', ['ucf']) }}">
		</div>
		<div data-app-field-date="" data-property="date" data-required="true" data-show-yesterday-button="true" data-show-now-button="true"
			data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_date', ['ucf']) }}">
		</div>
		<div data-app-field-document="" data-property="source" data-required="true" data-accepted-model="Rbs_User_User"
			data-mode="options" data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_source', ['ucf']) }}">
		</div>
		<div data-app-field-document="" data-property="receiver" data-required="true" data-accepted-model="Rbs_User_User"
			data-mode="options" data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_receiver', ['ucf']) }}">
		</div>
		<div data-app-field="" data-property="amount" data-required="true"
			data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_amount', ['ucf']) }}">
			<input type="text" class="form-control" data-ng-model="document.amount" required="required" data-app-float="" />
		</div>
		<div data-app-field="" data-property="mode" data-required="true"
			data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_mode', ['ucf']) }}">
			<select class="form-control" data-ng-model="document.mode">
				<option value="cash">{{ i18n('m.project.accounting.webapp.transfer_mode_cash', ['ucf']) }}</option>
				<option value="bank">{{ i18n('m.project.accounting.webapp.transfer_mode_bank', ['ucf']) }}</option>
			</select>
		</div>
		<div data-app-field-rich-text="" data-property="description"
			data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_description', ['ucf']) }}">
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>