<div data-app-document-detail-header="document" data-readonly="(= document.cancelled ? 'true' : 'false' =)" data-allow-create-from="true"></div>

<div data-ng-if="document.hidden" class="alert alert-warning">
	{{ i18n('m.project.accounting.webapp.transfer_warning_hidden', ['ucf']) }}
</div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt>{{ i18n('m.project.accounting.webapp.transfer_date', ['ucf']) }}</dt>
					<dd>(= document.date | appDate =)</dd>
					<dt>{{ i18n('m.project.accounting.webapp.transfer_source', ['ucf']) }}</dt>
					<dd><span data-project-accounting-user-link="document.source"></span></dd>
					<dt>{{ i18n('m.project.accounting.webapp.transfer_receiver', ['ucf']) }}</dt>
					<dd><span data-project-accounting-user-link="document.receiver"></span></dd>
					<dt>{{ i18n('m.project.accounting.webapp.transfer_mode', ['ucf']) }}</dt>
					<dd>(= document.modeLabel =)</dd>
					<dt>{{ i18n('m.project.accounting.webapp.transfer_amount', ['ucf']) }}</dt>
					<dd>(= document.amount | appPrice =)</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default" data-ng-if="document.description.t">
			<div class="panel-heading">{{ i18n('m.project.accounting.webapp.transfer_description', ['ucf']) }}</div>
			<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4" data-ng-if="document.cancelled">
		<div class="panel panel-danger">
			<div class="panel-heading">{{ i18n('m.project.accounting.webapp.transfer_cancelled', ['ucf']) }}</div>
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt>{{ i18n('m.project.accounting.webapp.transfer_cancel_date', ['ucf']) }}</dt>
					<dd>(= document.cancelDate | appDateTime =)</dd>
					<dt>{{ i18n('m.project.accounting.webapp.transfer_canceller', ['ucf']) }}</dt>
					<dd><span data-project-accounting-user-link="document.canceller"></span></dd>
					<dt>{{ i18n('m.project.accounting.webapp.transfer_cancel_comment', ['ucf']) }}</dt>
					<dd data-app-rich-text="" data-path="document.cancelComment"></dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default" data-px-panel-toggle="collapsed" data-ng-if="!document.cancelled">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-trash"></span>
		{{ i18n('m.project.familinet.webapp.action_cancel', ['ucf', 'etc']) }}
	</div>
	<div class="panel-body">
		<form class="form-horizontal" data-ng-submit="cancel()" name="cancelForm">
			<div data-app-field="" data-label="{{ i18nAttr('m.project.accounting.webapp.transfer_cancel_comment', ['ucf']) }}" data-required="true">
				<textarea class="form-control" data-ng-model="data.cancelComment" required="required"></textarea>
			</div>
			<div class="form-group no-bottom-margin">
				<div class="col-lg-offset-3 col-lg-9">
					<button type="button" class="btn btn-danger" data-ng-click="confirmCancel($event)" data-ng-disabled="cancelForm.$invalid">
						<span class="glyphicon glyphicon-trash"></span>
						{{ i18n('m.project.familinet.webapp.action_cancel', ['ucf']) }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div data-app-document-meta=""></div>