<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.accounting.webapp.transfer_list', ['ucf']) }}" data-allow-creation="true"
	data-model-name="Project_Accounting_Transfer" data-content-template-url="Project_Accounting/views/transfer/transfer-list-content.twig"
	data-columns="source,receiver,amount,date,cancelled,hidden" data-static-filters="staticFilters" data-sort-desc="true" data-sort-property="date">
</div>