<div data-px-breadcrumb="">
	<ul class="rbs-breadcrumb list-unstyled">{% spaceless %}
		<li data-ng-show="home" class="location">
			<a href="" data-ng-href="(= home.url() =)">
				<i class="icon-home icon-2x" style="line-height: 10px; position: relative; top: 5px;"></i>
			</a>
		</li>
		<li data-ng-show="entries" class="location" data-ng-repeat="entry in entries">
			<a href="" data-ng-href="(= entry.url() =)" data-ng-bind="entry.label"></a>
		</li>
		<li data-ng-if="current" class="active"><span data-ng-bind="current.label"></span></li>
	{% endspaceless %}</ul>
</div>