<li class="dropdown" data-ng-class="{'on': values.length > 0}" title="{{ i18nAttr('m.rbs.admin.admin.clipboard', ['ucf']) }}">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">
		<i data-ng-class="{ true: 'icon-bookmark', false: 'icon-bookmark-empty' }[values.length > 0]"></i>
		(= values.length =)
		<span class="indicator-title">{{ i18n('m.rbs.admin.admin.clipboard', ['ucf']) }}</span>
	</a>
	<ul class="dropdown-menu">
		<li data-ng-if="values.length > 0" class="dropdown-header">{{ i18n('m.rbs.admin.admin.clipboard' , ['ucf']) }}</li>
		<li data-ng-if="values.length == 0" class="dropdown-header">{{ i18n('m.rbs.admin.admin.clipboard_empty' , ['ucf']) }}</li>
		<li class="divider" data-ng-if="values.length > 0"></li>
		<li data-ng-if="values.length > 0">
			<a data-ng-href="clipboard" title="{{ i18nAttr('m.rbs.admin.admin.display_clipboard_list' , ['ucf']) }}">
				<i class="icon-eye-open"></i> {{ i18n('m.rbs.admin.admin.display' , ['ucf']) }}
			</a>
		</li>
		<li data-ng-show="values.length > 0">
			<a href="" data-ng-click="clear()"><i class="icon-remove"></i> {{ i18n('m.rbs.admin.admin.clear' , ['ucf']) }}</a>
		</li>
	</ul>
</li>