<div class="btn-group dropup">
	<button data-ng-disabled="selected.length==0" class="btn btn-default" type="button"
		title="{{ i18nAttr('m.rbs.admin.admin.add_selected_elements_to_clipboard') }}" data-ng-click="append()">
		<i data-ng-class="{ 'icon-bookmark': selection.length > 0, 'icon-bookmark-empty': selection.length == 0 }"></i>
	</button>
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><span class="caret"></span></button>
	<ul class="dropdown-menu drop" role="menu">
		<li class="dropdown-header">{{ i18n('m.rbs.admin.admin.clipboard' , ['ucf']) }}</li>
		<li data-ng-hide="selected.length==0">
			<a href="" data-ng-click="append()" title="{{ i18nAttr('m.rbs.admin.admin.add_selected_elements_to_clipboard') }}">
				<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.add' , ['ucf']) }}
				<span data-ng-pluralize data-count="selected.length"
					data-when="{'one': '{{ i18nAttr('m.rbs.admin.admin.selected_element') }}', 'other': '{{ i18nAttr('m.rbs.admin.admin.selected_elements', [], {'COUNT' : '(= selected.length =)'}) }}'}"></span>
			</a>
		</li>
		<li data-ng-hide="selected.length==0">
			<a href="" data-ng-click="replace()" title="{{ i18nAttr('m.rbs.admin.admin.replace_by_selected_elements') }}">
				<i class="icon-arrow-right"></i> {{ i18n('m.rbs.admin.admin.replace_by' , ['ucf']) }}
				<span data-ng-pluralize data-count="selected.length"
					data-when="{'one': '{{ i18nAttr('m.rbs.admin.admin.selected_element') }}', 'other': '{{ i18nAttr('m.rbs.admin.admin.selected_elements', [], {'COUNT' : '(= selected.length =)'}) }}'}"></span>
			</a>
		</li>
		<li data-ng-show="selected.length==0" class="disabled">
			<a href="">{{ i18n('m.rbs.admin.admin.select_elements_to_add') }}</a>
		</li>
	</ul>
</div>