<p data-ng-if="document._critical" class="text-danger">
	<span class="icon icon-warning-sign"></span>
	<strong>{{ i18n('m.rbs.admin.admin.critical_document_warning',['ucf']) }} (= additionalMessage =)</strong>
</p>