<div class="document-picker" data-ng-class="{ 'document-picker-empty': !doc.list.length, 'document-picker-auto-complete': autoComplete.show }">
	<div class="document-picker-backdrop" data-ng-click="autoComplete.close()"></div>
	<div class="document-picker-content">
		<div data-ng-hide="isEmpty()">
			<div data-rbs-token-list="" data-ng-if="disableReordering || doc.list.length == 1" data-items="doc.list" data-open-item="openItem"
				data-disable-reordering="true">
			</div>
			<div data-rbs-token-list="" data-ng-if="!disableReordering && doc.list.length > 1" data-items="doc.list" data-open-item="openItem"></div>
		</div>

		<div data-ng-show="isEmpty() || multiple" class="input-group">
			<span class="input-group-addon input-group-addon-select" data-ng-if="models.filtered.length > 1">
				<select class="form-control" data-ng-model="models.model" data-ng-disabled="!multiple && !isEmpty()"
					data-ng-options="m.label group by m.plugin for m in models.filtered">
				</select>
			</span>
			<input data-ng-if="selectorTitle" type="text" class="form-control" data-ng-keyup="autoComplete.refresh()"
				data-ng-model="autoComplete.value" placeholder="(= selectorTitle =)" autocomplete="off" />
			<input data-ng-if="!selectorTitle" type="text" class="form-control" data-ng-keyup="autoComplete.refresh()"
				data-ng-model="autoComplete.value" placeholder="{{ i18nAttr('m.rbs.admin.admin.picker_no_element', ['ucf']) }}"
				autocomplete="off" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-icon btn-selection" data-ng-disabled="!hasTargetUrl()"
					data-ng-click="beginSelectSession()"
					title="{{ i18nAttr('m.rbs.admin.admin.picker_in_place_tooltip', ['ucf', 'etc']) }}">
					<i class="icon-external-link"></i>
				</button>
				<button type="button" class="btn btn-icon btn-default" data-ng-click="clear()" data-ng-disabled="isEmpty()"
					data-ng-if="multiple" title="{{ i18nAttr('m.rbs.admin.admin.picker_clear_tooltip', ['ucf']) }}">
					<i class="icon-eraser"></i>
				</button>
			</span>
		</div>

		<div class="auto-complete-list">
			<div data-ng-show="autoComplete.refreshing" class="auto-complete-list-loading text-center">
				<i class="icon-spinner icon-spin icon-3x"></i><br />
				{{ i18n('m.rbs.admin.admin.loading', ['ucf']) }}
			</div>
			<div data-ng-hide="autoComplete.refreshing">
				<ul class="list-unstyled auto-complete-list-options" data-ng-if="autoComplete.documents.length">
					<li data-ng-repeat="item in autoComplete.documents|filter:autoComplete.notInSelection|limitTo:10"
						data-ng-click="autoComplete.add(item)">
						<span data-ng-include="autoComplete.getItemTemplateName(item)"></span>
					</li>
				</ul>
				<div data-ng-if="autoComplete.error" class="auto-complete-list-errors">
					<p class="text-warning">{{ i18n('m.rbs.admin.admin.an_error_occured', ['ucf']) }}</p>
					{{ i18n('m.rbs.admin.admin.you_can_search_in_module', ['ucf'], {'buttonLabel': '<i class="icon-external-link"></i>'}) | raw }}
				</div>
				<div data-ng-if="!autoComplete.error && !autoComplete.documents.length" class="auto-complete-list-errors">
					<p class="text-warning">{{ i18n('m.rbs.admin.admin.no_document_to_suggest', ['ucf']) }}</p>
					{{ i18n('m.rbs.admin.admin.you_can_search_in_module', ['ucf'], {'buttonLabel': '<i class="icon-external-link"></i>'}) | raw }}
				</div>
			</div>
		</div>
	</div>
</div>