<ol class="list-inline form-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs btn-icon" data-ng-click="delFilter()">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li data-ng-show="filter.parameters.operator != 'isNull'">
		<div data-rbs-model-selector="" data-filter="(= filterDefinition.config.modelFilters | json =)"
			class="form-control" data-model="filter.parameters.value"></div>
	</li>
</ol>