<div class="margin-half-bottom">
	{% set selectorNot = '<select class="form-control form-control-inline" data-ng-show="allowNot" data-ng-change="swapNot()" data-ng-model="rootNot">
		<option data-ng-value="false">' ~ i18n('m.rbs.admin.admin.filter_matching') ~ '</option>
		<option data-ng-value="true" >' ~ i18n('m.rbs.admin.admin.filter_not_matching') ~ '</option>
	</select>
	<span data-ng-hide="allowNot">' ~ i18n('m.rbs.admin.admin.filter_matching') ~ '</span>' | raw %}

	{% set selector = '<select class="form-control form-control-inline" data-ng-change="swapOperator()" data-ng-model="rootOperator">
		<option value="AND">' ~ i18n('m.rbs.admin.admin.filter_group_and_toggle') ~ '</option>
		<option value="OR">' ~ i18n('m.rbs.admin.admin.filter_group_or_toggle') ~ '</option>
	</select>' | raw %}
	{{ i18n('m.rbs.admin.admin.filter_group_switch_title', ['ucf', 'lab'], {'selector': selector, 'matching': selectorNot}) | raw }}
</div>
<div data-rbs-filter-group-and-or="" data-filter="getRootFilter()"></div>