<div>
	<rbs-field-boolean property="active" label="{{ i18nAttr('c.documents.active', ['ucf']) }}">
	</rbs-field-boolean>

	<div class="form-group property">
		<label class="col-md-3 control-label" for="startActivation">{{ i18n('c.documents.startactivation', ['ucf']) }}
		</label>

		<div class="col-md-9 controls">
			<rbs-date-selector ng-model="document.startActivation" name="startActivation" property="startActivation"></rbs-date-selector>
			<div class="btn-responsive-toolbar">
				<div class="btn-group">
					<button ng-click="activationNow()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.now') }}</button>
					<button ng-click="activationTomorrow()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.tomorrow') }}</button>
					<button ng-click="activationNextMonday()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.nextmonday') }}</button>
					<button ng-click="activationNextMonth()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.nextmonth') }}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group property">
		<label class="col-md-3 control-label" for="endActivation">{{ i18n('c.documents.endactivation', ['ucf']) }}
		</label>

		<div class="col-md-9 controls">
			<rbs-date-selector ng-model="document.endActivation" name="endActivation" property="endActivation"></rbs-date-selector>
			<div class="btn-responsive-toolbar">
				<div class="btn-group">
					<button ng-click="endActivationOneWeek(true)" ng-disabled="!document.startActivation" type="button" ng-class="activationOffsetClass['1w']" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.add_one_week') }}</button>
					<button ng-click="endActivationTwoWeeks(true)" ng-disabled="!document.startActivation" type="button" ng-class="activationOffsetClass['2w']" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.add_two_weeks') }}</button>
					<button ng-click="endActivationOneMonth(true)" ng-disabled="!document.startActivation" type="button" ng-class="activationOffsetClass['1M']" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.add_one_month') }}</button>
				</div>
				<div class="btn-group">
					<button ng-click="endActivationTomorrow()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.tomorrow') }}</button>
					<button ng-click="endActivationEndOfWeek()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.end_of_week') }}</button>
					<button ng-click="endActivationEndOfMonth()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.end_of_month') }}</button>
				</div>
			</div>
		</div>
	</div>
</div>