<ol class="list-inline form-inline" >
	<li>
		<button type="button" class="btn btn-default btn-xs btn-icon" data-ng-click="delFilter()">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<select class="form-control" data-ng-model="filter.parameters.operator">
			<option value="eq" data-ng-hide="filterDefinition.config.hideOperator.eq">
				{{ i18n('m.rbs.admin.admin.equals') }}
			</option>
			<option value="neq" data-ng-hide="filterDefinition.config.hideOperators.neq">
				{{ i18n('m.rbs.admin.admin.isdifferentof') }}
			</option>
			<option value="contains" data-ng-hide="filterDefinition.config.hideOperators.contains">
				{{ i18n('m.rbs.admin.admin.contains') }}
			</option>
			<option value="beginsWith" data-ng-hide="filterDefinition.config.hideOperators.beginsWith">
				{{ i18n('m.rbs.admin.admin.startswith') }}
			</option>
			<option value="endsWith" data-ng-hide="filterDefinition.config.hideOperators.endsWith">
				{{ i18n('m.rbs.admin.admin.endswith') }}
			</option>
			<option value="isNull" data-ng-hide="filterDefinition.config.hideOperators.isNull">
				{{ i18n('m.rbs.admin.admin.isnull') }}
			</option>
			<option value="notContains" data-ng-hide="filterDefinition.config.hideOperators.notContains">
				{{ i18n('m.rbs.admin.admin.not_contains') }}
			</option>
			<option value="notBeginsWith" data-ng-hide="filterDefinition.config.hideOperators.notBeginsWith">
				{{ i18n('m.rbs.admin.admin.not_begins_with') }}
			</option>
			<option value="notEndsWith" data-ng-hide="filterDefinition.config.hideOperators.notEndsWith">
				{{ i18n('m.rbs.admin.admin.not_ends_with') }}
			</option>
		</select>
	</li>
	<li data-ng-show="filter.parameters.operator != 'isNull'">
		<input type="text" class="form-control" data-ng-model="filter.parameters.value" />
		<div class="btn-group" data-ng-show="filterDefinition.config.possibleValues">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				{{ i18n('m.rbs.admin.admin.possible_values') }} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li data-ng-repeat="opt in filterDefinition.config.possibleValues">
					<a href="" data-ng-bind="opt.label" data-ng-click="filter.parameters.value = opt.value"></a>
				</li>
			</ul>
		</div>
	</li>
</ol>