<ol class="list-inline form-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs btn-icon" data-ng-click="delFilter()">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<select class="form-control" data-ng-model="filter.parameters.operator">
			<option value="lte">{{ i18n('m.rbs.admin.admin.isbefore') }}</option>
			<option value="eq">{{ i18n('m.rbs.admin.admin.ison') }}</option>
			<option value="gte">{{ i18n('m.rbs.admin.admin.isafter') }}</option>
			<option value="isNull">{{ i18n('m.rbs.admin.admin.isnull') }}</option>
		</select>
	</li>
	<li data-ng-show="filter.parameters.operator != 'isNull'">
		<rbs-date-selector style="display:inline" data-ng-model="filter.parameters.value"></rbs-date-selector>
		<div class="btn-group" data-ng-show="filterDefinition.config.possibleValues">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				{{ i18n('m.rbs.admin.admin.possible_values') }} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li data-ng-repeat="opt in filterDefinition.config.possibleValues">
					<a href="" data-ng-bind="opt.label" data-ng-click="filter.parameters.value = opt.value"></a>
				</li>
			</ul>
		</div>
	</li>
</ol>