<div class="document-list-main">
	<div data-ng-if="previewAvailable" data-rbs-tip="RbsDocumentListGeneralWithPreview">
		{{ i18n('m.rbs.admin.admin.preview_tip') | raw }}
	</div>

	<div data-ng-if="!selectionContext" class="btn-toolbar" data-ng-show="useToolBar">
		<div class="pull-right">
			<button type="button" data-ng-if="busy" class="btn btn-warning" disabled="disabled"
				title="{{ i18nAttr('m.rbs.admin.admin.refresh', ['ucf']) }}">
				<i class="icon-refresh icon-spin"></i>
			</button>
			<button type="button" data-ng-if="!busy" class="btn btn-default"
				data-ng-click="refresh()" title="{{ i18nAttr('m.rbs.admin.admin.refresh', ['ucf']) }}">
				<i class="icon-refresh"></i>
			</button>

			<div data-ng-if="viewMode == 'grid'" class="btn-group" title="{{ i18nAttr('m.rbs.admin.admin.sort', ['ucf']) }}">
				<a class="btn btn-default" href="" data-ng-href="(= headerUrl(sort.column) =)">
					<i data-ng-class="sort.descending ? 'icon-sort-down' : 'icon-sort-up'"></i>
					(= columns[sort.column].textLabel || columns[sort.column].label =)
				</a>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li data-ng-repeat="c in sortable" data-ng-hide="!columns[c].label">
						<a href="" data-ng-href="(= headerUrl(c) =)">(= columns[c].textLabel || columns[c].label =)</a>
					</li>
				</ul>
			</div>

			<div class="btn-group" data-ng-show="gridModeAvailable">
				<button title="{{ i18nAttr('m.rbs.admin.admin.grid_display', ['ucf']) }}" type="button"
					data-ng-class="{'active': viewMode == 'grid'}" data-ng-click="setViewMode('grid')" class="btn btn-default">
					<i class="icon-th-large"></i>
				</button>
				<button title="{{ i18nAttr('m.rbs.admin.admin.list_display', ['ucf']) }}" type="button"
					data-ng-class="{'active': viewMode == 'list'}" data-ng-click="setViewMode('list')" class="btn btn-default">
					<i class="icon-list"></i>
				</button>
			</div>
		</div>

		<rbs-clipboard-add-widget ng-if="selectionEnabled" selected="selectedDocuments"></rbs-clipboard-add-widget>

		<span data-ng-repeat="item in actions" data-ng-switch="item.type">
			<button data-ng-switch-when="single" class="btn btn-default" type="button"
				data-rbs-bind-action="(= item.name =)" data-collection="collection"
				data-selection="selectedDocuments" data-embed-dialog="(= embeddedActionsOptionsContainerId =)"></button>
			<span data-ng-switch-when="group" class="btn-group">
				<button data-ng-repeat="action in item.actions" class="btn btn-default" type="button"
					data-rbs-bind-action="(= action =)" data-collection="collection"
					data-selection="selectedDocuments" data-embed-dialog="(= embeddedActionsOptionsContainerId =)"></button>
			</span>
		</span>
	</div>

	<div data-ng-if="selectionContext !== null">
		<div class="panel panel-selection" data-ng-if="selectionContext.param('multiple')">
			<div class="panel-heading">
				<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.elements_selection', ['ucf']) }}</h3>
				<div>
					{{ i18n('m.rbs.admin.admin.for_property') }} <strong data-ng-bind="selectionContext.param('label')"></strong>
					<span data-ng-if="selectionContext.param('multiple')">({{ i18n('m.rbs.admin.admin.select_multiple') }})</span>
					{{ i18n('m.rbs.admin.admin.of') }} <strong data-ng-bind="selectionContext.label()"></strong>
				</div>
			</div>
			<div class="panel-body">
				<p>
					{{ i18n('m.rbs.admin.admin.compose_selection_message') }}
				</p>
				<p data-ng-show="selectionContextDocuments.length == 0">
					<strong>{{ i18n('m.rbs.admin.admin.selection_is_empty_now') }}</strong>
				</p>
				<p data-ng-hide="selectionContextDocuments.length == 0">
					<span data-rbs-token-list="" data-items="selectionContextDocuments"></span>
				</p>
			</div>
			<div class="panel-footer">
				<button type="button" class="pull-right btn btn-sm btn-selection" data-ng-click="selectionContextResolve()">
					{{ i18n('m.rbs.admin.admin.validate_selection', ['ucf']) }} <i class="icon-circle-arrow-right"></i>
				</button>
				<button type="button" class="btn btn-sm btn-default" data-ng-click="selectionContextReject()">
					<i class="icon-circle-arrow-left"></i> {{ i18n('m.rbs.admin.admin.cancel_selection', ['ucf']) }}
				</button>
				{{ i18n('m.rbs.admin.admin.and_go_back_to', [], {'label' : "(= selectionContext.label() =)"}) | raw }}
			</div>
		</div>

		<div class="panel panel-selection" data-ng-if="! selectionContext.param('multiple')">
			<div class="panel-heading">
				<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.elements_selection', ['ucf']) }}</h3>
				<div>
					{{ i18n('m.rbs.admin.admin.for_property') }} <strong data-ng-bind="selectionContext.param('label')"></strong>
					<span data-ng-if="selectionContext.param('multiple')"> (multiple)</span>
					{{ i18n('m.rbs.admin.admin.of') }} <strong data-ng-bind="selectionContext.label()"></strong>
				</div>
			</div>
			<div class="panel-body">
				{{ i18n('m.rbs.admin.admin.compose_selection_message') }}
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-sm btn-default" data-ng-click="selectionContextReject()">
					<i class="icon-circle-arrow-left"></i> {{ i18n('m.rbs.admin.admin.cancel_selection', ['ucf']) }}
				</button>
				{{ i18n('m.rbs.admin.admin.and_go_back_to', [], {'label' : "(= selectionContext.label() =)"}) | raw }}
			</div>
		</div>

		<div class="btn-toolbar">
			<div class="btn-group pull-right" data-ng-show="gridModeAvailable">
				<button title="{{ i18nAttr('m.rbs.admin.admin.grid_display', ['ucf']) }}" type="button"
					data-ng-class="{'active': viewMode == 'grid'}" data-ng-click="setViewMode('grid')" class="btn btn-default">
					<i class="icon-th-large"></i>
				</button>
				<button title="{{ i18nAttr('m.rbs.admin.admin.list_display', ['ucf']) }}" type="button"
					data-ng-class="{'active': viewMode == 'list'}" data-ng-click="setViewMode('list')" class="btn btn-default">
					<i class="icon-list"></i>
				</button>
			</div>
			<button data-ng-if="selectionContext.param('multiple')" type="button" class="btn btn-selection"
				data-ng-click="selectionContextAppend()" data-ng-disabled="selectedDocuments.length == 0">
				<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.add_selected_elements', ['ucf']) }}
			</button>
		</div>
	</div>

	<div class="clearfix" data-role="embedded-actions-options-container" id="(= embeddedActionsOptionsContainerId =)"></div>

	<div class="document-list-body"></div>

	<footer data-ng-hide="(! collection.length && ! busy) || disablePagination">
		<div data-rbs-pagination="pagination"></div>
	</footer>

	<div class="ng-hide" data-ng-transclude=""></div>
</div>