<ol class="list-inline form-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs btn-icon" data-ng-click="delFilter()">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<select class="form-control" data-ng-model="filter.parameters.operator">
			<option value="eq" data-ng-hide="filterDefinition.config.hideOperators.eq">{{ i18n('m.rbs.admin.admin.equals') }}</option>
			<option value="neq" data-ng-hide="filterDefinition.config.hideOperators.neq">{{ i18n('m.rbs.admin.admin.isdifferentof') }}</option>
			<option value="isNull" data-ng-hide="filterDefinition.config.hideOperators.isNull">{{ i18n('m.rbs.admin.admin.isnull') }}</option>
			<option value="isNotNull" data-ng-hide="filterDefinition.config.hideOperators.isNotNull">{{ i18n('m.rbs.admin.admin.isnotnull') }}</option>
		</select>
	</li>
	<li data-ng-show="showValueSelector()">
		<rbs-document-picker-single ng-model="filter.parameters.value" value-ids="true"
			select-model="(= filterDefinition.config.selectModel =)"
			property-label="(= filterDefinition.config.label =)"
			context-key="(= contextKey + '_' + filter.name =)">
		</rbs-document-picker-single>
		<div class="btn-group" data-ng-show="filterDefinition.config.possibleValues">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				{{ i18n('m.rbs.admin.admin.possible_values') }} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li data-ng-repeat="opt in filterDefinition.config.possibleValues">
					<a href="" data-ng-bind="opt.label" data-ng-click="filter.parameters.value = opt.value"></a>
				</li>
			</ul>
		</div>
	</li>
</ol>