<div class="panel panel-info">
	<div class="panel-heading panel-heading-toggle" data-ng-click="toggleFilterPanel()">
		<span class="pull-right rotate-animation"
			data-ng-class="{'rotate-0': !showFilter, 'rotate-180': showFilter}">
			<i class="icon-chevron-down"></i>
		</span>
		<h3 class="panel-title"><i class="icon-search"></i> <span>{{ i18n('m.rbs.admin.admin.title', ['ucf']) }}</span></h3>
	</div>

	<form class="search-filters vertical-show-hide-animation ng-hide" data-ng-show="showFilter" data-ng-submit="applyFilter()">
		<div class=" vertical-show-hide-animation-content">
			<div class="panel-body">
				<div data-rbs-filters-container="" data-rbs-document-filter-container=""
					data-ng-model="filter" data-definitions="filtersDefinition"></div>
			</div>
			<div class="panel-footer">
				<div class="btn-toolbar">
					<div class="pull-right">
						<div class="btn-group" data-ng-show="savedFilters.length > 0"
							title="{{ i18nAttr('m.rbs.admin.admin.saved_filters', ['ucf']) }}">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								(= savedFilters.length | number =) <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li data-ng-repeat="f in savedFilters">
									<a href="" data-ng-click="useExistingFilter(f)">
										<i data-ng-if="f.filter_id == existingFilterInUse.filter_id" class="icon-ok"></i>
										(= f.label =)
									</a>
								</li>
							</ul>
						</div>
						<button type="button" data-rbs-async-action-button="creatingFilter"
							data-rbs-async-action-button-done-label="{{ i18nAttr('m.rbs.admin.admin.filter_created', ['ucf']) }}"
							class="btn btn-primary" data-ng-click="createFilter()">
							<i class="icon-plus"></i> {{ i18n('m.rbs.admin.admin.create_filter', ['ucf']) }}
						</button>
					</div>

					<button type="submit" class="btn btn-info">
						<i class="icon-filter icon-white"></i> {{ i18n('m.rbs.admin.admin.filter', ['ucf']) }}
					</button>
					<button type="button" class="btn btn-default" data-ng-click="resetFilter()">
						<i class="icon-eraser"></i> {{ i18n('m.rbs.admin.admin.reset_filter', ['ucf']) }}
					</button>
				</div>
			</div>

			<div class="panel-footer" data-ng-if="existingFilterInUse">
				{{ i18n('m.rbs.admin.admin.selected_filter', ['ucf']) }}
				(<a href="" data-ng-click="useExistingFilter(null)">{{ i18n('m.rbs.admin.admin.unselect_filter') }}</a>)
				<div class="input-group">
					<input type="text" class="form-control" data-ng-model="existingFilterInUse.label">
					<span class="input-group-btn">
						<button type="button" data-rbs-async-action-button="updatingFilter"
							data-rbs-async-action-button-done-label="{{ i18nAttr('m.rbs.admin.admin.filter_updated', ['ucf']) }}"
							class="btn btn-success" data-ng-click="updateExistingFilter()">
							<i class="icon-ok"></i> {{ i18n('m.rbs.admin.admin.update_filter', ['ucf']) }}
						</button>
						<button type="button" data-rbs-async-action-button="deletingFilter" data-ng-click="removeExistingFilter()"
							class="btn btn-icon btn-danger" title="{{ i18nAttr('m.rbs.admin.admin.delete_filter', ['ucf']) }}">
							<i class="icon-trash"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>