<div>
	<div data-rbs-critical-document-warning="" data-document="document"
		data-additional-message="{{ i18nAttr('m.rbs.admin.admin.document_publication_dates_warning') }}">
	</div>
	<rbs-field-picker-multiple property="publicationSections" data-ng-if="showPublicationSections()"
		select-model="{ancestors:'Rbs_Website_Section', abstract:false}"
		label="{{ i18nAttr('c.documents.publicationsections',['ucf']) }}"
		selector-title="{{ i18nAttr('m.rbs.generic.admin.publicationsections_picker_title', ['ucf']) }}">
		<span class="help-block" data-ng-if="document.publicationSections.length > 0">
			<a class="go-to-link" href="" data-ng-href="(= document|rbsURL:'urls' =)">
				{{ i18n('m.rbs.admin.admin.configure_url_and_redirections', ['ucf']) | raw }}
			</a>
		</span>
		<span class="help-block" data-ng-if="!hasSpecificHelp">
			{{ i18n('m.rbs.generic.admin.publicationsections_help', ['ucf']) }}
		</span>
		<span class="help-block" data-ng-if="hasSpecificHelp">(=specificHelp=)</span>
	</rbs-field-picker-multiple>

	<div class="form-group property">
		<label class="col-md-3 control-label" for="startPublication">{{ i18n('c.documents.startpublication', ['ucf']) }}</label>
		<div class="col-md-9 controls">
			<rbs-date-selector ng-model="document.startPublication" name="startPublication" property="startPublication"></rbs-date-selector>
			<div class="btn-responsive-toolbar">
				<div class="btn-group">
					<button ng-click="publicationNow()" type="button" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.now') }}</button>
					<button ng-click="publicationTomorrow()" type="button"
						class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.tomorrow') }}</button>
					<button ng-click="publicationNextMonday()" type="button"
						class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.nextmonday') }}</button>
					<button ng-click="publicationNextMonth()" type="button"
						class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.nextmonth') }}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group property">
		<label class="col-md-3 control-label" for="endPublication">{{ i18n('c.documents.endpublication', ['ucf']) }}</label>
		<div class="col-md-9 controls">
			<rbs-date-selector ng-model="document.endPublication" name="endPublication" property="endPublication"></rbs-date-selector>
			<div class="btn-responsive-toolbar">
				<div class="btn-group">
					<button ng-click="endPublicationOneWeek(true)" ng-disabled="!document.startPublication" type="button"
						ng-class="publicationOffsetClass['1w']" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.add_one_week') }}</button>
					<button ng-click="endPublicationTwoWeeks(true)" ng-disabled="!document.startPublication" type="button"
						ng-class="publicationOffsetClass['2w']" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.add_two_weeks') }}</button>
					<button ng-click="endPublicationOneMonth(true)" ng-disabled="!document.startPublication" type="button"
						ng-class="publicationOffsetClass['1M']" class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.add_one_month') }}</button>
				</div>
				<div class="btn-group">
					<button ng-click="endPublicationTomorrow()" type="button"
						class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.tomorrow') }}</button>
					<button ng-click="endPublicationEndOfWeek()" type="button"
						class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.end_of_week') }}</button>
					<button ng-click="endPublicationEndOfMonth()" type="button"
						class="btn btn-default btn-sm">{{ i18n('m.rbs.admin.admin.end_of_month') }}</button>
				</div>
			</div>
		</div>
	</div>
</div>