<ol class="list-inline form-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs btn-icon" data-ng-click="delFilter()">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<rbs-switch data-role="filter-value" ng-model="filter.parameters.value"></rbs-switch>
	</li>
</ol>