<div class="alert alert-info">
	<p data-ng-if="refDoc">
		<i class="icon-info-sign icon-3x pull-left"></i> {{ i18n('m.rbs.admin.admin.creating_a_new_document_from') | raw }}
		<strong>
			<a href target="_blank" data-ng-href="(= refDoc | rbsURL =)">
				<span data-ng-bind="refDoc.label"></span> <i class="icon-external-link"></i>
			</a>
		</strong>
		<br /> {{ i18n('m.rbs.admin.admin.creating_a_new_document_from_tip') | raw }}
	</p>
	<p data-ng-if="!refDoc">
		<i class="icon-spin icon-spinner"></i> {{ i18n('m.rbs.admin.admin.loading_reference_document', ['ucf', 'etc']) }}
	</p>
</div>