<ol class="list-inline form-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs btn-icon" data-ng-click="delFilter()">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<select class="form-control" data-ng-model="filter.parameters.operator">
			<option value="eq">{{ i18n('m.rbs.admin.admin.equals') }}</option>
			<option value="neq">{{ i18n('m.rbs.admin.admin.isDifferentOf') }}</option>
			<option value="isNull">{{ i18n('m.rbs.admin.admin.isNull') }}</option>
			<option value="isNotNull">{{ i18n('m.rbs.admin.admin.isNotNull') }}</option>
		</select>
	</li>
	<li data-ng-show="filter.parameters.operator != 'isNull'">
		<select class="form-control" data-ng-model="filter.parameters.value"
			data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Typologies"
			data-collection-params="modelName:(= filter.parameters.modelName =)"
			data-variable-name="typologyOptions" data-ng-options="item.value as item.label for item in typologyOptions">
			<option value="">{{ i18n('m.rbs.admin.admin.typology_select', ['ucf']) }}</option>
		</select>
	</li>
</ol>