<div data-ng-if="collection.length == 0 && !busy" class="empty-row">{{ i18n('m.rbs.admin.admin.this_list_is_empty', ['ucf']) }}</div>
<ul class="thumbnail-grid clearfix list-unstyled">
	<li data-ng-repeat="doc in collection" data-ng-class="{selected: doc.selected, warning: doc.status!='PUBLISHABLE'}">
		<div class="inner" data-ng-class="doc.status" data-ng-click="doc.selected = !doc.selected">
			<div class="caption">
				<h4>
					<div data-rbs-status="" data-ng-model="doc" class="small"></div>
					<a href="" data-ng-href="(= doc | rbsURL =)">(= doc.label =)</a>
				</h4>
			</div>
		</div>
	</li>
</ul>