<li class="dropdown" data-ng-class="{'on': localCopies.length > 0}"
	title="{{ i18nAttr('m.rbs.admin.admin.local_copy_indicator_title', ['ucf']) }}">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">
		<i class="icon-edit"></i>
		(= localCopies.length =)
		<span class="indicator-title">{{ i18n('m.rbs.admin.admin.local_copy_indicator_title', ['ucf']) }}</span>
	</a>
	<ul class="dropdown-menu">
		<li class="dropdown-header" data-ng-pluralize="" data-count="localCopies.length" data-when="
			{0: '{{ i18nAttr('m.rbs.admin.admin.local_copies_message_no') }}',
			one: '{{ i18nAttr('m.rbs.admin.admin.local_copies_message_one') }}',
			other: '{{ i18nAttr('m.rbs.admin.admin.local_copies_message_other') }}'}"></li>
		<li class="divider" data-ng-if="localCopies.length > 0"></li>

		<li data-ng-repeat="copy in localCopies track by localizedId(copy)"><a href="" data-ng-href="(= copy.META$.localCopy.editorUrl =)">
			<rbs-status class="small" ng-model="copy"></rbs-status>
			<strong>(= copy.label =)</strong>
			<br/>(= copy.model =) / (= copy.LCID =) / (= copy.id =)
			<br/><small class="muted"><time data-display="both" datetime="(= copy.META$.localCopy.saveDate =)"></time></small>
		</a></li>

		<li data-ng-if="localCopies.length > 0" class="divider"></li>
		<li data-ng-if="localCopies.length > 0"><a href="" data-ng-click="clearLocalCopies()">
			<i class="icon-trash"></i> {{ i18n('m.rbs.admin.admin.remove_all_local_copies', ['ucf']) }}
		</a></li>
	</ul>
</li>