<div class="page-header">
	<div class="clearfix">
		<div class="pull-right" data-ng-if="showWorkflowButton()">
			<a href data-ng-href="(= document | rbsURL:getWorkflowRouteName() =)" class="btn"
				data-ng-class="{true: 'btn-success', false: 'btn-default'}[document.publicationStatus=='PUBLISHABLE']">
				<rbs-status class="small" ng-model="document"></rbs-status>
				<span data-ng-if="document.hasCorrection()">
					{{ i18n('m.rbs.admin.admin.correction', ['ucf']) }}
					<span class="badge">(= document.META$.correction.propertiesNames.length =)</span>
				</span>
				<span data-ng-if="! document.hasCorrection()">
					(= document.publicationStatus | rbsStatusLabel =)
				</span>
				<i class="icon-circle-arrow-right"></i>
			</a>
		</div>
		<h2>
			(= title || document.label =)
			<small data-ng-show="subTitle">(= subTitle =)</small>
			<small data-ng-repeat="label in labels" class="inline-block">
			<span class="label" data-ng-if="label.text" data-ng-class="'label-' + (label.type ? label.type : 'default')">
				(= label.text =)
			</span>
			</small>
		</h2>
	</div>

	<div data-ng-show="showLocalCopyMessage && hasLocalCopy()" class="alert alert-warning">
		<button type="button" class="close" data-ng-click="showLocalCopyMessage=false">&times;</button>
		<h4>{{ i18n('m.rbs.admin.admin.document_modify_without_save_title') }}</h4>
		{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p1', ['ucf']) }}
		<button type="button" class="btn btn-success btn-sm" data-ng-click="mergeLocalCopy()">
			{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p2') }}
		</button>
		{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p3') }}
		<button type="button" class="btn btn-warning btn-sm" data-ng-click="removeLocalCopy()">
			{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p4') }}
		</button>
		{{ i18n('m.rbs.admin.admin.document_modify_localcopy_p5') }}
	</div>
</div>
