<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.admin.admin.richtext_image_properties', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<div class="form-horizontal" data-ng-form="" data-name="imageProperties">
		<div class="form-group">
			<label for="richtext-dialog-href" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_image_document', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">
					<a data-ng-href="(= document | rbsURL =)">(= document.label =)</a>
				</p>
			</div>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error': imageProperties.height.$invalid }">
			<label for="richtext-dialog-height" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_height', ['ucf']) }}
			</label>
			<div class="col-sm-9 form-inline">
				<input type="number" class="form-control" id="richtext-dialog-height" name="text" size="4" min="1" step="1"
					data-ng-model="properties.height" />
				<span class="help-inline">
					<span data-ng-show="document.height">
						{{ i18n('m.rbs.admin.admin.richtext_image_original_value', ['ucf', 'lab']) }} (= document.height =)
						-
					</span>
					{{ i18n('m.rbs.admin.admin.richtext_leave_empty', ['ucf']) }}
				</span>
			</div>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error': imageProperties.width.$invalid }">
			<label for="richtext-dialog-width" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_width', ['ucf']) }}
			</label>
			<div class="col-sm-9 form-inline">
				<input type="number" class="form-control" id="richtext-dialog-width" name="text" size="4" min="1" step="1"
					data-ng-model="properties.width" />
				<span class="help-inline">
					<span data-ng-show="document.width">
						{{ i18n('m.rbs.admin.admin.richtext_image_original_value', ['ucf', 'lab']) }} (= document.width =)
						-
					</span>
					{{ i18n('m.rbs.admin.admin.richtext_leave_empty', ['ucf']) }}
				</span>
			</div>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error': imageProperties.alt.$invalid }">
			<label for="richtext-dialog-alt" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_image_alt', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<div class="input-group">
					<input type="text" class="form-control" id="richtext-dialog-alt" name="text"
						data-ng-model="properties.alt" data-ng-required="true" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{ i18n('m.rbs.admin.admin.richtext_insert_document_property', ['ucf']) }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li data-ng-repeat="value in predefinedValues">
								<a href="" data-ng-click="appendValue('alt', value)">(= value =)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error': imageProperties.title.$invalid }">
			<label for="richtext-dialog-title" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_image_title', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<div class="input-group">
					<input type="text" class="form-control" id="richtext-dialog-title" name="title"
						data-ng-model="properties.title" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{ i18n('m.rbs.admin.admin.richtext_insert_document_property', ['ucf']) }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li data-ng-repeat="value in predefinedValues">
								<a href="" data-ng-click="appendValue('title', value)">(= value =)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="form-group" data-ng-show="properties.linkDocumentId">
			<label for="richtext-dialog-href" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_link_document', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">
					<a data-ng-href="(= linkDocument | rbsURL =)">(= document.label =)</a>
					<button class="btn btn-danger btn-xs" data-ng-click="properties.linkDocumentId = null">
						<i class="icon icon-remove"></i>
						{{ i18n('m.rbs.admin.admin.wysiwyg_remove_link', ['ucf']) }}
					</button>
				</p>
			</div>
		</div>
		<div class="form-group" data-ng-hide="properties.linkDocumentId"
			data-ng-class="{ 'has-error': imageProperties.linkHref.$invalid }">
			<label for="richtext-dialog-href" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_link_href', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<input type="url" class="form-control" id="richtext-dialog-href" name="linkHref"
					data-ng-model="properties.linkHref" />
			</div>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error': imageProperties.linkTitle.$invalid }">
			<label for="richtext-dialog-title" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_link_title', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<div class="input-group">
					<input type="text" class="form-control" id="richtext-dialog-title" name="linkTitle"
						data-ng-model="properties.linkTitle" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{ i18n('m.rbs.admin.admin.richtext_insert_document_property', ['ucf']) }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li data-ng-repeat="value in predefinedValues">
								<a href="" data-ng-click="appendValue('linkTitle', value)">(= value =)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary pull-left" data-ng-click="onSubmit()"
		data-ng-disabled="!canSubmit()">
		{{ i18n('m.rbs.admin.admin.submit', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">
		{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
	</button>
</div>