<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}</span>
	</button>
	<h4 class="modal-title">{{ i18n('m.rbs.admin.admin.richtext_document_link_properties', ['ucf']) }}</h4>
</div>
<div class="modal-body">
	<div class="form-horizontal" data-ng-form="" data-name="linkProperties">
		<div class="form-group">
			<label for="richtext-dialog-href" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_link_document', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<p class="form-control-static">
					<a data-ng-href="(= document | rbsURL =)">(= document.label =)</a>
				</p>
			</div>
		</div>
		<div class="form-group" data-ng-class="{ 'has-error': linkProperties.title.$invalid }">
			<label for="richtext-dialog-title" class="col-sm-3 control-label">
				{{ i18n('m.rbs.admin.admin.richtext_link_title', ['ucf']) }}
			</label>
			<div class="col-sm-9">
				<div class="input-group">
					<input type="text" class="form-control" id="richtext-dialog-title" name="title"
						data-ng-model="properties.title" />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{ i18n('m.rbs.admin.admin.richtext_insert_document_property', ['ucf']) }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li data-ng-repeat="value in predefinedValues">
								<a href="" data-ng-click="appendValue('title', value)">(= value =)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary pull-left" data-ng-click="onSubmit()"
		data-ng-disabled="!canSubmit()">
		{{ i18n('m.rbs.admin.admin.submit', ['ucf']) }}
	</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">
		{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
	</button>
</div>