<div class="row-header">
	<div class="block-toolbar" data-ng-click="selectBlock()" data-ng-dblclick="openSettings()">
		<button type="button" data-ng-click="openSettings()" class="btn btn-default btn-sm btn-icon"
			title="{{ i18nAttr('m.rbs.admin.admin.edit_parameters', ['ucf']) }}">
			<span class="icon-edit"></span>
		</button>
	</div>
</div>
<div class="children clearfix"></div>