{% extends '@Rbs_Admin/js/directives/structure-editor-modal-base.twig' %}

{% block modalTitle %}{{ i18n('m.rbs.admin.admin.tech_properties', ['ucf']) }}{% endblock modalTitle %}

{% block modalBody %}
	<div class="form-group">
		<label class="col-lg-3 control-label" for="rbs_field_10">{{ i18n('m.rbs.admin.admin.block_type', ['ucf']) }}</label>
		<div class="col-lg-9 controls">
			<p class="form-control-static">(= :: modalData.item.name =)</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-3 control-label" for="rbs_field_10">{{ i18n('m.rbs.admin.admin.block_parameters', ['ucf']) }}</label>
		<div class="col-lg-9 controls">
			<p class="form-control-static">(= :: modalData.item.parameters | json =)</p>
		</div>
	</div>
{% endblock modalBody %}