<div class="panel panel-default" id="structure-editor-aside">
	<div class="panel-body">
		<div id="structure-editor-aside-panel" data-no-block-text="{{ i18nAttr('m.rbs.website.admin.no_block_selected', ['ucf']) }}">
			{{ i18n('m.rbs.website.admin.no_block_selected', ['ucf']) }}
		</div>
	</div>
</div>

<div class="clearfix"></div>