<div draggable="true" class="block break-word block-draggable block-handle" data-ng-click="selectBlock($event)">
	<span class="icon-question-sign"></span> {{ i18n('m.rbs.admin.admin.structure_editor_new_block', ['ucf']) }}
</div>