{% extends '@Rbs_Admin/js/directives/structure-editor-modal-base.twig' %}

{% block modalTitle %}{{ i18n('m.rbs.admin.admin.cell_properties', ['ucf']) }}{% endblock modalTitle %}

{% block modalBody %}
	<div class="form-group no-bottom-margin" data-ng-class="{'has-error': blockForm['class_' + modalData.item.id].$invalid}">
		<label class="control-label col-md-3" for="row_(= modalData.item.id =)_class">{{ i18n('m.rbs.admin.admin.block_class', ['ucf']) }}</label>
		<div class="controls col-md-9">
			<input class="form-control" id="row_(= modalData.item.id =)_class" type="text" data-ng-model="modalData.item.class"
				name="class_(= modalData.item.id =)" data-ng-pattern="'[a-zA-Z0-9 \-]*'" />
			<span class="help-block no-bottom-margin">{{ i18n('m.rbs.admin.admin.block_class_help', ['ucf']) }}</span>
		</div>
	</div>
{% endblock modalBody %}