<div class="btn-toolbar">
	<button data-ng-if="isInColumnLayout()" class="btn btn-default btn-sm btn-icon" data-ng-click="selectParentCell()"
		title="{{ i18nAttr('m.rbs.admin.admin.parameterize_columns', ['ucf']) }}">
		<span class="icon-columns"></span>
	</button>
	<rbs-kb-switch>
		<div class="btn-group">
			<button class="btn btn-default btn-sm btn-icon" disabled="disabled"><i class="icon-plus"></i></button>
			<button class="btn btn-default btn-sm btn-icon" data-ng-show="canInsertSideways()" data-ng-click="newBlockLeft()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_left', ['ucf']) }}">
				<i class="icon-arrow-left"></i>
			</button>
			<button class="btn btn-default btn-sm btn-icon" data-ng-show="canInsertSideways()" data-ng-click="newBlockRight()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_right', ['ucf']) }}">
				<i class="icon-arrow-right"></i>
			</button>
			<button data-rbs-kb-when="alt" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockTop()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_top', ['ucf']) }}">
				<i class="icon-double-angle-up"></i>
			</button>
			<button data-rbs-kb-default="" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockBefore()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_before', ['ucf']) }}">
				<i class="icon-arrow-up"></i>
			</button>
			<button data-rbs-kb-when="alt" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockBottom()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_bottom', ['ucf']) }}">
				<i class="icon-double-angle-down"></i>
			</button>
			<button data-rbs-kb-default="" class="btn btn-default btn-sm btn-icon" data-ng-click="newBlockAfter()"
				title="{{ i18nAttr('m.rbs.admin.admin.insert_block_after', ['ucf']) }}">
				<i class="icon-arrow-down"></i>
			</button>
		</div>
	</rbs-kb-switch>
	<button class="btn btn-danger btn-sm btn-icon pull-right" type="button" data-ng-click="removeBlock()"
		title="{{ i18nAttr('m.rbs.admin.admin.delete_block', ['ucf']) }}">
		<span class="icon-trash"></span>
	</button>
</div>

<div data-ng-if="isChooser">
	<hr />

	<div class="input-group input-group-filter">
		<span class="input-group-addon" title="{{ i18nAttr('m.rbs.admin.admin.filter_blocks', ['ucf']) }}">
			<span class="icon-filter icon-white"></span>
		</span>
		<input type="text" class="form-control" data-ng-model="chooser.keyword" />
	</div>
	<select class="form-control" data-ng-model="chooser.selected" data-ng-required="required"
		data-ng-options="block.name as block.label group by block.plugin for block in chooser.blocks|rbsFilterBlocks:chooser.keyword">
	</select>
</div>