{% extends '@Rbs_Admin/js/directives/structure-editor-modal-base.twig' %}

{% block modalTitle %}{{ i18n('m.rbs.website.admin.block_properties', ['ucf']) }}{% endblock modalTitle %}

{% block modalBody %}
	<div class="form-horizontal" data-rbs-structure-editor-block-settings="">
		<div data-ng-form="blockForm">
			<div class="form-group">
				<label class="control-label col-md-3"
					for="block_(= block.id =)_label">{{ i18n('m.rbs.admin.admin.block_label', ['ucf']) }}</label>
				<div class="controls col-md-9">
					<input class="form-control" id="block_(= block.id =)_label" type="text" data-ng-model="block.label"
						placeholder="{{ i18nAttr('m.rbs.admin.admin.block_name') }}" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-md-3">{{ i18n('m.rbs.admin.admin.block_visibility', ['ucf']) }}</label>
				<div class="controls col-md-9">
					<div class="btn-toolbar" role="toolbar">
						<div class="btn-group">
							<button type="button" class="btn" data-ng-click="toggleVisibility('X')"
								data-ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('X')]">
								{{ i18n('m.rbs.admin.admin.block_visibility_x', ['ucf']) }}
							</button>
							<button type="button" class="btn" data-ng-click="toggleVisibility('S')"
								data-ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('S')]">
								{{ i18n('m.rbs.admin.admin.block_visibility_s', ['ucf']) }}
							</button>
							<button type="button" class="btn" data-ng-click="toggleVisibility('M')"
								data-ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('M')]">
								{{ i18n('m.rbs.admin.admin.block_visibility_m', ['ucf']) }}
							</button>
							<button type="button" class="btn" data-ng-click="toggleVisibility('L')"
								data-ng-class="{true: 'btn-success active', false: 'btn-default'}[isVisibleFor('L')]">
								{{ i18n('m.rbs.admin.admin.block_visibility_l', ['ucf']) }}
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group clearfix" data-ng-hide="block.visibility === 'raw'"
				data-ng-class="{'has-error': blockForm['class_' + block.id].$invalid, 'no-bottom-margin': blockDefinition.defaultTTL == -1}">
				<label class="control-label col-md-3"
					for="block_(= block.id =)_class">{{ i18n('m.rbs.admin.admin.block_class', ['ucf']) }}</label>
				<div class="controls col-md-9">
					<input class="form-control" id="block_(= block.id =)_class" type="text" data-ng-model="block.class"
						name="class_(= block.id =)" data-ng-pattern="'[a-zA-Z0-9 \-]*'" />
					<span class="help-block no-bottom-margin">{{ i18n('m.rbs.admin.admin.block_class_help', ['ucf']) }}</span>
				</div>
			</div>

			<div class="form-group no-bottom-margin" data-ng-if="blockDefinition.defaultTTL > -1">
				<label class="control-label col-md-3">
					{{ i18n('m.rbs.admin.admin.block_ttl', ['ucf']) }}
					<small class="text-muted" title="{{ i18nAttr('m.rbs.admin.admin.default_value') }}">[ (= blockDefinition.defaultTTL =) ]</small>
				</label>
				<div class="controls col-md-9">
					<div class="form-inline">
						<div class="btn-group">
							<label class="btn btn-default" data-ng-model="block.parameters.TTL" data-uib-btn-radio="0">
								{{ i18n('m.rbs.admin.admin.block_ttl_none', ['ucf']) }}
							</label>
							<label class="btn btn-default" data-ng-model="block.parameters.TTL" data-uib-btn-radio="60"
								title="{{ i18nAttr('m.rbs.admin.admin.block_ttl_1minute', ['ucf']) }}">
								{{ i18n('m.rbs.admin.admin.block_ttl_1m', ['ucf']) }}
							</label>
							<label class="btn btn-default" data-ng-model="block.parameters.TTL" data-uib-btn-radio="600"
								title="{{ i18nAttr('m.rbs.admin.admin.block_ttl_10minutes', ['ucf']) }}">
								{{ i18n('m.rbs.admin.admin.block_ttl_10m', ['ucf']) }}
							</label>
							<label class="btn btn-default" data-ng-model="block.parameters.TTL" data-uib-btn-radio="3600"
								title="{{ i18nAttr('m.rbs.admin.admin.block_ttl_1hour', ['ucf']) }}">
								{{ i18n('m.rbs.admin.admin.block_ttl_1h', ['ucf']) }}
							</label>
						</div>
						<input type="number" data-rbs-integer="" class="form-control" data-ng-model="block.parameters.TTL" size="5" />
					</div>
				</div>
			</div>

			<div data-role="blockParametersContainer"></div>
		</div>
	</div>
{% endblock modalBody %}