<div>
	<p>{{ i18n('m.rbs.admin.admin.time_zone_selector_text') | raw }}</p>

	<div class="margin-half-bottom"><div data-rbs-form-simple-filter="" data-filter="tzFilter"></div></div>
	<p>
		<select class="form-control" style="display: block; width: 100%" size="7" data-filter="tzFilter" data-ng-model="selected.timeZone"
			data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Collection_TimeZones"
			data-ng-options="item.value as item.label for item in pxCollection"></select>
	</p>

	<div>
		<i class="icon-time icon-4x pull-left"></i>
		{{ i18n('m.rbs.admin.admin.current_time_in_selected_timezone', ['ucf']) }}
		<h4>(= formattedTz =) <span class="muted">(GMT (= tzOffset =))</span></h4>
	</div>

	<div class="form-actions">
		<div class="pull-right">
			<button type="button" class="btn btn-primary" data-ng-click="select()">
				<span data-ng-if="!saveSetting">{{ i18n('m.rbs.admin.admin.use', ['ucf']) }}</span>
				<span data-ng-if="saveSetting">{{ i18n('m.rbs.admin.admin.always_use', ['ucf']) }}</span>
			</button>
			<button type="button" class="btn btn-default" data-ng-click="cancel()">
				{{ i18n('m.rbs.admin.admin.cancel', ['ucf']) }}
			</button>
		</div>
		<label class="checkbox">
			{{ i18n('m.rbs.admin.admin.always_use_this_timezone', ['ucf']) }}
			<input type="checkbox" data-ng-model="saveSetting" />
		</label>
	</div>
</div>