<div class="alert alert-info fade in">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<div data-ng-transclude=""></div>
	<div class="clearfix" style="margin-top: 5px; padding-top: 5px; border-top: 1px dashed #BCE8F1;">
		<a href="" data-ng-click="dismissForEver()"><i class="icon-thumbs-up-alt"></i>
			{{ i18n('m.rbs.admin.admin.tip_dismiss_thank_you') }}
		</a>
	</div>
</div>