<ul class="token-list list-unstyled">
	<li draggable="true" data-ng-repeat="item in items track by item.id" data-id="(= item.id =)">
		<span class="pull-right actions">
			<i class="icon-reorder icon-large" data-ng-hide="disableReordering"
				title="{{ i18nAttr('m.rbs.admin.admin.drag_to_reorder', ['ucf']) }}"></i>
			<a data-ng-show="item.id > 0 && !openItem" href="" data-ng-href="(= item | rbsURL =)"
				title="{{ i18nAttr('m.rbs.admin.admin.picker_open', ['ucf']) }}">
				<i class="icon-circle-arrow-right icon-large"></i>
			</a>
			<a data-ng-show="openItem" href="" data-ng-click="openItem(item)"
				title="{{ i18nAttr('m.rbs.admin.admin.picker_open', ['ucf']) }}">
				<i class="icon-circle-arrow-right icon-large"></i>
			</a>
			<a data-ng-hide="readonly" href="" data-ng-click="remove($index)">
				<i class="icon-remove icon-large"></i>
			</a>
		</span>
		<span data-ng-include="getItemTemplateName(item)"></span>
	</li>
</ul>