<div data-app-document-detail-header="document" data-subtitle="(= :: document.subtitle =)"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.contribution_list', ['ucf']) }}"
	data-model-name="Project_Library_Contribution" data-block-level="secondary" data-static-filters="contributionStaticFilters"
	data-columns="contributor,year,endYear,detail,episodeCount,importance" data-allow-creation="true"
	data-content-template-url="Project_Library/views/work/work-contribution-list-content.twig"
	data-new-url-parameters="newSubDocumentUrlParameters"
	data-sort-desc="false" data-sort-property="contributor.label" data-filter-properties="contributor.label">
</div>