<div data-app-document-detail-header="document" data-subtitle="(= document.subtitle =)"></div>

<div data-ng-if="document.aliasesData"
	data-ng-init="originalAliases = (document.aliasesData | filter:{original: true});
		otherAliases = (document.aliasesData | filter:{original: false})">
	<div data-project-library-work-aliases="originalAliases"></div>
	<div data-project-library-work-aliases="otherAliases"></div>
</div>

<div class="panel panel-default" data-ng-if="document.workParts.length">
	<div class="panel-heading">
		{{ i18n('m.project.library.webapp.work_parts', ['ucf']) }}
	</div>
	<table class="table table-striped table-condensed">
		<tbody>
			<tr data-ng-repeat="workPart in document.workParts">
				<td><div data-project-library-work-link="workPart.work"></div></td>
				<td style="min-width: 40%;">(= workPart.detail =)</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt data-ng-if="document.workType">{{ i18n('m.project.library.webapp.work_type', ['ucf']) }}</dt>
					<dd data-ng-if="document.workType">(= :: document.workType =)</dd>
					<dt data-ng-if="document.year">{{ i18n('m.project.library.webapp.work_year', ['ucf']) }}</dt>
					<dd data-ng-if="document.year">
						(= :: document.year =)
						<span data-ng-if="document.endYear && document.endYear !== document.year">- (= :: document.endYear =)</span>
					</dd>
					<dt data-ng-if="document.status">{{ i18n('m.project.library.webapp.work_status', ['ucf']) }}</dt>
					<dd data-ng-if="document.status"><span data-project-library-status="document.status"></span></dd>
					<dt data-ng-if="document.originalLanguageLabel">{{ i18n('m.project.library.webapp.work_original_language', ['ucf']) }}</dt>
					<dd data-ng-if="document.originalLanguageLabel">(= :: document.originalLanguageLabel =)</dd>
					<dt data-ng-if="document.nationalities.length">{{ i18n('m.project.library.webapp.work_nationalities', ['ucf']) }}</dt>
					<dd data-ng-if="document.nationalities.length">
						<span data-ng-repeat="nationality in document.nationalitiesData" data-project-library-nationality="nationality"></span>
					</dd>
					<dt data-ng-if="document.genres.length">{{ i18n('m.project.library.webapp.work_genres', ['ucf']) }}</dt>
					<dd data-ng-if="document.genres.length">
						<span data-ng-repeat="genre in document.genres | orderBy:'label'">
							<a data-ng-href="(= :: genre|appURL =)">(= :: genre.label =)</a><span class="separator" data-ng-if="!$last">, </span>
						</span>
					</dd>

					<dt data-ng-if="document.audience">{{ i18n('m.project.library.webapp.work_audience', ['ucf']) }}</dt>
					<dd data-ng-if="document.audience">(= :: document.audienceLabel =)</dd>
					<dt data-ng-if="document.workGroups.length">{{ i18n('m.project.library.webapp.work_work_groups', ['ucf']) }}</dt>
					<dd data-ng-if="document.workGroups.length">
						<div data-ng-repeat="group in document.workGroups | orderBy:'label'">
							<div data-project-library-work-group-link="group"></div>
						</div>
					</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ i18n('m.project.library.webapp.work_contributors', ['ucf']) }}

				<div class="pull-right">
					<a href="" data-ng-href="(= :: 'Project_Library_Contribution'|appURL:'new':newSubDocumentUrlParameters =)"
						class="btn btn-default btn-icon btn-responsive btn-xs"
						title="{{ i18nAttr('m.project.familinet.webapp.action_new', ['ucf']) }}">
						<span class="glyphicon glyphicon-plus"></span>
					</a>

					<a data-ng-if="document.contributions"
						data-ng-href="(= :: 'Project_Library_Work'|appURL:'contributions':{id: document.id} =)"
						class="btn btn-default btn-icon btn-responsive btn-xs"
						title="{{ i18nAttr('m.project.familinet.webapp.action_list', ['ucf']) }}">
						<span class="glyphicon glyphicon-list"></span>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body" data-app-max-height="400" data-ng-if="document.contributions">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin">
					<dt data-ng-repeat-start="contribution in document.contributions | orderBy:'type.label'">
						(= :: contribution.type.label =)
					</dt>
					<dd data-ng-repeat-end="">
						<ul class="list-inline" data-ng-class="$last ? 'no-bottom-margin' : ''">
							<li data-ng-repeat="contributor in contribution.contributors | orderBy:'label'">
								<a href="" data-ng-href="(= :: contributor|appURL =)">(= :: contributor.label =)</a>
								<span data-ng-show="contributor.detail">((= :: contributor.detail =))</span>
								<span data-ng-repeat="nationality in contributor.nationalitiesData"
									data-project-library-nationality="nationality" data-mode="compact"></span>
							</li>
						</ul>
					</dd>
				</dl>
				<span class="clearfix"></span>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div data-project-library-links="document.links"></div>
	</div>
</div>

<div class="visuals" data-ng-if="document.visuals.length">
	<span data-ng-repeat="visual in document.visuals">
		<img class="img-thumbnail" src="" data-rbs-storage-image="visual.id" data-thumbnail="XL" />
	</span>
</div>

<div class="panel panel-default" data-ng-if="document.description.t">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.work_description', ['ucf']) }}</div>
	<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
</div>

<div class="row">
	<div class="col-md-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_publications', ['ucf']) }}"
			data-model-name="Project_Library_Publication" data-block-level="secondary"
			data-static-filters="publicationStaticFilters" data-compact="true" data-allow-creation="true"
			data-columns="publishers,year,endYear,work,volumesCount,volumesDetail,status,nationalities"
			data-content-template-url="Project_Library/views/work/work-publication-list-content.twig"
			data-new-url-parameters="newSubDocumentUrlParameters" data-full-list-url="document | appURL:'publications'"
			data-sort-desc="true" data-sort-property="year" data-filter-properties="name,publisher.label">
		</div>
	</div>

	<div class="col-md-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_possessions', ['ucf']) }}"
			data-model-name="Project_Library_Possession" data-block-level="secondary"
			data-static-filters="possessionStaticFilters" data-compact="true" data-allow-creation="true"
			data-columns="status,volumes,complete,owners,work,publication"
			data-content-template-url="Project_Library/views/work/work-possession-list-content.twig"
			data-new-url-parameters="newSubDocumentUrlParameters" data-full-list-url="document | appURL:'possessions'"
			data-sort-desc="true" data-sort-property="creationDate" data-filter-properties="none">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.reading_list', ['ucf']) }}"
			data-model-name="Project_Library_Reading" data-block-level="secondary"
			data-static-filters="readingStaticFilters" data-compact="true" data-allow-creation="false"
			data-columns="reader,volumesDetail,rating,beginDate,endDate,status"
			data-content-template-url="Project_Library/views/work/work-reading-list-content.twig" data-full-list-url="document | appURL:'readings'"
			data-sort-desc="true" data-sort-property="beginDate" data-filter-properties="none">
		</div>
	</div>

	<div class="col-md-6">
		<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_container_list', ['ucf']) }}"
			data-model-name="Project_Library_Work" data-block-level="secondary"
			data-static-filters="containerStaticFilters" data-compact="true" data-allow-creation="false"
			data-columns="reader,volumesDetail,rating,beginDate,endDate,status"
			data-content-template-url="Project_Library/views/work/work-list-content.twig"
			data-sort-desc="true" data-sort-property="beginDate" data-filter-properties="none">
		</div>
	</div>
</div>

<div data-app-document-meta=""></div>