<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small" style="width: 45px;">#</th>
			<th>{{ i18n('m.project.library.webapp.publication_label', ['ucf']) }}</th>
			<th>{{ i18n('m.project.library.webapp.publication_volumes', ['ucf']) }}</th>
			<th style="width: 95px;"><abbr title="{{ i18nAttr('m.project.library.webapp.publication_years', ['ucf']) }}">
				{{ i18n('m.project.library.webapp.publication_years_abbr', ['ucf']) }}
			</abbr></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			<td>
				<span data-project-library-publication="document"></span>
			</td>
			<td>
				(= :: document.volumesDetail =)
				<span data-project-library-status="document.status" data-mode="compact"></span>
			</td>
			<td>
				{% spaceless %}
					<span data-ng-show=":: document.year">(= :: document.year =)</span>
					<span data-ng-show=":: document.year && document.endYear && document.year !== document.endYear"> - </span>
					<span data-ng-show=":: document.endYear && document.year !== document.endYear">(= :: document.endYear =)</span>
				{% endspaceless %}
			</td>
		</tr>
	</tbody>
</table>