<div data-app-document-detail-header="document" data-subtitle="(= :: document.subtitle =)"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_possessions', ['ucf']) }}"
	data-model-name="Project_Library_Possession" data-block-level="secondary" data-static-filters="possessionStaticFilters"
	data-columns="status,volumes,complete,owners,work,publication" data-allow-creation="true"
	data-content-template-url="Project_Library/views/work/work-possession-list-content.twig"
	data-new-url-parameters="newSubDocumentUrlParameters"
	data-sort-desc="true" data-sort-property="id" data-filter-properties="work.label">
</div>