<fieldset>
		<legend>{{ i18n('m.project.library.webapp.work_aliases', ['ucf']) }}</legend>
		<table class="table inline-documents" data-app-document-inline="Project_Library_WorkAlias" data-property="aliases">
			<thead>
				<tr>
					<th style="width: 25px;">{{ i18n('m.project.library.webapp.alias_original', ['ucf']) }}</th>
					<th>{{ i18n('m.project.library.webapp.alias_label', ['ucf']) }} / {{ i18n('m.project.library.webapp.alias_subtitle', ['ucf']) }}</th>
					<th>{{ i18n('m.project.library.webapp.alias_nationalities', ['ucf']) }}</th>
					<th>{{ i18n('m.project.library.webapp.alias_comment', ['ucf']) }}</th>
					<th class="text-right th-btn th-btn-3">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.library.webapp.alias_add', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat-start="alias in document.aliases">
					<td rowspan="2">
						<input type="checkbox" class="form-control" data-ng-model="alias.original" />
					</td>
					<td>
						<input type="text" class="form-control" data-ng-model="alias.label" />
					</td>
					<td rowspan="2">
						<div data-app-document-array-selector="" data-ng-model="alias.nationalities" data-mode="options"
							data-accepted-model="Rbs_Geo_Country" data-static-filters="activeStaticFilters"></div>
					</td>
					<td rowspan="2">
						<input type="text" class="form-control" data-ng-model="alias.comment" />
					</td>
					<td rowspan="2" class="text-right">
						<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-top"></span>
						</button>
						<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
							data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
							<span class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
							title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
				<tr data-ng-repeat-end="" class="tr-sub-line">
					<td>
						<input type="text" class="form-control" data-ng-model="alias.subtitle" />
					</td>
				</tr>
			</tbody>
			<tfoot data-ng-show="document.aliases.length >= 5">
				<tr>
					<td colspan="4">
						<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
							title="{{ i18nAttr('m.project.library.webapp.alias_add', ['ucf']) }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>