{% use '@Project_Library/includes/conflicts.inc.twig' %}

{% include '@Project_Library/includes/conflict-rows/string.inc.twig' with {'name': 'label', 'labelKey': 'work_name'} %}
{% include '@Project_Library/includes/conflict-rows/string.inc.twig' with {'name': 'subtitle', 'labelKey': 'work_subtitle'} %}

{% include '@Project_Library/includes/conflict-rows/integer.inc.twig' with {'name': 'year', 'labelKey': 'work_start_publication_year'} %}
{% include '@Project_Library/includes/conflict-rows/integer.inc.twig' with {'name': 'endYear', 'labelKey': 'work_start_publication_year'} %}

{# status #}

{% include '@Project_Library/includes/conflict-rows/select-collection.inc.twig'
	with {'name': 'originalLanguage', 'labelKey': 'work_original_language', 'collectionCode': 'Project_Library_Languages'} %}

{% include '@Project_Library/includes/conflict-rows/select-collection.inc.twig'
	with {'name': 'audience', 'labelKey': 'work_audience', 'collectionCode': 'Project_Library_Audiences'} %}

{% include '@Project_Library/includes/conflict-rows/richtext.inc.twig' with {'name': 'description', 'labelKey': 'contributor_description'} %}