<div data-app-document-detail-header="document" data-subtitle="(= :: document.subtitle =)"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.reading_list', ['ucf']) }}"
	data-model-name="Project_Library_Reading" data-block-level="secondary" data-static-filters="readingStaticFilters"
	data-columns="reader,volumesDetail,rating,beginDate,endDate,status" data-allow-creation="false"
	data-content-template-url="Project_Library/views/work/work-reading-list-content.twig"
	data-sort-desc="true" data-sort-property="beginDate" data-new-url-parameters="newSubDocumentUrlParameters">
</div>