<div data-app-document-editor="" data-model="Project_Library_Work" data-confirmation-on-save="true">
	<div class="panel panel-info" data-ng-if="recent_add.length">
		<div class="panel-heading">{{ i18n('m.project.library.webapp.last_added_documents', ['ucf']) }}</div>
		<div class="panel-body">
			<ul class="no-bottom-margin">
				<li data-ng-repeat="doc in recent_add">
					<a href="" data-ng-href="(= :: doc|appURL =)" class="alert-link">(= :: doc.label =)</a>
					<a href="javascript:" data-ng-href="(= :: doc|appURL =)" onclick="window.open(this.href); return false;"
						title="{{ i18nAttr('m.project.familinet.webapp.open_link_in_new_tab', ['ucf']) }}">
						<span class="glyphicon glyphicon-new-window"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="page-header">
		<h1>{{ i18n('m.project.familinet.webapp.creation', ['ucf']) }} <small>(= document.label =)</small></h1>
	</div>

	<form name="form" class="form-horizontal" data-ng-submit="submit()" data-project-library-work-new="">
		<div class="panel panel-default">
			<div class="panel-heading">{{ i18n('m.project.library.webapp.import_from_external_website', ['ucf']) }}</div>
			<div class="panel-body">
				<div data-app-field="" data-label="{{ i18nAttr('m.project.library.webapp.url', ['ucf']) }}">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="http://..." data-ng-model="importManager.url">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" data-ng-click="importManager.import()"
								data-ng-disabled="!importManager.url || importManager.importing">
								{{ i18n('m.project.library.webapp.import', ['ucf']) }}
							</button>
						</span>
					</div>
					<ul class="list-inline list-inline-responsive no-bottom-margin" data-ng-if="importManager.websites.length">
						<li><strong>{{ i18n('m.project.library.webapp.handled_websites', ['ucf', 'lab']) }}</strong></li>
						<li data-ng-repeat="website in importManager.websites">
							<img data-ng-if="website.icon" data-ng-src="(= :: website.icon =)" width="16" height="16" alt=""/>
							<a data-ng-href="(= :: website.url =)" target="_blank">(= :: website.label =)</a>
							<dfn class="" data-ng-show="website.minimal" title="{{ i18nAttr('m.project.library.webapp.minimal_handling', ['ucf']) }}">*</dfn>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<fieldset>
			<legend>{{ i18n('m.project.library.webapp.work', ['ucf']) }}</legend>
			<div class="row" data-ng-if="works && works.pagination.count > 0">
				<div class="col-lg-3"></div>
				<div class="col-lg-9">
					<div class="alert alert-warning">
						<span data-ng-repeat="w in works.resources" style="margin-right: 15px">
							<span data-project-library-work-link="w" data-remove-button="true"></span>
						</span>
						<span data-ng-if="works.pagination.count > works.pagination.limit" class="label label-info">... (= works.pagination.count - works.pagination.limit =) {{ i18n('m.project.library.webapp.other_results') }}</span>
					</div>
				</div>
			</div>
			<div data-app-field-text="" data-property="label" data-required="true"
				data-label="{{ i18nAttr('m.project.library.webapp.work_name', ['ucf']) }}">
			</div>
			<div data-app-field-text="" data-property="subtitle"
				data-label="{{ i18nAttr('m.project.library.webapp.work_subtitle', ['ucf']) }}">
			</div>
			<div data-app-field-document-array="" data-property="workGroups" data-handle-persist="true"
				data-accepted-model="Project_Library_WorkGroup" data-allow-creation="true"
				data-label="{{ i18nAttr('m.project.library.webapp.work_group', ['ucf']) }}">
			</div>
			<div data-app-field-integer="" data-property="year" data-handle-persist="true"
				data-label="{{ i18nAttr('m.project.library.webapp.work_start_publication_year', ['ucf']) }}">
			</div>
			<div data-app-field-integer="" data-property="endYear" data-handle-persist="true"
				data-label="{{ i18nAttr('m.project.library.webapp.work_end_publication_year', ['ucf']) }}">
			</div>
			<div data-app-field-document-select="" data-property="status" data-handle-persist="true"
				data-accepted-model="Project_Library_WorkStatus" data-label="{{ i18nAttr('m.project.library.webapp.work_status', ['ucf']) }}">
			</div>
			<div data-app-field="" data-property="originalLanguage" data-handle-persist="true"
				data-label="{{ i18nAttr('m.project.library.webapp.work_original_language', ['ucf']) }}">
				<select class="form-control typology-selector" data-ng-model="document.originalLanguage"
					data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Languages"
					data-ng-options="item.value as item.label for item in pxCollection">
					<option value=""></option>
				</select>
			</div>
			<div data-app-field-document-array="" data-property="nationalities" data-handle-persist="true" data-mode="options"
				data-accepted-model="Rbs_Geo_Country" data-static-filters="activeStaticFilters"
				data-label="{{ i18nAttr('m.project.library.webapp.work_nationalities', ['ucf']) }}">
			</div>
			<div data-app-field-document-array="" data-property="genres" data-handle-persist="true"
				data-accepted-model="Project_Library_Genre" data-mode="options" data-allow-creation="true"
				data-label="{{ i18nAttr('m.project.library.webapp.work_genres', ['ucf']) }}">
			</div>
			<div data-app-field="" data-property="audience" data-handle-persist="true"
				 data-label="{{ i18nAttr('m.project.library.webapp.work_audience', ['ucf']) }}">
				<select class="form-control typology-selector" data-ng-model="document.audience"
					data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Audiences"
					data-ng-options="item.value as item.label for item in pxCollection">
					<option value=""></option>
				</select>
			</div>
			<div data-app-field-rich-text="" data-property="description" data-handle-persist="true"
				data-label="{{ i18nAttr('m.project.library.webapp.work_description', ['ucf']) }}">
			</div>
			<div data-app-document-persisted-attributes-input="document" data-context="mass" data-persist="persist"></div>
		</fieldset>

		<div data-ng-include="'Project_Library/views/work/work-form-aliases.twig'"></div>
		<div data-ng-include="'Project_Library/views/work/work-form-parts.twig'"></div>

		<div data-project-library-links-editor="" data-model-name="Project_Library_WorkLink" data-document="document"></div>

		<fieldset>
			<legend>
				{{ i18n('m.project.library.webapp.contribution_list', ['ucf']) }}
			</legend>
			<table class="table inline-documents">
				<thead>
					<tr>
						<th></th>
						<th>{{ i18n('m.project.library.webapp.contribution_contributor', ['ucf']) }}</th>
						<th>{{ i18n('m.project.library.webapp.contribution_types', ['ucf']) }}</th>
						<th>{{ i18n('m.project.library.webapp.contribution_detail', ['ucf']) }}</th>
						<th class="text-right th-btn th-btn-3">
							<button type="button" data-ng-click="addContribution()" class="btn btn-default btn-responsive btn-sm"
								title="{{ i18nAttr('m.project.library.webapp.contribution_add', ['ucf']) }}">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="contribution in contributions">
						<td>
							<input type="checkbox" class="form-control" data-ng-model="persist.contributions[$index]"
								title="{{ i18nAttr('m.project.familinet.webapp.handle_persist', ['ucf']) }}" />
						</td>
						<td>
							<div data-app-document-selector="" data-ng-model="contribution.contributor"
								data-allow-creation="true" data-accepted-model="Project_Library_Contributor"></div>
						</td>
						<td>
							<div data-app-document-array-selector="" data-ng-model="contribution.contributionTypes"
								data-accepted-model="Project_Library_ContributionType" data-mode="options" data-allow-creation="true">
							</div>
						</td>
						<td>
							<input type="text" class="form-control" data-ng-model="contribution.detail" />
						</td>
						<td class="text-right">
							<button type="button" data-ng-click="removeContribution($index)" class="btn btn-danger btn-icon"
								title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot data-ng-show="contributions.length >= 5">
					<tr>
						<td colspan="5">
							<button type="button" data-ng-click="addContribution()" class="btn btn-default btn-responsive btn-sm"
								title="{{ i18nAttr('m.project.library.webapp.contribution_add', ['ucf']) }}">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</td>
					</tr>
				</tfoot>
			</table>
		</fieldset>

		<fieldset>
			<legend data-ng-click="configuration.createPublication = !configuration.createPublication">
				<span class="glyphicon" data-ng-class="{
						'glyphicon-unchecked': !configuration.createPublication,
						'glyphicon-check': configuration.createPublication
					}"></span>
				{{ i18n('m.project.library.webapp.publication', ['ucf']) }}
			</legend>
			<div data-ng-if="configuration.createPublication">
				<div data-app-field-text="" data-property="publication.name" data-handle-persist="true"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_name', ['ucf']) }}">
				</div>
				<div data-app-field-document-array="" data-property="publication.publishers" data-handle-persist="true"
					data-accepted-model="Project_Library_Publisher" data-allow-creation="true"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_publishers', ['ucf']) }}">
				</div>
				<div data-app-field="" data-property="publication.collection" data-handle-persist="true"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_collection', ['ucf']) }}">
					<select class="form-control" data-ng-model="publication.collection" data-ng-disabled="!pxCollection.length"
						data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Collections"
						data-collection-params="publisher:(= (publication.publishers | appDocumentIds).join(',') =)"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value=""></option>
					</select>
				</div>
				<div data-app-field-text="" data-property="publication.year" data-handle-persist="true"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_start_year', ['ucf']) }}">
				</div>
				<div data-app-field-integer="" data-property="publication.endYear" data-handle-persist="true"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_end_year', ['ucf']) }}">
				</div>
				<div data-app-field-document-array="" data-property="publication.nationalities" data-handle-persist="true"
					data-accepted-model="Rbs_Geo_Country" data-mode="options" data-static-filters="activeStaticFilters"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_nationalities', ['ucf']) }}">
				</div>
				<div data-app-field-rich-text="" data-property="publication.description" data-handle-persist="true"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_description', ['ucf']) }}">
				</div>
				<div data-app-field-boolean="" data-property="publication.oneShot" data-handle-persist="true"
					data-label="{{ i18nAttr('m.project.library.webapp.publication_one_shot', ['ucf']) }}">
				</div>
				<div data-ng-if="!publication.oneShot">
					<div data-app-field="" data-handle-persist="true" data-property="publication.volumesDetail"
						data-label="{{ i18nAttr('m.project.library.webapp.publication_volumes_detail', ['ucf']) }}">
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="publication.volumesDetail">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" data-ng-click="generateVolumes()"
									data-ng-disabled="!publication.volumesDetail">
									{{ i18n('m.project.library.webapp.action_generate_volumes', ['ucf']) }}
								</button>
							</span>
						</div>
					</div>
					<div data-app-field-document-select="" data-property="publication.status" data-handle-persist="true"
						data-accepted-model="Project_Library_WorkStatus" data-label="{{ i18nAttr('m.project.library.webapp.publication_status', ['ucf']) }}">
					</div>
					<fieldset>
						<legend data-ng-click="configuration.createVolumes = !configuration.createVolumes">
							<span class="glyphicon" data-ng-class="{
									'glyphicon-unchecked': !configuration.createVolumes,
									'glyphicon-check': configuration.createVolumes
								}"></span>
							{{ i18n('m.project.library.webapp.publication_volumes', ['ucf']) }}
						</legend>
						<table class="table inline-documents" data-ng-show="configuration.createVolumes">
							<thead>
								<tr>
									<th>{{ i18n('m.project.library.webapp.publication_volume_number', ['ucf']) }}</th>
									<th>{{ i18n('m.project.library.webapp.publication_volume_label', ['ucf']) }}</th>
									<th style="width: 100px;">
										<input type="checkbox" data-ng-click="configuration.allVolumesOwned = !configuration.allVolumesOwned" />
										{{ i18n('m.project.library.webapp.publication_volume_owned', ['ucf']) }}
									</th>
									<th class="text-right th-btn" style="width: 75px;">
										<button type="button" data-ng-click="addVolume()" class="btn btn-default btn-responsive btn-sm"
											title="{{ i18nAttr('m.project.library.webapp.possession_detail_add', ['ucf']) }}">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="volume in volumes">
									<td>
										<input type="text" class="form-control" data-ng-model="volume.number" />
									</td>
									<td>
										<input type="text" class="form-control" data-ng-model="volume.label" />
									</td>
									<td>
										<input type="checkbox" class="form-control" data-ng-model="volume.owned" />
									</td>
									<td class="text-right">
										<button type="button" data-ng-click="removeVolume($index)" class="btn btn-danger btn-icon"
											title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</td>
								</tr>
							</tbody>
							<tfoot data-ng-show="volumes.length >= 5">
								<tr>
									<td colspan="4">
										<button type="button" data-ng-click="addVolume()" class="btn btn-default btn-responsive btn-sm"
											title="{{ i18nAttr('m.project.library.webapp.possession_detail_add', ['ucf']) }}">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</fieldset>
				</div>
				<fieldset>
					<legend>{{ i18n('m.project.library.webapp.publication_languages', ['ucf']) }}</legend>
					<div data-project-library-language-function-selector="publication.languagesSelection" data-ready="isDocumentReady"></div>
				</fieldset>
				<div data-app-document-persisted-attributes-input="publication" data-context="mass"
					data-document-name="publication" data-persist="persist"></div>
			</div>
		</fieldset>

		<fieldset>
			<legend data-ng-click="configuration.createPossession = !configuration.createPossession">
				<span class="glyphicon" data-ng-class="{
						'glyphicon-unchecked': !configuration.createPossession,
						'glyphicon-check': configuration.createPossession
					}"></span>
				{{ i18n('m.project.library.webapp.possession', ['ucf']) }}
			</legend>
			<div data-ng-if="configuration.createPossession">
				<div data-app-field-document-array="" data-property="possession.owners" data-handle-persist="true"
					data-required="true" data-accepted-model="Rbs_User_User" data-mode="options"
					data-label="{{ i18nAttr('m.project.library.webapp.possession_owners', ['ucf']) }}">
				</div>
				<div data-app-field-document-select="" data-property="possession.status" data-handle-persist="true"
					data-accepted-model="Project_Library_PossessionStatus" data-label="{{ i18nAttr('m.project.library.webapp.possession_status', ['ucf']) }}">
				</div>
				<div data-app-field-boolean="" data-property="possession.complete" data-handle-persist="true"
					data-label="{{ i18nAttr('m.project.library.webapp.possession_complete', ['ucf']) }}">
				</div>
				<div data-app-field-text="" data-property="description.possession"
					data-ng-show="!configuration.createPublication || !configuration.createVolumes"
					data-label="{{ i18nAttr('m.project.library.webapp.possession_details', ['ucf']) }}">
				</div>
				<div data-app-document-persisted-attributes-input="possession" data-context="mass"
					data-document-name="possession" data-persist="persist"></div>
			</div>
		</fieldset>

		<div data-app-document-editor-footer=""></div>
	</form>
</div>