<fieldset>
	<legend>{{ i18n('m.project.library.webapp.work_parts', ['ucf']) }}</legend>
	<table class="table inline-documents" data-app-document-inline="Project_Library_WorkPart" data-property="workParts">
		<thead>
			<tr>
				<th>{{ i18n('m.project.library.webapp.workPart_work', ['ucf']) }}</th>
				<th style="min-width: 40%;">{{ i18n('m.project.library.webapp.workPart_detail', ['ucf']) }}</th>
				<th class="text-right th-btn th-btn-3">
					<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
						title="{{ i18nAttr('m.project.library.webapp.workPart_add', ['ucf']) }}">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="workPart in document.workParts">
				<td>
					<div data-app-document-selector="" data-ng-model="workPart.work" data-allow-creation="true"
						data-accepted-model="Project_Library_Work"></div>
				</td>
				<td>
					<input type="text" class="form-control" data-ng-model="workPart.detail" />
				</td>
				<td class="text-right">
					<button type="button" data-ng-click="moveUpInlineItem($index)" class="btn btn-default btn-icon"
						data-ng-disabled="$first" title="{{ i18nAttr('m.project.familinet.webapp.action_move_up', ['ucf']) }}">
						<span class="glyphicon glyphicon-triangle-top"></span>
					</button>
					<button type="button" data-ng-click="moveDownInlineItem($index)" class="btn btn-default btn-icon"
						data-ng-disabled="$last" title="{{ i18nAttr('m.project.familinet.webapp.action_move_down', ['ucf']) }}">
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</button>
					<button type="button" data-ng-click="deleteInlineItem($index)" class="btn btn-danger btn-icon"
						title="{{ i18nAttr('m.project.familinet.webapp.action_delete', ['ucf']) }}">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot data-ng-show="document.workParts.length >= 5">
			<tr>
				<td colspan="4">
					<button type="button" data-ng-click="addInlineItem()" class="btn btn-default btn-responsive btn-sm"
						title="{{ i18nAttr('m.project.library.webapp.workPart_add', ['ucf']) }}">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
			</tr>
		</tfoot>
	</table>
</fieldset>