<div data-app-document-detail-header="document" data-subtitle="(= :: document.subtitle =)"></div>

<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_publications', ['ucf']) }}"
	data-model-name="Project_Library_Publication" data-block-level="secondary" data-static-filters="publicationStaticFilters"
	data-columns="publishers,year,endYear,works,volumesCount,volumesDetail,status,nationalities" data-allow-creation="true"
	data-content-template-url="Project_Library/views/work/work-publication-list-content.twig"
	data-sort-desc="true" data-sort-property="year" data-new-url-parameters="newSubDocumentUrlParameters">
</div>