<div data-app-document-editor="" data-model="Project_Library_Work">
	<div class="page-header">
		<h1>{{ i18n('m.project.familinet.webapp.edition', ['ucf']) }} <small>(= document.label =)</small></h1>
	</div>

	<form class="form-horizontal" data-ng-submit="submit()" data-app-document-edit="">
		<div data-project-library-import-form="" data-type="work"
			data-conflicts-template="Project_Library/views/work/work-conflicts.twig"></div>

		<fieldset data-app-document-editor-section="">
			<fieldset>
				<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
				<div data-app-field-text="" data-property="label"
					data-label="{{ i18nAttr('m.project.library.webapp.work_name', ['ucf']) }}">
				</div>
				<div data-app-field-text="" data-property="subtitle"
					data-label="{{ i18nAttr('m.project.library.webapp.work_subtitle', ['ucf']) }}">
				</div>
				<div data-app-field-document-array="" data-property="workGroups" data-accepted-model="Project_Library_WorkGroup"
					data-label="{{ i18nAttr('m.project.library.webapp.work_work_groups', ['ucf']) }}" data-allow-creation="true">
				</div>
				<div data-app-field-integer="" data-property="year"
					data-label="{{ i18nAttr('m.project.library.webapp.work_start_publication_year', ['ucf']) }}">
				</div>
				<div data-app-field-integer="" data-property="endYear"
					data-label="{{ i18nAttr('m.project.library.webapp.work_end_publication_year', ['ucf']) }}">
				</div>
				<div data-app-field-document-select="" data-property="status" data-accepted-model="Project_Library_WorkStatus"
					data-mode="options" data-label="{{ i18nAttr('m.project.library.webapp.work_status', ['ucf']) }}">
				</div>
				<div data-app-field="" data-label="{{ i18nAttr('m.project.library.webapp.work_original_language', ['ucf']) }}">
					<select class="form-control typology-selector" data-ng-model="document.originalLanguage"
						data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Languages"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value=""></option>
					</select>
				</div>
				<div data-app-field-document-array="" data-property="nationalities" data-accepted-model="Rbs_Geo_Country"
					data-mode="options" data-static-filters="activeStaticFilters"
					data-label="{{ i18nAttr('m.project.library.webapp.work_nationalities', ['ucf']) }}">
				</div>
				<div data-app-field-document-array="" data-property="genres" data-accepted-model="Project_Library_Genre"
					data-mode="options" data-allow-creation="true" data-label="{{ i18nAttr('m.project.library.webapp.work_genres', ['ucf']) }}">
				</div>
				<div data-app-field="" data-label="{{ i18nAttr('m.project.library.webapp.work_audience', ['ucf']) }}">
					<select class="form-control typology-selector" data-ng-model="document.audience"
						data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_Audiences"
						data-ng-options="item.value as item.label for item in pxCollection">
						<option value=""></option>
					</select>
				</div>
				<div data-app-field-rich-text="" data-property="description"
					data-label="{{ i18nAttr('m.project.library.webapp.work_description', ['ucf']) }}">
				</div>
				<div data-app-document-attributes-input="document"></div>
			</fieldset>
			<div data-ng-include="'Project_Library/views/work/work-form-aliases.twig'"></div>
			<div data-ng-include="'Project_Library/views/work/work-form-parts.twig'"></div>
			<div data-project-library-links-editor="" data-model-name="Project_Library_WorkLink" data-document="document"></div>
		</fieldset>

		<div data-app-document-editor-footer="" data-disable-new-from="true"></div>
	</form>
</div>