<table data-app-document-list-content="">
	<thead>
		<tr>
			<th data-app-sortable-column="id" style="width: 40px;">#</th>
			<th class="table-column-small"></th>
			<th>{{ i18n('m.project.library.webapp.possession_owners', ['ucf']) }}</th>
			<th>{{ i18n('m.project.library.webapp.possession_volumes', ['ucf']) }}</th>
			<th data-app-sortable-column="status.label" style="width: 110px;">{{ i18n('m.project.library.webapp.possession_status', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			{% include '@Project_Library/includes/document-buttons-td.inc.twig' %}
			<td><span data-project-library-user-links="document.owners"></span></td>
			<td>
				<small class="nowrap">
					(= :: document.volumesLabel =)
					<span class="glyphicon glyphicon-ok text-success" title="Complet" data-ng-show="document.complete"></span>
				</small>
			</td>
			<td>
				<small data-ng-if="document.loanOngoingStatus">
					<span data-project-library-status="document.loanOngoingStatus" data-mode="responsive"></span>
				</small>
				<small data-ng-if="!document.loanOngoingStatus">
					<span data-project-library-status="document.status" data-mode="responsive"></span>
				</small>
			</td>
		</tr>
	</tbody>
</table>