<div data-app-document-list="" data-list-title="{{ i18nAttr('m.project.library.webapp.work_list', ['ucf']) }}" data-allow-creation="true"
	data-model-name="Project_Library_Work" data-content-template-url="Project_Library/views/work/work-list-content.twig"
	data-filter-properties="indexedAliases">
</div>