<table data-app-document-list-content="">
	<thead>
		<tr>
			<th class="table-column-small">#</th>
			<th class="table-column-small"></th>
			<th>{{ i18n('m.project.library.webapp.reading_reader', ['ucf']) }}</th>
			<th>{{ i18n('m.project.library.webapp.reading_volumes', ['ucf']) }}</th>
			<th data-app-sortable-column="rating" style="width: 70px;">{{ i18n('m.project.library.webapp.reading_rating', ['ucf']) }}</th>
			<th data-app-sortable-column="beginDate" style="width: 180px;">{{ i18n('m.project.library.webapp.reading_dates', ['ucf']) }}</th>
			<th data-app-sortable-column="status.label" style="width: 120px;">{{ i18n('m.project.library.webapp.reading_status', ['ucf']) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="document in list.documents">
			<td>(= :: pagination.offset + $index + 1 =)</td>
			{% include '@Project_Library/includes/document-buttons-td.inc.twig' %}
			<td><span data-project-library-user-link="document.reader"></span></td>
			<td><small data-ng-show="document.volumesLabel">(= :: document.volumesLabel =)</small></td>
			<td><span data-app-star-rating="document.rating" data-scale="10" data-mode="compact"></span></td>
			<td>
				<small class="nowrap">
					<span data-ng-if="document.beginDate">(= :: document.beginDate|appDate =)</span>
					<span data-ng-if="document.beginDate && document.endDate && document.beginDate != document.endDate">-</span>
					<span data-ng-if="document.endDate && document.beginDate != document.endDate">(= :: document.endDate|appDate =)</span>
				</small>
			</td>
			<td>
				<span data-project-library-status="document.status" data-mode="responsive"></span>
			</td>
		</tr>
	</tbody>
</table>