<div class="row" data-ng-controller="Rbs_Tag_Tag_TagsController">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.tag.admin.tag_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter" model="Rbs_Tag_Tag"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list model="Rbs_Tag_Tag" filter-collection="filter">
			<rbs-column name="label" primary="true">
				<a href data-ng-href="(= doc | rbsURL =)"><span data-rbs-tag="doc"></span></a>
				<span data-ng-if="doc.children.length > 0" class="badge" title="">(= doc.children.length | number =)</span>
			</rbs-column>

			<rbs-column name="color" align="center" width="160px">
				<rbs-tag-color-selector ng-model="doc.color" ng-change="save(doc)"></rbs-tag-color-selector>
			</rbs-column>

			<rbs-column name="module" converter-params="modules" converter="collection"></rbs-column>

			<rbs-preview>
				<span data-ng-pluralize="" data-count="doc.children.length" data-when="{0: '{{ i18nAttr('m.rbs.tag.admin.tag_no_child_tag') }}',
					one: '{{ i18nAttr('m.rbs.tag.admin.tag_child_tag') }}',
					other: '{{ i18nAttr('m.rbs.tag.admin.tag_child_tags') }}'}"></span>
				<span data-ng-repeat="tag in doc.children"><a href data-ng-href="(= tag | rbsURL:'tree' =)">
						<span data-rbs-tag="tag"></span></a>
				</span>
			</rbs-preview>
		</rbs-document-list>
	</div>
</div>