<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()" aria-label="{{ i18nAttr('m.rbs.ua.common.close', ['ucf']) }}">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		{{ i18n('m.rbs.seo.ua.document_sitemap_modal_title', ['ucf'], {'documentName': '(= modalData.detail.common.label =)'}) | raw }}
	</h4>
</div>
<div class="modal-body" data-ng-show="modalData.errorMessage">
	<div class="alert alert-danger text-center no-bottom-margin">
		(= modalData.errorMessage =)
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.loadingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.loading', ['ucf', 'etc']) }}
	</div>
</div>
<div class="modal-body" data-ng-show="modalData.savingData && !modalData.errorMessage">
	<div class="text-center">
		<span class="icon-spinner icon-spin"></span> {{ i18n('m.rbs.ua.common.saving', ['ucf', 'etc']) }}
	</div>
</div>
<div data-ng-hide="modalData.loadingData || modalData.savingData">
	<div class="modal-body">
		<form class="form-horizontal" name="documentSitemapForm">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_frequency', ['ucf']) }}">
				<select class="form-control" data-ng-model="modalData.detail.data.frequency"
					data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Seo_Collection_SitemapChangeFrequency"
					data-ng-options="item.value as item.label for item in pxCollection">
					<option value=""></option>
				</select>
				<span class="help-block">
					{{ i18n('m.rbs.seo.ua.default_value_if_empty', ['ucf', 'lab']) }} <strong>(= modalData.detail.modelData.frequency =)</strong>
				</span>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_priority', ['ucf']) }}"
				data-ng-class="{'has-error': documentSitemapForm['priority'].$invalid}">
				<input type="number" name="priority" class="form-control" data-ng-model="modalData.detail.data.priority" min="0.0" max="1.0" />
				<span class="help-block">
					{{ i18n('m.rbs.seo.ua.default_value_if_empty', ['ucf', 'lab']) }} <strong>(= modalData.detail.modelData.priority =)</strong>
				</span>
			</div>
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_website_exclusion', ['ucf']) }}">
				<table class="table table-striped table-bordered no-bottom-margin">
					<thead>
						<tr>
							<th>{{ i18n('m.rbs.seo.ua.property_website', ['ucf']) }}</th>
							<th>{{ i18n('m.rbs.seo.ua.exclude', ['ucf']) }}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="website in modalData.websiteExclusions">
							<td>(= website.label =)</td>
							<td>
								<input type="checkbox" data-ng-model="website.excluded" data-ng-value="true" />
							</td>
						</tr>
					</tbody>
				</table>
				<span class="help-block">{{ i18n('m.rbs.seo.ua.property_website_exclusion_description', ['ucf']) }}</span>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="cancel()">{{ i18n('m.rbs.ua.common.cancel', ['ucf']) }}</button>
		<button type="button" class="btn btn-primary" data-ng-disabled="documentSitemapForm.$invalid" data-ng-click="save()">
			{{ i18n('m.rbs.ua.common.save', ['ucf']) }}
		</button>
	</div>
</div>