<div data-ng-controller="ProximisSeoDocumentSitemapListController">
	<div data-ng-controller="ProximisCollectionController" data-collection-code="Rbs_Theme_WebsiteIds" data-variable-name="globalData.websites"></div>

	<div data-px-page-header="" data-title="{{ i18nAttr('m.rbs.seo.ua.document_sitemap_list', ['ucf']) }}"></div>
	<div data-px-filters="filter" data-options="globalData" data-static-filter-methods="staticFilterMethods">
		<div data-px-static-filter="none">
			{% block filterModel %}
				<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_model', ['ucf']) }}">
					<select class="form-control" data-ng-model="options.restParams.model" data-px-field=""
						data-ng-options="m.name as m.label group by m.pluginLabel for m in options.models">
					</select>
				</div>
			{% endblock filterModel %}
		</div>
		<div data-px-static-filter="label" data-label="{{ i18nAttr('m.rbs.seo.ua.filter_label', ['ucf']) }}">
			<div data-px-label="{{ i18nAttr('m.rbs.seo.ua.property_label', ['ucf']) }}">
				<input type="text" class="form-control" data-ng-model="filter.parameters.label" data-px-field="" />
			</div>
			{{ block('filterModel') }}
		</div>
	</div>

	<div data-ng-if="globalData.restParams.model">
		<div data-px-ua-entity-list="" data-rest-service="Rbs_Seo_DocumentSitemap.list" data-rest-params="globalData.restParams"
			data-filter="true" data-action-methods="actionMethods">
			<div data-px-list-column="common.label" data-sort="label" data-label="{{ i18nAttr('m.rbs.seo.ua.property_label', ['ucf']) }}"></div>
			<div data-px-list-column="actions" data-label="{{ i18nAttr('m.rbs.ua.common.actions', ['ucf']) }}" class="column-actions">
				<button type="button" class="btn btn-default" data-ng-click="actionMethods.open(doc)">
					<span class="icon-pencil"></span> {{ i18n('m.rbs.ua.common.edit', ['ucf']) }}
				</button>
			</div>
		</div>
	</div>
</div>