<rbs-field-label-title property="title" required="true"
	label="{{ i18nAttr(propertyKey('Rbs_Generic_Typology', 'label'), ['ucf']) }} / {{ i18nAttr(propertyKey('Rbs_Generic_Typology', 'title'), ['ucf']) }}">
</rbs-field-label-title>

<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Generic_Typology', 'modelName'), ['ucf']) }}" required="true">
	<rbs-model-selector ng-if="document.isNew()" filter="{abstract: false, editable: true, inline: false}"
		class="form-control" model="document.modelName"></rbs-model-selector>
	<p data-ng-if="!document.isNew()"  class="form-control-static">(= modelLabel =) <small class="text-muted">(= document.modelName =)</small></p>
</rbs-field>

<rbs-field-text property="name" label="{{ i18nAttr(propertyKey('Rbs_Generic_Typology', 'name'), ['ucf']) }}">
</rbs-field-text>