{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		<label class="radio-inline">
			<input name="{{ fieldName }}" id="{{ fieldId }}" type="radio" value="true"
				{%- if fieldInfos.value == 'true' %} checked="checked"{% endif %} /> {{ i18n('m.rbs.generic.front.yes') }}
		</label>
		<label class="radio-inline">
			<input name="{{ fieldName }}" id="{{ fieldId }}_no" type="radio" value="false"
				{%- if fieldInfos.value == 'false' %} checked="checked"{% endif %} /> {{ i18n('m.rbs.generic.front.no') }}
		</label>
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>