{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		{% for item in collectionItems(fieldInfos.field.parameters.collectionCode) %}
			<div class="radio">
				<label>
					<input type="radio" name="{{ fieldName }}" id="{{ fieldId }}_{{ item.value }}" value="{{ item.value }}"
						{%- if fieldInfos.value == item.value %} checked="checked"{% endif %} />
					{{- item.title }}
				</label>
			</div>
		{% endfor %}
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>