{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		<select name="{{ fieldName }}" id="{{ fieldId }}" class="form-control">
			{% for item in collectionItems(fieldInfos.field.parameters.collectionCode) %}
				<option	value="{{ item.value }}"
					{%- if fieldInfos.value == item.value %} selected="selected"{% endif %}>{{ item.title }}</option>
			{% endfor %}
		</select>
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>