{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		{% for item in collectionItems(fieldInfos.field.parameters.collectionCode) %}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="{{ fieldName }}[]" id="{{ fieldId }}_{{ item.value }}" value="{{ item.value }}"
						{%- if item.value in fieldInfos.value %} checked="checked"{% endif %}>
					{{- item.title }}
				</label>
			</div>
		{% endfor %}
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>