{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		<input class="form-control" type="number" step="any" name="{{ fieldName }}" id="{{ fieldId }}" value="{{ fieldInfos.value }}"
			{%- if fieldInfos.field.required %} required=""{% endif -%}
			{%- if fieldInfos.field.parameters.placeHolder %} placeholder="{{ fieldInfos.field.parameters.placeHolder }}"{% endif %} />
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>
