{% use 'Rbs_Simpleform/form-templates.twig' %}

<div class="form-group{{ errorClassName }}">
	{{ block('rbsSimpleformDefaultLabel') }}
	<div class="{{ rightColumnElementClass }}">
		<textarea class="form-control" name="{{ fieldName }}" id="{{ fieldId }}" value="{{ fieldInfos.value }}"
			cols="50" rows="{{ fieldInfos.field.parameters.lineCount }}"
			autocorrect="{% if fieldInfos.field.parameters.autoCorrect %}on{% else %}off{% endif %}"
			autocapitalize="{{ fieldInfos.field.parameters.autoCapitalize }}"
			{%- if fieldInfos.field.required %} required="required"{% endif -%}
			{%- if fieldInfos.field.parameters.placeHolder %} placeholder="{{ fieldInfos.field.parameters.placeHolder }}"{% endif %}>{{ fieldInfos.value }}</textarea>
		{{ block('rbsSimpleformDefaultErrorMessages') }}
		{{ block('rbsSimpleformDefaultHelpText') }}
	</div>
</div>