<div class="row" data-rbs-document-editor-base="" data-model="Project_Library_WorkGroup">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Project_Library_WorkGroup'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-project-library-work-group-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				{% include '@Project_Library/Documents/WorkGroup/properties.twig' %}
			</fieldset>

			<fieldset data-rbs-editor-section="aliases"
				data-editor-section-label="{{ i18nAttr(propertyKey('Project_Library_WorkGroup', 'aliases'), ['ucf']) }}">
				<rbs-inline-array inline-array="document.aliases" new-model="Project_Library_WorkGroupAlias">
				</rbs-inline-array>
			</fieldset>

			<fieldset data-rbs-editor-section="links"
				data-editor-section-label="{{ i18nAttr(propertyKey('Project_Library_WorkGroup', 'links'), ['ucf']) }}">
				<rbs-inline-array inline-array="document.links" new-model="Project_Library_WorkGroupLink">
				</rbs-inline-array>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>