<rbs-field-text property="label" required="true"
	label="{{ i18nAttr(propertyKey('Project_Library_WorkGroup', 'label'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-rich-text property="description"
	label="{{ i18nAttr(propertyKey('Project_Library_WorkGroup', 'description'), ['ucf']) }}">
</rbs-field-rich-text>