{% macro paramContainerBegin(param, inputId, blockLabel, isLast) %}
	<div class="form-group{% if isLast %} no-bottom-margin{% endif %}" data-ng-hide="hiddenParams.{{ param.name }}">
		<label class="control-label col-md-3" for="{{ inputId }}">
			{{ param.label }}
			{% if (not (param.defaultValue is null)) and not param.collectionCode %}
				{# TODO: handle collection case. #}
				<small class="text-muted" title="{{ i18nAttr('m.rbs.admin.admin.default_value') }}">[
					{% if param.type == 'Boolean' %}
						(= "{{ param.defaultValue }}" | rbsBoolean =)
					{% else %}
						{{ param.defaultValue }}
					{% endif %}
				]</small>
			{% endif %}
		</label>
		<div class="controls col-md-9">
{% endmacro %}

{% macro paramContent(param, inputId, blockLabel, isLast) %}
	{% if param.collectionCode %}
		<select id="{{ inputId }}" name="{{ param.name }}" data-ng-model="blockParameters.{{ param.name }}" class="form-control"
			data-ng-controller="RbsCollectionController" data-collection-code="{{ param.collectionCode }}"
			data-variable-name="options{{ inputId }}" data-ng-options="item.value as item.label for item in options{{ inputId }}"></select>
	{% elseif param.type == 'Boolean' %}
		<rbs-switch id="{{ inputId }}" ng-model="blockParameters.{{ param.name }}"></rbs-switch>
	{% elseif param.type == 'Integer' %}
		<input type="number" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}"
			name="{{ param.name }}" data-ng-model="blockParameters.{{ param.name }}" />
	{% elseif param.type == 'String' %}
		<input type="text" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}"
			name="{{ param.name }}" data-ng-model="blockParameters.{{ param.name }}" />
	{% elseif param.type == 'Email' %}
		<input type="email" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}"
			name="{{ param.name }}" data-ng-model="blockParameters.{{ param.name }}" />
	{% elseif param.type == 'Url' %}
		<input type="url" class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}"
			name="{{ param.name }}" data-ng-model="blockParameters.{{ param.name }}" />
	{% elseif param.type == 'LongString' %}
		<textarea class="form-control"{% if param.required %} required="required"{% endif %} id="{{ inputId }}" name="{{ param.name }}"
			data-ng-model="blockParameters.{{ param.name }}"></textarea>
	{% elseif param.type == 'RichText' %}
		<rbs-rich-text-input{% if param.required %} required="required"{% endif %} id="{{ inputId }}"
			ng-model="blockParameters.{{ param.name }}"></rbs-rich-text-input>
	{% elseif param.type == 'DateString' or param.type == 'Date' %}
		<div data-rbs-date-selector="" id="{{ inputId }}" data-ng-model="blockParameters.{{ param.name }}" data-hide-time="true"></div>
	{% elseif param.type == 'DateTimeString' or param.type == 'DateTime' %}
		<div data-rbs-date-selector="" id="{{ inputId }}" data-ng-model="blockParameters.{{ param.name }}"></div>
	{% elseif param.type == 'DocumentId' or param.type == 'Document' %}
		<rbs-document-picker-single property-label="{{ param.label }} ({{ blockLabel }})" value-ids="true" hide-buttons-label="true"
			ng-model="blockParameters.{{ param.name }}" data-context-key="{{ inputId }}"
			{% if param.allowedModelsNames is defined %}
			{% if param.allowedModelsNames|length == 1 %}accepted-model="{{ param.allowedModelsNames[0] }}"{% elseif param.allowedModelsNames|length > 1 %}select-model="{ name: {{ param.allowedModelsNames|json_encode }}}"{% endif %}
			{% endif %}></rbs-document-picker-single>
	{% elseif param.type == 'DocumentIdArray' or param.type == 'DocumentArray' %}
		<rbs-document-picker-multiple property-label="{{ param.label }} ({{ blockLabel }})" value-ids="true" hide-buttons-label="true"
			ng-model="blockParameters.{{ param.name }}" data-context-key="{{ inputId }}"
			{% if param.allowedModelsNames is defined %}
			{% if param.allowedModelsNames|length == 1 %}accepted-model="{{ param.allowedModelsNames[0] }}"{% elseif param.allowedModelsNames|length > 1 %}select-model="{ name: {{ param.allowedModelsNames|json_encode }}}"{% endif %}
			{% endif %}></rbs-document-picker-multiple>
	{% endif %}
{% endmacro %}

{% macro paramContainerEnd() %}
		</div>
	</div>
{% endmacro %}

{% macro param(param, inputId, blockLabel, isLast) %}
	{% import _self as render1 %}
	{{ render1.paramContainerBegin(param, inputId, blockLabel, isLast) }}
	{{ render1.paramContent(param, inputId, blockLabel, isLast) }}
	{{ render1.paramContainerEnd() }}
{% endmacro %}

{% import _self as render %}

<div {{ directiveName }}="">
	<div data-rbs-block-default-values="" data-definitions="{{ defaultValues | json_encode }}"></div>
	{% set hasParameter = false %}
	{% set templates = information.templatesInformation %}
	{% block blockParameters %}
		{% for param in information.parametersInformation %}
			{% if param.name != 'TTL' and param.name != 'fullyQualifiedTemplateName' and not param.hidden %}
				{% if not hasParameter %}
					<hr />
				{% endif %}
				{% set hasParameter = true %}
				{% block blockParameter %}
					{{ render.param(param, information.name ~ "_" ~ param.name, information.label, templates|length != 0 and loop.last) }}
				{% endblock blockParameter %}
			{% endif %}
		{% endfor %}
		{% if templates|length != 0 and hasParameter %}
			<hr />
		{% endif %}
	{% endblock blockParameters %}

	{% if templates|length != 0 %}
		{% set inputId = information.name ~ "_fullyQualifiedTemplateName" %}
		<div class="form-group">
			<label class="control-label col-md-3" for="{{ inputId }}">
				{{ i18n('m.rbs.admin.admin.block_render_template', ['ucf']) }}
			</label>
			<div class="controls col-md-9">
				<select id="{{ inputId }}" name="fullyQualifiedTemplateName" data-ng-model="blockParameters.fullyQualifiedTemplateName"
					class="form-control">
					<option value="">
						{% if defaultTemplateInformation.label %}
							{{ defaultTemplateInformation.label }}
						{% else %}
							{{ i18n('m.rbs.admin.admin.default_template', ['ucf']) }}
						{% endif %}
					</option>
					{% for key in templatesByTheme|keys %}
						<optgroup label="{{ key }}">
							{% for template in templatesByTheme[key] %}
								<option value="{{ template.value }}">{{ template.label }}</option>
							{% endfor %}
						</optgroup>
					{% endfor %}
				</select>
			</div>
		</div>
	{% endif %}

	<div data-role="templateBlockParametersContainer"></div>
</div>