{% if attributes.hasTypology %}
	<fieldset data-rbs-editor-section="attributes"
		data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.attributes', ['ucf']) }}"
		data-rbs-document-attributes-section="">
	</fieldset>

{% endif %}
{% if attributes.model.isPublishable %}
	<fieldset data-rbs-editor-section="publication"
		data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
		data-rbs-document-publication-section="">
	</fieldset>

{% elseif attributes.model.isActivable %}
	<fieldset data-rbs-editor-section="activation"
		data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.activation_properties', ['ucf']) }}"
		data-rbs-document-activation-section="">
	</fieldset>

{% endif %}
<fieldset data-rbs-editor-section="systeminfo"
	data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
	data-rbs-document-system-info-section="">
</fieldset>