<div class="row" data-rbs-document-editor-base="" data-model="{{ model.name }}">
	<div class="col-md-12">
		<rbs-page-header title="{{ '{{' }} i18nAttr('m.rbs.admin.admin.new_resource', ['ucf']) {{ '}}' }}"
			sub-title="{{ '{{' }} i18nAttr(modelKey('{{ model.name }}'), ['ucf']) {{ '}}' }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% verbatim %}{% include '@Rbs_Admin/view/asides.twig' %}{% endverbatim %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-new=""
{% for ancestorName in model.getAncestorsNames() %}
			data-rbs-document-editor-{{ ancestorName | snakeCase('-') }}-new=""
{% endfor %}
			data-rbs-document-editor-{{ model.name | snakeCase('-') }}-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ '{{' }} i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) {{ '}}' }}">
{% if model.localized %}

				<rbs-field property="refLCID" required="true"
					label="{{ '{{' }} i18nAttr(propertyKey('{{ model.name }}', 'refLCID'), ['ucf']) {{ '}}' }}">
					<select class="form-control" data-ng-model="document.refLCID"
						data-ng-controller="RbsCollectionController" data-collection-code="Rbs_Generic_Collection_Languages"
						data-collection-params="ucFirst:true" data-ng-options="item.value as item.label for item in pxCollection">
					</select>
				</rbs-field>

				<hr />
{% endif %}
{% if model.publishable %}

				<rbs-field-label-title property="title" required="true"
					label="{{ '{{' }} i18nAttr(propertyKey('{{ model.name }}', 'label'), ['ucf']) {{ '}}' }} / {{ '{{' }} i18nAttr(propertyKey('{{ model.name }}', 'title'), ['ucf']) {{ '}}' }}">
				</rbs-field-label-title>
{% endif %}
{% for property in properties %}
{% if property.type == 'unknown' %}

				<!-- cannot generate form for property "{{ property.name }}".
					label="{{ '{{' }} i18nAttr(propertyKey('{{ property.modelName }}', '{{ property.name }}'), ['ucf']) {{ '}}' }}"
				-->
{% else %}

				<rbs-field-{{ property.type }} property="{{ property.name }}" {% if property.required %}required="true"{% endif %}
{# Empty line to avoid merging the label attribute with the precedent line because of the endif tag at the end of line... #}

					label="{{ '{{' }} i18nAttr(propertyKey('{{ property.modelName }}', '{{ property.name }}'), ['ucf']) {{ '}}' }}"
					{%- if property.type == 'picker' or property.type == 'picker-multiple' %}
{# Empty line to avoid merging the accepted-model attribute with the precedent line because of the if tag at the end of line... #}

					accepted-model="{{ property.documentType }}"
					{%- endif -%}>
				</rbs-field-{{ property.type }}>
{% endif %}
{% endfor %}
			</fieldset>

			{% verbatim %}{% include '@Rbs_Admin/view/fieldsets.twig' %}{% endverbatim %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>