<div class="row" data-rbs-document-editor-base="" data-model="{{ model.name }}">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ '{{' }} i18nAttr(modelKey('{{ model.name }}'), ['ucf']) {{ '}}' }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% verbatim %}{% include '@Rbs_Admin/view/asides.twig' %}{% endverbatim %}
		{% verbatim %}{% include '@Rbs_Admin/view/links.twig' %}{% endverbatim %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" name="form" data-rbs-document-editor-edit="" data-rbs-document-editor-translate=""
{% for ancestorName in model.getAncestorsNames() %}
			data-rbs-document-editor-{{ ancestorName | snakeCase('-') }}-translate=""
{% endfor %}
			data-rbs-document-editor-{{ model.name | snakeCase('-') }}-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ '{{' }} i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) {{ '}}' }}">
{% for property in properties %}
{% if property.type == 'text' or property.type == 'rich-text' or property.type == 'long-text' %}

				<rbs-field-{{ property.type }} property="{{ property.name }}"{% if property.required %} required="true"{% endif %}
{# Empty line to avoid merging the label attribute with the precedent line because of the endif tag at the end of line... #}

					label="{{ '{{' }} i18nAttr(propertyKey('{{ property.modelName }}', '{{ property.name }}'), ['ucf']) {{ '}}' }}"
					{%- if property.type == 'picker' or property.type == 'picker-multiple' %}
{# Empty line to avoid merging the accepted-model attribute with the precedent line because of the if tag at the end of line... #}

					accepted-model="{{ property.documentType }}"
					{%- endif -%}>
				</rbs-field-{{ property.type }}>
{% else %}

				<!-- cannot generate form for property "{{ property.name }}"
					label="{{ '{{' }} i18nAttr(propertyKey('{{ property.modelName }}', '{{ property.name }}'), ['ucf']) {{ '}}' }}"
				-->
{% endif %}
{% endfor %}
			</fieldset>

			{% verbatim %}{% include '@Rbs_Admin/view/fieldsets.twig' %}{% endverbatim %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
{% if model.publishable %}

		<div data-rbs-document-preview-form="document" data-language="language"></div>
{% endif %}
	</div>
</div>