<rbs-field-date property="date" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'date'), ['ucf']) }}">
</rbs-field-date>

<rbs-field-picker property="source" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'source'), ['ucf']) }}"
	accepted-model="Rbs_User_User">
</rbs-field-picker>

<rbs-field-picker property="receiver" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'receiver'), ['ucf']) }}"
	accepted-model="Rbs_User_User">
</rbs-field-picker>

<rbs-field-boolean property="hidden" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'hidden'), ['ucf']) }}">
</rbs-field-boolean>

<rbs-field-float property="amount" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'amount'), ['ucf']) }}">
</rbs-field-float>

<rbs-field-text property="mode" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'mode'), ['ucf']) }}">
</rbs-field-text>

<rbs-field-rich-text property="description" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'description'), ['ucf']) }}">
</rbs-field-rich-text>

<hr />

<rbs-field-boolean property="cancelled" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'cancelled'), ['ucf']) }}">
</rbs-field-boolean>

<div data-ng-if="document.cancelled">
	<rbs-field-date property="cancelDate" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'cancelDate'), ['ucf']) }}">
	</rbs-field-date>

	<rbs-field-picker property="canceller" required="true" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'canceller'), ['ucf']) }}"
		accepted-model="Rbs_User_User">
	</rbs-field-picker>

	<rbs-field-rich-text property="cancelComment" label="{{ i18nAttr(propertyKey('Project_Accounting_Transfer', 'cancelComment'), ['ucf']) }}">
	</rbs-field-rich-text>
</div>