<div class="row" data-rbs-document-editor-base="" data-model="Project_Library_Collection">
	<div class="col-md-12">
		<rbs-page-header title="{{ i18nAttr('m.rbs.admin.admin.new_resource', ['ucf']) }}"
			sub-title="{{ i18nAttr(modelKey('Project_Library_Collection'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-new=""
			data-rbs-document-editor-project-library-collection-new="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-picker property="publisher" required="true"
					label="{{ i18nAttr(propertyKey('Project_Library_Collection', 'publisher'), ['ucf']) }}"
					accepted-model="Project_Library_Publisher">
				</rbs-field-picker>

				<rbs-field-text property="label" required="true"
					label="{{ i18nAttr(propertyKey('Project_Library_Collection', 'label'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field-rich-text property="description" 
					label="{{ i18nAttr(propertyKey('Project_Library_Collection', 'description'), ['ucf']) }}">
				</rbs-field-rich-text>
			</fieldset>

			{% include '@Rbs_Admin/view/fieldsets.twig' %}

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>