@CHARSET "UTF-8";

/** Animation to rotate elements, like icons in toggle */
.rotate-animation {
	transition: 0.3s linear all;
}
.rotate-animation.rotate-0 {
	transform: rotate(0deg);
}
.rotate-animation.rotate-180 {
	transform: rotate(180deg);
}