<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Accounting_Shop'|appURL =)">{{ i18n('m.project.accounting.webapp.shop_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.accounting.webapp.shop_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Accounting_Invoice'|appURL =)">{{ i18n('m.project.accounting.webapp.invoice_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.accounting.webapp.invoice_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Project_Accounting_Transfer'|appURL =)">{{ i18n('m.project.accounting.webapp.transfer_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.accounting.webapp.transfer_list_description', ['ucf']) }}</p>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="well">
			<h3 class="no-top-margin"><a href="" data-ng-href="(= :: 'Rbs_User_User'|appURL:'accountingList' =)">{{ i18n('m.project.accounting.webapp.user_list', ['ucf']) }}</a></h3>
			<p class="no-bottom-margin">{{ i18n('m.project.accounting.webapp.user_list_description', ['ucf']) }}</p>
		</div>
	</div>
</div>