<fieldset data-app-document-editor-section="">
	<fieldset>
		<legend>{{ i18n('m.project.familinet.webapp.main_data', ['ucf']) }}</legend>
		<div data-app-field-document="" data-property="work"
			data-accepted-model="Project_Library_Work" data-allow-creation="true"
			data-label="{{ i18nAttr('m.project.library.webapp.contribution_work', ['ucf']) }}">
		</div>
		<div data-app-field-document="" data-property="contributor"
			data-accepted-model="Project_Library_Contributor" data-allow-creation="true"
			data-label="{{ i18nAttr('m.project.library.webapp.contribution_contributor', ['ucf']) }}">
		</div>
		<div data-app-field-document-array="" data-property="contributionTypes"
			data-accepted-model="Project_Library_ContributionType" data-allow-creation="true" data-mode="options"
			data-label="{{ i18nAttr('m.project.library.webapp.contribution_types', ['ucf']) }}">
		</div>
		<div data-app-field-text="" data-property="detail"
			data-label="{{ i18nAttr('m.project.library.webapp.contribution_detail', ['ucf']) }}">
		</div>
		<div data-app-field="" data-label="{{ i18nAttr('m.project.library.webapp.contribution_importance', ['ucf']) }}">
			<select class="form-control" data-ng-model="document.importance"
				data-ng-controller="RbsCollectionController" data-collection-code="Project_Library_ContributionImportance"
				data-ng-options="item.value as item.label for item in pxCollection">
				<option value=""></option>
			</select>
		</div>
		<div data-app-field-integer="" data-property="contributionYear"
			data-label="{{ i18nAttr('m.project.library.webapp.contribution_year', ['ucf']) }}">
		</div>
		<div data-app-field-integer="" data-property="contributionEndYear"
			data-label="{{ i18nAttr('m.project.library.webapp.contribution_end_year', ['ucf']) }}">
		</div>
		<div data-app-field=""
			data-label="{{ i18nAttr('m.project.library.webapp.contribution_description', ['ucf']) }}">
			<div data-app-rich-text-input="" data-ng-model="document.description" class="margin-half-bottom"></div>
			<button type="button" data-ng-click="evaluateDescription(document, 'IMDB')" class="btn btn-default">
				{{ i18n('m.project.library.webapp.action_parse_from_imdb', ['ucf']) }}
			</button>
		</div>
		<div data-app-field="" data-label="{{ i18nAttr('m.project.library.webapp.contribution_episode_count', ['ucf']) }}">
			<div class="form-inline">
				<input type="number" class="form-control" data-ng-pattern="/^\-?[0-9]+$/" data-ng-model="document.episodeCount" />
				<button type="button" data-ng-disabled="!document.description.t" data-ng-click="calculateEpisodeCount(document)" class="btn btn-default">
					{{ i18n('m.project.library.webapp.action_calculate', ['ucf']) }}
				</button>
			</div>
		</div>
	</fieldset>
	<div data-app-document-attributes-input="document"></div>
</fieldset>