<div data-app-document-detail-header="document"></div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<dl class="dl-horizontal dl-horizontal-xs no-bottom-margin" data-app-document-attributes-context="main">
					<dt>{{ i18n('m.project.library.webapp.contribution_work', ['ucf']) }}</dt>
					<dd><div data-project-library-work-link="document.work"></div></dd>
					<dt>{{ i18n('m.project.library.webapp.contribution_contributor', ['ucf']) }}</dt>
					<dd><div data-project-library-contributor-link="document.contributor"></div></dd>
					<dt data-ng-if="document.year">{{ i18n('m.project.library.webapp.contribution_years', ['ucf']) }}</dt>
					<dd data-ng-if="document.year">
						(= :: document.year =)
						<span data-ng-show="document.endYear && document.year != document.endYear">- (= :: document.endYear =)</span>
					</dd>
					<dt data-ng-if="document.contributionTypes.length">{{ i18n('m.project.library.webapp.contribution_types', ['ucf']) }}</dt>
					<dd data-ng-if="document.contributionTypes.length">
						<span data-ng-repeat="type in document.contributionTypes | orderBy:'label'">
							(= :: type.label =)<span class="separator" data-ng-if="!$last">, </span>
						</span>
					</dd>
					<dt data-ng-if="document.detail">{{ i18n('m.project.library.webapp.contribution_detail', ['ucf']) }}</dt>
					<dd data-ng-if="document.detail">
						<span data-ng-show="document.detail">(= :: document.detail =)</span>
					</dd>
					<dt data-ng-if="document.importance">{{ i18n('m.project.library.webapp.contribution_importance', ['ucf']) }}</dt>
					<dd data-ng-if="document.importance">
						<span data-ng-show="document.importance">(= :: document.importanceTitle =)</span>
					</dd>
					<dt data-ng-if="document.episodeCount">{{ i18n('m.project.library.webapp.contribution_episode_count', ['ucf']) }}</dt>
					<dd data-ng-if="document.episodeCount">
						<span data-ng-show="document.episodeCount">(= :: document.episodeCount =)</span>
					</dd>
					<dt data-ng-repeat-start="attribute in attributeContext">
						(= :: attribute.definition.title || attribute.definition.label =)
					</dt>
					<dd data-ng-repeat-end=""><span data-app-attributes-value="attribute"></span></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<!-- TODO: links -->
	</div>
</div>

<div class="panel panel-default" data-ng-if="document.description.t">
	<div class="panel-heading">{{ i18n('m.project.library.webapp.possession_description', ['ucf']) }}</div>
	<div class="panel-body" data-app-rich-text="" data-path="document.description"></div>
</div>

<div data-app-document-meta=""></div>